﻿@{
    ViewBag.Title = "Errore";
}


<div class="row" style="text-align:center;">
    <h2>
        SIAMO SPIACENTI, SI E' VERIFICATO UN ERRORE.
    </h2>
</div>

<div class="row" style="text-align:center;">
    <h2>
        @ViewBag.Error
    </h2>
</div>

<div class="row">&nbsp;</div>

