﻿
@{
    ViewBag.Title = "NotFound";
}

<style>
    html, body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

        body .body_container {
            flex-grow: 1;
        }

    center {
        margin: 45px auto;
    }

    h1 {
        margin: 0;
        font-size: 120px;
        font-weight: bold;
        color: #374476;
    }

    h2 {
        font-weight: bold;
        color: #415183;
        margin-bottom: 0;
    }

    p {
        color: #7d7d7d;
        font-size: 16px;
    }

    .btn {
        white-space: normal !important;
    }

    .footer_container {
        padding-top: 0px !important;
    }
</style>
<section class="error404">
    @*desktop*@
    <div class="hidden-xs">
        <div class="bg404">
            <div class="container">
                <h1>ERRORE 404</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h2>SIAMO SPIACENTI, LA PAGINA NON É STATA TROVATA</h2>
                    <p>Siamo molto dispiacuiti, non sappiamo cosa sia successo, ma puoi visitarci in uno dei seguenti indirizzi:</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-yellow" href="@Url.Action("PrezziDinamici", "Acquisto")">LE MIGLIORI OFERTE!</a>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-yellow" href="@Url.Action("Index", "Home")">PRENOTA ORA E RISPARMIA!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <img src="~/Content/images/home/imagen404.png" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    @*mobile*@
    <div class="visible-xs">
        <div class="bg404mobile">
            <div class="container">
                <img src="~/Content/images/home/imagen424xs.png" class="img-responsive center-block"/>
                <h1>ERROR 404</h1>
                <h2>SIAMO SPIACENTI, LA PAGINA NON É STATA TROVATA</h2>
                <p>Siamo molto dispiacuiti, non sappiamo cosa sia successo, ma puoi visitarci in uno dei seguenti indirizzi:</p>
                <a href="@Url.Action("PrezziDinamici", "Acquisto")" class="btn-red">LE MIGLIORI OFERTE!</a>
                <a href="@Url.Action("Index", "Home")" class="btn-red">PRENOTA ORA E RISPARMIA!</a>
                <a href="@Url.Action("Index", "Home")" class="btn-blue">SCOPRI IL PARCO</a>
            </div>
        </div>
    </div>
</section>


