﻿@{
    ViewBag.Title = "Acquisto Operatore";

    string Title = "";

    if (ViewBag.Scelta == 1)
    {
        Title = "Acquisto operatore assistenza telefonica";
    }

    if (ViewBag.Scelta == 2)
    {
        Title = "Acquisto operatore svincolato";
    }


}

<div class="AperturaText">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>@Title</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="col-sm-8 col-sm-offset-2 btn-lg" style="font-family: Hiruko Pro; border: 1px solid;">
        <div class="row"></div>

        <div class="row btn-lg">

            <div class="col-md-5">
                <label>Id Acquisto</label>
                <input type='text' id="BacquistoId" maxlength="30" class="form-control round form-group-sm" />
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-5">
                <label>Cognome cliente</label>
                <input type="text" id="Bcognome" maxlength="30" class="form-control round form-group-sm" />
            </div>

            <div class="row"></div>

            <div class="row btn-lg">
                <div class="col-md-8">
                    <!--error messages-->
                    <div class="warning">
                        <div id="alert_placeholder"></div>
                    </div>
                </div>

                <div class="col-md-4" style="text-align: right;">
                    <br />
                    <br />
                    <button type="button" id="BtnProcedi" class="btn btn-success shad">PROCEDI ></button>
                </div>
            </div>
        </div>


    </div>

</div>

<br />

<!--modal windows-->
<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>



@section Scripts {
    <script src="~/Scripts/ShopVariables.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {

            LogUser = '@ViewBag.TipoOperatore';
            FunzioniOperatore();

        });


        $("#BtnProcedi").click(function () {
            //$('#loader').modal('show');
            var msg = "";

            msg = ValidateUser();

            if (msg != "") {
                $('#loader').modal('hide');
                AlertShow(msg)
                return;
            }

            URL = "/AreaRiservata/AcquistoOpStart";

            var AcquistoId = {
                Acquisto_Id: $("#BacquistoId").val(),
                Acquisto_Cognome: $("#Bcognome").val()
            };

            var Info = { AcquistoId: AcquistoId };
            var promise = $.post(URL, Info);

            promise.done(function (data) {
                if (data != "")
                {
                    //error
                    AlertShow(data);
                    $('#loader').modal('hide');
                }
                else
                {
                    //redirection to the specific product
                    URL = "/AreaRiservata/AcquistoOpSession";
                    var acq = $("#BacquistoId").val();
                    var Info = { Acquisto_Id: acq };
                    var promise = $.post(URL, Info);

                    
                    promise.done(function (data) {
                        
                        window.location.href = "/ShoppingCart/ShoppingCart";

                        if (data == 1)
                        {
                            window.location.href =  "/Acquisto/BuyMenu";
                            return;
                        }

                        if (data == 2) {
                            window.location.href =  "/Acquisto/BuyMenu";
                            return;
                        }

                        if (data == 3) {                          
                            window.location.href =  "/Acquisto/Abbonamenti";                              
                            return;
                        }

                    });


                }
            });

            promise.fail(function (err) { console.log("error promise: " + URL); });
        });


        function ValidateUser() {
            //email non valida
            var ret = "";

            if ($("#BacquistoId").val().length == 0) {
                return "Id Acquisto non valido";
            }

            if ($("#Bcognome").val().length == 0)
            {
                return "Cognome non valido";
            }

            return ret;
        }

    </script>

}





