﻿@using Core;
@using Dictionary = Core.Resources.HotelAllotments;
@using General = Core.Resources.General;
@using System.Globalization;
@{
    string DataOggi = Impostazioni.DataOggi();
    string rec = DateTime.Now.ToString();

    ViewBag.Title = "Hotel Allotment";

    var HotelId = ViewBag.HotelId;
}

<div class="AperturaText">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>HOTEL ALLOTMENT</h3>
            </div>
        </div>
    </div>
</div>

<div class="container" onclick="AlertCenterClose();">
    <div class="class=" col-sm-8 col-sm-offset-2">

        <div class="row">
            <div class="col-md-12">
                <h3>@ViewBag.HotelInfo</h3>
                <h4>@ViewBag.HotelAdd</h4>
            </div>
            <div class="col-md-12">
                <h4>@DataOggi</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="rail-select">
                    <div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>
                    <select id="ddmese" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" id="BtnMostra" class="btn btn-success shad">Mostra</button>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4"></div>

        </div>

        <div class="col-md-12">
            <h4 id="Avviso" style="color: darkred;">&nbsp;</h4>
        </div>

        <div class="ibox">
            <div class="ibox-title" style="text-align: right;">
                <div class="col-md-12">
                    <label>Copia su Excel:</label>
                    <a style="cursor: pointer;" data-namefile="allotment" onclick="clipboard(this);" data-toggle="tooltip" title="Copia su Excel" data-original-title="Copia su Excel">
                        <i class="fa fa-file-excel-o fa-lg text-success" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-12" style="min-height: 300px; background-color: white;">
                <table id="ListaAll" class="table table-hover table-bordered" border="1">
                    <thead>
                        <tr>
                            <th scope="col">@Dictionary.HotelAllotment_Date</th>
                            <th scope="col">@Dictionary.HotelAllotment_RoomType</th>
                            <th scope="col">@Dictionary.HotelAllotment_Rooms</th>
                            <th scope="col">@Dictionary.HotelAllotment_Rooms_Confirmed</th>
                            <th scope="col">@Dictionary.HotelAllotment_Rooms_Hangs</th>
                            <th scope="col">@Dictionary.HotelAlltoment_ExtraRooms</th>
                            <th class="text-center" scope="col">@General.lblReservationSummary</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div id="modal-reservations" class="modal fade" aria-hidden="true" style="display: none;" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="width:85%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Riepilogo prenotazione</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>

<br />

<!--modal windows-->
<!--error messages-->
<div class="warning" onclick="AlertCenterClose();">
    <div id="alert_placeholder2"></div>
</div>

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>



@section Scripts {
    <script src="~/Scripts/ShopVariables.js?rec='@rec'"></script>
    <script src="~/Scripts/Calendars.js?rec='@rec'"></script>
    <script type="text/javascript">
        var $ModalReservations = $("#modal-reservations");
        var ProductIdentifier = { Hotel: "@ProductIdentifier.Hotel" }
        var HotelId = '@HotelId';
        var Mese = 0;


        if (HotelId == null || HotelId == '') {
            alert("l'operatore non risulta avere un hotel associato, contattare Zoomarine");
             var URL = "/Home/Index";
             window.location.href = URL;
        }


        $("#BtnMostra").click(function () {
            Mese = $("#ddmese").val();
            SetMonth(Mese);
        })

        $(document).ready(function () {

            LogUser = '@ViewBag.TipoOperatore';
            FunzioniOperatore(LogUser);

             var today = '@DataOggi';
             var curmonth = Number(today.substr(3, 2)) - 1;

            for (var i = curmonth; i < 12; i++)
            {
                var mese = Mesi(i);
                $("#ddmese").append('<option value=' + i +'>' + mese + '</option>');
            }

            $(document).on("click", ".show-reservation", function (e) {
                let data = {
                    Allotment_Date: moment($(e.currentTarget).data("date"),"DD/MM/YYYY").format("YYYY-MM-DD HH:mm:ss"),
                    Allotment_Hotel_Id: HotelId,
                    Product_Type: ProductIdentifier.Hotel,
                    Status_id: "OK"
                };
                let promise = $.post("/AreaRiservata/GetHotelAlltomentReservtions", { "allData": JSON.stringify(data) });
                promise
                    .done(function (data) {
                        $ModalReservations.find(".modal-body .row").html(data);
                        $ModalReservations.modal();
                    })
                    .fail(function (data) {
                        alert("error");
                    });
            });
        });

        function RoomMap(Type)
        {
            var dato = "";

            switch (Type)
            {
                case "1":
                    dato = "Singola";
                    break;

                case "2":
                    dato = "Doppia";
                    break;

                case "3":
                    dato = "Tripla";
                    break;

                case "4":
                    dato = "Quadrupla";
                    break;
            }

            return dato;

        }

        function DecreaseRoom(Rm, dd) {
            dd = ("0" + dd).substr(-2);
            var Dato = $("#AllotRoom_" + Rm + "_" + dd).text();
            if (Dato == 0) { return; }

            var Newdato = Number(Dato) - 1;

            UpdateAllotment(Rm, dd, Newdato, Dato, true);

        }

        function Decrease(Rm, dd)
        {
            dd = ("0" + dd).substr(-2);
            var Dato = $("#Allot_" + Rm + "_" + dd).text();
            if (Dato == 0) {return;}

            var Newdato = Number(Dato) - 1;

            UpdateAllotment(Rm, dd, Newdato, Dato, false);

        }

        function UpdateAllotment(Rm, dd, Newdato, Dato, rm)
            {
            var mm = Number(Mese) + 1;

            if (rm == false) {
                $("#Allot_" + Rm + "_" + dd).text(Newdato);
            }
            else {
                $("#AllotRoom_" + Rm + "_" + dd).text(Newdato);
            }

            var URL = "/AreaRiservata/UpdateHotelAllotment";
            if (rm == true)
            {
                URL = "/AreaRiservata/UpdateHotelAllotmentRoom";
            }

            var Info = { Hotel: HotelId, Mese: mm, Giorno: dd, RoomType: Rm, Quantita: Newdato };
            var promise = $.post(URL, Info);

            promise.done(function (data) {
                if (data != "") {
                    //error
                    $('#loader').modal('hide');

                    if (rm == false)
                    {
                        $("#Allot_" + Rm + "_" + dd).text(Dato);
                    }
                    else
                    {
                        $("#AllotRoom_" + Rm + "_" + dd).text(Dato);
                    }

                    AlertCenter(data);
                }
                else {
                    $('#loader').modal('hide');
                }
            });

            promise.fail(function (err) {
                $('#loader').modal('hide');
                console.log("error promise: " + URL);
                return -1;
            });
        }

        function IncreaseRoom(Rm, dd, Newdato) {
            dd = ("0" + dd).substr(-2);
            var Dato = $("#AllotRoom_" + Rm + "_" + dd).text();
            var Newdato = Number(Dato) + 1;

            UpdateAllotment(Rm, dd, Newdato, Dato, true);
        }


        function Increase(Rm, dd, Newdato)
        {
            dd = ("0" + dd).substr(-2);
            var Dato = $("#Allot_" + Rm + "_" + dd).text();
            var Newdato = Number(Dato) + 1;

            UpdateAllotment(Rm, dd, Newdato, Dato, false);
        }


        function SetMonth(value)
        {
            //$('#loader').modal('show');
            $("#ListaAll tbody").empty();

            URL = "/AreaRiservata/GetHotelAlltoment";

            var Info = { Hotel: HotelId, Mese: value };
            var promise = $.post(URL, Info);

            promise.done(function (data) {
                //fill table
                var Nrighe = data.length;

                var today = '@DataOggi';
                var td = Number(today.substr(0, 2));
                var mm = Number(today.substr(3, 2)) - 1;
                var aa = Number(today.substr(6, 4));
                var lastDayOfMonth = new Date(aa, mm + 1, 0).getDate();

                for (var i=0; i < Nrighe; i++)
                {
                    var Elem = data[i];
                    var Rm = Elem.RoomType;
                    var ConfirmedRooms = Elem.ConfirmedRooms;
                    var HangRooms = Elem.HangRooms;
                    var ExtraRooms = Elem.ExtraRooms;
                    var dd = Elem.Date.substring(0, 2);
                    var Index = Rm + "_" + dd;

                    var en = "hidden;";

                    if ( (Number(dd) <= (Number(td) + 1)) && (value == mm) )
                    {
                        en = "visible;";
                    }

                    //last day of month, first day of next month
                    if ( (dd == 1) && (Number(td) == lastDayOfMonth) && (value == (mm + 1)) ) {
                        en = "";
                    }

                    var Riga = "<tr>";
                    Riga += "<td>" + Elem.Date + "</td>";
                    Riga += "<td>" + RoomMap(Elem.RoomType) + "</td>";
                    Riga += "<td>"
                    Riga += '<button type="button" style="visibility:' + en + '" onclick="DecreaseRoom(' + Rm + ',' + dd + ')" class="btn btn-default btn-number btn-xs" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button>';
                    Riga += '<span id = "AllotRoom_' + Index + '" style="width: 40px; text-align: center; display: inline-block;">' + Elem.Rooms + '</span>';
                    Riga += '<button type="button" style="visibility:' + en + '" onclick="IncreaseRoom(' + Rm + ',' + dd + ')" class="btn btn-default btn-number btn-xs" data-type="plus"><span class="glyphicon glyphicon-plus"></span></button>';
                    Riga += "</td>";

                    Riga += "<td>" + Elem.ConfirmedRooms + "</td>";
                    Riga += "<td>" + Elem.HangRooms + "</td>";
                    Riga += '<td>';
                    Riga += '<button type="button" onclick="Decrease(' + Rm + ',' + dd + ')" class="btn btn-default btn-number btn-xs" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button>';
                    Riga += '<span id = "Allot_' + Index + '" style="width: 40px; text-align: center; display: inline-block;">' + ExtraRooms + '</span>';
                    Riga += '<button type="button" onclick="Increase(' + Rm + ',' + dd + ')" class="btn btn-default btn-number btn-xs" data-type="plus"><span class="glyphicon glyphicon-plus"></span></button>';
                    Riga += '</td>';
                    Riga += "<td class=\"text-center\"><a class=\"btn btn-default btn-xs show-reservation\" data-date=\"" + Elem.Date + "\" class=\"btn btn-primary\" href=\"javascript:void(0)\"><i class=\"fa fa-th-list\"></i></a></td>";
                    Riga += "</tr>";

                    $("#ListaAll tbody").append(Riga);
                }

                $("#Avviso").text("");
                if (Nrighe == 0)
                {
                    $("#Avviso").text("Nessun allotment trovato in questo mese");
                }

                $('#loader').modal('hide');
            });


        }


    </script>

}





