﻿@{
    ViewBag.Title = "login";
}

    <div class="AperturaText">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>AREA RISERVATA</h3>
                 </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="col-sm-8 col-sm-offset-2 btn-lg" style="font-family: Muli; border: 1px solid;">
            <div class="row"></div>

            <div class="row btn-lg">

                <div class="col-md-5">
                    <label>Email</label>
                    <input type='text' id="Bemail" maxlength="50" class="form-control round form-group-sm"  />
                </div>

                <div class="col-md-2"></div>

                <div class="col-md-5">
                    <label>Password</label>
                    <input type="password" id="Bpassword" maxlength="50" class="form-control round form-group-sm" />
                </div>

                <div class="row"></div>

                <div class="row btn-lg">
                    <div class="col-md-8">
                        <!--error messages-->
                        <div class="warning">
                            <div id="alert_placeholder"></div>
                        </div>
                    </div>

                    <div class="col-md-4" style="text-align: right;">
                        <br />
                        <br />
                        <button type="button" id="BtnProcedi" class="btn btn-success shad">PROCEDI ></button>
                    </div>
                </div>
            </div>

            
        </div>
     
  </div>

 <br />

<!--modal windows-->
<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>



@section Scripts {
    <script src="~/Scripts/ShopVariables.js"></script>
    <script type="text/javascript">

        $("#BtnProcedi").click(function () {
            //$('#loader').modal('show');
            var msg = "";

            msg = ValidateUser();

            if (msg != "") {
                $('#loader').modal('hide');
                AlertShow(msg)
                return;
            }


            URL = "/AreaRiservata/LoginUser";

            var login = {
                Login_Id: 0,
                Login_LastLogin: null,
                Login_Email: $("#Bemail").val(),
                Login_Password: $("#Bpassword").val(),
                Login_Type: null
            };
      
            var Info = { Login: login };
            var promise = $.post(URL, Info);
  
            promise.done(function (data) {
                if (data != "")
                {
                    //error
                    AlertShow(data);
                    $('#loader').modal('hide');
                }
                else
                {
                    window.location.href = "/";
                }             
            });

            promise.fail(function (err) { console.log("error promise: " + URL); });
        });


        function ValidateUser() {
            //email non valida

            var em = $("#Bemail").val();

            var ret = "";

            if (validateEmail(em) == false) {
                return "Email non valida";
            }

            if ($("#Bpassword").val().length == 0)
            {
                return "Password non valida";
            }

            return ret;
        }

    </script>

}

