﻿@using Core;
@using System.Globalization;
@{
    string DataOggi = Impostazioni.DataOggi();
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Vendite";

    var HotelId = ViewBag.HotelId;
}



<div class="AperturaText">
    <div class="container">
        <div class="row">
            <div class="EsclusivoTitle text-center">
                <h3>VENDITE</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="class=" col-sm-8 col-sm-offset-2">
        <div class="row @(ViewBag.HotelId != null || !string.IsNullOrEmpty(ViewBag.HotelId) ? string.Empty : "hide")">
            <div class="col-md-12">
                <h3>@ViewBag.HotelInfo</h3>
                <h4>@ViewBag.HotelAdd</h4>
            </div>
            <div class="col-md-12">
                <h4>@DataOggi</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="custom-select">
                    <select id="ddmese" class="form-control">
                        <option value="" selected="selected"></option>
                        @{
                            int CurrentMonth = DateTime.Now.Month;
                            foreach (string month in DateTimeFormatInfo.CurrentInfo.MonthNames.Where(i => i != "").Skip(CurrentMonth - 1))
                            {
                                <option value="@(CurrentMonth-1)">@month</option>
                                CurrentMonth++;
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" id="BtnMostra" class="btn btn-success shad">Mostra</button>
            </div>
            <div class="col-md-4">
                <!--error messages-->
                <div class="warning">
                    <div id="alert_placeholder"></div>
                </div>
            </div>
            <div class="col-md-4"></div>

        </div>

        <div class="col-md-12">
            <h4 id="Avviso" style="color: darkred;">&nbsp;</h4>
        </div>

        <div class="row">
            <div class="ibox">

                <div class="ibox-title" style="text-align: right;">
                    <div class="col-md-12">
                        <label>Copia su Excel:</label>
                        <a style="cursor: pointer;" data-namefile="vendite" onclick="clipboard(this);" data-toggle="tooltip" title="Copia su Excel" data-original-title="Copia su Excel">
                            <i class="fa fa-file-excel-o fa-lg text-success" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 showtable" style="min-height: 300px; background-color: white;">
                </div>

            </div>
        </div>


    </div>
</div>

<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script type="text/javascript">
        var ProductIdentifier = { Hotel: "@ProductIdentifier.Hotel" }
        var HotelId = '@HotelId';
        var Mese = 0;
        var dateTimeFormatDB = "YYYY-MM-DD HH:mm:ss";


        if (HotelId == null || HotelId == '') {
            alert("l'operatore non risulta avere un hotel associato, contattare Zoomarine");
            var URL = "/Home/Index";
            window.location.href = URL;
        }

        $(document).ready(function () {
            LogUser = '@ViewBag.TipoOperatore';
            FunzioniOperatore(LogUser);

            var today = '@DataOggi';
            Mese = Number(today.substr(3, 2)) - 1;
            $("#ddmese").val(Mese);


            $("#BtnMostra").on("click", function (e, IdHotel) {
                let $btn = $(e.currentTarget);
                Mese = $("#ddmese").val();
                Mese = Number(Mese) + 1;


                $btn.button("loading");

                var Info = { Hotel: HotelId , Mese: Mese }
                var promise = $.post("/AreaRiservata/GetHotelAllotmentReservations", Info );


                promise
                    .done(function (data) {
                        $(".showtable").html(data);
                        //$("table").footable();
                        $btn.button("reset");
                    })
                    .fail(function (data) {
                        $btn.button("reset");
                        alert("error");
                    });
            });

            $("#BtnMostra").trigger("click", 0);

            //$("table").footable();
        });
    </script>
}