@font-face {
    font-family: 'Odin Rounded';
    src: url('Odin-Bold.eot');
    src: url('Odin-Bold.eot?#iefix') format('embedded-opentype'),
        url('Odin-Bold.woff2') format('woff2'),
        url('Odin-Bold.woff') format('woff'),
        url('Odin-Bold.ttf') format('truetype'),
        url('Odin-Bold.svg#Odin-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

