﻿@using System.Threading;
@using System.Globalization;
@model Core.ContactModel
@using Diccionario = Core.Resources.General

@{ 
    Layout = null;
    CultureInfo _CultureInfo = new CultureInfo(Model.Language);
    Thread.CurrentThread.CurrentUICulture = _CultureInfo;
    Core.FormContact data = Model.Data;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Core.Resources.Models.ThankYou!</title>
    <style>
        .header-container {
            /*background-color: #C9D0D2;*/
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .bg-dark {
            background-color: #231F20;
        }

        footer {
            padding: 20px 0px;
            font-size: 16px;
        }

            footer .logo-footer {
                display: block;
                text-align: center;
                margin: 0 auto 25px;
            }

            footer .t-upper {
                display: block;
                margin-top: 35px;
                margin-bottom: 35px;
                font-size: 22px;
            }

        .icon a {
            width: 60px;
            height: 60px;
            display: inline-block;
            background: url(https://www.AcquaJoss.it/Content/images/home/icon_social.png) -5px / auto 130%;
            margin-right: 5px;
            margin-left: 5px;
        }

        a.fb {
            background-position: -99px;
        }

        a.ta {
            background-position: -180px;
        }
    </style>
</head>
<body>
    <center style="font: 16px boulder;color: #fff;position: relative;background-color: #01213a;text-align: center;margin: 0;">
        <header>
            <div class="container header-container text-center">
                <img src="https://www.acquajoss.it/Content/images/logos/logo_footer-acquajoss.png" />
            </div>
        </header>
        <div class="container text-center" style="max-width:600px;margin:auto;">
            <h2 style="margin-bottom:0">@data.FormContact_FullName</h2>
            <h1>@Core.Resources.Models.ThankYouForContactingUs</h1>
            <div style="padding:15px;line-height:1.5">
                <div>
                    <b>@Diccionario.lblEmail:</b> <span style="color:#fff;">@data.FormContact_Email</span>
                </div>
                <div>
                    <b>@Diccionario.lblComments</b>
                    <p style="margin-top:0">@data.FormContact_Comments</p>
                </div>
            </div>
            <div style="text-align:center;margin-bottom:15px;">
                <small>@DateTime.Now.ToString()</small>
            </div>
        </div>
        <footer style="text-align: center;">
            @*<img class="logo-footer" src="https://www.acquajoss.it/Content/images/logos/logo_footer-acquajoss.png" />*@
            <span style="color:white;">© 2020 Kima Srl P.IVA 01454140391</span>

            @*<span class="t-upper">@Core.Resources.Models.FollowUs:</span>
            <div class="icon">
                <a class="yt" href="https://www.youtube.com/channel/UCpc7sKOCKcupMZHdUWS9PLA?view_as=subscriber" target="_blank"></a>
                <a class="fb" href="https://www.facebook.com/acquajoss_official" target="_blank"></a>
                <a class="ta" href="https://www.tripadvisor.it/Profile/AcquaJoss" target="_blank"></a>
            </div>*@
        </footer>

    </center>
</body>
</html>
