﻿@using System.Threading;
@using System.Globalization;
@model Core.ContactModel
@using Diccionario = Core.Resources.General

@{
    Layout = null;
    CultureInfo _CultureInfo = new CultureInfo(Model.Language);
    Thread.CurrentThread.CurrentUICulture = _CultureInfo;
    Core.FormContact data = Model.Data;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Diccionario.lblContact</title>
</head>
<body>
    <table style="border: 1px solid #ccc; font-size: 14px; color: #666; margin: 0 auto;" width="450" cellpadding="5">
        <tbody>
            <tr>
                <td style="border-bottom: 1px solid #f0f0f0; text-align: center;" colspan="2">
                    <a target="_blank" href="@Core.GlobalSettings.UrlSite">@Core.GlobalSettings.SiteName</a>
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f0f0f0;"><strong style="color: #333;">@Diccionario.lblName:</strong></td>
                <td style="border-bottom: 1px solid #f0f0f0;">@data.FormContact_FullName</td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f0f0f0;"><strong style="color: #333;">@Diccionario.lblEmail:</strong></td>
                <td style="border-bottom: 1px solid #f0f0f0;">@data.FormContact_Email</td>
            </tr>
            <tr>
                <td colspan="2"><strong style="color: #333;">@Diccionario.lblComments:</strong></td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f0f0f0;" colspan="2">@data.FormContact_Comments</td>
            </tr>
            <tr>
                <td><strong style="color: #333;">@Diccionario.lblIPAddress:</strong></td>
                <td>@Core.GlobalSettings.Ip</td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f0f0f0;"><strong style="color: #333;">@Diccionario.lblDate:</strong></td>
                <td style="border-bottom: 1px solid #f0f0f0;">@DateTime.Now.ToString()</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
