﻿@using Core;
@model List<ReservationsHotelOp>
@{
    List<ReservationsHotelOp> reservations = Model;
}

<table class="table">
    <thead>
        <tr>
            <th>ID ACQUISTO</th>
            <th>NOME E COGNOME</th>
            <th>DATA ACQUISTO</th>
            <th>DATA INGRESSO</th>
            <th>TIPO CAMERA</th>
            <th>TOTALE ADULTI</th>
            <th>TOTALE BAMBINI</th>
            <th>TOTALE NEONATI</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReservationsHotelOp reservation in reservations)
        {
            <tr>
                <td>@reservation.Reservation_Id</td>
                <td>@reservation.Reservation_CustomerFullName</td>
                <td>@reservation.Reservation_CreationDate.ToShortDateString()</td>
                <td>@reservation.Reservation_AdmissionDate.ToShortDateString()</td>
                <td>@RoomTypeTranslate(reservation.Reservation_RoomType)</td>
                <td>@reservation.Reservation_Adults</td>
                <td>@reservation.Reservation_Kids</td>
                <td>@reservation.Reservation_Infants</td>
            </tr>

        }
    </tbody>
</table>


@functions {

    public static string RoomTypeTranslate(string roomType)
    {
        string result = string.Empty;
        switch (roomType)
        {
            case "single":
                result = "Singola";
                break;
            case "double":
                result = "Doppia";
                break;
            case "triple":
                result = "Tripla";
                break;
            case "quadruple":
                result = "Quadrupla";
                break;
        }

        return result;
    }
}