.schools_action .action_content {
	background-color: rgba(0, 52, 95, 0.8);
}

.sc_grid {
	padding: 0 10% 55px;
}

.sc_grid_elem {
	background: #fff;
	display: block;
	margin: 16px;
	padding: 16px 8px;
}

.sc_grid_elem > h3 {
	margin: 6px 0;
}

.sc_grid_elem > a {
	background: #333;
	cursor: pointer;
	display: inline-block;
	margin: 16px 0 0;
	padding: 14px 28px 12px;
	color: #fff;
	transition: all .6s ease;
	-webkit-transition: all .6s ease;
}

body .schools_action .action_content .btn {
    padding: 20px 16px;
}

.sc_grid_elem > a:hover {
	text-decoration: none;
}

.sc01 {
	color: #1861BC;
}

.sc02 {
	color: #83A615;
}

.sc03 {
	color: #CD1041;
}

.sc04 {
	color: #FFBA00;
}

.sc_grid_elem.sc01 > a {
	background: #1861BC;
}

.sc_grid_elem.sc01 > a:hover {
	background: #144E7C;
}

.sc_grid_elem.sc02 > a {
	background: #83A615;
}

.sc_grid_elem.sc02 > a:hover {
	background: #6A8611;
}

.sc_grid_elem.sc03 > a {
	background: #CD1041;
}

.sc_grid_elem.sc03 > a:hover {
	background: #AB0D36;
}

.sc_grid_elem.sc04 > a {
	background: #FFBA00;
}

.sc_grid_elem.sc04 > a:hover {
	background: #E8A005;
}

.sc_testimonial {
    padding: 96px 0 128px;
}

.sc_test_avatar {
	border-radius: 6000px;
	display: block;
	margin: 5% 20%;
	padding-bottom: 60%;
	width: 60%;
}

.sc_test_desc {
	background: #fff;
	color: #01213A;
	font-weight: 200;
	line-height: 20px;
	margin-top: 5%;
	padding: 36px;
	text-align: left;
	width: 90%;
}

.sc_test_name {
	color: #cc1042;
	margin: 16px 0 -16px;
	text-align: right;
}

/* Blocco Alto - Prezzo */

.schools_price.rounded_price span.small {
	font-size: 22px;
	margin: 0;
	padding: 4px 0;
}

.rounded_price.schools_price span.small:first-child {
	margin-top: 19%;
}

.rounded_price.schools_price span.price_big {
	font-size: 90px;
	line-height: 72px;
	margin: 0;
	padding-top: 6px;
}

.schools_action .w_boxed.action_small {
	max-width: 1080px;
}

.schools_action .info_action {
	font-size: 21px;
	line-height: 28px;
	text-transform: none;
	font-weight: 200;
	width: 75%;
}

.schools_action .box_action {
    margin-top: 8%;
}

.schools_action .slogan {
    margin-top: 6%;
	color: #cc1042;
    text-shadow: 0 0 5px #fff;
}

.box_school {
	background-color: rgba(0, 52, 95, 0.8);
	color: #fff;
	font-size: 21px;
	margin-left: 80px;
	margin-right: 80px;
	padding: 24px 32px;
	font-family: Helvetica,Geneva,sans-serif;
	text-align: left;
}

.box_school ul {
	list-style: outside none disc;
    list-style-type: disc;
	margin: 16px 0;
	padding-left: 32px;
}

.sc_pretext {
	font-family: Helvetica,Geneva,sans-serif;
	font-size: 18px;
	margin: 0 auto;
	padding-bottom: 32px;
}

.bg_white {
	background-color: #fff;
}

/* Solutions */

.school_block {
    display: inline-block;
    margin: 36px 1%;
    vertical-align: top;
    width: 40%;
}

.sb_image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 52%;
    width: 100%;
}

.sb_text {
    color: #00365c;
    font-family: Helvetica,Georgia,sans-serif;
    font-size: 17px;
    line-height: 22px;
    min-height: 198px;
    padding: 26px;
}

.green .sb_text {
	border: 5px solid #bcdd03;
	border-top: 0;
}

.blue .sb_text {
	border: 5px solid #43c5e3;
	border-top: 0;
}

/* Reasons */

.box_motivi ul {
    font-family: Helvetica,Georgia,sans-serif;
    font-size: 21px;
    list-style: outside none disc;
    list-style-type: disc;
    text-align: left;
	margin: 32px auto;
    width: 64%;
}

/* Quotes */

.school_quotes {
    margin: 0 auto;
    padding: 0 0 64px;
    width: 80%;
}

.school_quotes .inner_dicono {
    background: none repeat scroll 0 0 #fff;
    display: block;
    float: none;
    margin: 0 auto;
    padding: 48px 24px;
}

/* Contact Form */

.contact_school {
	padding: 0 10% 52px;
	text-align: center;
}

.contact_school form {
    margin-top: 32px;
}

.contact_action, .contact_text {
	font-family: Helvetica, Georgia, sans-serif;
	font-size: 21px;
	padding-bottom: 32px;
}

.contact_school input {
	color: #666;
	font-family: Helvetica,Geneva,sans-serif;
	font-size: 20px;
	line-height: 48px;
	margin-bottom: 23px;
	padding: 0 12px;
	width: 60%;
}

.contact_school input.err {
	background: #CC1042;
	color: #fff;
}

.contact_school input.contact_submit {
	background: #01B2FE;
	border: 0 none;
	color: #fff;
	font-family: boulder;
	padding: 0 16px;
	width: auto;
	margin-top: 32px;
	font-size: 18px;
}

.contact_school form label div {
    color: #fff;
}

.contact_school form label.privacy div, .contact_school input[type="checkbox"] {
    display: inline-block;
}

.contact_school input[type="checkbox"] {
    margin: 6px;
    padding: 0;
    width: auto;
}

/* Countdown */

.contact_countdown {
    margin-bottom: 32px;
}

.cblock {
    background: #01b2fe;
    border-radius: 6px;
    display: inline-block;
    font-size: 80px;
    margin: 4px 10px;
    padding: 12px 16px;
}

.cblock .clabel {
    font-size: 24px;
}

@media only screen and (max-width:992px) {
	
	.bg_first.schools_action .slogan {
		background: url("img/zoomarine-gite-scuole.png");
		background-size: cover;
	}
	
	.sc_pretext {
		padding: 32px 0;
	}
	
	.sc_test_avatar {
		margin-top: 20%;
	}
	
	.school_quotes > .col-md-4 {
		margin-bottom: 32px;
	}
	
	.contact_action {
		padding-top: 36px;
	}
	
	.absolute_bot.school_promos {
		position: relative;
	}
	
	.box_school {
		margin: 0;
	}

	.schools_action .box_action, .schools_action .slogan  {
		margin-top: 0;
	}
	
	.schools_action .info_action {
		width: 56%;
	}
	
}

@media only screen and (max-width:650px) {
	
	.rounded_price.schools_price span.small:first-child {
		margin-top: 10%;
	}
	
	.schools_price.rounded_price span.small {
		font-size: 17px;
	}
	
	.sc_pretext {
		font-size: 16px;
		padding: 36px 3%;
	}
	
	.school_block {
		width: 80%;
	}
	
	.sc_testimonial .col-md-4.col-xs-4, .sc_testimonial .col-md-8.col-xs-8 {
		width: 100%;
	}
	
	.sc_test_avatar {
		margin: 36px 25% 0;
		padding-bottom: 50%;
		width: 50%;
	}
	
	.sc_test_desc {
		font-size: 13px;
		line-height: 17px;
		margin: 5% 10%;
		padding: 18px 24px 32px;
		width: 80%;
	}
	
	.school_quotes .inner_dicono {
		font-size: 15px;
		padding: 50px 25px;
		text-align: center;
	}
	
	.contact_action, .contact_text {
		font-size: 17px;
		padding: 0 24px 10px;
	}
	
	.contact_action{
		padding: 36px 24px 10px;
	}
	
	.cblock {
		font-size: 56px;
		padding: 0 12px;
	}
	
	.contact_school input {
		width: 96%;
	}
	
}

@media only screen and (max-width:450px) {
	
	.cblock {
		font-size: 36px;
		padding: 0 8px;
	}
	
	.cblock .clabel {
		font-size: 14px;
	}
	
	.rounded_price.schools_price {
		height: 180px;
		left: 50%;
		margin-left: -90px;
		margin-top: -60px;
		right: auto;
		width: 180px;
	}
	
	.schools_action .info_action {
		font-size: 17px;
		line-height: 24px;
		margin-top: 90px;
		padding: 0 16px;
		width: 100%;
	}
	
	.sc_grid_elem > h3 {
		font-size: 21px;
	}
	
	.sc_grid_elem > a {
		padding: 12px;
	}
	
	.box_school, .box_motivi ul {
		font-size: 17px;
	}
	
	.box_school .btn, .schools_action .btn {
		font-size: 16px;
	}
	
}