/* @override https://www.zoomarine.it/LandingPage/style.css */

/* @override https://www.zoomarine.it/LandingPage/style.css */

/* @override https://www.zoomarine.it/LandingPage/style.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @override http://umanastudio.com/framework/wp-content/themes/framework/css/bootstrap.css */

/*!
 * Bootstrap v3.3.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=bc5657db7fbb17fb3644)
 * Config saved to config.json and https://gist.github.com/bc5657db7fbb17fb3644
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}


/*------------------------------------*\
    MAIN
\*------------------------------------*/
 /* font-family: 'boulderregular'; */
@font-face {
    font-family: 'boulder';
    src: url('css/fonts/Boulder Regular-webfont.eot');
    src: url('css/fonts/Boulder Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Boulder Regular-webfont.woff2') format('woff2'),
         url('css/fonts/Boulder Regular-webfont.woff') format('woff'),
         url('css/fonts/Boulder Regular-webfont.ttf') format('truetype'),
         url('css/fonts/Boulder Regular-webfont.svg#boulderregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	font: 16px boulder;
	color: white;
	position: relative;
	background-color: #01213a;
	text-align: center;
}

html, body{
	height: 100%;
	position: relative;
}

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

/* clear */
.clear:before,
.clear:after,
.clearfix:before,
.clearfix:after {
    content:' ';
    display:table;
}

.clear:after,
.clearfix:after {
    clear:both;
}
.clear,
.clearfix  {
    *zoom:1;
}

.100vh, .120vh, .33vh, .50vh{
	position: relative;
	overflow: hidden;
}
.relative{
	position: relative;
}
.w_boxed{
	max-width: 815px;
	padding-right: 20px;
	padding-left: 20px;
}
.w_boxed.action_small{
	max-width: 710px;
}
a {
	color:white;
	text-decoration:none;
}
a:hover {
	color:white;
}

a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
.t_center{
	text-align: center;
}
.color_white{
	color: white;
}
.container-fluid{
	position: relative;
}
.padding_top_header{
	position: relative;
	padding-top: 101px;
}
.padding_t_b{
	padding-top: 55px;
}
.wrapper{
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	position: relative;
}
.center{
	margin: 0 auto;
}
.bg {
	background-position: center center;
	background-size: cover;
}
.bg_top {
	background-position: center top;
	background-size: cover;
	min-height: 950px;
	position: relative;
}
.bg_red{
	background-color: #cc1042;
}
.bg_dark{
	background-color: #231f20;
}
.bg_blue{
	background-color: #00355f;
}
.bg_white{
	background-color: whi;
}
.d_table{
	display: table;
	height: 100%;
	width: 100%;
}
	.d_cell{
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		width: 100%;
	}

.btn{
	background-color: #01b2fe;
	font-family: boulder;
	display: inline-block;
	padding: 15px;
	text-transform: uppercase;
}
.btn_red{
	background-color: #cc1042;
	color: white;
}
.btn_white{
	background-color: white;
	color: #cc1042;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.helve{
	font-family: Helvetica, Geneva, sans-serif;
}
.arial{
	font-family: Arial, Helvetica, Geneva, sans-serif;
}
.t_upper{
	text-transform: uppercase;
}
.align_right{
	text-align: right;
	padding-right: 15px;
}
.align_left{
	text-align: left;
	padding-left: 15px;
	font-weight: normal;
	font-style: normal;
}
.z2{
	position: relative;
	z-index: 2;
}
.absolute_bot{
	position: absolute;
	bottom: 0px;
	z-index: 2;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}
/*------------------------------------*\
    HEADER  
\*------------------------------------*/

header{
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 3;
	/* Force Hardware Acceleration in WebKit */
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
	header .wrapper{
		padding-top: 14px;
		padding-bottom: 19px;
		background-color: rgba(255, 255, 255, 0.7);
		height: 100px;
	}
	
	header .logo img{
		height: 70px;
	}

	.prenota_header{
		position: absolute;
		right: 40px;
		top: 17px;
	}
	body .prenota_header span{
		font-size: 10px;
	}
.shadow_top{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 350px;
	background: url(scuole_img/shadow_top.png) center top repeat-x;
	z-index: 1;
}

.bg_top .logo_base{
	width: 280px;
	display: block;
	margin: 0 auto 15px;
}
/*------------------------------------*\
    STRUCTURE  
\*------------------------------------*/
.bollino_new{
	position: absolute;
	top: -127px;
	left: -1px;
}
.slogan{
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 60px;
}
.bg_top .slogan{
	padding-top: 10px;
	line-height: 48px;
}
.box_action{
	position: relative;
}
.bg_top .box_action{
	position: absolute;
	bottom: 0px;
	left: 50%;
	right: auto;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	width: 80%;
}
.box_action.margin_top{
	margin-top: 80px;
}
.rounded_price{
	position: absolute;
	right: 0;
	top: -10px;
	background-color: #ffffff;
	color: #cc1042;
	padding: 14px;
	z-index: 10;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	font-size: 54px;
	text-align: center;
	text-transform: uppercase;
	line-height: 49px;
	font-weight: bold;
	-moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.56);
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.56);
}
	.rounded_price span{
		font-size: 25px;
		display: block;
		margin: 16px auto 8px;
		width: 102px;
		line-height: 23px;
		text-align: center;
		
	}
	
	.rounded_price span.barrato{
		font-size: 38px;
		display: block;
		margin: 22px auto 4px;
		width: 102px;
		line-height: 32px;
		text-align: center;
		color: #c4c2c2;
		position: relative;
	}
	
	.rounded_price span.small{
		display: block;
		margin: 13px auto 4px;
		text-align: center;
		width: auto;
		font-size: 32px;
		line-height: 25px;
	}
	
	.rounded_price span.price_big{
		display: block;
		margin: 0 auto 4px;
		text-align: center;
		width: auto;
		font-size: 77px;
		line-height: 65px;
	}
	
	.rounded_price span.barrato:after{
		content: "";
		  display: block;
		  -ms-transform: rotate(-15deg); /* IE 9 */
		      -webkit-transform: rotate(-15deg); /* Safari */
		      transform: rotate(-15deg);
		  width: 100px;
		border-bottom: 5px solid #c4c2c1;
		top: -20px;
		margin-top: -16px;
		margin-bottom: 16px;
	}
	.action_heading{
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 26px;
		text-transform: uppercase;
		line-height: 36px;
		text-align: left;
		padding-left: 30px;
	}
		.action_heading b{
			font-size: 60px;
			display: block;
			margin-bottom: 5px;
			line-height: 40px;
		}
		.action_heading.big_heading{
			font-size: 40px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.action_heading.big_heading b{
			font-size: 55px;
			display: inline-block;
			margin-bottom: 5px;
			margin-top: 5px;
			line-height: 51px;
		}
		
	.action_content{
		font: bold 25px Helvetica, Geneva, sans-serif;
		padding: 25px 30px 9px;
		text-transform: uppercase;
	}
	.info_action{
		width: 70%;
	}
	.w_100{
		width: 100%;
	}
	.btn_action{
		text-align: center;
	}
	.action_small .action_content{
		font: bold 25px Helvetica, Geneva, sans-serif;
		padding: 25px 15px 9px 34px;
		text-transform: uppercase;
	}
		.action_content.bg_blue{
			background-color: rgba(0, 52, 95, 0.52);
			text-align: left;
		}
		.action_content strong{
			font: bold 25px boulder, Helvetica, Geneva, sans-serif;
		}
		
		.action_content .btn{
			padding: 21px 15px 15px 15px;
			margin-top: 35px;
			margin-left: 10px;
			margin-right: 10px;
			text-align: center;
			display: inline-table;
		}
		body .action_content .btn.line_1{
			padding: 21px 15px 31px;
			text-align: center;
		}
		.btn span{
			display: block;
			font: bold 14px Arial, Helvetica, Geneva, sans-serif;
			margin-top: 3px;
		}
		.action_content.t_small, .action_content.t_small strong{
			font-size: 20px;
		}
		
		.action_content.t_small .btn{
			font-size: 25px;
			padding: 30px;
		}
		.validita{
			font-size: 14px;
			margin-top: 14px;
			text-align: center;
		}
		.t_small, .t_small strong{
			font-size: 18px;
		}
		.t_small span{
			font: bold 20px boulder, Helvetica, Geneva, sans-serif;
		}
.heading{
	color: white;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 35px;
	text-transform: uppercase;
}

.box_img img{
	width: 100%;
}

.box_blue_opa{
	background-color: rgba(3, 150, 214, 0.80);
	padding: 45px 10px;
	color: white;
	text-transform: uppercase;
	font-size: 45px;
	margin-right: 80px;
	margin-left: 80px;
}
.animali_e_attrazioni .box_blue_opa{
	margin-left: 0px;
	margin-right: 0px;
}

	.box_blue_opa .t_small{
		font-size: 20px;
		font-weight: bold;
		padding-left: 45px;
		padding-right: 45px;
		margin-top: 13px;
	}
		.box_blue_opa .t_small strong{
			display: block;
			font: 32px boulder;
		}



.box_blue_opa .big_font{
		font-weight: bold;
		font-size: 20px;
		padding-right: 30px;
		padding-left: 30px;
		line-height: 22px;
		margin-top: 20px;
	}	
.domande_frequenti .box_domande{
	padding: 87px;
}

.domande_frequenti .row{
	padding: 27px;
}
.mappa{
	background-color: #00355f;
}
.mappa iframe{
	width: 100%;
}

.dove_siamo .bg_blue{
	padding: 50px;
	font-size: 31px;
}
	.dove_siamo .big_title{
		color: #0397d7;
		font-size: 80px;
		margin-bottom: 15px;
	}
	.dove_siamo .big_number {
		font-size: 82px;
		margin-top: 15px;
		display: block;
	}
.facebook{
	background-color: white;
	padding: 22px;
}
	.facebook iframe{	
		width: 100%;
	}

.dicono_box > div{
	height: 225px;
	background-color: #01b2fe;
	background-repeat: no-repeat;
	background-position: 12% center;
}

.inner_dicono{
	position: relative;
	height: 100%;
	background: url(scuole_img/quote_top.png) 15px 14px no-repeat rgba(255, 255, 255, 10);
	padding: 61px 20px 45px;
	color: #0397d6;
	
	text-align: left;
	font: 21px/22px Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}

.quote_bot {
	position: absolute;
	background: url(scuole_img/quote_bot.png) no-repeat;
	width: 50px;
	height: 39px;
	right: 25px;
	bottom: 15px;
}

.inner_dicono b{
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		line-height: 0;
}
div.arrow_dicono {
	position: absolute;
	background: url(scuole_img/dicono_arrow.png) no-repeat;
	background-size: 100%;
	left: -40px;
	width: 40px;
	height: 45px;
	bottom: 55px;
}

footer{
	padding: 90px 249px 90px 250px;
	font-size: 16px;
}
	footer .t_upper{
		display: block;
		margin-top: 35px;
		margin-bottom: 35px;
		font-size: 22px;
	}
	
	footer .logo_footer{
		height: 140px;
		display: block;
		text-align: center;
		margin: 0 auto 25px;
	}
	
	.icon a{
		width: 60px;
		height: 60px;
		display: inline-block;
		background: url(scuole_img/icon_social.png) -5px / auto 130%;
		margin-right: 5px;
		margin-left: 5px;
	}
		a.fb{
			background-position: -99px;
		}
		
		a.ta{
			background-position: -180px;
		}
.box_hover{
	position: relative;
}
.img_big_box img{
	width: 100%;
}
.mobile_show{
	display: none;
}
.bg_open_close{
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	background-image: url(scuole_img/bg_open.png);
	background-size: auto 30px;
	margin-top: -5px;-webkit-transition: all 300ms ease;
	   -moz-transition: all 300ms ease;
	    -ms-transition: all 300ms ease;
	        transition: all 300ms ease;
}
.slideDownNext {
	cursor: pointer;
}
.slideDownNext.open .bg_open_close{
	background-image: url(scuole_img/bg_close.png);
	background-size: auto 30px;
}
@media only screen and (max-width:1025px) {
	.mappa iframe{
		height: 350px;
	}
	.inner_dicono{
		font: 17px/22px Arial, Helvetica, Geneva, sans-serif;
	}
	
	.dicono_box > div{
		background-position: 4% center;
	}
	
}


@media only screen and (max-width:992px) {
	.bg_m_tra{
		background-color: rgba(0, 51, 95, 0.4) !important;
	}
/*	.bg_first{
		background-image: none !important;
	}*/
	.bg_first .slogan{
		opacity: 1;
		background: url(scuole_img/zoomarine_slider_top.jpg) right top no-repeat;
		height: 450px;
	}
	.padding_top_header{
		padding-top: 0px !important;
	}
	.dicono_box > div{
		background-position: 18% center;
	}
	.rounded_price{
		right: 15px;
	}
	.mobile_show{
		display: block;
	}
	.mobile_hidden{
		display: none;
	}
	
	.w_boxed{
		max-width: 100% !important;
		width: 100% !important;
		padding-right: 0px;
		padding-left: 0px;
	}
		.action_content.bg_blue{
			background-color: rgba(0, 52, 95, 1);
			text-align: left;
		}
	.slogan{
		font-size: 30px;
		line-height: 32px !important;
	}
	
	.action_heading{
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 26px;
		text-transform: uppercase;
		line-height: 36px;
		padding-left: 30px;
	}
	
	.info_action{
		width: 60%;
	}
	.w_100{
		width: 100%;
	}
	.action_content .btn{
		padding: 21px 20px 15px;
		margin-top: 35px;
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
		display: inline-table;
		font-size: 15px;
	}
	
	.action_small .action_content{
		font: bold 25px Helvetica, Geneva, sans-serif;
		text-transform: uppercase;
	}
	
	body .action_content .btn.line_1{
		padding: 21px 30px 28px;
		text-align: center;
	}
	
	.btn span{
		display: block;
		font: bold 12px Arial, Helvetica, Geneva, sans-serif;
		margin-top: 3px;
	}
	
	.padding_t_b{
		padding-top: 0px;
	}
	
	.box_action.margin_top{
		margin-top: 0px;
	}
	
	.box_blue_opa{
		background-color: rgba(3, 150, 214, 0.80);
		padding: 45px 10px;
		font-size: 34px;
		margin-right: 0px;
		margin-left: 0px;
	}
	
	.box_blue_opa .big_font{
			font-size: 15px;
		}
		
		.box_blue_opa .t_small{
			font-size: 15px;
		}
		
		.t_small span{
			font: bold 15px boulder, Helvetica, Geneva, sans-serif;
		}
		
	
	.align_right{
		text-align: center;
		margin-bottom: 5px;
		padding: 0;
	}
	.align_left{
		text-align: center;
		padding: 0;
	}
	.mappa iframe{
		height: 250px;
	}
	
	.heading{
		font-size: 22px;
	}
	
	footer{
		padding: 90px 55px;
		font-size: 13px;
	}
	
	footer .logo_footer{
		height: 78px;
		margin: 0 auto 25px;
	}
	
	.domande_frequenti .box_domande{
		padding: 84px 15px;
	}
	
	footer .t_upper{
		display: block;
		margin-top: 35px;
		margin-bottom: 0;
		font-size: 20px;
	}
	
	.absolute_bot{
		position: absolute;
		bottom: 0px;
		z-index: 2;
		
	}
	
	.novita .absolute_bot{
		position: relative !important;
	}
	
	.dove_siamo .big_title{
		font-size: 60px;
	}
	.dove_siamo .bg_blue{
		font-size: 27px;
	}
	.dove_siamo .big_number {
		font-size: 65px;
	}
	
}

@media only screen and (max-width:780px) {
	.big_action_heading b{
		font-size: 45px;
	}
}
@media only screen and (max-width:650px) {
	.logo{
		text-align: left;
		padding-left: 25%;
	}
	.pacchetti .logo{
		text-align: center;
		padding: 0px;
	}
	header .logo img{
		height: 41px;
	}
	.padding_top_header{
		padding-top: 68px;
	}
	.btn{
		padding: 9px;
		font-size: 10px;
	}
	.btn span{
		font-size: 9px !important;
	}
	.prenota_header{
		position: absolute;
		right: 20px;
		top: 10px;
	}
	header .wrapper{
		padding-top: 14px;
		padding-bottom: 19px;
		background-color: rgba(255, 255, 255, 0.7);
		height: 67px;
	}
	.slogan{
		text-transform: uppercase;
		
		text-align: center;
		padding-top: 0px;
		padding-bottom: 0px;
		height: 60px;
	}
	.action_heading{
		font-size: 16px !important;
		line-height: 25px;
		padding-left: 15px;
	}
	.action_heading.big_heading b{
		font-size: 19px;
		line-height: 21px;
	}
	
	.big_action_heading b{
		font-size: 21px;
		line-height: 21px;
	}
	
	.action_small .action_content{
		font: bold 15px Helvetica, Geneva, sans-serif;
		padding: 25px 15px 9px;
		text-transform: uppercase;
	}
	
	.action_content .btn{
		padding: 21px 20px 15px;
		margin-top: 35px;
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
		display: inline-table;
		font-size: 15px;
		width: 211px;
	}
	
	.box_blue_opa{
		background-color: rgba(3, 150, 214, 0.80);
		padding: 45px 10px;
		font-size: 25px;
		margin-right: 0px;
		margin-left: 0px;
	}
	
	.box_blue_opa .big_font{
			font-size: 14px;
		}
		
		.validita{
			font-size: 11px;
			margin-top: 11px;
			text-align: center;
		}
	
	.t_small, .t_small strong{
		font-size: 14px;
		padding-right: 15px;
	}
	.action_content strong{
		font: bold 15px boulder, Helvetica, Geneva, sans-serif;
	}
	.inner_dicono b{
			text-transform: uppercase;
			font-size: 10px;
			font-weight: bold;
			line-height: 0;
	}
	
	.inner_dicono{
		position: relative;
		height: 100%;
		background: url(scuole_img/quote_top.png) 15px 14px no-repeat rgba(255, 255, 255, 10);
		background-size: 26px;
		padding: 61px 20px 45px;
	}
	
	.quote_bot {
		position: absolute;
		background: url(scuole_img/quote_bot.png) no-repeat;
		background-size: 26px;
		width: 26px;
		height: 26px;
		right: 25px;
		bottom: 15px;
	}
	.box_blue_opa .t_small{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.dove_siamo .big_title{
		font-size: 30px;
	}
	.dove_siamo .bg_blue{
		font-size: 17px;
	}
	.dove_siamo .big_number {
		font-size: 39px;
	}
	
	.bg_first .slogan{
		opacity: 1;
		background: url(scuole_img/zoomarine_slider_top.jpg) right top no-repeat;
		background-size: auto 120%;
		height: 350px;
	}
	
	.info_action{
		font-size: 15px;
	}
	.action_content{
		padding: 25px 15px 9px;
	}
	
	.rounded_price{
		position: absolute;
		right: 20px;
		top: -23px;
		background-color: #ffffff;
		color: #cc1042;
		padding: 14px;
		z-index: 10;
		border-radius: 50%;
		width: 180px;
		height: 180px;
		font-size: 37px;
		text-align: center;
		text-transform: uppercase;
		line-height: 37px;
		font-weight: bold;
		-moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.56);
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.56);
	}
		.rounded_price span{
			font-size: 15px;
			display: block;
			margin: 10px auto 8px;
			width: 102px;
			line-height: 18px;
			text-align: center;
			
		}
		
		.rounded_price span.barrato{
			font-size: 25px;
			display: block;
			margin: 7px auto 4px;
			width: 102px;
			line-height: 29px;
			text-align: center;
			color: #c4c2c2;
			position: relative;
		}
		
		.rounded_price span.small{
			display: block;
			margin: 0 auto 4px;
			text-align: center;
			width: auto;
			font-size: 15px;
			line-height: 18px;
		}
		
		.rounded_price span.price_big{
			display: block;
			margin: 0 auto 4px;
			text-align: center;
			width: auto;
			font-size: 51px;
			line-height: 46px;
		}
		
		.rounded_price span.barrato:after{
			content: "";
			  display: block;
			  -ms-transform: rotate(-15deg); /* IE 9 */
			      -webkit-transform: rotate(-15deg); /* Safari */
			      transform: rotate(-15deg);
			  width: 67px;
			border-bottom: 5px solid #c4c2c1;
			top: -21px;
			margin-top: -16px;
			margin-bottom: 16px;
			left: 13px;
			margin-left: 15px;
		}
		
		.bollino_new{
			position: absolute;
			top: -180px !important;
			left: 15px;
		}
		
		.bollino_new{
			position: absolute;
			top: -230px;
		}
		
}

@media only screen and (max-width:500px) {
.bollino_new{
	position: absolute;
	top: -240px !important;
	left: 15px;
}

.bollino_new img{
	width: 100px;
}
}

@media only screen and (max-width:450px) {

	.bg_first{
		background-size: auto 350px;
		background-repeat: no-repeat;
		background-position: top center;
	}
	.dicono_box > div{
		background-position: 4% center;
		background-size: 125px;
	}
	
	footer{
		padding: 90px 25px;
		font-size: 13px;
	}
	
	.bg_top .logo_base{
		width: 200px;
		display: block;
		margin: 0 auto 15px;
	}
	.info_action{
		width: 75%;
	}
	.w_100{
		width: 100%;
	}
	.rounded_price{
		position: absolute;
		right: 10px;
		top: -29px;
		background-color: #ffffff;
		color: #cc1042;
		padding: 14px;
		z-index: 10;
		border-radius: 50%;
		width: 120px;
		height: 120px;
		font-size: 21px;
		text-align: center;
		text-transform: uppercase;
		line-height: 19px;
		font-weight: bold;
		-moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.56);
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.56);
	}
		.rounded_price span{
			font-size: 15px;
			display: block;
			margin: 10px auto 5px;
			width: 90px;
			line-height: 18px;
			text-align: center;
			
		}
		
		.rounded_price span.barrato{
			font-size: 22px;
			display: block;
			margin: 4px auto 0;
			width: 82px;
			line-height: 29px;
			text-align: center;
			color: #c4c2c2;
			position: relative;
		}
		
		.rounded_price span.small{
			display: block;
			margin: 0 auto;
			text-align: center;
			width: auto;
			font-size: 15px;
			line-height: 18px;
		}
		
		.rounded_price span.price_big{
			display: block;
			margin: 0 auto 4px;
			text-align: center;
			width: auto;
			font-size: 35px;
			line-height: 28px;
		}
		
		.rounded_price span.barrato:after{
			content: "";
			  display: block;
			  -ms-transform: rotate(-15deg); /* IE 9 */
			      -webkit-transform: rotate(-15deg); /* Safari */
			      transform: rotate(-15deg);
			  width: 57px;
			border-bottom: 3px solid #c4c2c1;
			top: -21px;
			margin-top: -18px;
			margin-left: 15px;
			margin-bottom: 10px;
			left: 13px;
		}
	
}



@media only screen and (max-width:350px) {
	.logo{
		text-align: left;
		padding-left: 10%;
	}
	
	body .pacchetti .logo{
		text-align: center;
		padding: 0px;
	}
	

}


/* IUBENDA */
div#iubenda-cs-banner {
	background: transparent !important;
}
.iubenda-cs-content {
	background: #fff !important;
	background: rgba(255,255,255,.9) !important;
	width: 60% !important;
	border: 3px solid #cc1142;
	border-top: 0;
	text-align: left;
}
#iubenda-cs-banner .iubenda-banner-content p {
	color: #000 !important;
	font-size: 18px !important;
}
#iubenda-cs-banner .iubenda-banner-content p:first-of-type {
	font-family: boulder !important;
	font-size: 22px !important;
}
a.iubenda-cs-close-btn {
	background-color: #cc1142 !important;
	width: 25px;
	height: 25px !important;
	text-align: center;
	border-radius: 500px;
	line-height: 23px;
	font-weight: bold;
}
a.iubenda-cs-cookie-policy-lnk {
  color: #cc1142 !important;
  font-size: 18px !important;
}
iframe.iubenda-ibadge {
	position: relative;
	top: 10px;
}
@media screen and (max-width: 640px) {
	.iubenda-cs-content {
		width: 90% !important;
		border: 0 none;
		padding: 5% !important;
		border-bottom: 3px solid #000;
	}
	a.iubenda-cs-cookie-policy-lnk, #iubenda-cs-banner .iubenda-banner-content p {
		font-size: 16px !important;
	}
}


/* COOKIE POLICY */
#pp_modal {
	position: fixed;
	top: auto;
	left: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	display: none;
	z-index: 999;
}

#pp_modal .pp_center {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 30px 130px 30px 30px;
	color: #00365D;
	font-size: 1.4rem;
	background: rgba(255,255,255,0.95);
}

#pp_modal .pp_ok {
	position: absolute;
	top: 50%;
	right: 30px;
	padding: 16px 30px;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

#pp_modal .pp_ok:hover,
#pp_modal .pp_ok:focus,
#pp_modal .pp_ok:active {
	background: #03A0E2;
}

#pp_modal a {
	color: #CC1042;
}

@media (max-width: 1024px) {
	
	#pp_modal .pp_text br {
		display: none;
	}

}

@media (max-width: 767px) {

	#pp_modal .pp_center {
		padding: 20px;
		font-size: 1.2rem;
		text-align: center;
	}

	#pp_modal .pp_ok {
		position: relative;
		top: auto;
		right: auto;
		margin-top: 15px;
		padding: 12px 30px;
		-webkit-transform: translateY(0);
			    transform: translateY(0);
	}

}

@media (max-width: 480px) {
	
	#pp_modal .pp_ok {
		width: 100%;
	}

}