﻿@model Core.Shops

@{
    ViewBag.Title = "Assistenza telefonica";
    string shoptitle = "";

    Core.TicketOptions Options = new Core.TicketOptions();

    if (Model.ShoppingState.DayNow != "")
    {
        Options = Model.ShoppingState.TckOptions;
        shoptitle = "ACQUISTA IL BIGLIETTO";
    }

    if (Model.ShoppingStateHotel.DayArrive != "")
    {
        Options = Model.ShoppingStateHotel.TckOptions;
        shoptitle = "ACQUISTA PARCO PIU' HOTEL";
    }

    if (Model.ShoppingStateSubscriptions.TotPrice != "0")
    {
        shoptitle = "ABBONAMENTO";
    }

}
<div class="homeApertura container">

    <div style="text-align: center; font-family: Hiruko Pro;">
        <h3 id="shoptitle" style="color: #0095d4">@shoptitle</h3>
        <h4 id="shopdescription" style="color: #d51f3b;">Assistenza Telefonica</h4>
        <h4 id="shopcomment" style="color: #204f66;">La prenotazione è quasi terminata</h4>
    </div>


    <div class="row">
    
        <div style="text-align: center; font-family: Hiruko Pro;">
            <h4>Dati generali dell'acquisto:</h4>
        </div>

        <div id="summary" class="container" style="border: solid 1px; font-family: Hiruko Pro;">

            <div class="row" style="background-color: darkblue;">
                @if (Model.ShoppingStateHotel.DayArrive == "hotel")
                {
                    <div class="col-md-9">
                        <h5 style="color:white">Descrizione</h5>
                    </div>

                    <div class="col-md-1">
                        <h5 style="color:white">Totale</h5>
                    </div>

                    <div class="col-md-1"></div>
                }
                else
                {
                    <div class="col-md-5">
                        <h5 style="color:white">Descrizione</h5>
                    </div>
                    <div class="col-md-2">
                        <h5 style="color:white">Prezzo</h5>
                    </div>
                    <div class="col-md-2">
                        <h5 style="color:white">Quantità</h5>
                    </div>
                    <div class="col-md-1">
                        <h5 style="color:white">Totale</h5>
                    </div>
                    <div class="col-md-1"></div>
                }
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div id="pricesummary" style="text-align: left;">
                        <div style="display: inline; vertical-align: middle;">
                            @if (Model.ShoppingState.DayNow != "")
                            {
                                <h4 style='display: inline; color: red'>Ingresso al parco in data:<label id='DayNow'></label></h4>
                            }

                            @if (Model.ShoppingStateHotel.DayArrive != "")
                            {
                                <h4 style='display: inline; color: red;'>Acquisto per parco più hotel dal: <label id='DayArrive'></label> Al <label id='DayDeparture'></label></h4>
                            }

                            @if (Model.ShoppingStateSubscriptions.TotPrice != "0")
                            {
                                <h4 style='display: inline; color: red;'>Abbonamenti</h4>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <!--////////////////////////////////////////-->
            <!--shopping cart ticket plus hotel-->
            <div class="row">
                <div id="SCHotellist" class="col-md-12">
                    <!--created dynamically-->
                </div>
            </div>


            <div class="row">
                <div id="SCroomlist" class="col-md-12">
                    <!--created dynamically-->
                </div>
            </div>
            <!--////////////////////////////////////////-->
            <!--shopping cart ticket-->
            <div class="row">
                <div id="SCticketlist" class="col-md-12">
                    <!--created dynamically-->
                </div>
            </div>

            <div class="row">
                <div id="SCmenulist" class="col-md-12">
                    <!--created dynamically-->
                </div>
            </div>

            <div class="row">
                <div id="SCanimallist" class="col-md-12">
                    <!--created dynamically-->
                </div>
            </div>

            <div class="row">
                <div id="SCactivitylist" class="col-md-12">
                    <!--created dynamically-->
                </div>
            </div>


            <!-- shoppin cart subscriptions-->
            <div class="row">
                <div id="SCsublist" class="col-md-12">
                    <!--created dynamically-->
                </div>
            </div>

            <!--////////////////////////////////////////-->


            <!--total-->
            <div class="row img-rounded" style="margin: 5px;">
                <div class="row">
                    <div class="col-md-7"></div>

                    <div class="col-md-2" style="text-align:right;">
                        <h4 style="display:inline; vertical-align: middle; color: red;">
                            Totale:
                        </h4>
                    </div>

                    <div class="col-md-2">
                        <h4 style="display:inline; vertical-align: middle; padding-left: 8px;">
                            €&nbsp;<label id="TotPrice"></label>
                        </h4>
                    </div>

                    <div class="col-md-1"></div>
                </div>
            </div>


        </div>

        <div class="row">&nbsp;</div>

        <div class="row" style="text-align: center; font-family: Hiruko Pro;">
            <h3 style="color: #0095d4; display: inline;">FORMA DI PAGAMENTO:</h3>
            <h3 style="display: inline;">&nbsp;ASSISTENZA TELEFONICA</h3>
        </div>

        

        <div class="row" style="text-align: center; font-family: Hiruko Pro;">          
            <h3 style="color: #001ed3;">Premi Ok, riceverai una mail di conferma con il tuo n. di acquisto</h3>
            <h4>Con la tua carta di credito a portata di mano CHIAMA lo 06 91534, comunicando il tuo n. di acquisto</h4>
            <h4>un nostro operatore ti assisterà nel pagamento</h4>
        </div>

        <div class="row">&nbsp;</div>

        <div id="pulsanti" class="row" style="font-family: Hiruko Pro;">
            <div class="col-md-3">
            </div>

            <div class="col-md-6" style="text-align:center;">
                <input type="button" id="BtnOk" class="btn btn-success shad" value="OK" />
            </div>

            <div class="col-md-3">
                <div class="col-md-6">
                    
                </div>

                <div class="col-md-6">
                    <a class="btn btn-danger shad" href="/ShoppingCart/ShoppingCart">&lt; INDIETRO</a>
                </div>
            </div>
        </div>

    </div>


</div>
<!--modal windows-->
<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>


@section Scripts {
<script src="~/Scripts/ShopVariables.js"></script>
<script src="~/Scripts/ShoppingCart.js"></script>
    <script type="text/javascript">

     if ('@Model.ShoppingState.DayNow' != '')
     {
         Prodotto = "ticket";
         var SubAniIndex, SubAniQuantLinear;
         var ArrFinish;

        ////////////////////////////////////////////
        //SHOPPING CART included in shoppingarct.js


         $(document).change(function() {
             AlertClose();
         });

         $(document).ready(function () {


             //keep the state
             $("#summary").hide();
             //$('#loader').modal('show');
             var Day = '@Model.ShoppingState.DayNow';
             TotPrice = '@Model.ShoppingState.Price';

            $("#empty").hide();

            $("#DayNow").text(Day);

            $("#datascelta").val(Day);

            Inizializza(Day);

         });


         function EseguiCheckout(Scelta)
         {

             var Info = { Scelta: Scelta};

             var URL = "/ShoppingCart/RedirCheckout";
             var promise = $.post(URL, Info);

             promise.done(function (data) {
                 window.location.href =  data;
             });

             promise.fail(function (err) { console.log("error promise: " + URL); });
         }


        function Inizializza(Day) {
            LoadFromModel(@Html.Raw(Json.Encode(Model.ShoppingState)));
            LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingState.Buyer)));
            TotPrice = '@Model.ShoppingState.Price';

            RiempiTicketSC();

         }

        function RiempiTicketSC()
         {
             //riempimento ticket
             LoopCreationSC();

             SubAniIndex = 0;
             var SubAniQuant= @Html.Raw(Json.Encode(Model.ShoppingState.TckOptions.SubAniQuantitities)) +'';
             SubAniQuantLinear = SubAniQuant.split(","); //linear array

             RiempiAnimalSC();
         }


         //ticket when finished
         function Finish()
         {

             ReloadSubAniQuantity();
             FillAllSC();
             NoDelButtons();

             $("#TotPrice").text(FormatMoney(TotPrice));

             $("#summary").show();
             $('#loader').modal('hide');

         }

     }

     /////////////////////////////////////////////////
     //hotel
     if ('@Model.ShoppingStateHotel.DayArrive' != '')
     {
         Prodotto = "hotel";

         //SHOPPING CART hotel included in shoppingarct.js
         $(document).ready(function () {

             //keep the state
             $("#summary").hide();
             //$('#loader').modal('show');

             Rooms = [];

             HotelId = '@Model.ShoppingStateHotel.Hotel';
             HotelPrice = '@Model.ShoppingStateHotel.HotelPrice';
             DayArrive = '@Model.ShoppingStateHotel.DayArrive';
             DayDeparture = '@Model.ShoppingStateHotel.DayDeparture';
             AssicPrice = Number('@ViewBag.PrezzoAssicurazione');
             NavPrice = Number('@ViewBag.PrezzoNavetta');
             AssicCambioData = '@Model.ShoppingStateHotel.AssicCambioData';
             ServizioNavetta = '@Model.ShoppingStateHotel.ServizioNavetta';
             TotPrice = '@Model.ShoppingStateHotel.Price';
             hotDes = '@Model.ShoppingStateHotel.HotelDescription';
             Nrooms = '@Model.ShoppingStateHotel.Nrooms';
             adults = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NAdults));
             kids = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKids));
             kidsfree = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKidsfree));

             RoomsAndTotHotel();

             LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingStateHotel.Buyer)));

             if (DayArrive != "") {
                 $("#empty").hide();

                 $("#DayArrive").text(DayArrive);
                 $("#DayDeparture").text(DayDeparture);

                 InizializzaHotel();
             }

         });

         function Riempimento()
         {
             //riempimento hotel

             LoopCreationSC();

             RiempiAnimalSC();

         }

         //hotel when finished
         function Finish()
         {
             var SubAniQuant;

             Quantity = @Html.Raw(Json.Encode(Model.ShoppingState.TckQuantitities));
             AniQuantity = @Html.Raw(Json.Encode(Options.AniQuantitities));

             ActQuantity = @Html.Raw(Json.Encode(Options.ActQuantitities));
             MnuQuantity = @Html.Raw(Json.Encode(Options.MnuQuantitities));
             SubAniQuant = @Html.Raw(Json.Encode(Options.SubAniQuantitities)) + '';

             SubAniQuantLinear = SubAniQuant.split(","); //linear array

             ReloadSubAniQuantity();

             FillAllSC();
             NoDelButtons();
             TotPrezzo();
             $('#loader').modal('hide');
         }
     }

     ////////////////////////////////////////////
     //Subscriptions
     if ('@Model.ShoppingStateSubscriptions.TotPrice' !='0')
     {
         //SHOPPING CART subscriptions included in shoppingarct.js
         prodotto = "abbonamento";
         $(document).ready(function () {


             $("#empty").hide();
             $("#summary").hide();
             //$('#loader').modal('show');

             Description = [];
             Quantity = [];

             //keep the state
             TotPrice = '@Model.ShoppingStateSubscriptions.TotPrice';
             nsub = @Model.ShoppingStateSubscriptions.Nsub;
             Id = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Id));
             SubscriptionId = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Id));
             Description = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Description));
             Price = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Price));
             Quantity = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Quantitities));
             Names = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.SubscriberName));
             Surnames = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.SubscriberSurname));
             LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Buyer)));

             if (TotPrice != "0") {

                 InizializzaSubscription();
                 $('#loader').modal('hide');
             }


         });

     }


     ////////////////////////////////////////////////////////////////////////////
     //common
     LogUser = '@ViewBag.TipoOperatore';
     FunzioniOperatore();

    $("#BtnOk").click(function () {

        $('#loader').modal('show');
        //tipo pagamento in sospeso PS, stato pagamento richiesto PR
        var URL = "/Checkout/InsAssTel";

        var promise = $.post(URL);

        promise.done(function (data) {
            window.location.href =  data;
        });

        promise.fail(function (err) { console.log("error promise: " + URL); });

    });

     if ('@Model.ShoppingState.DayNow' == '' && '@Model.ShoppingStateHotel.DayArrive' == '' && '@Model.ShoppingStateSubscriptions.TotPrice' == '0')
     {
         //shopping cart empty
         $("#Buyer").hide();
         $("#summary").hide();
         $("#pulsanti").hide();
     }

    </script>

}



