﻿@model Core.InfoBancaSella

@{
    string rec = DateTime.Now.ToString();

    ViewBag.Title = "Carte di Credito";
    string Tot = Model.Amount + "€";

    if (!string.IsNullOrEmpty(ViewBag.BankError))
    {
        Model.ErrorDescription = ViewBag.BankError;
    }

}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carte di credito</title>
    @*<link href="~/Content/reset.css" rel="stylesheet" />*@
    <link href="~/Content/iFrame.css" rel="stylesheet" />
</head>
<div class="formPago">
    <div class="homeApertura container ">
        <div class="bg-pago">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Forma di pagamento: <span>CARTE CREDITO</span></h3>
                    <h3>TOTALE: <span>@Tot</span></h3>
                    <div class="creditPago"><img src="~/Images/CartaCreditoBancaSella.png" class="img-responsive"/></div>
                </div>
                <div class="col-sm-6">
                    <!-- Overlap Layer -->
                    <div id="FreezePane" class="Off"></div>
                    <div id="InnerFreezePane" class="Off">
                        <div id="text"></div>
                    </div>
                    <!-- ErrorBox -->
                    <div id="ErrorBox" class="@Model.ErrorClass" @Model.ErrorCode - @Model.ErrorDescription></div>
                    <!-- Overlap Layer END -->
                    <!-- Create the iFrame-->
                    <!-- main Box -->
                    <div class="" id="Main" style="text-align: center;">

                        <!-- Credit card form, hidden before browser check and untill the iFrame is properly loaded -->
                        <form name="CCForm" method="post" id="CCForm" OnSubmit="return CheckCC();" class="Off">
                            <br />
                            <br />
                            <div class="" id="Fields">
                                <fieldset id="CCFieldset">
                                    <div id="CCcontainer">
                                        <div id="CCField">
                                            <h5 for="CC">Carta numero</h5>
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="CC" id="CC" autocomplete="off" maxlength="19" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div id="ExpDate">
                                                    <h5>Data Scadenza (MM/YY)</h5>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" onkeydown="return Numbers(event)" name="EXPMM" id="EXPMM" autocomplete="off" maxlength="2" style="display:inline;">
                                                        &nbsp;/&nbsp;
                                                        <input class="form-control" type="text" onkeydown="return Numbers(event)" name="EXPYY" id="EXPYY" autocomplete="off" maxlength="2" style="display:inline;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div id="CCVField">
                                                    <h5>Codice Sicurezza</h5>
                                                    <div class="form-group">
                                                        <input class="form-control" type="password" name="CVV2" id="CVV2" maxlength="4" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3"></div>

                                            <div class="col-md-6">
                                                <div id="NameField">
                                                    <h5 for="Name">Nome Cliente</h5>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="Name" id="Name" value="@Model.Firstname&nbsp;@Model.LastName">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div id="EmailField">
                                                    <h5 for="Email">Email Cliente</h5>
                                                    <div class="form-group">
                                                        <input class="form-control" type="email" name="Email" id="Email" value="@Model.Email">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </fieldset>
                                <div id="pulsanti" class="row" style="font-family: Hiruko Pro;">
                                    <div class="col-md-6">
                                        <a class="btn-red shad" href="/ShoppingCart/ShoppingCart">INDIETRO</a>
                                    </div>
                                    <div class="col-md-6" style="text-align:center;">
                                        <input class="btn-green shad" type="submit" value="PROCEDI" id="submit" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


    @section Scripts {
        <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
        <!-- GestPay Javascript -->
        <script type="text/javascript" src="@ViewBag.BsIframeJs"></script>

        <script type="text/javascript">
            //declaring local object to handle asynchronous responses from the payment page
            var LocalObj = {}
            //setting up a function to handle asynchronous security check result after creating the iFrame and loading the payment page
            LocalObj.PaymentPageLoad = function (Result) {
                //check for errors, if the Result.ErroCode is 10 the iFrame is created correctly and the security check are passed
                if (Result.ErrorCode == 10) {
                    var Errb = '@ViewBag.BankError';
                    if (Errb != "")
                    {
                        document.getElementById('ErrorBox').innerHTML = 'Errore: ' + Errb;
                        document.getElementById('ErrorBox').className = 'On';
                        document.getElementById('CC').focus();
                    }

                    //iFrame created and and the security check passed
                    //Handle 3D authentication 2nd call
                    var PARes = '@Model.PARes';
                    if (PARes.length > 0) {
                        //The card holder land for the 2nd call after 3d authentication so we can proceed to process the transaction without showing the form
                        document.getElementById('text').innerHTML = 'Pagamento in corso...';
                        GestPay.SendPayment({ PARes: PARes, TransKey: '@Model.TransKey' }, LocalObj.PaymentCallBack);
                    } else {
                        document.getElementById('InnerFreezePane').className = 'Off';
                        document.getElementById('FreezePane').className = 'Off';
                        document.getElementById('CCForm').className = 'On';
                        document.getElementById('submit').disabled = false;
                    }
                    //now we can show the form with the credit card fields
                } else {
                    //An error has occurred, check the Result.ErrorCode and Result.ErrorDescription
                    //place error handle code HERE
                    document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' ' + Result.ErrorDescription;
                    document.getElementById('ErrorBox').className = 'On'
                    document.getElementById('InnerFreezePane').className = 'Off'
                    document.getElementById('FreezePane').className = 'Off'
                }
            }
            //setting up a function to handle payment result
            LocalObj.PaymentCallBack = function (Result) {
                if (Result.ErrorCode == 0) {
                    //Transaction correctly processed
                    SetData();

                    //Decrypt the string to read the Transaction Result
                    document.location.replace('Complete?a=' + Result.EncryptedString);
                } else {
                    //An error has occurred
                    //check for 3D authentication required
                    if (Result.ErrorCode == 8006) {
                        SetData();

                        //The credit card is enrolled we must send the card holder to the authentication page on the issuer website
                        //Get the TransKey, IMPORTANT! this value must be stored for further use
                        var TransKey = Result.TransKey
                        //put the TransKey in a cookie for later use, the cookies will expire in 20 minutes
                        document.cookie = 'TransKey=' + TransKey + '; path=/';
                        //put the EcryptedString generated by the WSCryptDecrypt webservice in a cookies for later use the cookies will expire in 20 minutes
                        document.cookie = 'encString=@Model.EncryptedString; path=/';

                        //Get the VBVRisp encrypted string required to access the issuer authentication page
                        var VBVRisp = Result.VBVRisp;
                        //document.cookie = 'encString=' + VBVRisp + '; path=/';

                        //redirect the user to the issuer authentication pages
                        var a = '@Model.Shop_Login';
                        var b = VBVRisp;

                         //this is the landing page where the user will be redirected after the issuer authentication must be ABSOLUTE
                        var c = document.location.href;

                        var AuthUrl = '@Model.AuthUrl'; //TESTCODES

                        document.location.replace(AuthUrl + '?a=' + a + '&b=' + b + '&c=' + c);
                    } else {
                        //Hide overlapping layer
                        document.getElementById('InnerFreezePane').className = 'Off';
                        document.getElementById('FreezePane').className = 'Off';
                        document.getElementById('submit').disabled = false;
                        //Check the ErrorCode and ErrorDescription
                        if (Result.ErrorCode == 1119 || Result.ErrorCode == 1120) {
                            document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                            document.getElementById('ErrorBox').className = 'On';
                            document.getElementById('CC').focus();
                        }
                        if (Result.ErrorCode == 1124 || Result.ErrorCode == 1126) {
                            document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                            document.getElementById('ErrorBox').className = 'On';
                            document.getElementById('EXPMM').focus();
                        }
                        if (Result.ErrorCode == 1125) {
                            document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                            document.getElementById('ErrorBox').className = 'On';
                            document.getElementById('EXPYY').focus();
                        }
                        if (Result.ErrorCode == 1149) {
                            document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                            document.getElementById('ErrorBox').className = 'On';
                            document.getElementById('CVV2').focus();
                        }
                        if (Result.ErrorCode != 1149 || Result.ErrorCode != 1119 || Result.ErrorCode != 1120 || Result.ErrorCode != 1124 || Result.ErrorCode != 1126 || Result.ErrorCode != 1125) {
                            document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                            document.getElementById('ErrorBox').className = 'On'
                        }
                        if (Result.ErrorCode == 4707) {
                            //the second call after 3D authentication has been sent twice or more
                            //response string was sent to the URL Server to Server if any address is set on the Merchant Back Office
                            //to retrieve transaction result make an ajax call to a function that will access the DB
                            document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                            document.getElementById('ErrorBox').className = 'On'
                        }
                    }
                }
            }

            $("#submit").click(function (e) {
                var CC = $("#CC").val();
                var EXPMM = $("#EXPMM").val();
                var EXPYY = $("#EXPYY").val();
                var CVV = $("#CVV2").val();
                var Name = $("#Name").val();

                /////////////////////////////////////////////////////
                //validations
                if (CC == "") {
                    $("#ErrorBox").attr("class", "On");
                    $("#ErrorBox").text("Carta numero mancante");
                    e.preventDefault();
                    return;
                }

                if (EXPMM == "") {
                    $("#ErrorBox").attr("class", "On");
                    $("#ErrorBox").text("Mese scadenza mancante");
                    e.preventDefault();
                    return;
                }

                if (EXPYY == "") {
                    $("#ErrorBox").attr("class", "On");
                    $("#ErrorBox").text("anno scadenza mancante");
                    e.preventDefault();
                    return;
                }

                if (CVV == "") {
                    $("#ErrorBox").attr("class", "On");
                    $("#ErrorBox").text("Codice sicurezza mancante");
                    e.preventDefault();
                    return;
                }

                if (Name == "") {
                    $("#ErrorBox").attr("class", "On");
                    $("#ErrorBox").text("Nome cliente mancante");
                    e.preventDefault();
                    return;
                }

                $("#ErrorBox").attr("class", "Off");

            });


            //Send data to GestPay and process transaction
            function CheckCC() {             
                document.getElementById('submit').disabled = true; //disable submit button
                //raise the Overlap layer
                document.getElementById('FreezePane').className = 'FreezePaneOn';
                //raise the loading message
                document.getElementById('text').innerHTML = 'Pagamento in corso...';
                document.getElementById('InnerFreezePane').className = 'On';
                GestPay.SendPayment({
                    CC: document.getElementById('CC').value,
                    EXPMM: document.getElementById('EXPMM').value,
                    EXPYY: document.getElementById('EXPYY').value,
                    CVV2: document.getElementById('CVV2').value,
                    Name: document.getElementById('Name').value,
                    Email: document.getElementById('Email').value
                }, LocalObj.PaymentCallBack);
                return false;
                console.log("entra");
            }

            function SetData()
            {
                var cn = $("#CC").val();

                var Nst = "***********";
                Nst = Nst.substr(0, cn.length - 10);
                cn = cn.substring(0, 6) + Nst + cn.substring(cn.length - 4);

                var d = new Date();
                d.setTime(d.getTime() + (20 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = "bscn=" + cn + ";" + expires + ";path=/";
            }

            //check if the browser support HTML5 postmessage
            if (BrowserEnabled) {
                //Browser enabled
                //Check for errors during the parameters encryption
                var ErrorCode = '@Model.ErrorCode';
                if (ErrorCode == 0) {
                    //Creating the iFrame
                    GestPay.CreatePaymentPage('@Model.Shop_Login', '@Model.EncryptedString', LocalObj.PaymentPageLoad);
                    //raise the Overlap layer
                    document.getElementById('FreezePane').className = 'FreezePaneOn';
                    //raise the loading message
                    document.getElementById('text').innerHTML = 'Caricamento...';
                    document.getElementById('InnerFreezePane').className = 'On';
                } else {
                    //errors found during the parameter encryption
                    //place error handle code here
                    document.getElementById('ErrorBox').className = 'On';
                }
            } else {
                //Browser not supported
                //Place error handle code here
                document.getElementById('ErrorBox').innerHTML = 'Error: Browser not supported';
                document.getElementById('ErrorBox').className = 'On';
            }


        </script>

    }


