﻿@model Core.Shops
@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Shopping Cart";
    string Prodotto = ViewBag.Prodotto;
    Core.TicketOptions Options = ViewBag.Options;

    string offset = "20%;";

    if (Prodotto == "abbonamento")
    {
        offset = "30%;";
    }

    if (Prodotto == "ticket" && ViewBag.IdGroup !="")
    {
        offset = "30%;";
    }

    if (!string.IsNullOrEmpty(ViewBag.FamilyPack) )
    {
        offset = "30%;";
    }
  
}

<style>
    @@media only screen and (max-width : 310px) {
        .arred {
            display: none;
        }
    }
</style>

<div class="AperturaText">
    <div class="container">
        <div class="row">
            <div id="divsteps" class="col-sm-10 col-sm-offset-1">

                    <h3 id="shoptitle">@ViewBag.shoptitle</h3>
                    <h5 id="shopdescription" style="margin: 0;">@ViewBag.shopdescription</h5>
                    @if (ViewBag.Prodotto == "ticket" && ViewBag.IdGroup == "")
                    {
                        if (string.IsNullOrEmpty(ViewBag.FamilyPack))
                        {
                            <h5 style="margin: 0;">GARANZIA "DIAMOCI UNA MANO COVID" - PREZZI INVARIATI DAL 2019</h5>
                        }
                    }
                    <h5 style="margin: 0;">@ViewBag.shopcomment</h5>
                    <div id="BuySteps">
                        @if (ViewBag.IdGroup == "")
                        {
                            <nav class="form-steps" style="margin-left: @offset">
                                <div class="form-steps_item form-steps_item-completed">
                                    <div class="form-steps_item-content">
                                        <span class="form-steps_item-lineshort"></span>
                                        <span id="step1" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                        <span class="form-steps_item-text">@ViewBag.Scegli</span>
                                    </div>
                                </div>


                                @if (ViewBag.Prodotto != "abbonamento" && ViewBag.IdGroup == "")
                                {
                                    if (string.IsNullOrEmpty(ViewBag.FamilyPack))
                                    {
                                        <div class="form-steps_item form-steps_item-completed">
                                            <div class="form-steps_item-content">
                                                <span class="form-steps_item-line"></span>

                                                <span id="step2" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                                <span class="form-steps_item-text">Scegli il tuo pranzo</span>
                                            </div>
                                        </div>
                                    }
                                }

                                <div class="form-steps_item form-steps_item-active">
                                    <div class="form-steps_item-content">
                                        <span class="form-steps_item-icon"></span>
                                        <span class="form-steps_item-line"></span>
                                        <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                                        <span class="form-steps_item-lineshort"></span>
                                    </div>
                                </div>
                            </nav>
                        }
                        <span class="sectext visible-sm visible-xs">Reipilogo dell'acquisto</span>
                    </div>
                </div>
            </div>
        </div>
</div>

<div id="empty" class="container" style="border: 1px solid black;">
    <div class="row" style="background-color: darkblue; border: 1px solid black;">
        <div class="col-md-12">
            <h4 style="color: white;">Il tuo carrello è vuoto</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

    <div id="summary" class="container" style="font-family: Muli;">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="detailsBoxShop">
                        <div class="headDetailsShop">
                            <div class="row">
                                @if (Model.ShoppingStateHotel.DayArrive == "hotel")
                            {
                                    <div class="col-sm-9 col-xs-8">
                                        <h5>Descrizione</h5>
                                    </div>

                                    <div class="col-sm-1 col-xs-4">
                                        <h5>Totale</h5>
                                    </div>

                                    <div class="col-sm-2 hidden-xs"></div>
                                }
                                else
                                {
                                    <div class="col-sm-5 col-xs-8">
                                        <h5>Descrizione</h5>
                                    </div>
                                    <div class="col-sm-2 hidden-xs">
                                        <h5>Prezzo</h5>
                                    </div>
                                    <div class="col-sm-2 hidden-xs">
                                        <h5>Quantità</h5>
                                    </div>
                                    <div class="col-sm-1 col-xs-4">
                                        <h5>Totale</h5>
                                    </div>
                                    <div class="col-sm-1 hidden-xs"></div>
                                }

                            </div>
                        </div>
                        <div class="bodyDetailsShop">
                            <div class="row">
                                <div id="pricesummary" style="text-align: left;">
                                    <div class="col-xs-9 col-sm-5 col-md-9" style="display: inline; vertical-align: middle;">
                                        <h4 style='display: inline; color: red'>&nbsp;@ViewBag.Dicitura</h4>
                                    </div>
                                </div>
                            </div>
                            <!--////////////////////////////////////////-->
                            <!--shopping cart ticket plus hotel-->
                            <div class="row">
                                <div id="SCHotellist" class="col-md-12" style="margin: 14px;">
                                    <!--created dynamically-->
                                </div>
                            </div>

                            <div class="row">
                                <div id="SCroomlist" class="col-md-12">
                                    <!--created dynamically-->
                                </div>
                            </div>
                            <!--////////////////////////////////////////-->
                            <!--shopping cart ticket-->
                            <div class="row">
                                <div id="SCticketlist" class="col-md-12">
                                    <!--created dynamically-->
                                </div>
                            </div>
                            <div class="row">
                                <div id="SCmenulist" class="col-md-12">
                                    <!--created dynamically-->
                                </div>
                            </div>
                            <div class="row">
                                <div id="SCanimallist" class="col-md-12">
                                    <!--created dynamically-->
                                </div>
                            </div>
                            <div class="row">
                                <div id="SCactivitylist" class="col-md-12">
                                    <!--created dynamically-->
                                </div>
                            </div>

                            <!-- shoppin cart subscriptions-->
                            <div class="row">
                                <div id="SCsublist" class="col-md-12">
                                    <!--created dynamically-->
                                </div>
                            </div>
                            <!--////////////////////////////////////////-->
                        </div>
                    </div>
                    <br />
                    <div id="pulsanti" class="row" style="font-family: Muli;margin-bottom:30px;">
                        <div class="col-md-6" style="font-family: Muli;">
                            <h3 style="color: #0095d4">FORMA DI PAGAMENTO</h3>
                            <h4 style="color: #d51f3b;">Sei ad un passo dal finire</h4>
                            @*<h4 style="color: #204f66;">Scegli tra le opzioni più adatte a te:</h4>*@
                            <h3>&nbsp;</h3>
                            <img src="~/Content/images/home/Verisign.png" />
                        </div>
                        <div class="col-md-6">
                            <div id="PaymentOptions" style="font-family: Muli; display:none;background-color: #f8f8f8; border-radius:8px">
                                <a id="CarteCredito" href="#" title="Carte di credito" style="padding:10px;display:block;">
                                    <img src="~/Content/images/home/CarteCredito.png" style="display: inline;" />
                                    <h4 style="font-family: Hiruko Pro; display: inline;">&nbsp;Carte Credito</h4>
                                    <img class="arred" style="float: right;" src="~/Content/images/home/freccia.png" />
                                </a>
                                <div id="DivCarteCredito" style="display: none; background-color: #efefef;padding:10px;">
                                    <img src="~/Images/CartaCreditoBancaSella.png" />
                                </div>

                                @*<a id="AssTel" href="#" title="Assistenza Telefonica" style="padding:10px;display:block;">
                                    <img src="~/Content/images/home/AssTel.png" style="display: inline;" />
                                    <h4 style="font-family: Hiruko Pro; display: inline;">&nbsp;Assistenza telefonica</h4>
                                    <img style="float: right;" src="~/Content/images/home/freccia.png" />
                                </a>
                                <div id="DivAssTel" style="font-family: Hiruko Pro; display: none; background-color: #efefef;padding:10px;">
                                    <h5>Non sei un grado di effettuare il pagamento?</h5>
                                    <h5>Clicca su Procedi per confermare la prenotazione. Riceverai via mail il n. di acquisto</h5>
                                    <h5>Poi telefona ad un nostro operatore allo <b>0693154</b> dando il n. di acquisto</h5>
                                    <h5>Con la tua carta di credito a portata di mano verrai assistito nel pagamento</h5>
                                </div>*@




                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-3">
                    <!--total-->
                    <div class="make_static">
                        <div class="divtotal " id="DivTotal">
                            <h2>Totale:</h2>
                            <h3>
                                €&nbsp;<label id="TotPrice"></label>
                            </h3>
                            <button type="button" id="BtnIndietro" class="btn btn-red" data-loading-text="<i class='fa fa-spinner fa-spin '></i> INDIETRO "><i class="fa fa-chevron-left" aria-hidden="true"></i> INDIETRO</button>
                            <button type="button" id="BtnProcedi" class="btn btn-green" style="visibility: hidden" data-loading-text="<i class='fa fa-spinner fa-spin '></i> PROCEDI ">PROCEDI <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>




    <!--modal windows-->

    <!--error messages-->
    <div class="warning">
        <div id="alert_placeholder2">
        </div>
    </div>

    <!--loader-->
    <div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:100px;">
            <div class="modal-content">
                <div class="modal-body">
                    <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="~/Scripts/ShopVariables.js?@rec"></script>
        <script src="~/Scripts/ShoppingCart.js?@rec"></script>
        <script type="text/javascript">

            
            var IdGroup = '@ViewBag.IdGroup';
            Prodotto = '@Prodotto';

            HideShopping();

             //////////////////////////////////////////
            //ticket
            if (Prodotto == "ticket")
            {


                ////////////////////////////////////////////
                //SHOPPING CART included in shoppingcart.js

                var Day = "";
                var SubAniIndex, SubAniQuantLinear;
                var ArrFinish;

                $(document).change(function() {
                    AlertClose();
                });


                $(document).ready(function () {
                    ///////////////////////////////////
                    FamilyPack = '@ViewBag.FamilyPack';
                    FamilyTitle = '@ViewBag.FamilyTitle';
                    @*FamilyDescription = '@ViewBag.FamilyDescription';*@
                    FamilyDescription ='Pacchetto famiglia';

                    LogUser = '@ViewBag.TipoOperatore';
                    AcquistoId = '@ViewBag.AcquistoId';
                    ManageAcquistoId();

                    //keep the state
                    //$("#summary").hide();

                    //$('#loader').modal('show');
                    $("#ajaxBusy").fadeIn(300);
                    Day = '@Model.ShoppingState.DayNow';
                    DiscountCode = '@Model.ShoppingState.DiscountCode';
                    TotPrice = '@Model.ShoppingState.Price';

                    var DataOggi = '@ViewBag.DataOggi';


                    if (Day != "") {


                        $("#PaymentOptions").show();
                        $("#empty").hide();

                        $("#datascelta").val(Day);
                        Inizializza(Day);
                    }
                    else
                    {
                        //get all info by cookies
                        Day = getCookie("Day");
                        $("#DayNow").text(Day);

                        if (Day != "")
                        {
                            $("#PaymentOptions").show();
                            InizializzaCookie(Day);
                        }
                        else
                        {
                            //empty
                            //$('#loader').modal('hide');
                            $("#ajaxBusy").fadeOut(300);
                            $("#summary").hide();
                            $("#pulsanti").hide();
                        }

                    }

                    //bonifico entro 6 giorni
                    Bonif = ManageBonifico(Day, DataOggi);



                });

                $("#BtnIndietro").click(function () {
                    var $this = $(this);
                    $this.button('loading');
                    //setTimeout(function() {
                    //    $this.button('reset');
                    //}, 10000);

                    Acquisizione();
                    GetOptionList();
                    GetShoppingList();


                    if (FamilyPack != "") {
                        window.location.href = "/Acquisto/Packs?scelta=" + FamilyPack;
                        return false;
                    }
                    
                    if (IdGroup != "") {
                        //groups
                        window.location.href = "/Acquisto/Gruppi";
                    }
                    else
                    {             
                        //tickets
                        window.location.href = "/Acquisto/BuyMenu";
                    }

                });


                function InizializzaCookie(Day)
                {

                    $("#VisitDate").text(Day);
                    $("#empty").hide();

                    ticket = JSON.parse(getCookie("ticket"));

                    Quantity = JSON.parse(getCookie("Quantity"));


                    ReadCookieOptions();

                    ////////////////////////////////////////
                    GetCookieBuyer();
                    FillBuyer();

                    RiempiTicketSC();

                }


                function Inizializza(Day) {
                    DeleteAllCookies();

                    LoadFromModel(@Html.Raw(Json.Encode(Model.ShoppingState)));
                    LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingState.Buyer)));
                    TotPrice = '@Model.ShoppingState.Price';

                    //write
                    setCookie("Day", Day);
                    setCookie("DiscountCode", DiscountCode);
                    setCookie("ticket", JSON.stringify(ticket));


                    SetCookieBuyer();
                    GetBuyer();

                    //RiempiSC();
                    RiempiTicketSC();

                }

                function RiempiTicketSC()
                {
                    //riempimento ticket
                    LoopCreationSC();

                    SubAniIndex = 0;
                    var SubAniQuant= @Html.Raw(Json.Encode(Model.ShoppingState.TckOptions.SubAniQuantitities)) +'';
                    SubAniQuantLinear = SubAniQuant.split(","); //linear array

                    RiempiAnimalSC();
                }


                //ticket when finished
                function Finish()
                {
                    if (@Model.ShoppingState.ntck > 0)
                    {
                        ReloadSubAniQuantity();
                    }
                    else
                    {
                        //were reset from getsubanimalprices
                        SubAniQuantity = JSON.parse(getCookie("SubAniQuantity"));
                    }

                    setCookie("Quantity", JSON.stringify(Quantity));


                    SetCookieOptions();

                    FillAllSC();

                    $("#TotPrice").text(FormatMoney(TotPrice));


                    $("#summary").show();


                    ShowShopping();
                    $("#ajaxBusy").fadeOut(300);
                }

                function SubTotPrezzo()
                {
                    //dummy

                }

            }

            /////////////////////////////////////////////////
            //hotel
            if (Prodotto == "hotel")
            {
                var Bonif = true;

                ////////////////////////////////////////////
                //SHOPPING CART hotel included in shoppingcart.js

                $(document).ready(function () {
                    ///////////////////////////////////
                    LogUser = '@ViewBag.TipoOperatore';
                    AcquistoId = '@ViewBag.AcquistoId';

                    ManageAcquistoId();

                    //keep the state
                    $("#divdatascelta").css("visibility","hidden");
                    $("#summary").hide();

                    //$('#loader').modal('show');
                    $("#ajaxBusy").fadeIn(300);

                    Rooms = [];

                    var DataOggi = '@ViewBag.DataOggi';

                    HotelId = '@Model.ShoppingStateHotel.Hotel';
                    HotelPrice = '@Model.ShoppingStateHotel.HotelPrice';
                    HotelPriceId = '@Model.ShoppingStateHotel.HotelPriceId';
                    DayArrive = '@Model.ShoppingStateHotel.DayArrive';
                    DayDeparture = '@Model.ShoppingStateHotel.DayDeparture';
                    AssicPrice = Number('@ViewBag.PrezzoAssicurazione');
                    NavPrice = Number('@ViewBag.PrezzoNavetta');
                    AssicCambioData = '@Model.ShoppingStateHotel.AssicCambioData';
                    ServizioNavetta = '@Model.ShoppingStateHotel.ServizioNavetta';
                    TotPrice = '@Model.ShoppingStateHotel.Price';
                    @*hotDes = '@Model.ShoppingStateHotel.HotelDescription';*@
                    hotDes = 'Parco + Hotel';
                    Nrooms = '@Model.ShoppingStateHotel.Nrooms';
                    adults = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NAdults));
                    kids = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKids));
                    kidsfree = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKidsfree));

                    RoomsAndTotHotel();

                    LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingStateHotel.Buyer)));

                    GetBuyer();


                    if (DayArrive != "") {
                        $("#PaymentOptions").show();
                        $("#empty").hide();

                        $("#DayArrive").text(DayArrive);
                        $("#DayDeparture").text(DayDeparture);

                        InizializzaHotel();
                    }
                    else
                    {
                        //get all info by cookies

                        DayArrive = getCookie("DayArrive");
                        DayDeparture = getCookie("DayDeparture");

                        if (DayArrive != "")
                        {
                            $("#PaymentOptions").show();
                            $("#DayArrive").text(DayArrive);
                            $("#DayDeparture").text(DayDeparture);

                            InizializzaHotelCookie();
                        }
                        else
                        {
                            //empty
                            //$('#loader').modal('hide');
                            $("#ajaxBusy").fadeOut(300);
                            $("#summary").hide();
                            $("#pulsanti").hide();
                        }

                    }

                    //bonifico entro 6 giorni
                    Bonif = ManageBonifico(DayArrive, DataOggi);


                });


                function Riempimento()
                {
                    //riempimento hotel

                    LoopCreationSC();

                    RiempiAnimalSC();
                }

                //hotel when finished
                function Finish()
                {

                    var SubAniQuant;
                    TckPrices = @Html.Raw(Json.Encode(Model.ShoppingState.TckPrices));
                    Quantity = @Html.Raw(Json.Encode(Model.ShoppingState.TckQuantitities));
                    AniQuantity = @Html.Raw(Json.Encode(Options.AniQuantitities));

                    ActQuantity = @Html.Raw(Json.Encode(Options.ActQuantitities));
                    MnuQuantity = @Html.Raw(Json.Encode(Options.MnuQuantitities));
                    SubAniQuant = @Html.Raw(Json.Encode(Options.SubAniQuantitities)) + '';

                    SubAniQuantLinear = SubAniQuant.split(","); //linear array


                    ReloadSubAniQuantity();

                    
                   
                    FillAllSC();
                    TotPrezzo();

                    SetCookieOptions();


                    ShowShopping();
                    $("#ajaxBusy").fadeOut(300);
                }

                function InizializzaHotelCookie()
                {

                    $("#empty").hide();

                    DayArrive = getCookie("DayArrive");
                    DayDeparture = getCookie("DayDeparture");
                    Nrooms = getCookie("Nrooms");
                    HotelId = getCookie("HotelId");
                    hotDes = getCookie("HotelDescription");

                    adults = JSON.parse(getCookie("adults"));
                    kids = JSON.parse(getCookie("kids"));
                    kidsfree = JSON.parse(getCookie("kidsfree"));

                    ReadCookieOptions();

                    GetCookieBuyer();
                    FillBuyer();

                    var htm = HotelSec;
                    $("#SCHotellist").append(htm);

                    $("#hotdes").text(decodeHTML(hotDes));
                    $("#numcams").text(Nrooms);

                    for (var i=0; i < Nrooms; i++)
                    {
                        htm = Roomsec;

                        htm = htm.replace(cam, cam + i);
                        htm = htm.replace(ncam, ncam + i);
                        htm = htm.replace(nadu, nadu + i);
                        htm = htm.replace(nkid, nkid + i);
                        htm = htm.replace(nkidf, nkidf +i);

                        $("#SCroomlist").append(htm);
                    }

                    for (var i=0; i < Nrooms; i++)
                    {
                        $("#" + ncam + i).text(i + 1);
                        $("#" + nadu + i).text(adults[i]);
                        $("#" + nkid + i).text(kids[i]);
                        $("#" + nkidf + i).text(kidsfree[i]);
                    }


                    $("#TotPrice").text(FormatMoney(TotPrice));

                    $$("#summary").show();
                    //$('#loader').modal('hide');
                    $("#ajaxBusy").fadeOut(300);

                }

                $("#BtnIndietro").click(function () {
                    Acquisizione();
                    GetOptionList();
                    GetShoppingListHotel();

                    URL = "/Acquisto/GetShoppingHotel";

                    var promise = $.post(URL, ShoppingList);

                    promise.done(function (data) {
                        //window.location.href = "/Acquisto/Buyactivity";
                        window.location.href = "/Acquisto/BuyMenu";
                    });

                    promise.fail(function (err) { console.log("error promise: " + URL); });

                });


                function SubTotPrezzo()
                {
                    //dummy

                }

            }

            ////////////////////////////////////////////
            //Subscriptions
            if (Prodotto == "abbonamento")
            {

                //SHOPPING CART subsciptions included in shoppingcart.js

                $(document).ready(function () {
                    LogUser = '@ViewBag.TipoOperatore';
                    AcquistoId = '@ViewBag.AcquistoId';

                    ManageAcquistoId();


                    $("#divdatascelta").css("visibility","hidden");

                    $("#empty").hide();
                    $("#summary").hide();

                    //$('#loader').modal('show');
                    $("#ajaxBusy").fadeIn(300);


                    Description = [];
                    Quantity = [];

                    //keep the state
                    TotPrice = '@Model.ShoppingStateSubscriptions.TotPrice';
                    nsub = @Model.ShoppingStateSubscriptions.Nsub;
                    SubscriptionId = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Id));
                    Description = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Description));
                    Price = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Price));
                    Quantity = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Quantitities));
                    Names = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.SubscriberName));
                    Surnames = @Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.SubscriberSurname));
                    LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingStateSubscriptions.Buyer)));

                    if (TotPrice != "0") {
                        $("#PaymentOptions").show();
                        InizializzaSubscription();

                        ShowShopping();
                        $("#ajaxBusy").fadeOut(300);
                    }
                    else
                    {
                        $("#PaymentOptions").show();
                        InizializzaSubscriptionCookie();
                    }

                });


                function InizializzasubScriptionCookie()
                {

                    GetCookieBuyer();
                    FillBuyer();

                    $("#summary").show();

                    $("#TotPrice").text(FormatMoney(TotPrice));
                    //$('#loader').modal('hide');
                    $("#ajaxBusy").fadeOut(300);
                }


                $("#BtnIndietro").click(function () {

                    var URL = "/Acquisto/BacktoSubscriptions";

                    GetShoppingListSubscription();
                        
                    var promise = $.post(URL, ShoppingList);

                    promise.done(function (data) {
                        window.location.href =  data;
                    });

                  
                    promise.fail(function (err) { console.log("error promise: " + URL); });
                });


            }



            ////////////////////////////////////////////////////////////////////////////
            //common
            var InfoBuyer;
            var Scelta = "";


            $(document).on('click', "#BtnProcedi", function () {
                var $this = $(this);
                $this.button('loading');
                if (Scelta != "")
                {
                    EseguiCheckout(Scelta);
                }

            });



            $("#AssTel").click(function(e){
                e.preventDefault();
                AlertCenterClose();
                if (VerificaCliente != '')
                {
                    return;
                }


                $("#DivCarteCredito").slideUp();
                $("#DivAltreCarte").slideUp();
                $("#DivBonifico").slideUp();
                $("#DivAssTel").slideToggle("slow");

                if (Scelta == "AssTel")
                {
                    $("#BtnProcedi").css("visibility","hidden");
                    Scelta = "";
                }
                else
                {
                    $("#BtnProcedi").css("visibility","visible");
                    Scelta = "AssTel";
                }

                //EseguiCheckout(Scelta);

            })



            $('#alert_placeholder2').click(function(){
                AlertCenterClose();
            })

            $("#Bonifico").click(function(e){
                e.preventDefault();

                if (VerificaCliente != ''){
                    return;
                }

                if (Bonif == false){
                    AlertCenter("Bonifico bancario non disponibile");
                    return;
                }

                $("#DivCarteCredito").slideUp();
                $("#DivAltreCarte").slideUp();
                $("#DivAssTel").slideUp();
                $("#DivBonifico").slideToggle("slow");

                if (Scelta == "Bonifico")
                {
                    $("#BtnProcedi").css("visibility","hidden");
                    Scelta = "";
                }
                else
                {
                    $("#BtnProcedi").css("visibility","visible");
                    Scelta = "Bonifico";
                }

            })

            $("#CarteCredito").click(function(e){
                e.preventDefault();

                AlertCenterClose();

                if (VerificaCliente != '')
                {
                    return;
                }

                $("#DivAltreCarte").slideUp();
                $("#DivAssTel").slideUp();
                $("#DivBonifico").slideUp();
                $("#DivCarteCredito").slideToggle("slow");

                if (Scelta == "CarteCredito")
                {
                    $("#BtnProcedi").css("visibility","hidden");
                    Scelta = "";
                }
                else
                {
                    $("#BtnProcedi").css("visibility","visible");
                    Scelta = "CarteCredito";
                }

            })

            $("#AltreCarte").click(function(e){
                e.preventDefault();

                AlertCenterClose();

                if (VerificaCliente != '')
                {
                    return;
                }


                $("#DivCarteCredito").slideUp();
                $("#DivAssTel").slideUp();
                $("#DivBonifico").slideUp();
                $("#DivAltreCarte").slideToggle("slow");

                if (Scelta == "AltreCarte")
                {
                    $("#BtnProcedi").css("visibility","hidden");
                    Scelta = "";
                }
                else
                {
                    $("#BtnProcedi").css("visibility","visible");
                    Scelta = "AltreCarte";
                }

            })

            function ManageBonifico(DayArr, DataOggi)
            {
                //bank transfer at least 6 days before arrival
                var Entr = ConvertDate(DayArr);
                var Tod = ConvertDate(DataOggi);

                Tod.setDate(Tod.getDate() + 7);

                if (Entr < Tod){
                    //$("#Bonifico").css("display","none");
                    //$("#Bonifico").attr("title","BONIFICO BANCARIO NON DISPONIBILE");

                    return false;
                }

                return true;
            }


            function EseguiCheckout(Scelta)
            {

                Acquisizione();
                GetOptionList();

                if (Prodotto == "ticket" || Prodotto == null) {
                    GetShoppingList();
                    URL = "/Acquisto/GetShopping";
                }


                if (Prodotto == "hotel")

                {
                    GetShoppingListHotel();
                    URL = "/Acquisto/GetShoppingHotel";
                }

                if (Prodotto == "abbonamento")
                {
                    GetShoppingListSubscription();
                    URL = "/Acquisto/GetShoppingSubscription";

                }


                var Info = {Shopping: ShoppingList};
                var promise = $.post(URL, Info);

                var ConnMsg = "CONNESSIONE NON DISPONIBILE, RIPROVARE PIU' TARDI";
                promise.done(function (data) {
                    if (Scelta == "CarteCredito")
                    {
                        //test connections
                        URL = "/Acquisto/TestBank";
                        var promiseB = $.post(URL);

                        promiseB.done(function (data) {

                            if(data == "KO")
                            {
                                AlertCenter(ConnMsg);

                                $("#BtnProcedi").remove();
                                            //<button type="button" id="BtnProcedi" class="btn btn-green" style="visibility: hidden" data-loading-text="<i class='fa fa-spinner fa-spin '></i> PROCEDI ">PROCEDI <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                var htmBtn = '<button type="button" id="BtnProcedi" class="btn btn-green" style="visibility: hidden" data-loading-text="<i class=\'fa fa-spinner fa-spin \'></i> PROCEDI ">PROCEDI <i class="fa fa-chevron-right" aria-hidden="true"></i></button>';
                                $("#BtnIndietro").after(htmBtn);


                                return;
                            }
                            else
                            {
                                window.location.href = "../Checkout/" + Scelta;
                            }

                        });

                    }
                    else
                    {
                        window.location.href = "../Checkout/" + Scelta;
                    }

                });

                promise.fail(function (err) { console.log("error promise: " + URL); });

            }

            LogUser = '@ViewBag.TipoOperatore';
            Svincolato = '@ViewBag.Svincolato';
            VerificaCliente = '@ViewBag.VerificaCliente';
            FunzioniOperatore();


            if (VerificaCliente != '')
            {
                NoDelButtons();
                if (Prodotto == "abbonamento")
                {
                    $("#BtnIndietro").css("visibility","hidden");
                }

            }

            if ('@Model.ShoppingState.DayNow' == '' && '@Model.ShoppingStateHotel.DayArrive' == '' && '@Model.ShoppingStateSubscriptions.TotPrice' == '0')
            {
                //shopping cart empty
                $("#Buyer").hide();
                $("#summary").hide();
                $("#pulsanti").hide();
                $("#BtnIndietro").hide();
                $("#BuySteps").hide();
                $("#TotPrice").text("0");
            }


        </script>
    }



