﻿@model Core.ShoppingStateSubscriptions

@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Acquisto abbonamento";
}


@Html.Partial("~/Views/Shared/Banner.cshtml")

<div class="AperturaText">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>ABBONAMENTO</h3>
                <h5>Abbonarti ad Acquajoss conviene!! Visiti il Parco ogni volta che vuoi per tutta la stagione 2021.</h5>

                <nav class="form-steps" style="margin-left: 30%;">
                    <div class="form-steps_item form-steps_item-active">
                        <div class="form-steps_item-content">
                            <a class="form-steps_item-lineshort"></a>
                            <span id="step1" class="form-steps_item-icon"><small class=""></small></span>
                            <span class="form-steps_item-text">Scegli l'abbonamento</span>
                        </div>
                    </div>

                    <div class="form-steps_item">
                        <div class="form-steps_item-content">
                            <a class="form-steps_item-icon"></a>
                            <span class="form-steps_item-line"></span>
                            <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                            <span class="form-steps_item-lineshort"></span>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="summary"><!--sticky div reference--></div>

    <div class="row shopContent">

        <div class="col-md-3 infoshop hidden-sm hidden-xs">
            <h3>PREZZO <i class="fa fa-credit-card" aria-hidden="true"></i></h3>
            <p>Ad un piccolo prezzo Acquajoss tutte le volte che vuoi!</p>
            <h3>TEMPO <i class="fa fa-clock-o" aria-hidden="true"></i></h3>
            <p>Eviterai la coda in biglietteria</p>
            <h3>SICUREZZA <i class="fa fa-check" aria-hidden="true"></i></h3>
            <p>Pagamenti sicuri al 100%</p>
            <h4>HAI BISOGNO DI AIUTO? </h4>
            <a class="faqscontacti btn-bluezoom" href="@Url.Action("domandeFrequenti", "Home")" target="_blank"> DOMANDE FREQUENTI</a>
        </div>

        <div class="col-md-6 col-sm-9">

            @*<div class="row" style="text-align: center;">
                <img src="~/Images/abbonamenti.jpg?rec='@rec'" height:"100%" width:"100%" />
            </div>*@

            <div class="row" id="Subscriptions" style="font-family: Hiruko Pro;">
                <!--section created dynamically-->
            </div>


            <div class="row btn-sm" id="names">
                <!--section created dynamically-->
            </div>

            <div class="row img-rounded" style="margin: 22px; background-color: white;">

                <div id="procedi" class="row" style="display:none;">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-2">
                        <div id="pricesummary" class="btn-lg" style="text-align: right;">

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-sm-3">
            <!--total-->
            <div class="make_static">
                <div class="divtotal" id="DivTotal">
                    <h2>Totale:</h2>
                    <h3>
                        €&nbsp;<label id="TotPrice"></label>
                    </h3>
                </div>

            </div>

          
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Buyer.cshtml")

    <div class="row btn-lg" style="text-align: right; font-family: Hiruko Pro;">
        <button type="button" id="BtnProcedi" class="btn btn-success shad">PROCEDI ></button>
    </div>    

</div>

<!--modal windows-->

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>

@section Scripts {
<script src="~/Scripts/ShoppingCart.js?rec='@rec'"></script>
<script src="~/Scripts/ShopVariables.js?rec='@rec'"></script>
<script type="text/javascript">
    var TotPrice = 0;
    var TotNames = 0;

    var nsub;
    var Description;
    var BoxInfo;
    var BasePrice;
    var Price;
    var Quantity;
    var Names;
    var Surnames;

    var Subscriptions = [];

    //dynamic Subscriptions section
    var phabb = "SubNumber_";
    var phdes = "SubDescription_";
    var phbox = "SubBox_";
    var phbpr = "SubBasePrice_";
    var phprc = "SubPrice_";
    var phqua = "SubQuantity_";
    var phlin = "SubLine_";

    var SubSec = '<div class="btn-lg col-md-12">';
    SubSec += '<div id="' + phabb + '" style="background-color: white; border: 1px solid black;padding:10px;border-radius:10px;">';
    SubSec += '<div><h3 style="text-decoration: underline; color: #db0730;margin-top:0px;" id="' + phdes + '">&nbsp;</h3></div>';
    SubSec += '<div><h4 style="color: #41697d" id="' + phbox + '">&nbsp;</h4></div>';
    SubSec +='<div class="row">';
    SubSec +='<div class="col-sm-4 col-xs-3" style="display:inline;text-align:right;"><h3 style="color: #0095d4"><span class="strikediag" id="' + phbpr +'"></span></h3></div>';
    SubSec +='<div class="col-sm-4 col-xs-3"><div class="CirclePrice"><span style="margin-left: 0px; font-size: 24px; color: #fffd46" id="' + phprc + '"></span></div></div>';
    SubSec +='<div class="col-sm-4 col-xs-4" style="display:inline;">';
    //SubSec += '<div class="input-group"><h5 style="display: inline">Quantità</h5>';
    SubSec += '<div class="rail-select" style="margin-top: 18px;"><div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
    SubSec += '<select class="form-control" id="' + phqua + '" onchange="UpdateQuantity(this)" ></select></div>';
    SubSec +='</div></div>';
    SubSec += '<div>';
    SubSec += '<h4>INTESTA GLI ABBONAMENTI A:</h4>';
    SubSec += '<h6>&nbsp;&nbsp;&nbsp;Gli abbonamenti sono nominali e non possono essere ceduti a terzi</h6>';
    SubSec += '</div>';
    SubSec += '<div id="' + phlin + '"></div>';
    SubSec += '</div>';
    SubSec +='</div><div>&nbsp;</div>';


    //dynamic name Subscribers section
    var phsub ="SubscribNumber_";
    var phnam = "nome_";
    var phcog ="cognome_"

    var NameSec ='<div class="row" id="' + phsub + '">';
    NameSec +='<div class="col-md-5"><div class="form-group form-inline">';
    NameSec +='<h5>Nome:</h5>';
    NameSec +='<input type="text" maxlength=20 class="form-control round" id="' + phnam + '" onkeydown="return Letters(event)">';
    NameSec +='</div></div>';
    NameSec +='<div class="col-md-7"><div class="form-group form-inline">';
    NameSec +='<h5>Cognome:</h5>';
    NameSec +='<input type="text" maxlength=40 class="form-control round" id="' + phcog + '" onkeydown="return Letters(event)" style="width:100%;">';
    NameSec +='</div></div>';
    NameSec +='</div>';

    $(document).change(function() {
        AlertClose();
    });

    $(document).ready(function () {

        Prodotto = "abbonamento";
        LogUser = '@ViewBag.TipoOperatore';
        Svincolato = '@ViewBag.Svincolato';
        VerificaCliente = '@ViewBag.VerificaCliente';

        FunzioniOperatore();

        AcquistoId = '@ViewBag.AcquistoId';

        if (AcquistoId !="")
        {
            $("#Biglietto").css("display","none");
            $("#buyhotel").css("display","none");
            DeleteCookieBuyer();
            DeleteAllCookies();
        }

        ////////////////////////////////////////////////////////
        //buyer info
        LoadBuyer(@Html.Raw(Json.Encode(Model.Buyer)));
        GetBuyer();
        FillBuyer();

        TotPrice = '@Model.TotPrice';

        Inizializza();

        if (AcquistoId == "")
        {
            if (TotPrice == "" || TotPrice == "0")
            {
                GetCookieBuyer();
                FillBuyer();
            }
        }


    });


    function Inizializza()
    {
        nsub = @Model.Nsub;
        SubscriptionId = @Html.Raw(Json.Encode(Model.Id));
        Description = @Html.Raw(Json.Encode(Model.Description));
        BoxInfo = @Html.Raw(Json.Encode(Model.BoxInfo));
        BasePrice = @Html.Raw(Json.Encode(Model.BasePrice));
        Price = @Html.Raw(Json.Encode(Model.Price));
        Quantity = @Html.Raw(Json.Encode(Model.Quantitities));
        Names = @Html.Raw(Json.Encode(Model.SubscriberName));
        Surnames = @Html.Raw(Json.Encode(Model.SubscriberSurname));

        MakeSubscriptions(nsub);

        TotNames = 0;

        for (var i=0; i < nsub; i++)
        {
            sbpos = 0;

            if (Price[i] > 99)
            {
                $("#" + phprc + i).css( { marginLeft : "-5px"});
            }

            $("#" + phdes + i).text(Description[i]);
            $("#" + phbox + i).html(BoxInfo[i]);
            $("#" + phbpr + i).text(BasePrice[i]+ "€");
            $("#" + phprc + i).text(Price[i]+ "€");

            var nmax = 5;
            for (j = 0; j < nmax + 1; j++) {
                var tx = '...';
                if (j > 0) { tx = j }

                $('#' + phqua + i).append($('<option>', {
                    value: j, text: tx
                }));

            }

            var quant = Quantity[i];
            if(quant == null){quant = 0};

            TotNames += Number(quant);

            $("#" + phqua + i).val(quant);
        }

        TotNames = GetTotNames();


        MakeSubscribers(TotNames);

        for (var i=0; i < TotNames; i++)
        {
            $("#" + phnam + i).val(Names[i]);
            $("#" + phcog + i).val(Surnames[i]);
        }

        if (VerificaCliente != '')
        {
            SetCookieBuyer();
            ReadFieldsBuyer();
            GetBuyer();

            GetShoppingListSubscription();

            var URL = "/Acquisto/ShoppingCartSubscriptions";
            var promise = $.post(URL, ShoppingList);

            promise.done(function (data) {
                window.location.href =  data;
            });

            promise.fail(function (err) { console.log("error promise: " + URL); });
          
        }


        TotPrezzo();

    }

    function UpdateQuantity(e)
    {
        var name = e.id;
        var index = name.substring(name.indexOf("_") + 1);


        var quant = e.value;

        if (quant == 0)
        {
            $("#" + phlin + index).empty();
        }



        if (quant > Quantity[index])
        {
            for (var i = Quantity[index]; i < quant; i++)
            {
                var htm = NameSec;

                htm = htm.replace(phsub, phsub + index + "_" + i);
                htm = htm.replace(phnam, phnam + index + "_" + i);
                htm = htm.replace(phcog, phcog + index + "_" + i);
                $("#" + phlin + index).append(htm);
            }
        }
        else
        {

            for (var i = (Quantity[index] - 1);  i > (quant - 1); i--)
            {

                $("#" + phsub + index + "_" + i).remove();
            }

        }

        //no focus on IE:
        $("select").blur();

        TotPrezzo();
    }

    function MakeSubscriptions(nsub)
    {
        $("#Subscriptions").empty();

        for (var i=0; i < nsub; i++)
        {
            var htm = SubSec;
            htm = htm.replace(phabb, phabb + i);
            htm = htm.replace(phlin, phlin + i);
            htm = htm.replace(phdes, phdes + i);
            htm = htm.replace(phbox, phbox + i);
            htm = htm.replace(phbpr, phbpr + i);
            htm = htm.replace(phprc, phprc + i);
            htm = htm.replace(phqua, phqua + i);


            $("#Subscriptions").append(htm);
        }

    }

    function MakeSubscribers(Nnames)
    {

        var conta = 0;
        for (var i=0; i < nsub; i++)
        {

            var quant = $("#" + phqua + i).val();
            if (quant == null){quant = 0};

            $("#" + phlin + i).empty();

            for (var j=0; j < quant; j++)
            {
                var htm = NameSec;

                htm = htm.replace(phsub, phsub + i + "_" + j);
                htm = htm.replace(phnam, phnam + i + "_" + j);
                htm = htm.replace(phcog, phcog + i + "_" + j);
                $("#" + phlin + i).append(htm);

                $("#" + phnam + i + "_" + j).val(Names[conta]);
                $("#" + phcog + i + "_" + j).val(Surnames[conta]);
                conta++;
            }

        }

    }


    function GetTotNames()
    {
        var Tot = 0;

        for (var i=0; i < nsub; i++)
        {
            var quant = $("#" + phqua + i).val();
            if (quant == null){quant = 0};
            Tot += Number(quant);
        }

        return Tot;
    }


    function TotPrezzo()
    {
        TotPrice = 0;

        for (var i=0; i < nsub; i++)
        {
            var quant = $("#" + phqua + i).val();
            if (quant == null){quant = 0};

            TotPrice += Price[i] * quant;
            Quantity[i] = quant;
        }

        $("#TotPrice").text(FormatMoney(TotPrice));
        if (TotPrice > 0)
        {
            $("#procedi").show();
        }
        else
        {
            $("#procedi").hide();
        }

    }

    $("#RicFatt").click(function(){
        if ( $(this).prop("checked")  )
        {
            //$("#DatiFattura").css("visibility", "visible");
            $("#DatiFattura").slideDown("slow");
        }
        else
        {
            //$("#DatiFattura").css("visibility", "hidden");
            $("#DatiFattura").slideUp("slow");
        }
    })

    $("#BtnProcedi").click(function (e) {
        var msg =  ValidationsSubscription();

        if ( msg != "")
        {
            AlertShow(msg)
            return;
        }

        msg = ValidateBuyer();

        if ( msg != "")
        {
            e.preventDefault();
            AlertShow(msg);
            return;
        }
     
        SetCookieBuyer();
        ReadFieldsBuyer();
        GetBuyer();

        GetShoppingListSubscription();

        var URL = "/Acquisto/ShoppingCartSubscriptions";
        var promise = $.post(URL, ShoppingList);

        promise.done(function (data) {
            window.location.href =  data;
        });

        promise.fail(function (err) { console.log("error promise: " + URL); });

    });

    function ValidationsSubscription()
    {
        //subscribers acquisition
        var conta = 0;
        Names = [];
        Surnames = [];

        for (var i=0; i < nsub; i++)
        {

            var quant = $("#" + phqua + i).val();
            if (quant == null){quant = 0};

            for (var j=0; j < quant; j++)
            {

                Names[conta] = $("#" + phnam + i + "_" + j).val();
                Surnames[conta] = $("#" + phcog + i + "_" + j).val();
                conta++;
            }
        }

        TotNames = conta;

        if (TotNames == 0)
        {
            return "Inserire almeno un abbonato ";
        }

        for (var i=0; i < TotNames; i++)
        {
            if (Names[i].trim() == "")
            {
                return "Nome abbonato obbligatorio";

            }

            if (Surnames[i].trim() == "")
            {
                return "Cognome abbonato obbligatorio";
            }
        }

        return "";
    }


</script>

}




