﻿@model Core.ShoppingState

@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Acquisto Biglietto";

}

@*@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")*@

<div class="buyApertura">
    <div class="AperturaText">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>@ViewBag.shopdescription</h3>
                    @{if (ViewBag.Option != 3 && ViewBag.Option != 4)
                        {
                            <h5><span>Prima acquisti meno spendi!</span> Scegli tu la data in cui ti conviene venire a Zoomarine e RISPARMI! Acquistare online conviene sempre!</h5>
                        }
                        else
                        {
                            <h5></h5>
                        }
                    }

                    <nav class="form-steps" style="margin-left: 10%;">
                        <div class="form-steps_item form-steps_item-active">
                            <div class="form-steps_item-content">
                                <a class="form-steps_item-lineshort"></a>
                                <span id="step1" class="form-steps_item-icon"><small class="">1</small></span>
                                <span class="form-steps_item-text">Scegli la data</span>
                            </div>

                        </div>
                        <div class="form-steps_item">
                            <div class="form-steps_item-content">
                                <a class="form-steps_item-icon"></a>
                                <span class="form-steps_item-line"></span>
                                <span class="form-steps_item-text">Scegli il tuo pranzo</span>
                            </div>
                        </div>

                        <div class="form-steps_item">
                            <div class="form-steps_item-content">
                                <a class="form-steps_item-icon"></a>
                                <span class="form-steps_item-line"></span>
                                <span class="form-steps_item-text">Servizi extra</span>
                            </div>
                        </div>
                        <div class="form-steps_item">
                            <div class="form-steps_item-content">
                                <a class="form-steps_item-icon"></a>
                                <span class="form-steps_item-line"></span>
                                <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                                <span class="form-steps_item-lineshort"></span>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <span class="sectext visible-sm visible-xs">Scegli il data</span>
        </div>
    </div>
    <div class="container">
        <div class="shopContent">
            <div class="row">
                <div id="InfoAndCalendar">
                    <h4 id="RegoleSm" class="hidden-lg" style=" text-align:center; color:#0095d4; text-decoration: underline; cursor: pointer;">REGOLE DAL 6 AGOSTO</h4>
                    <h4 id="Regole" class="hidden-xs hidden-sm" style="text-align: center; color: #0095d4; text-decoration: underline; cursor: pointer;" href="#" target="_blank">REGOLE DAL 6 AGOSTO</h4>

                    <div id="InfoSection" class="col-md-3 infoshop hidden-sm hidden-xs">
                        <h3>PREZZO <i class="fa fa-credit-card" aria-hidden="true"></i></h3>
                        <p>Presso la biglietteria di Zoomarine spenderesti 32€ a biglietto</p>
                        <h3>TEMPO <i class="fa fa-clock-o" aria-hidden="true"></i></h3>
                        <p>Eviterai la coda in biglietteria</p>
                        <h3>SICUREZZA <i class="fa fa-check" aria-hidden="true"></i></h3>
                        <p>Pagamenti sicuri al 100%</p>
                        @*<h4>HAI BISOGNO DI AIUTO? </h4>
            <a class="faqscontacti btn-bluezoom" href="@Url.Action("domandeFrequenti", "Home")" target="_blank"> DOMANDE FREQUENTI</a>*@

                    </div>
                    <div id="CalendarSection" class="col-md-5 col-sm-6 calendarShop">
                        <!-- family pack-->
                        <div id="Famsec">
                        </div>

                    </div>

                    <div id="DivPromotionImage" class="col-md-8" style="display:none;">
                        <img id="PromotionImage" src="" />
                        <div id="PromotionSection" class="col-md-12" style="display:none; font-size:medium;">
                        </div>
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 bookReserv">
                    <div id="DateContainer" class="btn-lg headBook">
                        <div>
                            <h4 style="color: white;">In che giorno ci visiterai?</h4>
                        </div>
                        <div class="pickerCalen" style="text-align: center;">
                            <input type="text" id="datafinale" disabled="">
                            <!-- calendario family-->
                            <div id="FamilyCal" style="position: absolute; visibility: hidden; z-index:9999;">
                                <!-- dynamically created-->
                            </div>
                            @*<img id="minicalendar" style="margin-top: -4px; margin-left: -38px; " src="/Content/images/home/minicalendar.png">*@
                        </div>

                    </div>

                    <div class="btn-lg" style="margin-top: 8px; border: solid 1px; border-color:black; font-family: Hiruko Pro; background-color: white;">
                        <div id="family" style="display:none;">
                            <div class="row" style="color: red; background-color: white;">
                                <div class="col-xs-12"><h4>@ViewBag.FamilyTitle</h4></div>
                            </div>
                            <div id="familydes" style="color: grey;"></div>
                        </div>

                        <div id="InfoDiv">
                            <div id="payment">
                                <!--section created dynamically-->
                            </div>

                            <div class="row" style="visibility: hidden; color: red;  background-color: white;">
                                <div class="col-xs-7"><h4>BAMBINI</h4><h6 style="color: grey;">altezza inferiore al metro</h6></div>
                                <div class="col-xs-5" style="color: black;"><h3 style="margin-top: 10px;">GRATIS</h3></div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xs-7" style="text-align:right;">
                                <h3>Totale:</h3>
                            </div>

                            <div class="col-xs-4" style="margin-left: 15px; border: 1px solid grey; border-radius: 5px; text-align:center;">
                                <h3 id="TotPrice">&nbsp;</h3>
                            </div>

                            <div class="col-md-1"></div>


                            <div class="row col-md-12" style="color: blue; text-align: center;"><h5 style="margin: 4px;">*Prezzi esclusivi per l acquisto ONLINE</h5></div>
                        </div>


                    </div>


                </div>

                <div class="col-md-12 img-rounded"></div>

            </div>

            @Html.Partial("~/Views/Shared/Buyer.cshtml")

            <div class="row btn-lg" id="continue" style="text-align: right; display: none; font-family: Hiruko Pro;">
                <button type="button" id="BtnProcedi" class="btn btn-success shad">PROCEDI ></button>
            </div>

        </div>
    </div>




</div>
<!--modal windows-->
<!--error messages-->
<div class="warning">
    <div id="alert_placeholder"></div>
</div>

<div class="warning">
    <div id="alert_placeholder2">
    </div>
</div>

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/Scripts/Calendars.js?rec='@rec'" type="text/javascript"></script>
    <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script src="~/Scripts/ShoppingCart.js?rec='@rec'" type="text/javascript"></script>
    <script type="text/javascript">

        var FirstTime;
        var DefaultQuantity = 2;

        /////////////////////////////////////////////
        //discount
        var DisSec = '';
        DisSec += '<div class="row">';
        DisSec += '<div class="col-xs-9">';
        DisSec += '<input type="text" style="" id="Bcodsconto" maxlength="20" class="form-control form-group-sm" placeholder="codice sconto">';
        DisSec += '</div>';
        DisSec += '<div class="col-xs-3">';
        DisSec += '<button id="BtnDiscount" onclick="GetDisCode()" type="button" class="btn btn-success">OK</button>';
        DisSec += '</div>';
        DisSec += '</div>';

        var TckDisSec = '';
        TckDisSec += '<div id="riga_" class="row" style="color: red; background-color: white;">';
        TckDisSec += '<div class="col-xs-4"><h4>BIGLIETTO</h4>';
        TckDisSec += '<h4 class="text-uppercase" id="' + phdes + '"></h4></div>';
        TckDisSec += '<div class="col-xs-3" style="color:black; display:inline;">';
        TckDisSec += '<h4 style="color: rgb(0, 149, 212);"><span class="strikediag" id="' + phori + '"></span></h4>';
        TckDisSec += '<h4 id="' + phprc + '"></h4></div>';
        TckDisSec += '<div class="col-xs-4">';

        TckDisSec += '<div class="rail-select" style="margin-top: 18px;"><div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
        TckDisSec += '<select id="' + phqnt + '" onchange="SetQuantity(value, TckLineId)" class="form-control" id="sel1"></select></div>';
        TckDisSec += '</div>';
        TckDisSec += '</div>';
        TckDisSec += '<div class="row col-md-12" style="margin: 0; padding: 0; "><div id="' + phnot + '" style="font-size: 12px; color: grey; display: none;" ></div></div>';


        ////////////////////////////////////////////
        //dynamic ticket section
        var TckSec = '';
        TckSec += '<div id="riga_" class="row" style="color: red; background-color: white;">';
        TckSec += '<div class="col-xs-4"><h4>BIGLIETTO</h4><h4 class="text-uppercase" id="' + phdes + '"></h4></div>';
        TckSec += '<div class="col-xs-3" style="color:black; display:inline;"><h3 id="' + phprc + '"></h3></div>';
        TckSec += '<div class="col-xs-4">';

        TckSec += '<div class="rail-select" style="margin-top: 18px;"><div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
        TckSec += '<select id="' + phqnt + '" onchange="SetQuantity(value, TckLineId)" class="form-control" id="sel1"></select></div>';
        TckSec += '</div>';
        TckSec += '</div>';
        TckSec += '<div class="row col-md-12" style="margin: 0; padding: 0; "><label id="' + phnot + '" style="font-size: 12px; color: grey; display: none;" ></label></div>';

        //$('#loader').modal('show');
        $("#ajaxBusy").fadeIn(300);

        var EventDateStart = "";
        var EventDateEnd = "";

        var Option = "";

        var DiscountInfo = "";
        var NoReduce = "0";
        var Scelta = "";
        var FullInfo = "";
        var ReduceInfo = "";

        $(document).ready(function () {
            Prodotto = "ticket";

            Scelta = '@ViewBag.Scelta';
            Option = '@ViewBag.Option';
            LogUser = '@ViewBag.TipoOperatore';
            FunzioniOperatore();

            AcquistoId = '@ViewBag.AcquistoId';
            FamilyPack = '@ViewBag.FamilyPack';
            Discount = '@ViewBag.Discount';
            DiscountInfo = decodeHTML('@ViewBag.DiscountInfo');

            NoReduce = '@ViewBag.NoReduce';

            FullInfo = '@ViewBag.FullInfo';
            ReduceInfo = '@ViewBag.ReduceInfo';

            if (AcquistoId !="")
            {
                //$("#buyhotel").css("display","none");
                //$("#buysubscription").css("display","none");
                DeleteCookieBuyer();
                DeleteAllCookies();
            }


            //calendar
            DataOggi = '@ViewBag.DataOggi';

            ListaData = @Html.Raw(Json.Encode(ViewBag.cal.ListaData));


            ListaId1 = @Html.Raw(Json.Encode(ViewBag.cal.ListaId1));
            ListaBasePrice1 = @Html.Raw(Json.Encode(ViewBag.cal.ListaBasePrice1));
            ListaPrice1 = @Html.Raw(Json.Encode(ViewBag.cal.ListaPrice1));

            ListaId2 = @Html.Raw(Json.Encode(ViewBag.cal.ListaId2));
            ListaBasePrice2 = @Html.Raw(Json.Encode(ViewBag.cal.ListaBasePrice2));
            ListaPrice2 = @Html.Raw(Json.Encode(ViewBag.cal.ListaPrice2));

            ListaTimeEntrance = @Html.Raw(Json.Encode(ViewBag.cal.ListaTimeEntrance));


            if (Discount !="")
            {
                DiscountImage = '@ViewBag.DiscountImage';
                DiscountCode = '@ViewBag.DiscountCode';
                DiscountTitle = '@ViewBag.DiscountTitle';

                //if promotion event:
                EventDateStart = '@ViewBag.EventDateStart';
                EventDateEnd = '@ViewBag.EventDateEnd';


                if (Option == 3 || Option == 4)
                {

                    $("#CalendarSection").css("display","none");
                    $("#InfoSection").css("display","none");
                    $("#colorschedule").css("display","none");

                    //promotion event
                    var PromoInfo = @Html.Raw(Json.Encode(ViewBag.PromoInfo));
                    $("#DivPromotionImage").css("display","block");
                    $("#PromotionImage").attr("src", DiscountImage);
                    $("#PromotionLateral").css("display","block");
                    $("#PromotionSection").append(PromoInfo);
                    $("#PromotionSection").css("display","block");
                    $("#Banner").css("display","none");
                }


                //calendar
                ListaTimeEntrance = @Html.Raw(Json.Encode(ViewBag.cal.ListaTimeEntrance));

                ListaDataF = ListaData;
                ListaTimeEntranceF = ListaTimeEntrance;

                CreaCalendarioH("B");

            }


            if (FamilyPack =="" && Discount == "")
            {
                //CreaCalendario();
            }


            ////////////////////////////////////////////////////////
            //buyer info
            LoadBuyer(@Html.Raw(Json.Encode(Model.Buyer)));
            GetBuyer();
            FillBuyer();

            //Day from model
            Day = '@Model.DayNow';


            if (EventDateStart != '')
            {
                if (EventDateStart != EventDateEnd)
                {
                    //selectable date
                    $("#datafinale").css("cursor","pointer");
                }


                if (ConvertDate(DataOggi) < ConvertDate(EventDateStart))
                {
                    //event not started
                    Day = EventDateStart;

                }
                else
                {
                    //event started: go to the next day
                    Day = FirstDayAvailable(DataOggi);
                }
            }
            else
            {
                if (Day != "") {

                    $("#datascelta").find("input").val(Day);
                    Day = FirstDayAvailable(DataOggi);
                    $("#datafinale").val(Day);

                    NoCalcSmq = false;
                    FirstTime = false;
                }
                else
                {
                    FirstTime = true;
                    Day = FirstDayAvailable(DataOggi);

                }

            }


            Inizializza(Day);

            if (AcquistoId == "")
            {
                GetCookieBuyer();
                FillBuyer();
            }

        });


        $(document).click(function(){

            if ($("#FamilyCal").css("visibility") == "visible") {
                $("#FamilyCal").css("visibility", "hidden");
            }
        });



        $("#FamilyCal").click(function(e){
            e.stopPropagation();
            return false;
        });


        $(".pickerCalen").click(function(e){


            //fixed date event
            if (EventDateStart != "" && (EventDateStart == EventDateEnd))
            {
                return false;
            }

            if ($("#FamilyCal").css("visibility") == "hidden") {
                $("#FamilyCal").css("visibility", "visible");
            } else {
                $("#FamilyCal").css("visibility", "hidden");
            }




            e.stopPropagation();
            return false;
        });



        $(".form-steps_item-icon").on('click', function (e) {


            var msg = "";

            msg = ValidateBuyer();

            if (msg != "") {
                e.preventDefault();
                AlertShow(msg);
                return;
            }

            SetCookieBuyer();
            ReadFieldsBuyer();

            var mappa = $(this).attr('id');

            switch (mappa) {
                case "step1":
                    GoToBuy();
                    break;

                case "step2":
                    GoToMenu();
                    break;

                case "step3":
                    GoToAnimal();
                    break;

                case "step4":
                    GoToActivity();
                    break;

                case "step5":
                    GoToShoppingCart();
                    break;

                default:
                    e.preventDefault();
            }
        });


        var Msg = decodeHTML('@ViewBag.InfoCovid');

        $("#RegoleSm").click(function () {
            AlertCenterBigMobile(Msg);
        })


        $("#Regole").click(function () {
            AlertCenterBig(Msg);
        })



        $("#BtnProcedi").click(function () {
            //discount code extra check:


            if (Scelta == 'discount') {
                var CodSconto = $("#Bcodsconto").val();

                if (CodSconto == "") {
                    AlertCenter("Immettere un codice sconto");
                    return;
                }

                var totp = $("#TotPrice").text();

                if (totp == "" || totp == "0,00€") {
                    AlertCenter("Immettere un codice sconto e premere OK");
                    return;
                }

            }


            if (Number(Quantity[0]) == 0)
            {
                return;
            }

            var msg = "";

            msg = ValidateBuyer();

            if ( msg != "")
            {
                AlertShow(msg);
                return;
            }

            SetCookieBuyer();
            ReadFieldsBuyer();

            if (FamilyPack !="")
            {
                GoToAnimal("ticket");
            }
            else
            {
                GoToMenu("ticket");
            }

        });

        $("#RicFatt").click(function(){
            if ( $(this).prop("checked")  )
            {
                //$("#DatiFattura").css("visibility", "visible");
                $("#DatiFattura").slideDown("slow");
            }
            else
            {
                //$("#DatiFattura").css("visibility", "hidden");
                $("#DatiFattura").slideUp("slow");
            }
        })


        function CheckRidotti()
        {

            //in promo reduced lower than 1 euro no more than full tickets
            var Pricerid = Number(Prices[1].replace(",", "."));

            if (Pricerid <= 1)
            {
                if (Number(Quantity[1]) > Number(Quantity[0]))
                {
                    AlertCenter("Non è possibile acquistare un numero di biglietti ridotti superiore agli interi, gli altri visitatori pagano intero.");
                    $("#BtnProcedi").css("visibility","hidden");
                    return;
                }
                else
                {
                    AlertCenterClose();

                    $("#BtnProcedi").css("visibility","visible");
                }
            }
        }

        $('#alert_placeholder2').click(function(){
            AlertCenterClose();
        })

        function SetQuantity(val, id) {


            if (val == "" || val == null)
            {
                val = 0;
            }

            Quantity[id] = val;

            CheckAdult();
            CheckRidotti();

            var cnt = 0;
            for (var i=0; i < ticket.length; i++)
            {
                cnt += Quantity[i];
            }

            if (cnt == 0)
            {
                TotPrice = "0";
                $("#TotPrice").text(String.fromCharCode(160));

                //reset all options
                for (var i=0; i < animal.length; i++)
                {
                    AniQuantity[i] = 0;

                    for (var j = 0; j < SubAniQuantity[i].length; j++)
                    {
                        SubAniQuantity[i][j] = 0;
                    }

                }

                for (var i=0; i < activity.length; i++)
                {
                    ActQuantity[i] = 0;
                }

                for (var i = 0; i < menu.length; i++) {
                    MnuQuantity[i] = 0;
                }
            }


            TotPrezzo();

            //no focus on IE:
            $('#' + phqnt + id).blur();

        }

        function GetDisCode(Day)
        {

            var CodSconto = $("#Bcodsconto").val();

            if (CodSconto == ""){
                AlertCenter("Immettere un codice sconto");
                return;
            }

            AlertCenterClose();

            var URL = "/Acquisto/GetDiscount";

            var Info = {DiscountCode: CodSconto , Day: Day};
            var promise = $.post(URL, Info);

            promise.done(function (data) {

                if (data.length == 0)
                {
                    AlertCenter("Codice sconto non trovato");
                    return;
                }

                for (var i=0; i < data.length; i++)
                {
                    //replace dynamic ticket with full ticket
                    ticket[i] = data[i].TicketId;
                    Prices[i] = data[i].CouponPrice;
                    if (data[i].CouponPrice == null)
                    {
                        Prices[i] = "0";
                        $("#" + phprc + i).text("...");
                    }
                    else
                    {
                        $("#" + phprc + i).text(Prices[i] + "€");
                    }

                }

                if (data[0].CouponPrice == null)
                {
                    AlertCenter("Prodotto non disponibile per questa data");
                }

                //blocca il codice
                DiscountCode = CodSconto;
                $("#Bcodsconto").prop('disabled', true);
                $("#BtnDiscount").css("display","none");

                TotPrezzo();
            });
        }



        function Inizializza(Day) {

            //acquisition
            var URL = "/Acquisto/GetData";
            var Info = {Day: Day, FamilyPack: FamilyPack};
            var promise = $.post(URL, Info);

            promise.done(function (data) {

                ReadData(data);

                azzera = false;
                var DayNow = '@Model.DayNow';
                if (Day == DayNow)
                {


                    if (@Model.ntck > 0)
                    {
                        //$('#loader').modal('show');

                        Quantity = @Html.Raw(Json.Encode(Model.TckQuantitities));
                        AniQuantity = @Html.Raw(Json.Encode(Model.TckOptions.AniQuantitities));

                        ActQuantity = @Html.Raw(Json.Encode(Model.TckOptions.ActQuantitities));
                        MnuQuantity = @Html.Raw(Json.Encode(Model.TckOptions.MnuQuantitities));

                        var SubAniQuant= @Html.Raw(Json.Encode(Model.TckOptions.SubAniQuantitities)) +'';
                        SubAniQuantLinear = SubAniQuant.split(","); //linear array
                    }
                }
                else
                {
                    azzera = true;
                }

                Arrloop = 0;
                Lungloop = ticket.length;

                for (var i = 0; i < ticket.length; i++) {
                    GetTicketPrice(ticket[i], '1', Day, i);
                }

            });
        }

        function FillTickets()
        {

            //fill ticket window and combo
            //max combo
            var nmax = 15;
            var htm = "";

            if (Discount != "")
            {
                //discount

                htm = DisSec;
                $("#payment").append(htm);

                if (DiscountCode != ""){
                    $("#Bcodsconto").val(DiscountCode);
                    GetDisCode(Day);
                }

                for (var i = 0; i < ticket.length; i++) {
                    Prices[i] = "0";

                    htm = TckDisSec.replace(phdes, phdes + i);
                    htm = htm.replace("riga_", "riga_" + i);
                    htm = htm.replace(phbaseprc, phbaseprc + i);
                    htm = htm.replace(phori, phori + i);
                    htm = htm.replace(phprc, phprc + i);
                    htm = htm.replace(phqnt, phqnt + i);
                    htm = htm.replace(phnot, phnot + i);
                    htm = htm.replace("TckLineId", i);

                    $("#payment").append(htm);

                    if (azzera == true)
                    {
                        Quantity[i] = "0";
                    }

                    if (FirstTime == true)
                    {
                        //tickets default:
                        Quantity[0] = DefaultQuantity;
                        FirstTime == false;
                    }

                    for (j = 0; j < nmax + 1; j++) {
                        var tx = '...';
                        if (j > 0) { tx = j }

                        $('#' + phqnt + i).append($('<option>', {
                            value: j, text: tx
                        }));
                    }

                    $("#" + phqnt + i).val(Quantity[i]);
                    $("#" + phdes + i).text(Descriptions[i]);
                    $("#" + phori + i).text(BasePrices[i] +"€");
                    $("#" + phbaseprc + i).text(BasePrices[i] +"€");
                    $("#" + phprc + i).text("...");
                    //$("#" + phnot + i).text(Notes[i]);

                    if(Notes[i] != ""){
                        $("#" + phnot + i).show();
                    }
                }


            }
            else
            {
                //dynamic price
                for (var i = 0; i < ticket.length; i++) {

                    htm = TckSec.replace(phdes, phdes + i);
                    htm = htm.replace("riga_", "riga_" + i);
                    htm = htm.replace(phbaseprc, phbaseprc + i);
                    htm = htm.replace(phprc, phprc + i);
                    htm = htm.replace(phqnt, phqnt + i);
                    htm = htm.replace(phnot, phnot + i);
                    htm = htm.replace("TckLineId", i);

                    $("#payment").append(htm);

                    if (azzera == true)
                    {
                        Quantity[i] = "0";
                    }

                    if (FirstTime == true)
                    {
                        //tickets default:
                        Quantity[0] = DefaultQuantity;
                        FirstTime == false;
                    }

                    for (j = 0; j < nmax + 1; j++) {
                        var tx = '...';
                        if (j > 0) { tx = j }

                        $('#' + phqnt + i).append($('<option>', {
                            value: j, text: tx
                        }));
                    }

                    $("#" + phqnt + i).val(Quantity[i]);
                    $("#" + phdes + i).text(Descriptions[i]);
                    $("#" + phbaseprc + i).text(BasePrices[i] +"€");
                    $("#" + phprc + i).text(Prices[i] +"€");
                    $("#" + phnot + i).text(Notes[i]);

                    if(Notes[i] != ""){
                        $("#" + phnot + i).show();
                    }
                }
            }




            TotPrezzo();
        }


        function Riempimento()
        {
            //if the next month the first day is not available shift again:

            //loop creation tickets
            FillTickets();

            //info
            $("#" + phnot + 1).append(DiscountInfo);

            //discount code operations
            if (DiscountCode != "")
            {
                $("#Ori_0").css("visibility","hidden");
                $("#WebPrice_0").css("margin-top", -12);

                $("#Ori_1").css("visibility", "hidden");
                $("#WebPrice_1").css("margin-top", -12);

                //if (Prices[1] == 0)
                //{
                //    $("#Quantity_1").prop("disabled","disabled");
                //}

            }


            if (Day == '')
            {
                Day = FirstDayInMonth(Day);
            }



            $("#datafinale").val(Day);



            if (Option == 2)
            {
                $("#continue").show();
            }


            var gg = Number(Day.substr(0, 2));

            if (FamilyPack == "")
            {
                SetCalendar(gg);
            }


            //loop creation options
            if (azzera == true) {

                for (var i = 0; i < activity.length; i++) {
                    ActQuantity[i] = "0";
                }

                //loop creation menus
                for (var i = 0; i < menu.length; i++) {
                    MnuQuantity[i] = "0";
                }
            }


            Finish();

        }

        //when finished
        function Finish()
        {
            if (NoReduce == "1")
            {
                $("#DateContainer").css("display","none");
                $("#riga_1").css("display","none");
                $("#Not_1").css("display","none");
            }


            //Info biglietti
            $("#Not_0").text("Intero");
            if (FullInfo != "") {
                $("#Not_0").text(FullInfo);
            }

            $("#Not_1").text("Bambini da 100 a 130 cm");
            if (ReduceInfo != "") {
                $("#Not_1").text(ReduceInfo);
            }


            $("#ajaxBusy").fadeOut(300);

        }

        function TotPrezzo() {



        TotPrice = 0;
        for (var i = 0; i < 2; i++) {

            if (Prices[i] != "0")
            {
                TotPrice +=  Number(Quantity[i]) * Number(Prices[i].replace(",","."));
            }

        }

        if (TotPrice > 0) {
            if ($("#datascelta").find("input").val() != "")
            {
                $("#TotPrice").text(FormatMoney(TotPrice) +"€");
                $("#continue").show();
            }
        }
        else
        {
            $("#continue").hide();
        }

    }

    </script>

}




