﻿@model Core.Shops

@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Attività extra";
}

<style>
    select:focus {
        outline: none;
    }
</style>
<div class="AperturaText">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 id="shoptitle">@ViewBag.shoptitle</h3>
                <h5 id="shopdescription"><span>@ViewBag.shopdescription</span> @ViewBag.shopcomment</h5>
                @{if (string.IsNullOrEmpty(ViewBag.FamilyPack) == true)
                    {
                        <nav class="form-steps" style="margin-left: 10%;">
                            <div class="form-steps_item form-steps_item-completed">
                                <div class="form-steps_item-content">
                                    <span class="form-steps_item-lineshort"></span>
                                    @if (string.IsNullOrEmpty(ViewBag.AcquistoId))
                                    {
                                        <span id="step1" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                        <span class="form-steps_item-text">@ViewBag.Scegli</span>
                                    }
                                </div>

                            </div>
                            <div class="form-steps_item form-steps_item-completed">
                                <div class="form-steps_item-content">
                                    <span id="step2" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                    <span class="form-steps_item-line"></span>
                                    <span class="form-steps_item-text">@ViewBag.Step1</span>
                                </div>
                            </div>

                            <div class="form-steps_item">
                                <div class="form-steps_item-active">
                                    <span class="form-steps_item-icon"></span>
                                    <span class="form-steps_item-line"></span>
                                    <span class="form-steps_item-text">@ViewBag.Step3</span>
                                </div>
                            </div>

                            <div class="form-steps_item">
                                <div class="form-steps_item-content">
                                    <span id="step5" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                    <span class="form-steps_item-line"></span>
                                    <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                                    <span class="form-steps_item-lineshort"></span>
                                </div>
                            </div>
                        </nav>
                    }
                    else
                    {
                        <nav class="form-steps" style="margin-left:30px;">
                            <div class="form-steps_item form-steps_item-completed">
                                <div class="form-steps_item-content">
                                    <span class="form-steps_item-lineshort"></span>
                                    @if (string.IsNullOrEmpty(ViewBag.AcquistoId))
                                    {
                                        <span id="step1" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                        <span class="form-steps_item-text">@ViewBag.Scegli</span>
                                    }
                                </div>
                            </div>

                            <div class="form-steps_item">
                                <div class="form-steps_item-active">
                                    <span class="form-steps_item-icon"></span>
                                    <span class="form-steps_item-line"></span>
                                    <span class="form-steps_item-text">@ViewBag.Step3</span>
                                </div>
                            </div>
                            <div class="form-steps_item">
                                <div class="form-steps_item-content">
                                    <span id="step5" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                    <span class="form-steps_item-line"></span>
                                    <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                                    <span class="form-steps_item-lineshort"></span>
                                </div>
                            </div>
                        </nav>



                    }
                }
                <span class="sectext visible-sm visible-xs">Migliora la tua esperienza</span>
            </div>
        </div>
    </div>
</div>


<div id="summary" style="font-family: 'Circular Std';">
    <div class="container">
        <div class="row sfondoaddon">
            <div class="col-sm-9">
                <h3 class="visible-xs">@ViewBag.Step3Des</h3>
                <div class="row FlexPosition">
                    <div class="col-sm-12">
                        <div class="detailsBoxShop">
                            <div class="headDetailsShop">
                                <div class="row">
                                    <div class="col-sm-5 col-xs-8">
                                        <h5>Descrizione</h5>
                                    </div>
                                    <div class="col-sm-2 hidden-xs">
                                        <h5>Prezzo</h5>
                                    </div>
                                    <div class="col-sm-2 hidden-xs">
                                        <h5>Quantità</h5>
                                    </div>
                                    <div class="col-sm-1 col-xs-4">
                                        <h5>Totale</h5>
                                    </div>
                                    <div class="col-sm-1 hidden-xs"></div>
                                </div>
                            </div>
                            <div class="bodyDetailsShop">
                                <div class="row">
                                    <div id="pricesummary" style="text-align: left;">
                                        <div class="col-xs-9 col-sm-5 col-md-9" style="display: inline; vertical-align: middle;">
                                            <h4 style='display: inline; color: red'>&nbsp;Ingresso al parco in data:<label id='DayNow'></label></h4>
                                        </div>
                                    </div>
                                </div>

                                <!--////////////////////////////////////////-->
                                <!--shopping cart ticket plus hotel-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCHotellist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCroomlist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <!--////////////////////////////////////////-->
                                <!--shopping cart ticket-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCticketlist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCmenulist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCanimallist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCactivitylist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 hidden-xs" style="clear:both;">
                        <h3>@ViewBag.Step3Des</h3>
                    </div>
                    <div class="col-sm-12">
                        <div id="options" style="font-family: Hiruko Pro;">
                            <div id="activitylist" class="sliderShop"></div>
                        </div>
                    </div>
                </div>







            </div>
            <div class="col-sm-3">
                <!--total-->
                <div class="make_static">
                    <div class="divtotal" id="DivTotal">
                        <h2>Totale:</h2>
                        <h3>
                            €&nbsp;<label id="TotPrice"></label>
                        </h3>
                        <button type="button" id="BtnIndietro" class="btn btn-red" data-loading-text="<i class='fa fa-spinner fa-spin '></i> INDIETRO "><i class="fa fa-chevron-left" aria-hidden="true"></i> INDIETRO</button>
                        <button type="button" id="BtnProcedi" class="btn btn-green" data-loading-text="<i class='fa fa-spinner fa-spin '></i> PROCEDI ">PROCEDI <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<!--modal windows-->
<div class="warning">
    <div id="alert_placeholder2">
    </div>
</div>

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>




@section Scripts {
    <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script src="~/Scripts/ShoppingCart.js?rec='@rec'" type="text/javascript"></script>
    <script type="text/javascript">
     ////////////////////////////////////////////
     //SHOPPING CART included in shoppingarct.js

     //just only for the actities vip oro
     var maxcomboOld = maxcombo;

     var ActSec = Template(phimg, phtit, phdes, "Act" + phqnt, phbaseprc, phprc, phnot, phsbt);

     var Nodisp = "<h5 style='margin: 0; color: red'>Non disponibile per la data selezionata</h5>";

     var ProductAllotments;

     $(document).ready(function () {
        //$('#loader').modal('show');
         $("#ajaxBusy").fadeIn(300);



         Prodotto = '@ViewBag.Prodotto';

         //just for vip oro
         @*if (Prodotto == "hotel")
         {
             maxcombo = @ViewBag.Npag;
         }*@


        LogUser = '@ViewBag.TipoOperatore';
        Svincolato = '@ViewBag.Svincolato';
        VerificaCliente = '@ViewBag.VerificaCliente';
        AcquistoId = '@ViewBag.AcquistoId';

        FunzioniOperatore(AcquistoId);

        FamilyPack = '@ViewBag.FamilyPack';
        FamilyTitle = '@ViewBag.FamilyTitle';
        FamilyDescription ='Pacchetto famiglia';
        DiscountCode = '@ViewBag.DiscountCode';

        ProductAllotments = @Html.Raw(Json.Encode(ViewBag.ProductAllotments));

        ManageAcquistoId();

        if (VerificaCliente != '')
        {
            $("#BtnIndietro").css("display", "none");
        }

       if (Prodotto == "hotel")
        {
            Rooms = [];

            HotelId = '@Model.ShoppingStateHotel.Hotel';
            HotelPrice = '@Model.ShoppingStateHotel.HotelPrice';
            HotelPriceId = '@Model.ShoppingStateHotel.HotelPriceId';
            DayArrive = '@Model.ShoppingStateHotel.DayArrive';
            DayDeparture = '@Model.ShoppingStateHotel.DayDeparture';
            AssicPrice = Number('@ViewBag.PrezzoAssicurazione');
            NavPrice = Number('@ViewBag.PrezzoNavetta');
            AssicCambioData = '@Model.ShoppingStateHotel.AssicCambioData';
            ServizioNavetta = '@Model.ShoppingStateHotel.ServizioNavetta';

            TotPrice = '@Model.ShoppingStateHotel.Price';
            hotDes = '@Model.ShoppingStateHotel.HotelDescription';
            Nrooms = '@Model.ShoppingStateHotel.Nrooms';
            adults = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NAdults));
            kids = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKids));
            kidsfree = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKidsfree));

            RoomsAndTotHotel();

            $("#SCticketlist").hide();
        }

        //Day from model
        Day = '@ViewBag.Day';

        if (Day == "")
        {
            //anomaly
            window.location.href = "/Biglietto/Buy";
        }

        $("#DayNow").text(Day);


        Inizializza(Day);

    });


     $("#BtnProcedi").click(function () {
         var $this = $(this);
         $this.button('loading');
         //setTimeout(function() {
         //    $this.button('reset');
         //}, 10000);
        GoToShoppingCart();
    });


     $("#BtnIndietro").click(function () {
         var $this = $(this);
         $this.button('loading');
         //setTimeout(function() {
         //    $this.button('reset');
         //}, 10000);

         //GoToAnimal();
         GoToMenu();
    });



    $('#alert_placeholder2').click(function () {
        AlertCenterClose();
    })

    function SetQuantity(val, id) {

        var MaxDisp = Number(ProductAllotments[id]);

        //sold out reached:
        if (Number(val) > MaxDisp) {
            AlertCenter("Disponibili massimo:" + MaxDisp + " posti per questa data ");
            $("#ActQuantity_" + id).val("0");
            return;
        }

        AlertCenterClose();

         if (val == "" || val == null) { val = 0; }
         ActQuantity[id] = val;
         RiempiSC();
         TotPrezzo();
         SubTotPrezzo();
         //no focus on IE:
         $('#ActQuantity_' + id).blur();
         if ($(window).width() <= 768) {
             $('html, body').animate({
                 scrollTop: parseInt($(".detailsBoxShop").offset().top)
             }, 2000);

         }
     }

    function Inizializza(Day) {

        DiscountCode = '@Model.ShoppingState.DiscountCode';

        //acquisition
        var URL = "/Acquisto/GetData";

        var Info = { Day: Day, FamilyPack: FamilyPack };

        var promise = $.post(URL, Info);

        promise.done(function (data) {

            ReadData(data);

            azzera = false;

            var SubAniQuant;
            Titles =  @Html.Raw(Json.Encode(Model.ShoppingState.TckTitles));
            Prices = @Html.Raw(Json.Encode(Model.ShoppingState.TckPrices));
            Quantity = @Html.Raw(Json.Encode(Model.ShoppingState.TckQuantitities));
            AniQuantity = @Html.Raw(Json.Encode(ViewBag.Options.AniQuantitities));
            ActQuantity = @Html.Raw(Json.Encode(ViewBag.Options.ActQuantitities));
            MnuQuantity = @Html.Raw(Json.Encode(ViewBag.Options.MnuQuantitities));
            SubAniQuant = @Html.Raw(Json.Encode(ViewBag.Options.SubAniQuantitities)) + '';

            SubAniQuantLinear = SubAniQuant.split(","); //linear array

            ////////////////////////////////////////////////////////
            //buyer info

            if (Prodotto == "ticket")
            {
                LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingState.Buyer)));
            }
            else
            {
                LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingStateHotel.Buyer)));
                FillSCHotel();
            }

            GetBuyer();

            //GetPrices(Day);
            GetAddOnPrices(Day);
        });
    }

    function Riempimento()
    {
        $("#procedi").show();
        $("#payment").empty();
        $("#continue").hide();
        $("#activitylist").empty().hide();
        //loop creation activity
        for (var i = 0; i < activity.length; i++) {

            if (azzera == true) {
                ActQuantity[i] = "0";
            }

            //show only if != 0
            if (ActPrices[i] != null)
            {
                var htm = Sostituzione(ActSec, elements, i);
                htm = htm.replace("LineId", i);

                $("#activitylist").append(htm);
            }

            //no more allotment
            if (ProductAllotments[i] <= 0) {
                $("#" + phtit + i).after(Nodisp);
                $("#ActQuantity_" + i).prop('disabled', true);
            }


        }

        $("#" + phsbt + "0").css("visibility","visible");

        LoopAnimals();

        //IMPORTANT!
        setTimeout(Mobilecarousel, 1000);
        $("#activitylist").show();


    }

    //when finished
    function Finish()
    {
        ReloadSubAniQuantity();

        FillCombo(activity, "Act" + phqnt);

        //just only for vip oro
        maxcombo = maxcomboOld;

        for (var ind = 0; ind < activity.length; ind++) {
            $("#Act" + phqnt + ind).val(ActQuantity[ind]);
            $("#" + phtit + ind).append(decodeHTML(ActTitles[ind]));
            $("#" + phdes + ind).append(decodeHTML(ActDescriptions[ind]));
            $("#" + phnot + ind).append(decodeHTML(ActNotes[ind]));
            $("#" + phimg + ind).attr("src", ActImages[ind]);
            $("#" + phbaseprc + ind).text(ActBasePrices[ind] + "€");
            $("#" + phprc + ind).text(ActPrices[ind] +"€");
        }

        $("#continue").show();

        TotPrezzo();
        SubTotPrezzo();

        RiempiSC();

        if (VerificaCliente != '')
        {
            NoDelButtons();
            NoChangeSelect();
        }

        $('#loader').modal('hide');
        $("#ajaxBusy").fadeOut(300);

     }

     function SubTotPrezzo() {
         for (var i = 0; i < activity.length; i++) {

             var amount = Number(ActPrices[i].replace(",",".")) * Number(ActQuantity[i]);
             amount = FormatMoney(amount);

             $("#" + phsbt + i).text(amount + "€");
         }
     }

    </script>
}