﻿@model Core.Shops

@{
    ViewBag.Title = "Attività con gli animali";
}

<style>
    select:focus {outline: none;}
</style>

<div class="AperturaText">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 id="shoptitle">@ViewBag.shoptitle</h3>
                <h5 id="shopdescription"><span>@ViewBag.shopdescription</span> @ViewBag.shopcomment</h5>
                @{if (string.IsNullOrEmpty(ViewBag.FamilyPack) == true)
                    {
                    <nav class="form-steps">
                        <div class="form-steps_item form-steps_item-completed">
                            <div class="form-steps_item-content">
                                <span class="form-steps_item-lineshort"></span>
                                @if (string.IsNullOrEmpty(ViewBag.AcquistoId))
                                {
                                    @*<a id="step1" href="" class="form-steps_item-icon"></a>*@
                                    <span id="step1" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                    <span class="form-steps_item-text">@ViewBag.Scegli</span>
                                }                                
                            </div>

                        </div>
                        <div class="form-steps_item form-steps_item-completed">
                            <div class="form-steps_item-content">
                                @*<a id="step2" href="" class="form-steps_item-icon"></a>*@
                                <span id="step2" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                <span class="form-steps_item-line"></span>
                                <span class="form-steps_item-text">@ViewBag.Step1</span>
                            </div>
                        </div>
                        <div class="form-steps_item form-steps_item-active">
                            <div class="form-steps_item-content">
                                @*<span id="step3"  class="form-steps_item-icon"><small class="">3</small></a>*@
                                <span id="step3" class="form-steps_item-icon" style="cursor: pointer;"><small class="">3</small></span>
                                <span class="form-steps_item-line"></span>
                                <span class="form-steps_item-text">@ViewBag.Step2</span>
                            </div>
                        </div>
                        <div class="form-steps_item">
                            <div class="form-steps_item-content">
                                @*<a id="step4" href="" class="form-steps_item-icon"></a>*@
                                <span id="step4" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                <span class="form-steps_item-line"></span>
                                <span class="form-steps_item-text">@ViewBag.Step3</span>
                            </div>
                        </div>
                        <div class="form-steps_item">
                            <div class="form-steps_item-content">
                                @*<a id="step5" href="" class="form-steps_item-icon"></a>*@
                                <span id="step5" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                <span class="form-steps_item-line"></span>
                                <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                                <span class="form-steps_item-lineshort"></span>
                            </div>
                        </div>
                    </nav>
                    }
                    else
                    {
                    <nav class="form-steps" style="margin-left:70px;">
                            <div class="form-steps_item form-steps_item-completed">
                                <div class="form-steps_item-content">
                                    <span class="form-steps_item-lineshort"></span>
                                    @if (string.IsNullOrEmpty(ViewBag.AcquistoId))
                                    {
                                        <span id="step1" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                        <span class="form-steps_item-text">@ViewBag.Scegli</span>
                                    }   
                                </div>
                            </div>                          
                            <div class="form-steps_item form-steps_item-active">
                                <div class="form-steps_item-content">
                                    <span id="step3" class="form-steps_item-icon" style="cursor: pointer;"><small class="">3</small></span>
                                    <span class="form-steps_item-line"></span>
                                    <span class="form-steps_item-text">@ViewBag.Step2</span>
                                </div>
                            </div>
                            <div class="form-steps_item">
                                <div class="form-steps_item-content">
                                    <span id="step4" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                    <span class="form-steps_item-line"></span>
                                    <span class="form-steps_item-text">@ViewBag.Step3</span>
                                </div>
                            </div>
                            <div class="form-steps_item">
                                <div class="form-steps_item-content">
                                    <span id="step5" class="form-steps_item-icon" style="cursor: pointer;"></span>
                                    <span class="form-steps_item-line"></span>
                                    <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                                    <span class="form-steps_item-lineshort"></span>
                                </div>
                            </div>
                        </nav>
                        }
                }
                <span class="sectext visible-sm visible-xs">Migliora la tua sperienza</span>
            </div>
        </div>
    </div>
</div>

<div id="summary" class="fondoanimal" style="font-family: 'Circular Std';">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h3 class="visible-xs">@ViewBag.Step2Des</h3>
                <div class="row FlexPosition">
                    <div class="col-sm-12">
                        <div class="detailsBoxShop">
                            <div class="headDetailsShop">
                                <div class="row">
                                    @if (ViewBag.Prodotto == "hotel")
                                    {
                                        <div class="col-sm-9 col-xs-8">
                                            <h5>Descrizione</h5>
                                        </div>
                                        <div class="col-sm-1 col-xs-4">
                                            <h5>Totale</h5>
                                        </div>
                                        <div class="col-sm-2 hidden-xs"></div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-5 col-xs-8">
                                            <h5>Descrizione</h5>
                                        </div>
                                        <div class="col-sm-2 hidden-xs">
                                            <h5>Prezzo</h5>
                                        </div>
                                        <div class="col-sm-2 hidden-xs">
                                            <h5>Quantità</h5>
                                        </div>
                                        <div class="col-sm-1 col-xs-4">
                                            <h5>Totale</h5>
                                        </div>
                                        <div class="col-sm-1 hidden-xs"></div>
                                    }
                                </div>

                            </div>
                            <div class="bodyDetailsShop">
                                <div class="row">
                                    <div id="pricesummary" style="text-align: left;">
                                        <div class="col-xs-9 col-sm-5 col-md-9" style="display: inline; vertical-align: middle;">
                                            <h4 style='display: inline; color: red'>&nbsp;@ViewBag.Dicitura</h4>
                                        </div>
                                    </div>
                                </div>
                                <!--shopping cart ticket plus hotel-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCHotellist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCroomlist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>


                                <!--////////////////////////////////////////-->
                                <!--shopping cart-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCticketlist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCmenulist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCanimallist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCactivitylist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 hidden-xs" style="clear:both;">
                        <h3>@ViewBag.Step2Des</h3>
                    </div>
                    <!--Animal -->
                    <div class="coil-sm-12">
                        <div id="options" style="font-family: Hiruko Pro; ">
                            <div id="animallist" class="sliderShop"></div>
                        </div>
                    </div>
                </div>
                
                

            
                

            </div>
            <div class="col-sm-3">
                <!--total-->
                <div class="make_static">
                    <div class="divtotal " id="DivTotal">
                        <h2>Totale:</h2>
                        <h3>
                            €&nbsp;<label id="TotPrice"></label>
                        </h3>
                        <button type="button" id="BtnIndietro" class="btn btn-red" data-loading-text="<i class='fa fa-spinner fa-spin '></i> INDIETRO "><i class="fa fa-chevron-left" aria-hidden="true"></i> INDIETRO</button>
                        <button type="button" id="BtnProcedi" class="btn btn-green" data-loading-text="<i class='fa fa-spinner fa-spin '></i> PROCEDI ">PROCEDI <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!--modal windows-->

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>



@section Scripts {
    <script src="~/Scripts/ShopVariables.js"></script>
    <script src="~/Scripts/ShoppingCart.js"></script>
    <script type="text/javascript">
        ////////////////////////////////////////////
        //SHOPPING CART included in shoppingarct.js

        var subtit = "SubAnimalTit_";
        var subdes = "SubAnimalDes_";
        var Scegli = "IdScegliOrario_";
        var SubAniSec = "";


        ////////////////////////////////////////////
        //dynamic animal section
        var Nodisp = "<h5 style='margin: 0; color: red'>Non disponibile per la data selezionata</h5>";

        var AniSec = "";

        AniSec += '<div class="col-sm-12" style="margin-bottom:20px;">';
        AniSec += '<div class="row btn-lg" style="background-color: white; box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.75);">';
        AniSec += '<div class="col-sm-3 btn-lg" style=" border: solid 1px; border-color:grey;">';
        AniSec += '<img id="' + phimg +'" src="" width="100%" height="100%">';
        AniSec += '</div>';
        AniSec += '<div class="col-sm-9">';
        AniSec += '<h4 id="' + phtit +'"></h4>';
        AniSec += '<div class="row">';

        AniSec += '<div class="col-sm-12">';
        AniSec += '<h5 class="subTextShop" id="' + phdes +'"></h5>';
        AniSec += '</div>';

        AniSec += '<div class="col-md-6 col-sm-6 orariQuantita">';
        AniSec += '<div class="row">';
        AniSec += '<div class="col-xs-6 col-sm-12 col-md-6">';
        AniSec += '<h4 style="margin-bottom: 4px;">Quantità</h4>';
        AniSec += '<div class="rail-select" style="margin-top: 2px;">';
        AniSec += '<div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
        AniSec += '<select id="Ani' + phqnt + '" onchange="SetAniQuantity(value, AniLineId)" class="form-control">';
        AniSec += '</select>';
        AniSec += '</div>';
        AniSec += '</div>';
        AniSec += '<div class="col-xs-6 col-sm-12 col-md-6">';
        AniSec += '<div id="' + subanid +'">';

        AniSec += '</div>';
        AniSec += '</div>';
        AniSec += '</div>';
        AniSec += '</div>';

        AniSec += '<div class="col-md-6 col-sm-6 textPromoShop" style="text-align: right;">';
        AniSec += '<del>';
        AniSec += '<h4 style="margin-top: 2px; margin-bottom: 2px; color: #089bda; display:inline;">PREZZO AL PARCO&nbsp;</h4>';
        AniSec += '<h4 id="' + phbaseprc + '" style="margin-top: 2px; margin-bottom: 2px; color: #089bda; display:inline-block;"></h4></del><br />';
        AniSec += '<h4 style="margin-top: 2px; color: #009d3f; display:inline-block;">PROMO ONLINE&nbsp;</h4>';
        AniSec += '<h4 style="margin-top: 2px; color: #009d3f; display: inline-block;" id="' + phprc +'"></h4>';
        AniSec += '<h3 style="text-align: center; margin-left: auto; padding: 4px; max-width:160px; background-color: #ececec; color: darkslategray; font-family: Hiruko Pro;" id="' + phsbt + '">0€</h3>';
        AniSec += '</div>';

        AniSec += '</div>';
        AniSec += '</div>';
        AniSec += '<div class="row col-sm-12" style="">';
        AniSec += '<h4 class="subTextShop" id="' + phnot + '" style="font-family:Circular Std; margin: 5px; color: #000000"></h4>';
        AniSec += '</div>';
        AniSec += '</div>';
        AniSec += '</div>';


        ////////////////////////////////////////////
        //dynamic sub animal section
        SubAniSec = '';

        SubAniSec += '<h4 style="margin-top: 48px; margin-bottom: 2px;">Orario</h4>';
        SubAniSec += '<div class="rail-select" style="margin-top: 2px;">';
        SubAniSec += '<div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
        SubAniSec += '<select id="SubAni' + phqnt + '" onchange="SetSubAniQuantity(true, SubAniLineId, value)" class="form-control"></select>';
        SubAniSec += '</div>';


        $(document).ready(function () {
            //$('#loader').modal('show');
            $("#ajaxBusy").fadeIn(300);

            Prodotto = '@ViewBag.Prodotto';
            LogUser = '@ViewBag.TipoOperatore';
            Svincolato = '@ViewBag.Svincolato';
            VerificaCliente = '@ViewBag.VerificaCliente';
            FunzioniOperatore();

            AcquistoId = '@ViewBag.AcquistoId';
            FamilyPack = '@ViewBag.FamilyPack';
            FamilyTitle = '@ViewBag.FamilyTitle';
             @*FamilyDescription = '@ViewBag.FamilyDescription';*@
            FamilyDescription ='Pacchetto famiglia';
            DiscountCode = '@ViewBag.DiscountCode';

            if (FamilyPack != '') {
                $("#BtnIndietro").css("display", "none");
            }

            ManageAcquistoId();


            if (VerificaCliente != '')
            {
                $("#BtnIndietro").css("display", "none");
            }

            if (Prodotto == "hotel")
            {
                Rooms = [];

                HotelId = '@Model.ShoppingStateHotel.Hotel';
                HotelPrice = '@Model.ShoppingStateHotel.HotelPrice';
                HotelPriceId = '@Model.ShoppingStateHotel.HotelPriceId';
                DayArrive = '@Model.ShoppingStateHotel.DayArrive';
                DayDeparture = '@Model.ShoppingStateHotel.DayDeparture';
                AssicPrice = Number('@ViewBag.PrezzoAssicurazione');
                NavPrice = Number('@ViewBag.PrezzoNavetta');
                AssicCambioData = '@Model.ShoppingStateHotel.AssicCambioData';
                ServizioNavetta = '@Model.ShoppingStateHotel.ServizioNavetta';
                TotPrice = '@Model.ShoppingStateHotel.Price';
                hotDes = '@Model.ShoppingStateHotel.HotelDescription';
                Nrooms = '@Model.ShoppingStateHotel.Nrooms';
                adults = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NAdults));
                kids = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKids));
                kidsfree = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKidsfree));

                RoomsAndTotHotel();

                $("#SCticketlist").hide();
            }

            //Day from model
            Day = '@ViewBag.Day';

            if (Day == "")
            {
                //anomaly
                window.location.href =  "/Acquisto/Biglietto";
            }

            $("#DayNow").text(Day);


            Inizializza(Day);

        });


        $("#BtnProcedi").click(function () {
            var $this = $(this);
            $this.button('loading');
            //setTimeout(function() {
            //    $this.button('reset');
            //}, 10000);
            GoToActivity(Prodotto);
        });


        $("#BtnIndietro").click(function () {
            var $this = $(this);
            $this.button('loading');
            //setTimeout(function() {
            //    $this.button('reset');
            //}, 10000);
            if (FamilyPack !="")
            {
                GoToBuy(Prodotto);
            }
            else
            {
                GoToMenu(Prodotto);
            }

        });


        function SetAniQuantity(val, Id) {

            //change schedule for ending allotment
            var subsel = $("#SubAniQuantity_" + Id).val();
            var subtime = $("#SubAniQuantity_" + Id + " option:selected").text();

            var MaxDisp = Number(SubAniDisp[Id][subsel]);

            //sold out reached:
            if (val > MaxDisp) {
                AlertCenter("Disponibili massimo:" + MaxDisp + " posti per le: " + subtime);
                $("#AniQuantity_" + Id).val("0");
                $("#SubAniQuantity_" + Id).val("0");
                AggiornaSc(0, Id);
                return;
            }

            AlertCenterClose();



            AggiornaSc(val,Id);
            if ($(window).width() <= 768) {
                $('html, body').animate({
                    scrollTop: parseInt($(".detailsBoxShop").offset().top)
                }, 2000);

            }
        }


        function AggiornaSc(val,Id)
        {
            if (val == "" || val == null){ val = 0;}

            if (val == 0)
            {

                for (var i = 0; i < SubAniQuantity[Id].length; i++)
                {
                    SetSubAniQuantity(false, Id, i);
                }

                $("#SubAniQuantity_" + Id + " option:first").attr('selected','selected');

            }
            else
            {

                var lun = $("#SubAniQuantity_" + Id + " option").length;
                var  sb = SubAniTitles[Id][0];



                //first time default:
                var cnt = 0;
                for (var j=0; j < SubAniQuantity[Id].length; j++)
                {
                    cnt += SubAniQuantity[Id][j];

                }

                if (cnt == 0)
                {
                    for (var j=0; j < SubAniQuantity[Id].length; j++)
                    {
                        SubAniQuantity[Id][j] = 0;
                    }

                    SubAniQuantity[Id][0] = 1;
                }
            }

            AniQuantity[Id] = val;
            RiempiSC();
            TotPrezzo();
            SubTotPrezzo();

            //no focus on IE:
            $("select").blur();

        }




        function SetSubAniQuantity(checked, IdAnimal, IdSubAnimal)
        {

            if (checked == true)
            {
                $("#Ani" + phqnt + IdAnimal).empty();
                AniQuantity[IdAnimal] = 0;

                for (var j=0; j < SubAniQuantity[IdAnimal].length; j++)
                {
                    SubAniQuantity[IdAnimal][j] = 0;
                }

                SubAniQuantity[IdAnimal][IdSubAnimal] = 1;

                var num = maxcombo;

                if (AniPosition[IdAnimal] == 0)
                {
                    var disp = SubAniDisp[IdAnimal][IdSubAnimal];
                    var MaxDisp = Number(disp);

                    //free schedule time choice
                    if (MaxDisp < maxcombo) { num = MaxDisp}
                }


                FillComboQuant('Ani' + phqnt + IdAnimal, num);
            }
            else
            {
                SubAniQuantity[IdAnimal][IdSubAnimal] = 0;
            }

            RiempiSC();
            TotPrezzo();
            SubTotPrezzo();
        }

        function Inizializza(Day) {

            DiscountCode = '@Model.ShoppingState.DiscountCode';

            //acquisition
            var URL = "/Acquisto/GetData";

            var Info = { Day: Day, FamilyPack: FamilyPack };

            var promise = $.post(URL, Info);

            promise.done(function (data) {

                ReadData(data);

                azzera = false;

                //$('#loader').modal('show');

                var SubAniQuant;
                Titles =  @Html.Raw(Json.Encode(Model.ShoppingState.TckTitles));
                Prices = @Html.Raw(Json.Encode(Model.ShoppingState.TckPrices));
                Quantity = @Html.Raw(Json.Encode(Model.ShoppingState.TckQuantitities));
                AniQuantity = @Html.Raw(Json.Encode(ViewBag.Options.AniQuantitities));
                ActQuantity = @Html.Raw(Json.Encode(ViewBag.Options.ActQuantitities));
                MnuQuantity = @Html.Raw(Json.Encode(ViewBag.Options.MnuQuantitities));
                SubAniQuant = @Html.Raw(Json.Encode(ViewBag.Options.SubAniQuantitities)) + '';

                AniPosition = @Html.Raw(Json.Encode(ViewBag.AniPosition));
                SubAnimalMaxQuantity = @Html.Raw(Json.Encode(ViewBag.SubAnimalMaxQuantity));

                SubAniQuantLinear = SubAniQuant.split(","); //linear array

                ////////////////////////////////////////////////////////
                //buyer info

                if (Prodotto == "ticket")
                {
                    LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingState.Buyer)));
                }
                else
                {
                    LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingStateHotel.Buyer)));
                    FillSCHotel();
                }

                //azzera = true

                GetBuyer();

                GetAddOnPrices(Day);

            });
        }

        function FillAll()
        {

            for (var ind = 0; ind < animal.length; ind++) {
                $("#Ani" + phqnt + ind).val(AniQuantity[ind]);
                $("#" + phtit + ind).append(decodeHTML(AniTitles[ind]));
                $("#" + phdes + ind).append(decodeHTML(AniDescriptions[ind]));
                $("#" + phnot + ind).append(decodeHTML(AniNotes[ind]));
                $("#" + phimg + ind).attr("src",AniImages[ind]);
                $("#" + phbaseprc + ind).text(AniBasePrices[ind] +"€");
                $("#" + phprc + ind).text(AniPrices[ind] +"€");

            }

            for (var ind = 0; ind < animal.length; ind++) {

                //if (SubAniDisp[ind][0] < AniQuantity[ind] )
                //{
                //    AniQuantity[ind] = 0;
                //}

                if (SubAniQuantity[ind].length == 0)
                {
                    $("#" + Scegli + ind).hide();
                }


                //SetAniQuantity(AniQuantity[ind], ind);

                //for (var j=0; j < subanimal[ind].length; j++)
                //{

                //    if (SubAniQuantity[ind][j] == "1")
                //    {
                //        $("#SubAniQuantity_" + ind + " option")[j].selected = true;
                //        AggiornaSc(1,ind);
                //    }

                //}
            }

        }


        function Riempimento()
        {
            $("#procedi").show();
            $("#payment").empty();
            $("#continue").hide();


            //loop creation animals
            if (animal.length == 0)
            {
                Finish();
            }

            ArrFinish = 0;
            $("#animallist").empty().hide();
            for (var i = 0; i < animal.length; i++) {

                if (azzera == true)
                {
                    AniQuantity[i] = "0";
                }

                var htm = Sostituzione(AniSec, elements, i);
                htm = htm.replace(Scegli, Scegli + i);
                htm = htm.replace("AniLineId", i);
                htm = htm.replace(subanid, subanid + i);
                $("#animallist").append(htm);

                //loop creation subanimal

                SubAniQuantity = new Array(animal.length);
                SubAniTitles = new Array(animal.length);
                SubAniDescriptions = new Array(animal.length);
                SubAniNotes = new Array(animal.length);
                SubAniPrices = new Array(animal.length);
                SubAniDisp = new Array(animal.length);

                GetSubAnimalPrices(i);


            }

            $("#" + phsbt + "0").css("visibility","visible");

            //IMPORTANT!
            setTimeout(Mobilecarousel, 1000);
            $("#animallist").show();



        }


        //when finished
        function Finish()
        {

            for (var Index = 0; Index < animal.length; Index++)
            {
                var data = subanimal[Index];

                var htm = SubAniSec;
                htm = htm.replace('SubAni' + phqnt, 'SubAni' + phqnt  + Index);
                htm = htm.replace("SubAniLineId", Index);

                if (data.length > 0)
                {
                    $("#" + subanid + Index).append(htm);
                }

                //only for animals
                for (var i = 0; i < data.length; i++) {

                    var tit = data[i].Title;

                    $('#SubAni' + phqnt + Index).append($('<option>', {
                        value: i, text: tit
                    }));
                }


            }

            ReloadSubAniQuantity();



            //suboptions in allotment
            ReloadSubAniDisp();

            for (var i = 0; i < animal.length; i++) {

                var lung = subanimal[i].length;


                if (lung == 0)
                {
                    //first level allotment
                    $("#" + phtit + i).after(Nodisp);

                }
                else
                {
                    //allottment per time entrance
                    var num = maxcombo;
                    if (AniPosition[i] == 0)
                    {
                        var MaxDisp = Number(SubAniDisp[i][0]);

                        //free schedule time choice
                        if (MaxDisp < maxcombo) { num = MaxDisp}
                    }

                    FillComboQuant('Ani' + phqnt + i, num);

                }
            }


            FillAll();


            $("#continue").show();

            TotPrezzo();
            SubTotPrezzo();

            RiempiSC();

            if (VerificaCliente != '')
            {
                NoDelButtons();
                NoChangeSelect();
            }

            $('#loader').modal('hide');
            $("#ajaxBusy").fadeOut(300);
        }


        function ReloadSubAniDisp()
        {

            var SubAniIndex = 0;

            for (var i = 0; i < animal.length; i++) {
                SubAniDisp[i] = new Array(lung);
                var lung = subanimal[i].length;

                for (var j = 0; j < lung; j++) {
                    while (SubAnimalMaxQuantity[SubAniIndex] == "") {
                        SubAniIndex++;
                    }

                    SubAniDisp[i][j] = SubAnimalMaxQuantity[SubAniIndex];
                    SubAniIndex++;
                }

            }

        }

        function SubTotPrezzo() {
            for (var i = 0; i < animal.length; i++) {

                var amount = Number(AniPrices[i].replace(",",".")) * Number(AniQuantity[i]);
                amount = FormatMoney(amount);

                $("#" + phsbt + i).text(amount + "€");
            }
        }


    </script>
}
