﻿@model Core.Shops

@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Acquisto menu";
}


<style>
    select:focus {
        outline: none;
    }
</style>


<div class="AperturaText">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 id="shoptitle">@ViewBag.shoptitle</h3>
                <h5 style="margin: 0;">@ViewBag.shopdescription</h5>
                <h5 style="margin: 0;">GARANZIA "DIAMOCI UNA MANO COVID" - PREZZI INVARIATI DAL 2019</h5>
                <h5 style="margin: 0;">Il biglietto può essere acquistato anche il giorno stesso della visita al parco</h5>

                <nav class="form-steps" style="margin-left: 20%;">

                    <div class="form-steps_item form-steps_item-completed">
                        <div class="form-steps_item-content">
                            <span class="form-steps_item-lineshort"></span>
                            @*<a id="step1" href="" class="form-steps_item-icon"></a>*@
                            <span id="step1" class="form-steps_item-icon" style="cursor: pointer;"></span>
                            <span class="form-steps_item-text">@ViewBag.Scegli</span>
                        </div>
                    </div>

                    <div class="form-steps_item">
                        <div class="form-steps_item-active">
                            <span class="form-steps_item-icon"></span>
                            <span class="form-steps_item-line"></span>
                            <span class="form-steps_item-text">Scegli il tuo pranzo</span>
                            <span class="form-steps_item-lineshort"></span>
                        </div>
                    </div>

                    <div class="form-steps_item">
                        <div class="form-steps_item-content">
                            <span id="step5" class="form-steps_item-icon" style="cursor: pointer;"></span>
                            <span class="form-steps_item-line"></span>
                            <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                            <span class="form-steps_item-lineshort"></span>
                        </div>
                    </div>
                </nav>
                <span class="sectext visible-sm visible-xs">Scegli il tuo pranzo</span>
            </div>
        </div>
    </div>
</div>

<div id="summary" style="font-family: 'Circular Std';">
    <div class="container">
        <div class="row sfondoaddon">
            <div class="col-sm-9">                
                    <h3 class="visible-xs" stye="color:#013751">@ViewBag.Step1Des</h3>         
                <div class="row FlexPosition">
                    <div class="col-sm-12">
                        <div class="detailsBoxShop">
                            <div class="headDetailsShop">
                                <div class="row">
                                    @if (ViewBag.Prodotto == "hotel")
                                    {
                                        <div class="col-sm-9 col-xs-8">
                                            <h5>Descrizione</h5>
                                        </div>
                                        <div class="col-sm-1 col-xs-4">
                                            <h5>Totale</h5>
                                        </div>
                                        <div class="col-sm-2 hidden-xs"></div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-5 col-xs-8">
                                            <h5>Descrizione</h5>
                                        </div>
                                        <div class="col-sm-2 hidden-xs">
                                            <h5>Prezzo</h5>
                                        </div>
                                        <div class="col-sm-2 hidden-xs">
                                            <h5>Quantità</h5>
                                        </div>
                                        <div class="col-sm-1 col-xs-4">
                                            <h5>Totale</h5>
                                        </div>
                                        <div class="col-sm-1 hidden-xs"></div>
                                    }
                                </div>
                            </div>
                            <div class="bodyDetailsShop">
                                <div class="row">
                                    <div id="pricesummary" style="text-align: left;">
                                        <div class="col-xs-9 col-sm-5 col-md-9" style="display: inline; vertical-align: middle;">
                                            <h4>&nbsp;@ViewBag.Dicitura</h4>
                                        </div>
                                    </div>
                                </div>

                                <!--////////////////////////////////////////-->
                                <!--shopping cart ticket plus hotel-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCHotellist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCroomlist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <!--////////////////////////////////////////-->
                                <!--shopping cart ticket-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCticketlist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCmenulist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCanimallist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="SCactivitylist">
                                            <!--created dynamically-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 hidden-xs" style="clear:both;">
                        <h3>@ViewBag.Step1Des</h3>
                    </div>

                    <div class="col-sm-12">
                        <div id="options" style="font-family: Hiruko Pro;">
                            <div id="menulist" class="sliderShop"></div>
                        </div>
                    </div>
                </div>
                



                
            </div>
            <div class="col-sm-3">
                <!--total-->
                <div class="make_static">
                    <div class="divtotal " id="DivTotal">
                        <h2>Totale:</h2>
                        <h3>
                            €&nbsp;<label id="TotPrice"></label>
                        </h3>
                        <button type="button" id="BtnIndietro" class="btn btn-red" data-loading-text="<i class='fa fa-spinner fa-spin '></i> INDIETRO "><i class="fa fa-chevron-left" aria-hidden="true"></i> INDIETRO</button>
                        <button type="button" id="BtnProcedi" class="btn btn-green" data-loading-text="<i class='fa fa-spinner fa-spin '></i> PROCEDI ">PROCEDI <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<!--modal windows-->
<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>



@section Scripts {
    <script src="~/Scripts/ShopVariables.js?rec='@rec'"></script>
    <script src="~/Scripts/ShoppingCart.js?rec='@rec'"></script>
    <script type="text/javascript">
        ////////////////////////////////////////////
        //SHOPPING CART included in shoppingarct.js

        var MnuSec = Template(phimg, phtit, phdes, "Mnu" + phqnt, phbaseprc, phprc, phnot, phsbt);


        $(document).ready(function () {
            //$('#loader').modal('show');
            $("#ajaxBusy").fadeIn(300);


            AssicPrice = Number('@ViewBag.PrezzoAssicurazione');
            NavPrice = Number('@ViewBag.PrezzoNavetta');

            Prodotto = '@ViewBag.Prodotto';
            LogUser = '@ViewBag.TipoOperatore';
            VerificaCliente = '@ViewBag.VerificaCliente';
            FunzioniOperatore();

            AcquistoId = '@ViewBag.AcquistoId';
            Svincolato = '@ViewBag.Svincolato';


            FamilyPack = '@ViewBag.FamilyPack';
            FamilyTitle = '@ViewBag.FamilyTitle';
            FamilyDescription = 'Pacchetto famiglia';


            ManageAcquistoId();

            if (AcquistoId != '' && Svincolato == 'true' ) {
                $("#BtnIndietro").css("display", "none");
            }


            if (VerificaCliente != '')
            {
                $("#BtnIndietro").css("display", "none");
            }


            if (Prodotto == "hotel")
            {

                Rooms = [];

                HotelId = '@Model.ShoppingStateHotel.Hotel';
                HotelPrice = '@Model.ShoppingStateHotel.HotelPrice';
                HotelPriceId = '@Model.ShoppingStateHotel.HotelPriceId';
                DayArrive = '@Model.ShoppingStateHotel.DayArrive';
                DayDeparture = '@Model.ShoppingStateHotel.DayDeparture';
                AssicCambioData = '@Model.ShoppingStateHotel.AssicCambioData';
                ServizioNavetta = '@Model.ShoppingStateHotel.ServizioNavetta';
                TotPrice = '@Model.ShoppingStateHotel.Price';
                hotDes = '@Model.ShoppingStateHotel.HotelDescription';
                Nrooms = '@Model.ShoppingStateHotel.Nrooms';
                adults = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NAdults));
                kids = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKids));
                kidsfree = @Html.Raw(Json.Encode(Model.ShoppingStateHotel.NKidsfree));


                RoomsAndTotHotel();

                $("#SCticketlist").hide();
            }

            //Day from model
            Day = '@ViewBag.Day';

            if (Day == "")
            {
                //anomaly
                window.location.href =  "/Biglietto/Buy";
            }

            $("#DayNow").text(Day);

            Inizializza(Day);

        });



        $("#BtnProcedi").click(function () {
            var $this = $(this);
            $this.button('loading');
            //setTimeout(function() {
            //    $this.button('reset');
            //}, 10000);
            //GoToAnimal(Prodotto);
            GoToShoppingCart();
        });


        $("#BtnIndietro").click(function () {
            var $this = $(this);
            $this.button('loading');
            //setTimeout(function() {
            //    $this.button('reset');
            //}, 10000);
            GoToBuy(Prodotto);
        });


        function SetQuantity(val, id) {
            if (val == "" || val == null) { val = 0; }
            MnuQuantity[id] = val;
            RiempiSC();
            TotPrezzo();
            SubTotPrezzo();
            //no focus on IE:
            $("select").blur();
            //console.log("IngresaPrecioTabla")
            if ($(window).width() <= 768) {
                $('html, body').animate({
                    scrollTop: parseInt($(".detailsBoxShop").offset().top)
                }, 2000);

            }
        }

        function Inizializza(Day) {

            DiscountCode = '@Model.ShoppingState.DiscountCode';

            //acquisition
            var URL = "/Acquisto/GetData";

            var Info = {Day: Day, FamilyPack: FamilyPack};

            var promise = $.post(URL, Info);

            promise.done(function (data) {

                ReadData(data);

                azzera = false;

                var SubAniQuant;
                Titles =  @Html.Raw(Json.Encode(Model.ShoppingState.TckTitles));
                Prices = @Html.Raw(Json.Encode(Model.ShoppingState.TckPrices));
                Quantity = @Html.Raw(Json.Encode(Model.ShoppingState.TckQuantitities));
                AniQuantity = @Html.Raw(Json.Encode(ViewBag.Options.AniQuantitities));
                ActQuantity = @Html.Raw(Json.Encode(ViewBag.Options.ActQuantitities));
                MnuQuantity = @Html.Raw(Json.Encode(ViewBag.Options.MnuQuantitities));
                SubAniQuant = @Html.Raw(Json.Encode(ViewBag.Options.SubAniQuantitities)) + '';

                SubAniQuantLinear = SubAniQuant.split(","); //linear array

                ////////////////////////////////////////////////////////
                //buyer info

                if (Prodotto == "ticket")
                {
                    LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingState.Buyer)));
                }
                else
                {
                    //hotel
                    LoadBuyer(@Html.Raw(Json.Encode(Model.ShoppingStateHotel.Buyer)));
                    FillSCHotel();
                }

                GetBuyer();

                GetAddOnPrices(Day);

            });
        }

        function Riempimento()
        {
            $("#procedi").show();
            $("#payment").empty();
            $("#continue").hide();

            //loop creation menus
            $("#menulist").empty().hide();
            for (var i = 0; i < menu.length; i++) {
                if (azzera == true) {
                    MnuQuantity[i] = "0";
                }

                var htm = Sostituzione(MnuSec, elements, i);
                htm = htm.replace("LineId", i);
                if (MnuPrices[i] != null) {
                    $("#menulist").append(htm);
                }

            }

            //IMPORTANT!
            setTimeout(Mobilecarousel, 1000);
            $("#menulist").show();

            LoopAnimals();

        }

        //when finished
        function Finish()
        {
            ReloadSubAniQuantity();

            FillCombo(menu, "Mnu" + phqnt);

            for (var ind = 0; ind < menu.length; ind++) {
                $("#Mnu" + phqnt + ind).val(MnuQuantity[ind]);
                $("#" + phtit + ind).append(decodeHTML(MnuTitles[ind]));
                $("#" + phdes + ind).append(decodeHTML(MnuDescriptions[ind]));
                $("#" + phnot + ind).append(decodeHTML(MnuNotes[ind]));
                $("#" + phimg + ind).attr("src", MnuImages[ind]);
                $("#" + phbaseprc + ind).text(FormatMoney(MnuBasePrices[ind]) + "€");
                $("#" + phprc + ind).text(FormatMoney(MnuPrices[ind]) +"€");
            }

            $("#continue").show();

            TotPrezzo();
            SubTotPrezzo();

            RiempiSC();


            if (VerificaCliente != '')
            {
                NoDelButtons();
                NoChangeSelect();
            }

            $('#loader').modal('hide');
            $("#ajaxBusy").fadeOut(300);

        }

        function SubTotPrezzo() {
            for (var i = 0; i < menu.length; i++) {

                //var amount = Number(MnuPrices[i] * MnuQuantity[i]).toFixed(2);
                if (MnuPrices[i] != null) {
                    var amount = Number(MnuPrices[i].replace(",","."));
                }

                //console.log(amount);
                var amount2 = amount * MnuQuantity[i];
                amount2 = amount2.toFixed(2);
                amount2 = FormatMoney(amount2);
                $("#" + phsbt + i).text(amount2 + "€");
            }
        }

    </script>
}