﻿@model Core.ShoppingState

@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Centri estivi";
}


<div class="buyApertura">
    <div class="AperturaText">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>CENTRI ESTIVI</h3>
                    <h5>
                    <span>Siete un centro estivo?, AcquaJoss ha l'offerta ideale per te!</span><br />
                    Sconto riservato per minimo 15 persone paganti + 1 biglietto gratis ogni 10.</h5>          
                    
                    <nav class="form-steps" style="margin-left: 30%;">
                        <div class="form-steps_item form-steps_item-active">
                            <div class="form-steps_item-content">
                                <a class="form-steps_item-lineshort"></a>
                                <span class="form-steps_item-icon"><small class=""></small></span>
                                <span class="form-steps_item-text">Scegli la data</span>
                            </div>
                        </div>
                     
                        <div class="form-steps_item">
                            <div class="form-steps_item-content">
                                <a class="form-steps_item-icon"></a>
                                <span class="form-steps_item-line"></span>
                                <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                                <span class="form-steps_item-lineshort"></span>
                            </div>
                        </div>
                    </nav>
                
                </div>
            </div>
            <span class="sectext visible-sm visible-xs">Scegli la data</span>
        </div>
    </div>
    <div class="container">
        <div class="shopContent">
            <div class="row">
                <div id="InfoAndCalendar">

                    <div id="InfoSection" class="col-md-3 infoshop hidden-sm hidden-xs">
                        <h3>PREZZI <i class="fa fa-credit-card" aria-hidden="true"></i></h3>
                        <p>La tariffa è unica per i ragazzi. L'ingresso omaggio degli accompagnatori (1 ogni 10)
                        è da ritirare presso l'ufficio informazioni del parco 
                        il giorno della visita. Bambini fino a 5 anni compiuti entrano gratis.
                        Altri accompagnatori dovranno comprare un biglietto intero o ridotto in base alle tariffe giornaliere.</p>
                        <h3>SICUREZZA <i class="fa fa-check" aria-hidden="true"></i></h3>
                        <p>Pagamenti sicuri al 100%</p>
                        <!--<h4>HAI BISOGNO DI AIUTO?<br /> CHIAMACI ALLO</h4>
                        <a href="tel:+0695134"><i class="fa fa-phone" aria-hidden="true"></i> 06.95134</a>-->
                        <h4>HAI BISOGNO DI AIUTO? </h4>
                        <a class="faqscontacti btn-bluezoom" href="@Url.Action("domandeFrequenti", "Home")" target="_blank"> DOMANDE FREQUENTI</a>

                    </div>
                    <div id="CalendarSection" class="col-md-5 col-sm-6 calendarShop">
                        <!-- dynamic calendar prices-->
                        <div id="DynCalendar">
                        </div>
                        <div id="colorschedule" class="colorSchedule">
               
                        </div>
                    </div>

                    <div id="DivPromotionImage" class="col-md-8" style="display:none;">
                        <img id="PromotionImage" src="" />
                        <div id="PromotionSection" class="col-md-12" style="display:none; font-size:medium;">
                        </div>
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 bookReserv">
                    <div class="btn-lg headBook">
                        <div>
                            <h4 style="color: white;">In che giorno ci visiterete?</h4>
                        </div>
                        <div class="pickerCalen" style="text-align: center;">
                            <input type="text" id="datafinale" disabled="">
                            <!-- calendario family-->
                            <div id="FamilyCal" style="position: absolute; visibility: hidden; z-index:9999;">
                                <!-- dynamically created-->
                            </div>
                            @*<img id="minicalendar" style="margin-top: -4px; margin-left: -38px; " src="/Content/images/home/minicalendar.png">*@
                        </div>

                    </div>

                    <div class="btn-lg" style="margin-top: 8px; border: solid 1px; border-color:black; font-family: Hiruko Pro; background-color: white;">
                        <div id="family" style="display:none;">
                            <div class="row" style="color: red; background-color: white;">
                                <div class="col-xs-12"><h4>@ViewBag.FamilyTitle</h4></div>
                            </div>
                            <div id="familydes" style="color: grey;"></div>
                        </div>

                        <div id="InfoDiv">
                            <div id="payment">
                                <!--section created dynamically-->
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xs-7" style="text-align:right;">
                                <h3>Totale:</h3>
                            </div>

                            <div class="col-xs-4" style="margin-left: 15px; border: 1px solid grey; border-radius: 5px; text-align:center;">
                                <h3 id="TotPrice">&nbsp;</h3>
                            </div>

                            <div class="col-md-1"></div>


                            <div class="row col-md-12" style="color: blue; text-align: center;"><h5 style="margin: 4px;">Inserire solo i paganti</h5></div>
                        </div>


                    </div>


                </div>

                <div class="col-md-12 img-rounded"></div>

            </div>

            @Html.Partial("~/Views/Shared/Buyer.cshtml")

            <div class="row btn-lg" id="continue" style="text-align: right; display: none; font-family: Hiruko Pro;">
                <button type="button" id="BtnProcedi" class="btn btn-success shad" data-loading-text="<i class='fa fa-spinner fa-spin '></i> PROCEDI ">PROCEDI <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>

        </div>
    </div>




</div>
<!--modal windows-->
<!--error messages-->
<div class="warning">
    <div id="alert_placeholder"></div>
</div>

<div class="warning" >
    <div id="alert_placeholder2">
    </div>
</div>

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/Scripts/Calendars.js?rec='@rec'" type="text/javascript"></script>
    <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script src="~/Scripts/ShoppingCart.js?rec='@rec'" type="text/javascript"></script>
    <script type="text/javascript">

        var FirstTime;
        var DefaultQuantity = 15;

        ////////////////////////////////////////////
        //color schedule

        var Coln = "Coln_";
        var StartH = "StartH_";
        var EndH = "EndH_";

        var StartCol = '<div><i class="fa fa-circle cell" aria-hidden="true" style="color:#8b8989;"></i> <span class="cell">PARCO CHIUSO</span></div>';
        //var EndCol = '<div><i class="fa fa-circle cell" aria-hidden="true" style="color:#d51f3b;"></i> <span class="cell">ANIMAL EXPLORER</span></div>';
        var EndCol = '';
        var Colsch = '<div><i class="fa fa-circle cell" aria-hidden="true" style="color:' + Coln + ' ;"></i><div class="cell"><span>' + StartH + '</span> <span>' + EndH + '</span></div></div>';


        ////////////////////////////////////////////
        //dynamic ticket section
        var TckSec = '';
        TckSec += '<div id="riga_" class="row" style="color: red; background-color: white;">';
        TckSec += '<div class="col-xs-4"><h4>BIGLIETTO</h4><h4 class="text-uppercase" id="' + phdes + '"></h4></div>';
        TckSec += '<div class="col-xs-3" style="color:black; display:inline;"><h3 id="' + phprc + '"></h3></div>';
        TckSec += '<div class="col-xs-4">';

        TckSec += '<div class="rail-select" style="margin-top: 18px;"><div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
        TckSec += '<select id="' + phqnt + '" onchange="SetQuantity(value, TckLineId)" class="form-control" id="sel1"></select></div>';
        TckSec += '</div>';
        TckSec += '</div>';


        //$('#loader').modal('show');
        $("#ajaxBusy").fadeIn(300);
        var EventDate = "";
        var Option = "";

        var FakeUser = "";

        DataOggi = '@ViewBag.DataOggi';

        $(document).ready(function () {
            Prodotto = "ticket";

            Option = '@ViewBag.Option';
            LogUser = '@ViewBag.TipoOperatore';
            FunzioniOperatore();

            AcquistoId = '@ViewBag.AcquistoId';
            FamilyPack = '@ViewBag.FamilyPack';
            Discount = '@ViewBag.Discount';

            FakeUser = '@ViewBag.FakeUser';


            if (AcquistoId !="")
            {
                //$("#buyhotel").css("display","none");
                //$("#buysubscription").css("display","none");
                DeleteCookieBuyer();
                DeleteAllCookies();
            }


            //calendar
            DataOggi = '@ViewBag.DataOggi';
            ListaData = @Html.Raw(Json.Encode(ViewBag.cal.ListaData));


            ListaId1 = @Html.Raw(Json.Encode(ViewBag.cal.ListaId1));
            ListaBasePrice1 = @Html.Raw(Json.Encode(ViewBag.cal.ListaBasePrice1));
            ListaPrice1 = @Html.Raw(Json.Encode(ViewBag.cal.ListaPrice1));

            ListaId2 = @Html.Raw(Json.Encode(ViewBag.cal.ListaId2));
            ListaBasePrice2 = @Html.Raw(Json.Encode(ViewBag.cal.ListaBasePrice2));
            ListaPrice2 = @Html.Raw(Json.Encode(ViewBag.cal.ListaPrice2));

            ListaTimeEntrance = @Html.Raw(Json.Encode(ViewBag.cal.ListaTimeEntrance));

            //colorschedule
            var Colori = @Html.Raw(Json.Encode(ViewBag.Colori));
            var ColorDes = @Html.Raw(Json.Encode(ViewBag.ColorDes));





            var htm = StartCol;

            for (var i=0; i < Colori.length; i++)
            {
                var dat = Colsch.replace("Coln_" , Colori[i]);

                var n = ColorDes[i].indexOf("-");
                var ini = ColorDes[i].substr(0, n - 1);
                var fin = ColorDes[i].substr(n + 2);

                dat = dat.replace("StartH_", ini);
                dat = dat.replace("EndH_", fin);

                htm = htm + dat;
            }

            htm = htm + EndCol;
            $("#colorschedule").append(htm);

            IdGroup = "Y";
            CreaCalendario();



            ////////////////////////////////////////////////////////
            //buyer info
            LoadBuyer(@Html.Raw(Json.Encode(Model.Buyer)));
            GetBuyer();
            FillBuyer();

            Day = DataOggi;


            if (Day != "") {

                $("#datascelta").find("input").val(Day);
                $("#datafinale").val(Day);

                NoCalcSmq = false;
                FirstTime = false;
            }
            else
            {
                FirstTime = true;
            }

            Day = FirstDayAvailable(DataOggi);

            Inizializza(Day);

            if (AcquistoId == "")
            {
                GetCookieBuyer();
                FillBuyer();
            }

        });




        $(".pickerCalen").click(function(e){

            if (EventDate != "")
            {
                return false;
            }

            if ($("#FamilyCal").css("visibility") == "hidden") {
                $("#FamilyCal").css("visibility", "visible");
            } else {
                $("#FamilyCal").css("visibility", "hidden");
            }

            e.stopPropagation();
            return false;
        });



        $(".form-steps_item-icon").on('click', function (e) {


            var msg = "";

            msg = ValidateBuyer();

            if (msg != "") {
                e.preventDefault();
                AlertShow(msg);
                return;
            }

            SetCookieBuyer();
            ReadFieldsBuyer();

            var mappa = $(this).attr('id');

            switch (mappa) {
                case "step1":
                    GoToBuy();
                    break;

                case "step2":
                    GoToMenu();
                    break;

                case "step3":
                    GoToAnimal();
                    break;

                case "step4":
                    GoToActivity();
                    break;

                case "step5":
                    GoToShoppingCart();
                    break;

                default:
                    e.preventDefault();
            }
        });

        $("#BtnProcedi").click(function () {

            if (DataOggi == Day) {
                var ora = '@ViewBag.OraOggi';

                if (Number(ora) > 1600) {
                    AlertCenter("I biglietti possono essere acquistati il giorno stesso della visita al parco entro le ore 16");
                    return;
                }

            }


            if (Number(Quantity[0]) == 0)
            {
                return;
            }

            var $this = $(this);

            var msg = "";

            msg = ValidateBuyer();

            if ( msg != "")
            {
                AlertShow(msg);
                return;
            }

            SetCookieBuyer();
            ReadFieldsBuyer();
            GetBuyer();

            //get ticket info:
            Tickets[0] = { Id: "@ViewBag.TckId", Title: "@ViewBag.TckTit", Description: "@ViewBag.TckDes", Note: "", Price: Prices[0], Quantity: Quantity[0] };

            GetShoppingList();


            var URL = "/Acquisto/ShoppingCart";
            var promise = $.post(URL, ShoppingList);

            promise.done(function (data) {
                window.location.href =  data;
            });

        });


        $("#RicFatt").click(function(){
            if ( $(this).prop("checked")  )
            {
                //$("#DatiFattura").css("visibility", "visible");
                $("#DatiFattura").slideDown("slow");
            }
            else
            {
                //$("#DatiFattura").css("visibility", "hidden");
                $("#DatiFattura").slideUp("slow");
            }
        })


        function CheckRidotti()
        {

            //in promo reduced no more than full tickets
            var Pricerid = Number(Prices[1].replace(",","."));

            if (Pricerid == 1)
            {
                if (Number(Quantity[1]) > Number(Quantity[0]))
                {
                    AlertCenter("Non è possibile acquistare un numero di biglietti ridotti superiore agli interi, gli altri visitatori pagano intero.");
                    $("#BtnProcedi").css("visibility","hidden");
                    return;
                }
                else
                {
                    AlertCenterClose();

                    $("#BtnProcedi").css("visibility","visible");
                }
            }
        }

        $('#alert_placeholder2').click(function(){
            AlertCenterClose();
        })

        function SetQuantity(val, id) {


            if (val == "" || val == null)
            {
                val = 0;
            }

            Quantity[id] = val;

            CheckAdult();
            //CheckRidotti();

            var cnt = 0;
            for (var i=0; i < ticket.length; i++)
            {
                cnt += Quantity[i];
            }

            if (cnt == 0)
            {
                TotPrice = "0";
                $("#TotPrice").text(String.fromCharCode(160));

                //reset all options
                for (var i=0; i < animal.length; i++)
                {
                    AniQuantity[i] = 0;

                    for (var j = 0; j < SubAniQuantity[i].length; j++)
                    {
                        SubAniQuantity[i][j] = 0;
                    }

                }
                for (var i=0; i < activity.length; i++)
                {
                    ActQuantity[i] = 0;
                }

                for (var i = 0; i < menu.length; i++) {
                    MnuQuantity[i] = 0;
                }

            }


            TotPrezzo();

            //no focus on IE:
            $('#' + phqnt + id).blur();

        }

        function GetDisCode()
        {
            var CodSconto = $("#Bcodsconto").val();

            if (CodSconto == ""){
                AlertCenter("Immettere un codice sconto");
                return;
            }

            AlertCenterClose();

            var URL = "/Acquisto/GetDiscount";

            var Info = {DiscountCode: CodSconto};
            var promise = $.post(URL, Info);

            promise.done(function (data) {

                if (data.length == 0)
                {
                    AlertCenter("Codice sconto non trovato");
                    return;
                }


                for (var i=0; i < data.length; i++)
                {
                    //replace dynamic ticket with full ticket
                    ticket[i] = data[i].TicketId;
                    Prices[i] = data[i].CouponPrice;
                    $("#" + phprc + i).text(Prices[i] + "€");
                }

                //blocca il codice
                DiscountCode = CodSconto;
                $("#Bcodsconto").prop('disabled', true);
                $("#BtnDiscount").css("display","none");

                TotPrezzo();
            });
        }



        function Inizializza(Day) {

            //acquisition
            var URL = "/Acquisto/GetGroupData";
            var Info = {Day: Day};
            var promise = $.post(URL, Info);

            promise.done(function (data) {

                ReadData(data);

                azzera = false;
                var DayNow = '@Model.DayNow';

                if (Day == DayNow)
                {


                    if (@Model.ntck > 0)
                    {
                        //$('#loader').modal('show');

                        Quantity = @Html.Raw(Json.Encode(Model.TckQuantitities));
                        AniQuantity = @Html.Raw(Json.Encode(Model.TckOptions.AniQuantitities));

                        ActQuantity = @Html.Raw(Json.Encode(Model.TckOptions.ActQuantitities));
                        MnuQuantity = @Html.Raw(Json.Encode(Model.TckOptions.MnuQuantitities));

                        var SubAniQuant= @Html.Raw(Json.Encode(Model.TckOptions.SubAniQuantitities)) +'';
                        SubAniQuantLinear = SubAniQuant.split(","); //linear array
                    }
                }
                else
                {
                    azzera = true;
                }

                // GetPrices(Day,true);

                Arrloop = 0;
                Lungloop = ticket.length;

                for (var i = 0; i < ticket.length; i++) {
                    GetTicketPrice(ticket[i], '1', Day, i);
                }

            });
        }

        function FillTickets()
        {

            //fill ticket window and combo
            //max combo
            var nmax = 50;
            var htm = "";

            if (Discount != "")
            {
                //discount

                htm = DisSec;
                $("#payment").append(htm);

                if (DiscountCode != ""){
                    $("#Bcodsconto").val(DiscountCode);
                    GetDisCode();
                }

                for (var i = 0; i < ticket.length; i++) {
                    Prices[i] = "0";

                    htm = TckDisSec.replace(phdes, phdes + i);
                    htm = htm.replace("riga_", "riga_" + i);
                    htm = htm.replace(phbaseprc, phbaseprc + i);
                    htm = htm.replace(phori, phori + i);
                    htm = htm.replace(phprc, phprc + i);
                    htm = htm.replace(phqnt, phqnt + i);
                    htm = htm.replace(phnot, phnot + i);
                    htm = htm.replace("TckLineId", i);

                    $("#payment").append(htm);

                    if (azzera == true)
                    {
                        Quantity[i] = "0";
                    }


                    if (FirstTime == true)
                    {
                        //tickets default:
                        Quantity[0] = DefaultQuantity;
                        FirstTime == false;
                    }

                    for (j = DefaultQuantity; j < nmax + 1; j++) {
                        var tx = '...';
                        if (j > 0) { tx = j }

                        $('#' + phqnt + i).append($('<option>', {
                            value: j, text: tx
                        }));
                    }


                    $("#" + phqnt + i).val(Quantity[i]);
                    $("#" + phdes + i).text(Descriptions[i]);
                    $("#" + phori + i).text(BasePrices[i] +"€");
                    $("#" + phbaseprc + i).text(BasePrices[i] +"€");
                    $("#" + phprc + i).text("...");
                    $("#" + phnot + i).text(Notes[i]);

                    if(Notes[i] != ""){
                        $("#" + phnot + i).show();
                    }
                }


            }
            else
            {
                //dynamic price
                for (var i = 0; i < ticket.length; i++) {

                    htm = TckSec.replace(phdes, phdes + i);
                    htm = htm.replace("riga_", "riga_" + i);
                    htm = htm.replace(phbaseprc, phbaseprc + i);
                    htm = htm.replace(phprc, phprc + i);
                    htm = htm.replace(phqnt, phqnt + i);
                    htm = htm.replace(phnot, phnot + i);
                    htm = htm.replace("TckLineId", i);

                    $("#payment").append(htm);

                    if (azzera == true)
                    {
                        Quantity[i] = "0";
                    }

                    if (FirstTime == true)
                    {
                        //tickets default:
                        Quantity[0] = DefaultQuantity;
                        FirstTime == false;
                    }

                    for (j = DefaultQuantity; j < nmax + 1; j++) {
                        var tx = '...';
                        if (j > 0) { tx = j }

                        $('#' + phqnt + i).append($('<option>', {
                            value: j, text: tx
                        }));
                    }

                    $("#" + phqnt + i).val(Quantity[i]);
                    $("#" + phdes + i).text(Descriptions[i]);
                    $("#" + phbaseprc + i).text(BasePrices[i] +"€");
                    $("#" + phprc + i).text(Prices[i] +"€");
                    $("#" + phnot + i).text(Notes[i]);

                    if(Notes[i] != ""){
                        $("#" + phnot + i).show();
                    }
                }
            }




            TotPrezzo();
        }


        function Riempimento()
        {
            //if the next month the first day is not available shift again:

            //loop creation tickets
            FillTickets();

            //discount code operations
            if (DiscountCode != "")
            {
                $("#Ori_0").css("visibility","hidden");
                $("#WebPrice_0").css("margin-top", -12);

                $("#Ori_1").css("visibility", "hidden");
                $("#WebPrice_1").css("margin-top", -12);

                //if (Prices[1] == 0)
                //{
                //    $("#Quantity_1").prop("disabled","disabled");
                //}

            }

            if (Day == '')
            {
                Day = FirstDayInMonth(Day);
            }


            $("#datafinale").val(Day);


            if (DataOggi == Day){
                //$("#BtnProcedi").css("visibility","hidden");
            }


            var gg = Number(Day.substr(0, 2));
            SetCalendar(gg);


            if (FamilyPack == "")
            {
                //SetCalendar(gg);
            }


            //loop creation activities
            for (var i = 0; i < activity.length; i++) {
                if (azzera == true)
                {
                    ActQuantity[i] = "0";
                }
            }

            //loop creation activities
            for (var i = 0; i < menu.length; i++) {
                if (azzera == true) {
                    MnuQuantity[i] = "0";
                }
            }


            //LoopAnimals();
            Finish();
        }

        //when finished
        function Finish()
        {
            //ReloadSubAniQuantity();
            $("#ajaxBusy").fadeOut(300);

            if (FakeUser == 'on'){
                FillFakeForm();
            }
        }

        function TotPrezzo() {

        TotPrice = 0;
        for (var i = 0; i < ticket.length; i++) {

            if (Prices[i] != "0")
            {
                var payTickets = Number(Quantity[i]);
                TotPrice += payTickets * Number(Prices[i].replace(",","."));
            }

        }



        if (TotPrice > 0) {
            if ($("#datascelta").find("input").val() != "")
            {
                $("#TotPrice").text(FormatMoney(TotPrice) +"€");
                $("#continue").show();
            }
        }
        else
        {
            $("#continue").hide();
        }

    }

    </script>

}




