﻿@{

    ViewBag.Title = "Acquisto Hotel";
    string rec = DateTime.Now.ToString();

    List<string> Cities = ViewBag.HotelCities;

    string HotelInfo = ViewBag.HotelInfo;

    bool ChangeDate = Core.Impostazioni.SiteSettings.ChangeDate;
}

@Html.Partial("~/Views/Shared/Banner.cshtml")

<style>
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 30%;
        width: auto;
        padding: 16px;
        margin-top: -200px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 16px;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            cursor: pointer;
        }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* five columns side by side */
    .column {
        float: left;
        width: 20%;
    }

    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }

        .active,
        .demo:hover {
            opacity: 1;
        }
</style>

<div class="AperturaText">
    <div class="container">     
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>@ViewBag.shopdescription</h3>

                <h5 style="margin:0;">PARCO + HOTEL</h5>
                <h5 style="margin:0;">Scegli tu la data in cui ti conviene venire ad Aquafelix e RISPARMI! Acquistare online conviene sempre!</h5>

                <nav class="form-steps" style="margin-left: 10%;">
                    <div class="form-steps_item form-steps_item-active">
                        <div class="form-steps_item-content">
                            <a class="form-steps_item-lineshort"></a>
                            <span id="step1" class="form-steps_item-icon"><small class=""></small></span>
                            <span class="form-steps_item-text">Scegli l'Hotel</span>
                        </div>
                    </div>

                    <div class="form-steps_item">
                        <div class="form-steps_item-content">
                            <a class="form-steps_item-icon"></a>
                            <span class="form-steps_item-line"></span>
                            <span class="form-steps_item-text">Scegli il tuo pranzo</span>
                            <span class="form-steps_item-lineshort"></span>
                        </div>
                    </div>

                    <div class="form-steps_item">
                        <div class="form-steps_item-content">
                            <span class="form-steps_item-icon"></span>
                            <span class="form-steps_item-line"></span>
                            <span class="form-steps_item-text">Servizi extra</span>
                        </div>
                    </div>

                    <div class="form-steps_item">
                        <div class="form-steps_item-content">
                            <a class="form-steps_item-icon"></a>
                            <span class="form-steps_item-line"></span>
                            <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                            <span class="form-steps_item-lineshort"></span>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="font-family: Hiruko Pro;">
        <div id="CalendarSection" class="col-sm-12 calendarShop2" style="margin:0;">
            <div id="colorschedule" class="col-sm-12 calendarShop2 colorSchedule" style="margin:0;">
            </div>
        </div>
        <div class="col-sm-12">
            @*<h4 id="RegoleSm" class="hidden-lg" style=" text-align:center; color:#0095d4; text-decoration: underline; cursor: pointer;">REGOLE DAL 6 AGOSTO</h4>
            <h4 id="Regole" class="hidden-xs hidden-sm" style="text-align: center; color: #0095d4; text-decoration: underline; cursor: pointer;" href="#" target="_blank">REGOLE DAL 6 AGOSTO</h4>*@

            <div class="HotelRerservations">
                <div class="row">
                    <div class="col-md-3">
                        <h4 style="margin-top: 5px;"><span style="text-align: right;">Dove vuoi l'hotel?</span></h4>
                    </div>

                    <div class="col-md-3 col-sm-4" style="height: 80px;">
                        <h5 style="color: white;">Comune</h5>
                        <div class="rail-select3">
                            <div class="select-side">
                                <i class="glyphicon glyphicon-menu-down blue"></i>
                            </div>
                            <select id="comunehotel" class="form-control">
                                <option value="">Tutti</option>
                                @foreach (string City in Cities)
                                {
                                    <option value="@City">@City</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <h4 style="margin-top: 5px;"><span style="text-align: right;">In che giorno ci visiterai?</span></h4>
                    </div>
                    <div class="col-md-3 col-sm-4" style="height: 80px;">
                        <h5 style="color: white;">Data Arrivo</h5>
                        <input type='text' id="dataArrivo" class="form-control form-group-sm" readonly placeholder="gg/mm/aaaa" style="cursor: pointer; background-color: white; color: black;" />
                        @*<span class="input-group-addon" style="visibility:hidden;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>*@
                        <!-- calendario arrivo-->
                        <div id="HotelCalArrive" style="margin-left: -12px; position: absolute; top: 70px; visibility: hidden; z-index:9999;">
                            <!--dynamically created-->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4" style="height: 80px;">
                        <h5 style="color: white;">Data partenza</h5>
                        <input type='text' id="dataPartenza" class="form-control form-group-sm" disabled readonly placeholder="gg/mm/aaaa" style="background-color: white; color: black;" />
                        <span class="input-group-addon" style="visibility:hidden;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <!-- calendario partenza-->
                        <div id="HotelCalDeparture" style="position: absolute; top: 70px; visibility: hidden; z-index:9999;">
                            <!-- dynamically created-->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4" style="height: 80px;">
                        <h5 style="color: white;">Numero Camere</h5>
                        <div class="rail-select3">
                            <div class="select-side">
                                <i class="glyphicon glyphicon-menu-down blue"></i>
                            </div>
                            <select id="ncamere" disabled class="form-control">
                                <option value="0">...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="rooms">
            <!--created dynamically -->
        </div>

        <div class="col-md-12" style="text-align: center;">
            <button type="button" id="BtnFind" class="btn-sm btn-success shad" style="visibility: hidden;">CERCA</button>
        </div>

        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div id="showhotel" class="col-md-8 col-md-offset-2" style="text-align: center; visibility: hidden;">
            <h5 style="font-family:'Hiruko Pro'; margin: 5px; color:#003851;" id="Hotelprop"></h5>
        </div>
    </div>

    <div id="hotels" class="sliderShop">
        <!--section created dynamically-->
    </div>

    <div id="nexthotel" style="visibility: hidden; margin-top: -10px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <h4 style="margin: 8px; text-align: center;">Non ti piace questo hotel?, guarda le nostre ulteriori proposte:</h4>
        </div>
        <div class="col-sm-2" style="text-align: center; font-family: Hiruko Pro;">
            <button type="button" id="BtnNext" class="btn-sm btn-success shad" style="margin: 5px;">Altro Hotel</button>
        </div>
    </div>

    <div id="nohotels" class="col-sm-10 col-sm-offset-1" style="display: none; text-align: center;">
        <h2 style="color: red;">Nessun Hotel trovato in questo comune</h2>
        <br />
    </div>
    <div id="BoxRiepilogo1" class="col-sm-10 col-sm-offset-1" style="display: none; background-color: darkslategrey; border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <h5 style="color:white;margin:0;font-size:18px;padding:8px;">Riepilogo d'acquisto</h5>
    </div>
    <div id="BoxRiepilogo2" class="col-sm-10 col-sm-offset-1" style="display: none; min-height: 30px; background: white ;border-left: 1px solid black; border-right: 1px solid black;  border-bottom: 1px solid black; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <div id="riepilogo" class="row">
            <!-- created dynamically-->
        </div>
    </div>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <!--buyer-->
    @Html.Partial("~/Views/Shared/Buyer.cshtml")

    <div class="row btn-lg" style="text-align: right; font-family: Hiruko Pro;">
        <button type="button" id="BtnProcedi" class="btn btn-success shad">PROCEDI ></button>
    </div>

</div>

<!--modal windows-->
<div class="modal" id="aler" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <h5>Per acquistare il tuo pacchetto contatta l’ufficio clienti al numero 0691534 o scrivi a:</h5>
                <h4>info@zoomarine.it</h4>
            </div>
        </div>
    </div>
</div>

<div class="warning">
    <div id="alert_placeholder2" style="cursor: pointer;">
    </div>
</div>


<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Calendars.js?rec='@rec'" type="text/javascript"></script>
    <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script src="~/Scripts/ShoppingCart.js?rec='@rec'" type="text/javascript"></script>

    <script type="text/javascript">

        var Cd = '@ChangeDate';

        if (Cd == 'True') {
            HotChangeDate = true;
        }
        else
        {
            HotChangeDate = false;
        }


        var NmaxRoom = 4;

        var Nrooms = 0;
        var Notti = 0;
        var TotPrice = 0;
        var Npag = 0;
        var Nimage = 0;
        var HotelGallery;
        var HotelName;
        var SpecialOffer = 0;
        var ProductOffer = "";
        var DispNavetta = "0";
        var DispBrkF = "0";
        var DispDinB = "0";

        var DataHotel;
        var IndexHotel = 0;
        var Tperiod;

        var ArrFinish;
        var CityHotel = "";
        var HotelId = "";
        var HotelSelected = "";

        //var Hotels;
        //var Prices;
        //var PriceHotelId;
        var Rooms;
        var adults, kids, kidsfree;

        ////////////////////////////////////////////
        //dynamic room section
        var ncam = "ncamera_";
        var phcam = "Camera_";
        var phnad = "Nadulti_";
        var phkid = "Nbambini_";
        var phkidf = "NBambiniFree_";

        var RoomSec ='<div class="roomsHotel" style="background-color: #93d8ff" >';

        RoomSec += '<div class="row">';
        RoomSec += '<div  id="'+ phcam + '" style="border-top-left-radius: 10px;  border-top-right-radius: 10px;">';
        RoomSec += '<div class="col-md-3">';
        RoomSec += '<h4 style="color: white;text-align: center; background-color: #0096d5; min-height: 85px;margin:0px;border-radius: 8px 0px 0px 8px;display:table;padding:10px;width:100%;">';
        RoomSec += '<label style="font-family:Hiruko Pro; vertical-align: middle;display: table-cell;" id="' + ncam  + '"></label></h4></div>';

        RoomSec += '<div class="col-md-3 col-sm-4" style="min-height: 85px;">';
        RoomSec += '<div class="boxes-roms">';
        RoomSec += '<h5 style="font-family: Hiruko Pro; color: white;">Adulti</h5>';
        RoomSec += '<div class="rail-select3">';
        RoomSec += '<div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
        RoomSec += '<select style="font-family:Hiruko Pro;" id="' + phnad + '" class="form-control"></select>';
        RoomSec += '</div></div></div>';

        RoomSec += '<div class="col-md-3 col-sm-4" style="min-height: 85px;">';
        RoomSec += '<div class="boxes-roms">';
        RoomSec += '<h5 style="font-family: Hiruko Pro; color: white;">Bambini da 1 a 1,30 mt</h5>';
        RoomSec += '<div class="rail-select3">';
        RoomSec += '<div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
        RoomSec += '<select style="font-family:Hiruko Pro;" id="' + phkid + '" class="form-control"></select>';
        RoomSec += '</div></div></div>';

        RoomSec += '<div class="col-md-3 col-sm-4" style="min-height: 85px;">';
        RoomSec += '<div class="boxes-roms">';
        RoomSec += '<h5 style="font-family: Hiruko Pro; color: white;">Bambini inferiori al mt</h5>';
        RoomSec += '<div class="rail-select3">';
        RoomSec += '<div class="select-side">';
        RoomSec += '<i class="glyphicon glyphicon-menu-down blue"></i>';
        RoomSec += '</div>';
        RoomSec += '<select style="font-family:Hiruko Pro;" class="form-control" id="' + phkidf + '"></select>';
        RoomSec += '</div></div></div>';

        RoomSec += '</div>';
        RoomSec += '</div>';
        RoomSec += '</div>';

        ////////////////////////////////////////////
        //dynamic hotel section
        var phhot = "Hotel_";
        var phdes = "Description_";
        var phadd = "Address_";
        var phbinf = "Boxinfo_";
        var phprc = "HotelPrice_";
        var phbaseprc = "HotelBasePrice_";
        var phimg = "HotelImage_";
        var phchk = "ChkHotel_";

        var phbdiv = "divbox_";
        var phadiv = "divassic_";
        var phchnav = "ChkNavetta_";
        var phchkad = "ChkAssic_";
        var phnotti = "notti_";
        var phimsrv = "imgservice_";
        var phdesrv = "desservice_";

        var HotelListSec = '<div class="contentHotelList" id="' + phhot +'">';
        //head hotels
        HotelListSec += '<div class="col-md-8 col-md-offset-2" style="text-align: center;"><h4 id="HotelName" style="color: #0095d4;"></h4></div>';
        HotelListSec += '<div class="col-md-8 col-md-offset-2">';

        HotelListSec += '<div class="col-md-4">';
        HotelListSec += '<h3 id="Description_" style="margin:0; color: darkslategrey;"></h3>';
        HotelListSec += '</div>';
        HotelListSec += '<div class="col-md-4" id ="SpecialOffImg_" style="background-repeat: no-repeat; background-position: center; height: 36px; text-align: center;">';
        HotelListSec += '<label id ="ProductOff_" style="font-family: Hiruko Pro; margin-top: 8px; color: white; font-size:12pt; visibility: hidden;"></label>';
        //HotelListSec += '<img id ="SpecialOffImg_" src ="" style="visibility: hidden; height: 64px; width: 512px;"></img>';
        HotelListSec += '</div>';
        HotelListSec += '</div>';

        //head hotels end

        //body hotels
        HotelListSec += '<div class="col-md-12">'
        HotelListSec += '<div class="col-md-12" style="margin-top: -1px;"></div>';
        HotelListSec += '<div class="col-md-2"></div>';
        HotelListSec += '<div class="col-md-8">';
        HotelListSec += ' <div><img id="' + phimg + '" src="" style="width:100%"/></div>';
        HotelListSec += ' <a class="prev" onclick="PrevImage(LineId);" >&#10094;</a>';
        HotelListSec += ' <a class="next" onclick="NextImage(LineId);" >&#10095;</a>';

        HotelListSec += ' <div style="background-color:#013751; text-align: center;">';
        HotelListSec += '<label style="font-family: Hiruko Pro; color: white; margin: 2px;">Scorri la galleria</label>';
        HotelListSec += '</div>';

        HotelListSec += ' <div>';
        HotelListSec += '  <div class="column"><img id="HotImg1_" src="" onclick="SelectedImage(LineId,0)" style="cursor: pointer; height:100%; width:100%"/></div>';
        HotelListSec += '  <div class="column"><img id="HotImg2_" src="" onclick="SelectedImage(LineId,1)" style="cursor: pointer; height:100%; width:100%"/></div>';
        HotelListSec += '  <div class="column"><img id="HotImg3_" src="" onclick="SelectedImage(LineId,2)" style="cursor: pointer; height:100%; width:100%"/></div>';
        HotelListSec += '  <div class="column"><img id="HotImg4_" src="" onclick="SelectedImage(LineId,3)" style="cursor: pointer; height:100%; width:100%"/></div>';
        HotelListSec += '  <div class="column"><img id="HotImg5_" src="" onclick="SelectedImage(LineId,4)" style="cursor: pointer; height:100%; width:100%"/></div>';
        HotelListSec += '</div>';

        //HotelListSec += '<div class="col-md-2"></div>';

        HotelListSec += '<div class="col-md-12">';
        HotelListSec += ' <label style="font-family:Hiruko Pro; color: #0095d4; margin:4px;">SERVIZI</label>';
        HotelListSec += ' <div class="row">';

        HotelListSec += '  <div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '   <img id="imgservice_1" src="" style="display:none;" />';
        HotelListSec += '   <h6 id="desservice_1" style="display:inline;"></h6>';
        HotelListSec += '  </div>';

        HotelListSec += '  <div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '   <img id="imgservice_2" src="" style="display:none;" />';
        HotelListSec += '   <h6 id="desservice_2" style="display:inline;"></h6>';
        HotelListSec += '  </div>';

        HotelListSec += '  <div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '   <img id="imgservice_3" src="" style="display:none;" />';
        HotelListSec += '   <h6 id="desservice_3" style="display:inline;"></h6>';
        HotelListSec += '  </div>';

        HotelListSec += '  <div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '   <img id="imgservice_4" src="" style="display:none;" />';
        HotelListSec += '   <h6 id="desservice_4" style="display:inline;"></h6>';
        HotelListSec += ' </div>';

        HotelListSec += '</div>';

        HotelListSec += '<div class="row">';
        HotelListSec += '<div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '<img id="imgservice_5" src="" style="display:none;" />';
        HotelListSec += '<h6 id="desservice_5" style="display:inline;"></h6>';
        HotelListSec += '</div>';

        HotelListSec += '<div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '<img id="imgservice_6" src="" style="display:none;" />';
        HotelListSec += '<h6 id="desservice_6" style="display:inline;"></h6>';
        HotelListSec += '</div>';

        HotelListSec += '<div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '<img id="imgservice_7" src="" style="display:none;" />';
        HotelListSec += '<h6 id="desservice_7" style="display:inline;"></h6>';
        HotelListSec += '</div>';

        HotelListSec += '<div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '<img id="imgservice_8" src="" style="display:none;" />';
        HotelListSec += '<h6 id="desservice_8" style="display:inline;"></h6>';
        HotelListSec += '</div>';

        HotelListSec += '</div>';

        HotelListSec += '<div class="row">';
        HotelListSec += '<div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '<img id="imgservice_9" src="" style="display:none;" />';
        HotelListSec += '<h6 id="desservice_9" style="display:inline;"></h6>';
        HotelListSec += '</div>';
        HotelListSec += '<div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '<img id="imgservice_10" src="" style="display:none;" />';
        HotelListSec += '<h6 id="desservice_10" style="display:inline;"></h6>';
        HotelListSec += '</div>';
        HotelListSec += '<div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '<img id="imgservice_11" src="" style="display:none;" />';
        HotelListSec += '<h6 id="desservice_11" style="display:inline;"></h6>';
        HotelListSec += '</div>';
        HotelListSec += '<div class="col-sm-3 icon-serv" style="white-space: nowrap;">';
        HotelListSec += '<img id="imgservice_12" src="" style="display:none;" />';
        HotelListSec += '<h6 id="desservice_12" style="display:inline;"></h6>';
        HotelListSec += '</div>';
        HotelListSec += '</div>';


        HotelListSec += '<label style="font-family: Hiruko Pro; color: #0095d4; margin:4px;">INFORMAZIONI</label>';
        HotelListSec += '<h5 id="Boxinfo_"  style="margin: 0;"></h5>';

        HotelListSec += '</div>';

        HotelListSec += '<div class="col-md-12">';
        HotelListSec += '<div class="precioHotel"  style="margin: 0;">';
        HotelListSec += '<div class="round" style="height: 25px;">';
        //HotelListSec += '<h4 style="font-family: Hiruko Pro;  color: whitesmoke;">Prezzo per:</h4>';
        HotelListSec += '<h4 id="' + phnotti +'" style="margin-top: 2px; font-family: Hiruko Pro; color: white;"></h4>';
        HotelListSec += '</div>';
        HotelListSec += '<div style="">';
        HotelListSec += '<del style="display:block;"><h4 id="' + phbaseprc + '" style="font-family: Hiruko Pro; color: #089bda; margin:0; font-size: 32px;"></h4></del>';
        HotelListSec += '&nbsp;&nbsp;<h3 id="' + phprc + '" style="font-family: Hiruko Pro; color: #00B240; display: inline;font-size: 32px;"></h3>';
        HotelListSec += '</div>';
        HotelListSec += '</div>';
        HotelListSec += '</div>';

        HotelListSec += '</div>';
        //body hotels end

        //select hotel
        HotelListSec += '<div class="row">';

        HotelListSec += '<div class="col-sm-8 col-sm-offset-2">';
        HotelListSec += '<div class="checkbox" style="font-family: Hiruko Pro; color:#003851; display:inline;">';
        HotelListSec += '<label style="margin-top: 10px;"><h4 style="display:inline; cursor: default;">ACQUISTA QUESTO HOTEL</h4>';
        HotelListSec += '<h5 style="color:black; display:inline;"></h5>';
        HotelListSec += '<input id="ChkHotel_" type="checkbox" onchange="SetHotel(this.checked, LineId)">';
        HotelListSec += '<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span></label></div>';
        HotelListSec += '</div>';

        //options:
        HotelListSec += '<div class="col-sm-8 col-sm-offset-2" id="HotOp" style="cursor: default; opacity: 50%;  padding: 0px;">'; //dispaly:none;

        //extra nights
        HotelListSec += '<div class="col-md-12" id="HotExtra">';
        HotelListSec += '<div class="checkbox" style="font-family: Hiruko Pro; color:#003851; display:inline; cursor: default;">';

        HotelListSec += '<label style="margin-top: 10px;"><h4 style="display:inline; cursor: default;">Acquista&nbsp;</h4>';
        HotelListSec += '<h5 id="extranprc" style="color:black; display:inline; cursor: default;"></h5>';

        HotelListSec += '<input id="ChkExtra" disabled type="checkbox" onchange="ExtraNight()" style="cursor: default;">';
        HotelListSec += '<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span></label></div>';
        HotelListSec += '</div>';

        //changedate
        if (HotChangeDate == true) {
            HotelListSec += '<div class="col-md-12" id="HotChange">';
            HotelListSec += '<div class="checkbox" id="chkassdiv" style="font-family: Hiruko Pro; color:#003851; display:inline; cursor: default;">';
            HotelListSec += '<label style="margin-top: 10px;"><h4 style="display:inline; cursor: default;">Acquista&nbsp;</h4>';
            HotelListSec += '<h5 id="assicinfo_" onclick="ExpandAss(LineId);" data-toggle="collapse" data-parent="#accordion" style="font-family: Hiruko Pro; color:#003851; display:inline; text-decoration: underline;">SERVIZIO CAMBIO DATA €AssicPrice</h5>';
            HotelListSec += '<input id="ChkAssic_" disabled type="checkbox" onchange="SetAssic(LineId)" style="cursor: default;">';
            HotelListSec += '<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span></label></div>';
            HotelListSec += '</div>';
        }

        HotelListSec += '<div class="col-sm-12">';
        HotelListSec += '<div id="'+ phbdiv +'" class="panel-collapse collapse out">';
        HotelListSec += '</div>';
        HotelListSec += '<div id="'+ phadiv +'" class="panel-collapse collapse out">';

        HotelListSec += '</div>';
        HotelListSec += '</div>';
        HotelListSec += '</div>';



        HotelListSec += '</div>';

        ///////////////////////////
        //p + h travel bank
        $("#buyerlogo").attr("src", "/Content/images/logos/logo-zoomarinetravel.png");
        $("#phtitle").css("display", "block");

        $("#RicFatt").prop("checked", true);
        $("#spanfatt").css("display", "none");
        $("#RicFatt").prop("checked", true);


        $("#DatiFattura").css("visibility", "visible");
        $("#DatiFattura").slideDown("slow");


        //////////////////////////////////
        //riepilogo:
        var rep = '';

        rep += '<div id="riepilogo">';
        rep += HotelSec;
        rep += '</div>';

        var apertiAss = [];
        var apertiBox = [];

        var hmin = 300;

        function ExpandAss(LineId)
        {
            if (apertiBox[LineId] == 1){
                $("#divbox_" + LineId).slideUp();
                apertiBox[LineId] = 0;
                // $("#Hotel_" + LineId).animate({height: hmin });
            }

            var hmax = 490;

            if ( apertiAss[LineId] == null || apertiAss[LineId] == 0)
            {
                hh = hmax;
                apertiAss[LineId] = 1;
                $("#divassic_" + LineId).slideDown();
            }
            else
            {
                hh = hmin;
                apertiAss[LineId] = 0;
                $("#divassic_" + LineId).slideUp();
            }

            //$("#Hotel_" + LineId).animate({height: hh });
        }

        function ExpandBox(LineId)
        {
            if (apertiAss[LineId] == 1){
                $("#divassic_" + LineId).slideToggle();
                apertiAss[LineId] = 0;
                //$("#Hotel_" + LineId).animate({height: hmin });
            }

            var hmax = 350;

            if ( apertiBox[LineId] == null || apertiBox[LineId] == 0)
            {
                hh = hmax;
                apertiBox[LineId] = 1;
                $("#divbox_" + LineId).slideDown();
            }
            else
            {
                hh = hmin;
                apertiBox[LineId] = 0;
                $("#divbox_" + LineId).slideUp();
            }

            //$("#Hotel_" + LineId).animate({height: hh });
        }

        function NextImage(LineId)
        {
            var img = $("#" + phimg + LineId).attr("src");

            if (img == null){return;}

            Nimage = Nimage + 1;

            if (Nimage == HotelGallery.length){ Nimage = 0}
            $("#" + phimg + LineId).attr("src", HotelGallery[Nimage]);
        }


        function PrevImage(LineId)
        {
            var img = $("#" + phimg + LineId).attr("src");

            if (img == null){return;}

            Nimage = Nimage - 1;

            if (Nimage < 0 ){
                Nimage = (HotelGallery.length) - 1;
            }

            $("#" + phimg + LineId).attr("src", HotelGallery[Nimage]);

        }

        function SelectedImage(LineId, pos)
        {
            Nimage = pos;

            $("#" + phimg + LineId).attr("src", HotelGallery[Nimage]);

        }


        function SetGray(elem)
        {
            elem.style.background="lightgray";
        }

        function SetWhite(elem)
        {
            elem.style.background="white";
        }

        var Nhotel;
        var FakeUser = "";

        $(document).ready(function () {



            //find hotel
            $("#BtnFind").click(function () {
                GetHotel(false);
            })

            //default city:
            $("#comunehotel").val("").change();

            Prodotto = "hotel";

            StartCalendarDate = '@ViewBag.StartCalendarDate';
            LogUser = '@ViewBag.TipoOperatore';
            AcquistoId = '@ViewBag.AcquistoId';

            if (AcquistoId !="")
            {
                //$("#biglietto").css("display","none");
                //$("#buysubscription").css("display","none");
                DeleteCookieBuyer();
                DeleteAllCookies();
            }

            FunzioniOperatore();

            FakeUser = '@ViewBag.FakeUser';

            //Dates from model
            DayArrive = '@Model.DayArrive';
            DayDeparture = '@Model.DayDeparture';

            AssicPrice = Number('@ViewBag.PrezzoAssicurazione');
            NavPrice = Number('@ViewBag.PrezzoNavetta');
            AssicCambioData = '@Model.AssicCambioData';
            ServizioNavetta = '@Model.ServizioNavetta';

            DesAssicurazione = '@ViewBag.DesAssicurazione';
            DesNavetta = '@ViewBag.DesNavetta';

            HotelBasePrice = '@ViewBag.BaseHotelPrice';

            //dynamic
            HotelPrice = '@Model.HotelPrice';
            HotelPrice = HotelPrice.replace(",", ".");

            HotelPriceId = '@Model.HotelPriceId';

            adults = [];
            kids = [];
            kidsfree = [];

            HotelSelected = '@Model.Hotel';
            Nrooms = @Model.Nrooms;

            adults = @Html.Raw(Json.Encode(Model.NAdults));
            kids = @Html.Raw(Json.Encode(Model.NKids));
            kidsfree = @Html.Raw(Json.Encode(Model.NKidsfree));


            //calendar
            DataOggi = '@ViewBag.DataOggi'; //see like string

            ListaData = @Html.Raw(Json.Encode(ViewBag.Hotelcal.ListaProductData));
            ListaHotelPrice = @Html.Raw(Json.Encode(ViewBag.Hotelcal.ListaProductPrice));

            ListaTimeEntrance = @Html.Raw(Json.Encode(ViewBag.Hotelcal.ListaTimeEntrance));

	        //colorschedule
	        var Colori = @Html.Raw(Json.Encode(ViewBag.Colori));
	        var ColorDes = @Html.Raw(Json.Encode(ViewBag.ColorDes));

	        FillColorSchedule(Colori, ColorDes);


            ListaDataA = ListaData;
            ListaHotelPriceA = ListaHotelPrice;
            CreaCalendarioHotel("A");
            //ListaTimeEntranceA = ListaTimeEntrance;
            //CreaCalendarioH("A");


            ListaDataD = ListaData;
            ListaHotelPriceD = ListaHotelPrice;
            //ListaTimeEntranceD = ListaTimeEntrance;
            CreaCalendarioHotel("D");
            //CreaCalendarioH("D");

            ////////////////////////////////////////////////////////
            //buyer info
            LoadBuyer(@Html.Raw(Json.Encode(Model.Buyer)));
            GetBuyer();
            FillBuyer();

            $("#dataArrivo").val(DayArrive);
            $("#dataPartenza").val(DayDeparture);

            if (DayArrive != "")
            {
                //$("#HotOp").css("display", "block");
                $("#HotOp").css("opacity", "100%");
                $("#ChkExtra").prop( "disabled", false);
                $("#" + phchkad + IndexHotel).prop('disabled', false);

                $("#ncamere").prop('disabled', false);
            }

            $("#ncamere").val(Nrooms);
            $("#hotels").empty();
            $("#sceglihotel").hide();
            $("#BtnProcedi").hide();

            MakeRooms(Nrooms);

            for (var i=0; i < Nrooms; i++)
            {
                $("#" + phnad + i).val(adults[i]);
                $("#" + phkid + i).val(kids[i]);
                $("#" + phkidf + i).val(kidsfree[i]);
            }

            GetHotel(true);

            Inizializza();

        });


        function Inizializza()
        {
            //acquisition
            var URL = "/Acquisto/GetData";

            //var Day = FirstDayAvailable(DataOggi);
            var Day = DataOggi;

            var Info = { Day: Day};

            var promise = $.post(URL, Info);

            promise.done(function (data) {
                ReadData(data);
                azzera = false;

                if (DayArrive != "") {
                    $("#dataArrivo").val(DayArrive);
                    $("#dataPartenza").val(DayDeparture);

                    AniQuantity = @Html.Raw(Json.Encode(Model.TckOptions.AniQuantitities));

                    ActQuantity = @Html.Raw(Json.Encode(Model.TckOptions.ActQuantitities));
                    MnuQuantity = @Html.Raw(Json.Encode(Model.TckOptions.MnuQuantitities));

                    var SubAniQuant= @Html.Raw(Json.Encode(Model.TckOptions.SubAniQuantitities)) +'';
                    SubAniQuantLinear = SubAniQuant.split(","); //linear array

                    GetHotel(true);
                }
                else
                {

                    if (AcquistoId == "")
                    {
                        GetCookieBuyer();
                        FillBuyer();
                    }

                    azzera = true;
                }

                Arrloop = 0;
                Lungloop = ticket.length;

                for (var i = 0; i < ticket.length; i++) {
                    GetTicketFixed(ticket[i], i);
                }

            });

        }



        $("#dataArrivo").click(function () {
            CloseRiepilogo();

            if ($("#HotelCalArrive").css('visibility') == 'hidden')
            {
                $("#HotelCalArrive").css("visibility", "visible");
                $("#HotelCalDeparture").css("visibility", "hidden");
            }
            else
            {
                $("#HotelCalArrive").css("visibility", "hidden");
            }
        })

        $("#comunehotel").change(function () {
            $('#ncamere').val("0").change();
            CloseRiepilogo();
        })


        var Msg = decodeHTML('@ViewBag.InfoCovid');

        $("#RegoleSm").click(function () {
            AlertCenterBigMobile(Msg);
        })


        $("#Regole").click(function () {
            AlertCenterBig(Msg);
        })


        $("#BtnProcedi").click(function (e) {

            msg = ValidateBuyer();

            if ( msg != "")
            {
                e.preventDefault();
                AlertShow(msg);
                return;
            }

            SetCookieBuyer();
            ReadFieldsBuyer();
            GoToMenu();

        });

        $('#ncamere').click(function(){
            CloseRiepilogo();
            AlertClose();
            $("#HotelCalArrive").css("visibility", "hidden");
            $("#HotelCalDeparture").css("visibility", "hidden");
        });

        $('#ncamere').change(function () {

            var Nr = $('#ncamere').val();

            if (Nr != 0) {
                $("#BtnFind").css("visibility", "visible");
            }
            else {
                $("#BtnFind").css("visibility", "hidden");
            }


            $("#showhotel").css("visibility","hidden");
            $("#nexthotel").css("visibility","hidden");
            $("#nohotels").css("display", "none");
            $("#riepilogo").empty();
            HotelId = "";
            $("#hotels").empty();
            $("#sceglihotel").hide();
            $("#BtnProcedi").hide();
            Nrooms = $(this).val();
            MakeRooms(Nrooms);
            //no focus on IE:
            $("select").blur();
        });

        $("#BtnNext").click(function(){

            ServizioNavetta = 0;
            AssicCambioData = 0;
            IndexHotel++;
            if (IndexHotel >= Nhotel)
            {
                IndexHotel = 0;
            }

            FillHotel(DataHotel,IndexHotel);

        })

        $("#PrevMonthHA").click(function(){
            PrevMonthHA();
        });

        $("#NextMonthHA").click(function(){
            NextMonthHA();
        });

        $("#PrevMonthHD").click(function(){
            PrevMonthHD();
        });

        $("#NextMonthHD").click(function(){
            NextMonthHD();
        });

        var msgerr = 'La data di arrivo deve essere antecedente a quella di partenza';

        $('#alert_placeholder2').click(function(){
            AlertCenterClose();
        })

        function Arrivo()
        {
            $("#riepilogo").empty();
            HotelId = "";
            $("#hotels").empty();
            $("#sceglihotel").hide();
            $("#BtnProcedi").hide();

            $('#ncamere').val("0").change();
            $("#ncamere").prop('disabled', true);
            if (CheckData() == false) {
                $("#dataPartenza").val("");
                $("#HotelCalArrive").css("visibility", "hidden");
                //AlertShow(msgerr);
                AlertCenter(msgerr);
                return;
            }
            else
            {
                AlertCenterClose();
                EnableCamere();
            }
        }

        function Partenza()
        {
            $("#riepilogo").empty();
            HotelId = "";
            $("#hotels").empty();
            $("#sceglihotel").hide();
            $("#BtnProcedi").hide();

            $('#ncamere').val("0").change();
            $("#ncamere").prop('disabled', true);
            if ( CheckData() == false)
            {
                $("#dataPartenza").val("");
                $("#HotelCalArrive").css("visibility", "hidden");
                //AlertShow(msgerr);
                AlertCenter(msgerr);
                return;
            }
            else
            {
                AlertCenterClose();
                EnableCamere();
            }
        }

        function Riempimento()
        {
            //loop creation tickets
            for (var i = 0; i < ticket.length; i++) {
                if (azzera == true) {
                    Quantity[i] = "0";
                }
            }

            //loop creation options
            if (azzera == true) {

                for (var i = 0; i < activity.length; i++) {
                    ActQuantity[i] = "0";
                }

                //loop creation menus
                for (var i = 0; i < menu.length; i++) {
                    MnuQuantity[i] = "0";
                }
            }


            //LoopAnimals();

            Finish();
        }

        function Finish()
        {
            //dummy

            if (FakeUser == 'on'){
                FillFakeForm();
            }
        }

        function EnableCamere()
        {
            DayArrive = $('#dataArrivo').val();
            DayDeparture = $('#dataPartenza').val();

            if (DayArrive == '' || DayDeparture == '')
            {
                return;
            }

            $("#ncamere").prop('disabled', false);
        }

        function CheckData()
        {
            DayArrive = $('#dataArrivo').val();
            DayDeparture = $('#dataPartenza').val();

            if (DayArrive == '' || DayDeparture == '')
            {
                return true;
            }

            var DateA = ConvertiDataNumero(DayArrive);
            var DateP = ConvertiDataNumero(DayDeparture);

            if( DateA - DateP >= 0)
            {
                return false;
            }

            return true;
        }

        function ConvertiDataNumero(Day)
        {
            var gg = Day.substr(0, 2);
            var mm = Day.substr(3, 2);
            var aa = Day.substr(6, 4);
            var numdata = aa + mm + gg + '';
            return Number(numdata);
        }

        function MakeRooms(Nrooms)
        {

            $("#rooms").empty();

            for (i = 0; i < Nrooms; i++)
            {
                var htm = RoomSec;
                htm = htm.replace(ncam, ncam + i);
                htm = htm.replace(phcam, phcam + i);
                htm = htm.replace(phkid, phkid + i);
                htm = htm.replace(phnad, phnad + i);
                htm = htm.replace(phkidf, phkidf + i);

                $("#rooms").append(htm);

                $('#' + ncam + i).text("CAMERA " + (i + 1));


                for (j = 0; j < NmaxRoom + 1; j++) {
                    var tx = '...';
                    if (j > 0) { tx = j }

                    $('#' + phnad + i).append($('<option>', {
                        value: j, text: tx
                    }));

                    $('#' + phkid + i).append($('<option>', {
                        value: j, text: tx
                    }));
                }

                //kids free only one
                for (j = 0; j < 2; j++) {
                    var tx = '...';
                    if (j > 0) { tx = j }
                    $('#' + phkidf + i).append($('<option>', {
                        value: j, text: tx
                    }));
                }
            }
        }

        function CloseRiepilogo()
        {
            $("#BoxRiepilogo1").css("display", "none");
            $("#BoxRiepilogo2").css("display", "none");
        }

        function GetHotel(init)
        {
            CloseRiepilogo();


            ServizioNavetta = 0;
            AssicCambioData = 0;

            if (init == false)
            {
                $("#Hotelprop").html("");
                IndexHotel = 0;
                HotelSelected = "";
            }

            //no focus on IE:
            $("select").blur();

            $("#riepilogo").empty();

            if (init == false)
            {
                HotelId = "";
                $("#BtnProcedi").hide();
            }

            $("#nexthotel").css("visibility","hidden");

            DayArrive = $('#dataArrivo').val();
            DayDeparture = $('#dataPartenza').val();


            if (DayArrive == '' || DayDeparture == '')
            {
                return;
            }

            var Nrooms = $('#ncamere').val();

            //read all data
            adults = [];
            kids = [];
            kidsfree = [];
            Rooms = [];



            for (var i = 0; i < Nrooms; i++)
            {
                var Nadu = $("#" + phnad + i).val();
                var Nkid = $("#" + phkid + i).val();
                var Nkidf = $("#" + phkidf + i).val();

                if ( Number(Nadu) == 0)
                {
                    AlertCenter("Ogni camera deve avere almeno un adulto");
                    $("#hotels").empty();
                    return;
                }

                //max number for each room
                if (Number(Nadu) + Number(Nkid) > NmaxRoom )
                {
                    AlertCenter("Ogni camera non può avere più di 4 persone paganti");
                    $("#hotels").empty();
                    return;
                }

                //all rooms must have at least 1 person
                if (Nadu + Nkid + Nkidf == 0)
                {
                    Rooms = [];
                    $("#hotels").empty();
                    $("#sceglihotel").hide();
                    $("#BtnProcedi").hide();
                    return;
                }

                //per il riepilogo:
                adults[i] = Nadu;
                kids[i] = Nkid;
                kidsfree[i] = Nkidf;

                var room = { Adults: Nadu, Kids: Nkid, KidsFree: Nkidf };
                Rooms.push(room);
            }

            CityHotel = $("#comunehotel").val();

            AlertCenterClose();
            $("#ajaxBusy").fadeIn(300);
            var URL = "/Acquisto/GetHotelData";

            var Info = {
                DayArrive: DayArrive,
                DayDeparture: DayDeparture,
                Rooms: Rooms,
                City: CityHotel
            };

            var promise = $.post(URL, Info);

            $("#hotels").empty();

            promise.done(function (dataHot) {
                $('#ajaxBusy').fadeOut(300);

                DataHotel = dataHot.Hotels;
                DispNavetta = dataHot.DispNavetta;
                //DispBrkF = dataHot.DispBrkF;
                //DispDinB = dataHot.DispDinB;


                //extra  night price
                ExtraNight1 = dataHot.ExtraNight1;


                NextHotels = dataHot.NextHotels;
                ExtraOpen = dataHot.ExtraOpen;


                var BaseProp = "<b>@HotelInfo</b>";

                //if (DispBrkF == "1")
                //{
                //    $("#Hotelprop").html(BaseProp + " ed una colazione al Parco a persona:</b>");
                //}

                //if (DispDinB == "1")
                //{
                //    $("#Hotelprop").html(BaseProp + " ed una cena a buffet all you can eat al Parco Zoomarine:</b>");
                //}

                $("#Hotelprop").html(BaseProp);

                if (DataHotel.length == 0)
                {
                    $("#showhotel").css("visibility","hidden");
                    $("#nexthotel").css("visibility","hidden");
                    $("#nohotels").css("display", "block");
                }
                else
                {
                    if (DataHotel.length > 1)
                    {
                        $("#nexthotel").css("visibility","visible");
                    }

                    $("#showhotel").css("visibility","visible");
                    $("#nohotels").css("display", "none");

                    IndexHotel = 0;

                    //shift to the current hotel
                    SetCurrentHotel();

                    FillHotel(DataHotel,IndexHotel);

                    if (HotelSelected != "")
                    {

                        $("#" + phchk + IndexHotel).prop('checked', true);

                        AssicCambioData = '@Model.AssicCambioData';
                        ServizioNavetta = '@Model.ServizioNavetta';

                        if (AssicCambioData == 1)
                        {
                            $("#" + phchkad + IndexHotel).prop('checked', true);
                            SetAssic(IndexHotel);
                        }

                        if (ServizioNavetta == 1)
                        {
                            $("#" + phchnav + IndexHotel).prop('checked', true);
                            SetNav(IndexHotel);
                        }

                    }
                }
            });


            promise.fail(function (err) { console.log("error promise: " + URL); });

            setTimeout(Mobilecarousel, 1000);
            if(lastBp != "xs") $("#hotels").show();

        }

        function SetCurrentHotel()
        {
            if (HotelSelected != "")
            {
                for(var i=0; i < DataHotel.length; i++)
                {
                    if (DataHotel[i].Hotel.Id == HotelSelected)
                    {
                        IndexHotel = i;
                        SetHotel(true, IndexHotel);
                        break;
                    }
                }
            }
        }

        function NottiDesc(Notti)
        {

            var NottiDesc = "UNA NOTTE";

            if (Notti == 2){ NottiDesc = "DUE NOTTI";}
            if (Notti == 3){ NottiDesc = "TRE NOTTI";}

            return NottiDesc;
        }


        function FillHotel(data, IndexHotel)
        {
            $("#hotels").empty();

            //clearInterval(Tperiod);
            //Tperiod = setInterval(function(){ NextImage(IndexHotel) }, 3000);

            Nhotel = data.length;


            $("#sceglihotel").show();

            var i = IndexHotel;
            if (Nhotel > 0)
            {

                var htm = HotelListSec;
                htm = ReplaceAll(htm, 'NavPrice', NavPrice);
                htm = ReplaceAll(htm, 'AssicPrice', AssicPrice);
                htm = htm.replace(phchk, phchk + i);
                htm = htm.replace(phhot, phhot + i);
                htm = htm.replace(phdes, phdes + i);
                htm = htm.replace("navettainfo_" , "navettainfo_" + i);
                htm = htm.replace("assicinfo_","assicinfo_" + i);
                htm = htm.replace("ProductOff_","ProductOff_" + i);
                htm = htm.replace("SpecialOffImg_","SpecialOffImg_" + i);

                //replace per piu di 1 volta
                htm = htm.replace(new RegExp(phadiv, "g"), phadiv + i);
                htm = htm.replace(new RegExp(phbdiv, "g"), phbdiv + i);

                htm = htm.replace(phchnav,phchnav + i);
                htm = htm.replace(phchkad, phchkad + i);
                htm = htm.replace(phadd, phadd + i);
                htm = htm.replace(phbinf, phbinf + i);
                htm = htm.replace(phprc, phprc + i);
                htm = htm.replace(phbaseprc, phbaseprc + i);
                htm = htm.replace(phimg, phimg + i);
                htm = htm.replace("HotImg1_","HotImg1_" + i);
                htm = htm.replace("HotImg2_","HotImg2_" + i);
                htm = htm.replace("HotImg3_","HotImg3_" + i);
                htm = htm.replace("HotImg4_","HotImg4_" + i);
                htm = htm.replace("HotImg5_","HotImg5_" + i);
                htm = htm.replace(phnotti, phnotti + i);

                //replace per piu di 1 volta
                htm = htm.replace(new RegExp("LineId", "g"), i);

                htm = htm.replace(new RegExp("imgservice_", "g"), "imgservice_" + i + "_");
                htm = htm.replace(new RegExp("desservice_", "g"), "desservice_" + i + "_");

                $("#hotels").append(htm);

                $("#extranprc").html("un'altra notte e un altro giorno di parco<b> € " + FormatMoney(ExtraNight1)  + "</b> a persona");

                DesNavetta = ReplaceAll(DesNavetta, 'NavPrice', NavPrice);
                $("#" + phbdiv + i).html(decodeHTML(DesNavetta));

                DesAssicurazione = ReplaceAll(DesAssicurazione, 'AssicPrice', AssicPrice);
                $("#" + phadiv + i).html(decodeHTML(DesAssicurazione));

                if (DispNavetta == 1)
                {
                    $("#shownav1").css("display","block");
                    $("#shownav2").css("display","block");
                }
                else
                {
                    $("#shownav1").css("display","none");
                    $("#shownav2").css("display","none");
                }

                //extra night option:
                if (ExtraNight1 == 0) {
                    $("#HotExtra").css("display", "none");
                }

            }


            Notti = Giorni(DayArrive, DayDeparture);
            var NottiDes = "UNA NOTTE";
            if (Notti > 1)
            {
                NottiDes = Notti + " NOTTI";
            }

            var GiorniAss =  Giorni(DataOggi, DayArrive);

            var Hotel = data[i].Hotel;
            HotelId = data[i].Hotel.Id;
            HotelGallery = Hotel.Image;

            HotelName = Hotel.Description;
            $("#HotelName").html(HotelName);

            SpecialOffer = Hotel.SpecialOffer;
            ProductOffer = Hotel.SpecialOfferDescription;
            ImgOffer = encodeURI(Hotel.ImageOffer);


            if (SpecialOffer == true)
            {
                $("#ProductOff_" + i).css("visibility","visible");
                $("#ProductOff_" + i).text(ProductOffer);

                //$("#SpecialOffImg_" + i).attr("src",ImgOffer);
                $("#SpecialOffImg_" + i).css('background-image', 'url(' + ImgOffer + ')');

                $("#SpecialOffImg_" + i).css("visibility","visible");
            }

            Npag = 0;
            Nimage = 0;

            for (j=0; j < Nrooms; j++)
            {
                Npag += Number(adults[j]);
                Npag += Number(kids[j]);
            }

            HotelPriceId = data[i].PriceId;

            //$("#" + phdes + i).text("Hotel " + Nst(Hotel.Stars));
            $("#" + phadd + i).text(Hotel.Address);

            $("#" + phimg + i).attr("src", HotelGallery[Nimage]);

            for (j=0; j < 5; j++)
            {
                var imgs = HotelGallery[j];

                //if (imgs == null || imgs == '')
                //{
                //    imgs = 'Content/images/products/hotel-gallery/empty.jpg';
                //}

                $("#HotImg" + Number(j + 1) + "_" + i).attr("src", imgs);
            }

            $("#" + phbinf + i).append(Hotel.BoxInfo);

            HotelPrice = data[i].Price;

            //HotelBasePrice = data[i].BasePrice;
            var Finp = FormatMoney(FinCalc(HotelPrice, Npag));
            var Basep = FormatMoney(FinCalc(HotelBasePrice, Npag));

            $("#" + phprc + i).text(Finp + "€");
            $("#" + phbaseprc + i).text(Basep + "€");
            $("#" + phnotti + i).text("Prezzo per: " +NottiDes);

            if (GiorniAss < 3)
            {
                //nascondi assicurazione
                $("#chkassdiv").css("visibility","hidden");
                $("#assicinfo_"+ i).css("visibility","hidden");
            }

            var Service = data[i].Services;
            for (var j = 0; j < Service.length; j++) {
                var pos = j + 1;
                $("#imgservice_" + i + "_" + pos).attr("src", Service[j].Icon);
                $("#desservice_" + i + "_" + pos).text(Service[j].Description);

                $("#imgservice_" + i + "_" + pos).css("display","none");
                if (Service[j].Icon != null)
                {
                    $("#imgservice_" + i + "_" + pos).css("display","inline");
                }
            }

            $('#ajaxBusy').fadeOut(300);

            //$("#" + phdes + i).text("Pomezia ");

            if (Hotel.Stars) {
                for (var e = 0; e < Hotel.Stars; e++) {
                    $("#" + phdes + i).append("<i class='fa fa-star' aria-hidden='true' style='color:#f3d32efa'></i>")
                }
            }
        }

        function Nst(Stars)
        {

            //number of hotel stars:
            var Nst = "*********";
            return Nst.substr(0, Stars);


        }


        function FindHotel(NextHotels, HotIdsel) {
            var ret = false;
            for (var i = 0; i < NextHotels.length; i++)
            {
                if (NextHotels[i] == HotIdsel) return true;
            }

            return ret;
        }


        function ExtraNight()
        {

            Nights = 0;

            if ($("#ChkExtra").prop('checked')) {

                Nights = 1;
            }


            var ExtraPrice = ExtraNight1 * Npag;

            //check allotment for the extra night
            if (Nights == 1)
            {
                var HotIdsel = DataHotel[IndexHotel].Hotel.Id;

                var DayExtra = Tomorrow(DayDeparture);

                AlertCenterClose();
                $("#ajaxBusy").fadeIn(300);
                var URL = "/Acquisto/GetHotelData";

                var Info = {
                    DayArrive: DayDeparture,
                    DayDeparture: DayExtra,
                    Rooms: Rooms,
                    City: CityHotel
                };

                var promise = $.post(URL, Info);

                promise.done(function (dataHex) {
                    $('#ajaxBusy').fadeOut(300);
                    var Found = dataHex.Hotels.map(p => p.Hotel.Id).indexOf(HotIdsel);

                    if (Found == -1) {

                        AlertCenter("Questo hotel non ha posti disponibili per una notte extra");

                        $("#ChkExtra").prop('checked', false);
                        //reset
                        Nights = 0;
                        DayDeparture = Tomorrow(DayArrive);
                        TotPrice = TotaleHotel(Npag);
                        $("#" + phprc + IndexHotel).text(FormatMoney(TotPrice) + "€");
                        $("#" + phbaseprc + IndexHotel).text(FormatMoney(HotelBasePrice.replace(",", ".") * Npag) + "€");
                        $("#Ntot").text(FormatMoney(TotPrice) + "€");
                        return;
                    }
                });

                //if (ExtraOpen == false)
                //{
                //    AlertCenter("Si avvisa che il parco per il giorno " + DayDeparture +" sarà chiuso");
                //}

                //update base price
                $("#" + phbaseprc + IndexHotel).text(FormatMoney(HotelBasePrice.replace(",",".") * Npag * (Nights + 1)) + "€");

                TotPrice += ExtraPrice;
                DayDeparture = Tomorrow(DayDeparture);
            }
            else
            {
                //reset
                DayDeparture = Tomorrow(DayArrive);
                TotPrice = TotaleHotel(Npag);
                $("#" + phbaseprc + IndexHotel).text(FormatMoney(HotelBasePrice.replace(",",".") * Npag) + "€");
            }

            $("#Nnotti").text(Nights + 1);
            $("#hotperiodo").text("Dal:" + DayArrive + " Al:" + DayDeparture);
            $("#Ntot").text(FormatMoney(TotPrice) + "€");
            $("#" + phprc + IndexHotel).text(FormatMoney(TotPrice) + "€");

            var DescN = "Prezzo per: " + NottiDesc(Nights + 1);

            $("#" + phnotti + IndexHotel).text(DescN);
        }

        function SetAssic(LineId)
        {

            if ($("#" + phchk + LineId).prop('checked'))
            {

                var Risp = "NO";
                AssicCambioData = 0;
                if ($("#" + phchkad + LineId).prop('checked')) {
                    AssicCambioData = 1;
                    Risp = "SI";
                    TotPrice += AssicPrice;
                }
                else
                {
                    TotPrice = (TotPrice - AssicPrice).toFixed(2);
                }

                TotPrice = Number(TotPrice);

                $("#Nassic").text("Servizio cambio data: " + Risp);
                $("#Ntot").text(FormatMoney(TotPrice) + "€");
                $("#" + phprc + IndexHotel).text(FormatMoney(TotPrice) + "€");
            }
        }

        function SetNav(LineId)
        {
            if ($("#" + phchk + LineId).prop('checked'))
            {
                var RispNav = "NO";
                ServizioNavetta = 0;
                if ($("#" + phchnav + LineId).prop('checked')) {
                    ServizioNavetta = 1;
                    RispNav = "SI";
                    TotPrice = TotPrice + (NavPrice * Npag);
                }
                else
                {
                    TotPrice = TotPrice - (NavPrice * Npag);
                }

                //$("#Nnavetta").text("Servizio navetta: " + RispNav);
                $("#Ntot").text(FormatMoney(TotPrice) + "€");
                $("#" + phprc + IndexHotel).text(FormatMoney(TotPrice) + "€");
            }
        }

        function SetHotel(state, LineId)
        {

            AlertCenterClose();

            if (ExtraOpen == false) {
                AlertCenter("Si avvisa che il parco per il giorno " + DayDeparture + " sarà chiuso");
            }

            if (state == true)
            {
                $("#BoxRiepilogo1").css("display", "block");
                $("#BoxRiepilogo2").css("display", "block");
                //$("#HotOp").css("display", "block");
                $("#HotOp").css("opacity", "100%");
                $("#ChkExtra").prop( "disabled", false);
                $("#" + phchkad + IndexHotel).prop('disabled', false);

                $("#nexthotel").css("visibility","hidden");
            }
            else
            {
                CloseRiepilogo();

                //$("#HotOp").css("display", "none");
                $("#HotOp").css("opacity","50%");
                $("#ChkExtra").prop( "disabled", true);
                $("#" + phchkad + IndexHotel).prop('disabled', true);

                ServizioNavetta = 0;
                AssicCambioData = 0;
                $("#" + phchnav + LineId).prop('checked', false);
                $("#" + phchkad + LineId).prop('checked', false);

                $("#ChkExtra").prop('checked', false);
                ExtraNight();

                if (Nhotel > 1)
                {
                    $("#nexthotel").css("visibility","visible");
                }
            }

            for (i=0; i < Nrooms; i++)
            {

                var Nadu = $("#" + phnad + i).val();
                var Nkid = $("#" + phkid + i).val();

                //max number for each room
                if (Number(Nadu) + Number(Nkid) > NmaxRoom )
                {
                    $("#ChkHotel_" + LineId).prop('checked', false);
                    AlertCenter("Ogni camera non può avere più di 4 persone paganti");
                    return;
                }
            }

            if (state == true)
            {

                if ( $("#" + phchkad + LineId).prop('checked') )
                {
                    AssicCambioData = 1;
                }
                else
                {
                    AssicCambioData = 0;
                }


                if ( $("#" + phchnav + LineId).prop('checked') )
                {
                    ServizioNavetta = 1;
                }
                else
                {
                    ServizioNavetta = 0;
                }

                FillRiepilogo(HotelPrice);

                $("#BtnProcedi").show();

                $.fn.unslick = function () {
                    var _ = this;
                    return _.each(function (index, element) {
                        if (element.slick) {
                            element.slick.destroy();
                        }
                    });
                };
                $(".sliderShop").unslick();
                $(".contentHotelList").css("background" , "white")
            }
            else
            {

                $("#BtnProcedi").hide();
                $("#riepilogo").empty();

                setTimeout(Mobilecarousel, 1000);
                if(lastBp != "xs") $("#hotels").show();
                $(".contentHotelList").css("background" , "transparent")
            }
        }



        function FillRiepilogo(HotelPrice){
            var totAdu = 0;
            var totKid = 0;

            for (i=0; i < Nrooms; i++)
            {
                totAdu += Number(adults[i]);
                totKid += Number(kids[i]);
            }

            Npag = totAdu + totKid;
            Notti = Giorni(DayArrive, DayDeparture);

            var Risp = "NO";
            if ( AssicCambioData == 1) { Risp = "SI"; }

            var RispNav = "NO";
            if ( ServizioNavetta == 1) { RispNav = "SI"; }

            TotPrice = TotaleHotel(Npag);

            ///////////////////////////////////
            //riepilogo
            var htm = rep;
            $("#riepilogo").empty();
            $("#riepilogo").append(htm);
            $("#hotdes").text("Hotel");
            $("#hotperiodo").text("Dal:" + DayArrive + " Al:" + DayDeparture);
            $("#Npag").text(Npag);
            $("#Nnotti").text(Notti);
            $("#Ntot").text(FormatMoney(TotPrice) + "€");
            $("#" + phprc + IndexHotel).text(FormatMoney(TotPrice) + "€");

            if (HotChangeDate == false) {
                $("#Nassic").css("display", "none");
            }

            $("#Nassic").text("Servizio cambio data: " + Risp);
            //$("#Nnavetta").text("Servizio navetta: " + RispNav);
        }

        function Riempimento()
        {
            //loop creation tickets
            for (var i = 0; i < ticket.length; i++) {
                if (azzera == true) {
                    Quantity[i] = "0";
                }
            }

            //loop creation activities
            for (var i = 0; i < activity.length; i++) {
                if (azzera == true) {
                    ActQuantity[i] = "0";
                }
            }

            //loop creation activities
            for (var i = 0; i < menu.length; i++) {
                if (azzera == true) {
                    MnuQuantity[i] = "0";
                }
            }


            LoopAnimals();
        }

        function Finish()
        {
            //dummy
            if (FakeUser == 'on'){
                FillFakeForm();
            }
        }

    </script>

}








