﻿@model Core.ShoppingState

@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Acquisto Pacchetto famiglia";

}

@*@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")*@

<div class="buyApertura">
    <div class="AperturaText">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>@ViewBag.shopdescription</h3>

                    <h5><span>Prima acquisti meno spendi!</span> Scegli tu la data in cui ti conviene venire ad Acquajoss e RISPARMI! Acquistare online conviene sempre!</h5>

                    <nav class="form-steps" style="margin-left: 30%;">
                        <div class="form-steps_item form-steps_item-active">
                            <div class="form-steps_item-content">
                                <a class="form-steps_item-lineshort"></a>
                                <span class="form-steps_item-icon"><small class=""></small></span>
                                <span class="form-steps_item-text">Scegli la data</span>
                            </div>
                        </div>
                
                        <div class="form-steps_item">
                            <div class="form-steps_item-content">
                                <a class="form-steps_item-icon"></a>
                                <span class="form-steps_item-line"></span>
                                <span class="form-steps_item-text">Riepilogo e Pagamento</span>
                                <span class="form-steps_item-lineshort"></span>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>
            <span class="sectext visible-sm visible-xs">Scegli la data</span>
        </div>
    </div>
    <div class="container">
        <div class="shopContent">
            <div class="row" style="margin-bottom:40px;">
                <div id="InfoAndCalendar">

                    <div id="InfoSection" class="col-md-3 infoshop hidden-sm hidden-xs">
                        <h3>@ViewBag.FamilyTitle</h3>
                        <p>@ViewBag.FamilyDescription</p>
                        <h3>Promozione</h3>
                        <p>Il pacchetto famiglia è una promozione acquistabile solo online</p>
                        <h3>SICUREZZA</h3>
                        <p>Pagamenti sicuri al 100%</p>
                        <!--<h4>HAI BISOGNO DI AIUTO?<br /> CHIAMACI ALLO</h4>
                        <a href="tel:+0695134"><i class="fa fa-phone" aria-hidden="true"></i> 06.95134</a>-->
                        <h4>HAI BISOGNO DI AIUTO? </h4>
                        <a class="faqscontacti btn-bluezoom" href="@Url.Action("domandeFrequenti", "Home")" target="_blank"> DOMANDE FREQUENTI</a>

                    </div>
                    <div id="CalendarSection" class="col-md-5 col-sm-5">
                        <!-- family pack-->
                        <div id="Famsec">
                        </div>

                    </div>

                    <div id="DivPromotionImage" class="col-md-8" style="display:none;">
                        <img id="PromotionImage" src="" />
                        <div id="PromotionSection" class="col-md-12" style="display:none; font-size:medium;">
                        </div>
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 bookReserv">
                    <div class="btn-lg headBook">
                        <div>
                            <h4 style="color: white;">In che giorno ci visiterai?</h4>
                        </div>
                        <div class="pickerCalen" style="text-align: center;">
                            <input type="text" id="datafinale" disabled="">
                            <!-- calendario family-->
                            <div id="FamilyCal" style="position: absolute; visibility: hidden; z-index:9999;">
                                <!-- dynamically created-->
                            </div>
                            @*<img id="minicalendar" style="margin-top: -4px; margin-left: -38px; " src="/Content/images/home/minicalendar.png">*@
                        </div>

                    </div>

                    <div class="btn-lg" style="margin-top: 8px; border: solid 1px; border-color:black; font-family: Hiruko Pro; background-color: white;">
                        <div id="family" style="display:none;">
                            <div class="row" style="color: red; background-color: white;">
                                <div class="col-xs-12"><h4>@ViewBag.FamilyTitle</h4></div>
                            </div>
                            <div id="familydes" style="color: grey;"></div>
                        </div>

                        <div id="InfoDiv">
                            <div id="payment">
                                <!--section created dynamically-->
                            </div>

                            <div class="row" style="color: red;  background-color: white;">
                                <div class="col-xs-7"><h4>BAMBINI</h4><h6 style="color: grey;">altezza inferiore al metro</h6></div>
                                <div class="col-xs-5" style="color: black;"><h3 style="margin-top: 10px;">GRATIS</h3></div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xs-7" style="text-align:right;">
                                <h3>Totale:</h3>
                            </div>

                            <div class="col-xs-4" style="margin-left: 15px; border: 1px solid grey; border-radius: 5px; text-align:center;">
                                <h3 id="TotPrice">&nbsp;</h3>
                            </div>

                            <div class="col-md-1"></div>


                            <div class="row col-md-12" style="color: blue; text-align: center;"><h5 style="margin: 4px;">*Prezzi esclusivi per l'acquisto ONLINE</h5></div>
                        </div>


                    </div>


                </div>

                <div class="col-md-12 img-rounded"></div>

            </div>

            @Html.Partial("~/Views/Shared/Buyer.cshtml")

            <div class="row btn-lg" id="continue" style="text-align: right; display: none; font-family: Hiruko Pro;">
                <button type="button" id="BtnProcedi" class="btn btn-success shad">PROCEDI ></button>
            </div>

        </div>
    </div>




</div>
<!--modal windows-->
<!--error messages-->
<div class="warning">
    <div id="alert_placeholder"></div>
</div>

<div class="warning">
    <div id="alert_placeholder2">
    </div>
</div>

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/Scripts/Calendars.js?rec='@rec'" type="text/javascript"></script>
    <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script src="~/Scripts/ShoppingCart.js?rec='@rec'" type="text/javascript"></script>
    <script type="text/javascript">

        var FirstTime;
        var DefaultQuantity = 2;
        var FakeUser = '';


        /////////////////////////////////////////////
        //discount
        var DisSec = '';
        DisSec += '<div class="row">';
        DisSec += '<div class="col-xs-9">';
        DisSec += '<input type="text" style="" id="Bcodsconto" maxlength="20" class="form-control form-group-sm" placeholder="codice sconto">';
        DisSec += '</div>';
        DisSec += '<div class="col-xs-3">';
        DisSec += '<button id="BtnDiscount" onclick="GetDisCode()" type="button" class="btn btn-success">OK</button>';
        DisSec += '</div>';
        DisSec += '</div>';

        var TckDisSec = '';
        TckDisSec += '<div id="riga_" class="row" style="color: red; background-color: white;">';
        TckDisSec += '<div class="col-xs-4"><h4>BIGLIETTO</h4>';
        TckDisSec += '<h4 class="text-uppercase" id="' + phdes + '"></h4></div>';
        TckDisSec += '<div class="col-xs-3" style="color:black; display:inline;">';
        TckDisSec += '<h4 style="color: rgb(0, 149, 212);"><span class="strikediag" id="' + phori + '"></span></h4>';
        TckDisSec += '<h4 id="' + phprc + '"></h4></div>';
        TckDisSec += '<div class="col-xs-4">';

        TckDisSec += '<div class="rail-select" style="margin-top: 18px;"><div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
        TckDisSec += '<select id="' + phqnt + '" onchange="SetQuantity(value, TckLineId)" class="form-control" id="sel1"></select></div>';
        TckDisSec += '</div>';
        TckDisSec += '</div>';
        TckDisSec += '<div class="row col-md-12" style="margin: 0; padding: 0; "><label id="' + phnot + '" style="font-size: 12px; color: grey; display: none;" ></label></div>';


        ////////////////////////////////////////////
        //dynamic ticket section
        var TckSec = '';
        TckSec += '<div id="riga_" class="row" style="color: red; background-color: white;">';
        TckSec += '<div class="col-xs-4"><h4>BIGLIETTO</h4><h4 class="text-uppercase" id="' + phdes + '"></h4></div>';
        TckSec += '<div class="col-xs-3" style="color:black; display:inline;"><h3 id="' + phprc + '"></h3></div>';
        TckSec += '<div class="col-xs-4">';

        TckSec += '<div class="rail-select" style="margin-top: 18px;"><div class="select-side"><i class="glyphicon glyphicon-menu-down blue"></i></div>';
        TckSec += '<select id="' + phqnt + '" onchange="SetQuantity(value, TckLineId)" class="form-control" id="sel1"></select></div>';
        TckSec += '</div>';
        TckSec += '</div>';
        TckSec += '<div class="row col-md-12" style="margin: 0; padding: 0; "><label id="' + phnot + '" style="font-size: 12px; color: grey; display: none;" ></label></div>';

        //$('#loader').modal('show');
        $("#ajaxBusy").fadeIn(300);

        var FixedMonth = '@ViewBag.FixedMonth';
        var FixedDate = '@ViewBag.FixedDate';

        $(document).ready(function () {
            Prodotto = "ticket";

            LogUser = '@ViewBag.TipoOperatore';
            FunzioniOperatore();

            AcquistoId = '@ViewBag.AcquistoId';
            FamilyPack = '@ViewBag.FamilyPack';
            DynBasePrice = '@ViewBag.DynBasePrice';


            FakeUser = '@ViewBag.FakeUser';

            if (AcquistoId !="")
            {
                //$("#buyhotel").css("display","none");
                //$("#buysubscription").css("display","none");
                DeleteCookieBuyer();
                DeleteAllCookies();
            }


            //calendar
            DataOggi = '@ViewBag.DataOggi';
            ListaData = @Html.Raw(Json.Encode(ViewBag.Familycal.ListaProductData));
            ListaFamilyPrice = @Html.Raw(Json.Encode(ViewBag.Familycal.ListaProductPrice));


                $("#colorschedule").css("display","none");
                $("#minicalendar").css("cursor", "pointer");

                $("#InfoDiv").css("display","none");
                $("#family").css("display","block");
                DefaultQuantity = '@ViewBag.FamilyQuantity';

                FamilyTitle =  @Html.Raw(Json.Encode(ViewBag.FamilyTitle));
                FamilyNote = @Html.Raw(Json.Encode(ViewBag.FamilyNote));


                TotPrice = '@ViewBag.Price';
                $("#TotPrice").text(FormatMoney(TotPrice) +"€");

                var htm ="";
                htm += '<div style="width:100%;">';
                htm += '<div style="border-top-right-radius: 10px; border-top-left-radius: 10px; padding: 10px 0px; text-align:center; background-color: #013751;">';
                htm += '<h3 style="color: white;">' + FamilyTitle + '</h3>';
                htm += '</div>';
                htm += '<div style="width:100%;"><div id="FamilyCal"></div></div>';

                $("#Famsec").empty();
                $("#Famsec").append(htm);
                $("#familydes").append(FamilyNote);

                //calendar
                ListaTimeEntrance = @Html.Raw(Json.Encode(ViewBag.Familycal.ListaTimeEntrance));

                ListaDataF = ListaData;
                ListaTimeEntranceF = ListaTimeEntrance;

                CreaCalendarioHotel_dynamic("F");




            ////////////////////////////////////////////////////////
            //buyer info
            LoadBuyer(@Html.Raw(Json.Encode(Model.Buyer)));
            GetBuyer();
            FillBuyer();

            //Day from model
            Day = '@Model.DayNow';


            if (Day != "") {
                //$("#datascelta").find("input").val(Day);
                NoCalcSmq = false;
                FirstTime = false;
            }
            else
            {
                FirstTime = true;
            }

           
            //Day = FirstDayAvailable(DataOggi);

            //Day = DataOggi;

            $("#datafinale").val(Day);

            Inizializza(Day);

            if (AcquistoId == "")
            {
                GetCookieBuyer();
                FillBuyer();
            }

        });



        $(".form-steps_item-icon").on('click', function (e) {

            var msg = "";

            msg = ValidateBuyer();

            if (msg != "") {
                e.preventDefault();
                AlertShow(msg);
                return;
            }

            SetCookieBuyer();
            ReadFieldsBuyer();

            var mappa = $(this).attr('id');

            switch (mappa) {
                case "step1":
                    GoToBuy();
                    break;

                case "step2":
                    GoToMenu();
                    break;

                case "step3":
                    GoToAnimal();
                    break;

                case "step4":
                    GoToActivity();
                    break;

                case "step5":
                    GoToShoppingCart();
                    break;

                default:
                    e.preventDefault();
            }
        });

        $("#BtnProcedi").click(function () {

            if (DataOggi == Day) {
                var ora = '@ViewBag.OraOggi';

                if (Number(ora) > 1600) {
                    AlertCenter("I biglietti possono essere acquistati il giorno stesso della visita al parco entro le ore 16");
                    return;
                }

            }


            if (TotPrice == "0,00")
            {
                AlertCenter("Selezionare una data");
                return;
            }

            //get the dynamic price
            Quantity[0] = 1;
            Prices[0] = TotPrice;

            var msg = "";

            msg = ValidateBuyer();

            if ( msg != "")
            {
                AlertShow(msg);
                return;
            }

            SetCookieBuyer();
            ReadFieldsBuyer();

            GoToShoppingCart();

        });

        $("#RicFatt").click(function(){
            if ( $(this).prop("checked")  )
            {
                //$("#DatiFattura").css("visibility", "visible");
                $("#DatiFattura").slideDown("slow");
            }
            else
            {
                //$("#DatiFattura").css("visibility", "hidden");
                $("#DatiFattura").slideUp("slow");
            }
        })



        $('#alert_placeholder2').click(function(){
            AlertCenterClose();
        })

        function SetQuantity(val, id) {


            if (val == "" || val == null)
            {
                val = 0;
            }

            Quantity[id] = val;

            var cnt = 0;
            for (var i=0; i < ticket.length; i++)
            {
                cnt += Quantity[i];
            }

            if (cnt == 0)
            {
                TotPrice = "0";
                $("#TotPrice").text(String.fromCharCode(160));

                //reset all options
                for (var i=0; i < animal.length; i++)
                {
                    AniQuantity[i] = 0;

                    for (var j = 0; j < SubAniQuantity[i].length; j++)
                    {
                        SubAniQuantity[i][j] = 0;
                    }

                }

                for (var i=0; i < activity.length; i++)
                {
                    ActQuantity[i] = 0;
                }

                for (var i = 0; i < menu.length; i++) {
                    MnuQuantity[i] = 0;
                }
            }


            TotPrezzo();

            //no focus on IE:
            $('#' + phqnt + id).blur();

        }


        function Inizializza(Day) {

            //acquisition
            var URL = "/Acquisto/GetData";
            var Info = {Day: Day, FamilyPack: FamilyPack};
            var promise = $.post(URL, Info);

            promise.done(function (data) {

                ReadData(data);

                azzera = false;
                var DayNow = '@Model.DayNow';
                if (Day == DayNow)
                {

                    if (@Model.ntck > 0)
                    {
                        //$('#loader').modal('show');

                        Quantity = @Html.Raw(Json.Encode(Model.TckQuantitities));
                        AniQuantity = @Html.Raw(Json.Encode(Model.TckOptions.AniQuantitities));

                        ActQuantity = @Html.Raw(Json.Encode(Model.TckOptions.ActQuantitities));
                        MnuQuantity = @Html.Raw(Json.Encode(Model.TckOptions.MnuQuantitities));

                        var SubAniQuant= @Html.Raw(Json.Encode(Model.TckOptions.SubAniQuantitities)) +'';
                        SubAniQuantLinear = SubAniQuant.split(","); //linear array
                    }
                }
                else
                {
                    azzera = true;
                }

                //GetPrices(Day,true);
                Arrloop = 0;
                Lungloop = ticket.length;

                for (var i = 0; i < ticket.length; i++) {
                    GetTicketPrice(ticket[i], '1', Day, i);
                }

            });
        }

        function FillTickets()
        {

            //fill ticket window and combo
            //max combo
            var nmax = 10;
            var htm = "";

            if (Discount != "")
            {
                //discount

                htm = DisSec;
                $("#payment").append(htm);

                if (DiscountCode != ""){
                    $("#Bcodsconto").val(DiscountCode);
                    GetDisCode();
                }

                for (var i = 0; i < ticket.length; i++) {
                    Prices[i] = "0";

                    htm = TckDisSec.replace(phdes, phdes + i);
                    htm = htm.replace("riga_", "riga_" + i);
                    htm = htm.replace(phbaseprc, phbaseprc + i);
                    htm = htm.replace(phori, phori + i);
                    htm = htm.replace(phprc, phprc + i);
                    htm = htm.replace(phqnt, phqnt + i);
                    htm = htm.replace(phnot, phnot + i);
                    htm = htm.replace("TckLineId", i);

                    $("#payment").append(htm);

                    if (azzera == true)
                    {
                        Quantity[i] = "0";
                    }

                    if (FirstTime == true)
                    {
                        //tickets default:
                        Quantity[0] = DefaultQuantity;
                        FirstTime == false;
                    }

                    for (j = 0; j < nmax + 1; j++) {
                        var tx = '...';
                        if (j > 0) { tx = j }

                        $('#' + phqnt + i).append($('<option>', {
                            value: j, text: tx
                        }));
                    }

                    $("#" + phqnt + i).val(Quantity[i]);
                    $("#" + phdes + i).text(Descriptions[i]);
                    $("#" + phori + i).text(BasePrices[i] +"€");
                    $("#" + phbaseprc + i).text(BasePrices[i] +"€");
                    $("#" + phprc + i).text("...");
                    $("#" + phnot + i).text(Notes[i]);

                    if(Notes[i] != ""){
                        $("#" + phnot + i).show();
                    }
                }


            }
            else
            {
                //dynamic price
                for (var i = 0; i < ticket.length; i++) {

                    htm = TckSec.replace(phdes, phdes + i);
                    htm = htm.replace("riga_", "riga_" + i);
                    htm = htm.replace(phbaseprc, phbaseprc + i);
                    htm = htm.replace(phprc, phprc + i);
                    htm = htm.replace(phqnt, phqnt + i);
                    htm = htm.replace(phnot, phnot + i);
                    htm = htm.replace("TckLineId", i);

                    $("#payment").append(htm);

                    if (azzera == true)
                    {
                        Quantity[i] = "0";
                    }

                    if (FirstTime == true)
                    {
                        //tickets default:
                        Quantity[0] = DefaultQuantity;
                        FirstTime == false;
                    }

                    for (j = 0; j < nmax + 1; j++) {
                        var tx = '...';
                        if (j > 0) { tx = j }

                        $('#' + phqnt + i).append($('<option>', {
                            value: j, text: tx
                        }));
                    }

                    $("#" + phqnt + i).val(Quantity[i]);
                    $("#" + phdes + i).text(Descriptions[i]);
                    $("#" + phbaseprc + i).text(BasePrices[i] +"€");
                    $("#" + phprc + i).text(Prices[i] +"€");
                    $("#" + phnot + i).text(Notes[i]);

                    if(Notes[i] != ""){
                        $("#" + phnot + i).show();
                    }
                }
            }




            TotPrezzo();


        }


        function Riempimento()
        {
            //added for acquajoss
            FixedDate = Day;

            if (FixedDate != "")
            {
                EventDateStart = FixedDate;
                EventDateEnd = FixedDate;
                var df = FixedDate.substr(0,2);
                SetCalendarHF(df);
            }


            if (FixedMonth == '1')
            {
                $("#CalPrv").css("display","none");
                $("#CalNex").css("display","none");
            }



            //loop creation activities
            if (azzera == true)
            {
                for (var i = 0; i < activity.length; i++) {
                    ActQuantity[i] = "0";
                }

                //loop creation activities
                for (var i = 0; i < menu.length; i++) {
                    MnuQuantity[i] = "0";
                }
            }

            //LoopAnimals();
            Finish();
        }

        //when finished
        function Finish()
        {
            //ReloadSubAniQuantity();
            $("#ajaxBusy").fadeOut(300);
            EventDateStart = "";
            EventDateEnd = "";
            var dd = Number(Day.substr(0,2));
            SetCalendarHF(dd);

            if (FakeUser == 'on'){
                FillFakeForm();
            }
        }

        function TotPrezzo() {

        TotPrice = 0;
        for (var i = 0; i < ticket.length; i++) {

            if (Prices[i] != "0")
            {
                TotPrice +=  Number(Quantity[i]) * Number(Prices[i].replace(",","."));
            }

        }

        if (TotPrice > 0) {
            if ($("#datascelta").find("input").val() != "")
            {
                $("#TotPrice").text(FormatMoney(TotPrice) +"€");
                $("#continue").show();
            }
        }
        else
        {
            $("#continue").hide();
        }

    }

    </script>

}




