﻿@model Core.ActivitiesModel
@using Core;
@{
    List<Categories> categoriesList = Model.categoriesList;
    List<Activities> activitiesList = Model.activitiesList;
    activitiesList = activitiesList.Where(x => x.Activity_Status == true).ToList();
    Activities activity = Model.activity;
}

<section>
    @if (!string.IsNullOrEmpty(activity.Activity_Banner))
    {
        @*<img src="@GlobalSettings.UrlBackOffice/@activity.Activity_Banner" alt="@activity.Activity_Title" class="img-responsive hidden-xs"  style="width:100%;" />*@
        <img src="@GlobalSettings.UrlFront/@activity.Activity_Banner.Replace("Content","contentcdn")" alt="@activity.Activity_Title" class="img-responsive hidden-xs" style="width:100%;" />
    }
    @if (!string.IsNullOrEmpty(activity.Activity_Thumbnail))
    {
        @*<img src="@GlobalSettings.UrlBackOffice/@activity.Activity_Thumbnail" alt="@activity.Activity_Title" class="img-responsive  visible-xs" style="width:100%;" />*@
        <img src="@GlobalSettings.UrlFront/@activity.Activity_Thumbnail.Replace("Content","contentcdn")" alt="@activity.Activity_Title" class="img-responsive  visible-xs" style="width:100%;" />
    }
</section>
<div class="activityInternaDesktop hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row activityTextTop">
                    <div class="col-sm-4 text-center">
                        @if (!string.IsNullOrEmpty(activity.Activity_Logo))
                        {
                            @*<img src="@GlobalSettings.UrlBackOffice/@activity.Activity_Logo" class="img-responsive center-block" />*@
                            <img src="@GlobalSettings.UrlFront/@activity.Activity_Logo.Replace("Content", "contentcdn")" class="img-responsive center-block" />
                        }
                        <h3>@activity.Activity_Title</h3>
                        @foreach (int category_id in activity.Activity_Categories)
                        {
                            Categories icon = categoriesList.Find(c => c.Category_Id.Equals(category_id));
                            <span><i class="fa fa-circle cell" aria-hidden="true" style="color:@icon.Category_Background;"></i> @icon.Category_Name</span>
                        }
                    </div>
                    <div class="col-sm-8">
                        @if (!string.IsNullOrEmpty(activity.Activity_Introduction))
                        {
                            <p>@activity.Activity_Introduction</p>
                        }
                    </div>
                </div>
                @*slider gallery*@
                @if (activity.Activity_Gallery != null && activity.Activity_Gallery.Count > 0)
                {
                    <div class="galleryInterna">
                        <div class="slider-for">
                            @foreach (ActivityGallery gallery in activity.Activity_Gallery)
                            {
                                <div class="item">
                                    @*<img src="@(GlobalSettings.UrlBackOffice + "/" + gallery.ActivityGallery_Image)" alt="@activity.Activity_Title" draggable="false" />*@
                                    <img src="@(GlobalSettings.UrlFront + "/" + gallery.ActivityGallery_Image.Replace("Content", "contentcdn"))" alt="@activity.Activity_Title" draggable="false" />
                                </div>
                            }
                        </div>

                        <div class="slider-nav">
                            @foreach (ActivityGallery gallery in activity.Activity_Gallery)
                            {
                                <div class="item">
                                    @*<img src="@(GlobalSettings.UrlBackOffice + "/" + gallery.ActivityGallery_Image)" alt="@activity.Activity_Title" draggable="false" />*@
                                    <img src="@(GlobalSettings.UrlFront + "/" + gallery.ActivityGallery_Image.Replace("Content", "contentcdn"))" alt="@activity.Activity_Title" draggable="false" />
                                </div>
                            }
                        </div>
                    </div>
                }


                @if (!string.IsNullOrEmpty(activity.Activity_Description))
                {
                    <p>@activity.Activity_Description</p>
                }

                @if (!string.IsNullOrEmpty(activity.Activity_Video))
                {
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="460" src="@(activity.Activity_Video + "?showinfo=0&rel=0")" frameborder="0" class="embed-responsive-item" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                }
                <a href="/ilparco" class="btn-orange">SCOPRI IL PARCO</a>
            </div>
            <div class="col-sm-3">
                <p class="tuttaActi">TUTTA LE ATTIVIÀ</p>
                @foreach (Activities actcategory in activitiesList)
                {
                    <a class="per @(actcategory.Activity_Id.Equals(activity.Activity_Id) ? "active" : string.Empty)" href="/ilparco/@actcategory.Activity_Url">
                        <i class="fa fa-circle cell" aria-hidden="true" style="color:#013751;font-size:8px;"></i> <span class="cell">@actcategory.Activity_Title</span>
                    </a>
                }
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(activity.Activity_Map))
    {
        <a href="~/Content/images/ilparco/interna/mapafull.jpg" data-fancybox data-caption="@activity.Activity_Title">
            @*<img src="@(GlobalSettings.UrlBackOffice + "/" + activity.Activity_Map)" alt="" class="img-responsive mapaInterna" />*@
            <img src="@(GlobalSettings.UrlFront + "/" + activity.Activity_Map.Replace("Content","contentcdn"))" alt="" class="img-responsive mapaInterna" />
        </a>
    }

</div>
<div class="activityInternaMobile visible-xs">
    <h2>@activity.Activity_Title</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                @foreach (int category_id in activity.Activity_Categories)
                {
                    Categories icon = categoriesList.Find(c => c.Category_Id.Equals(category_id));
                    <span class="catactivity"><i class="fa fa-circle cell" aria-hidden="true" style="color:@icon.Category_Background;"></i> @icon.Category_Name</span>
                }

                @if (!string.IsNullOrEmpty(activity.Activity_Logo))
                {
                    @*<img src="@GlobalSettings.UrlBackOffice/@activity.Activity_Logo" class="img-responsive center-block" />*@
                    <img src="@GlobalSettings.UrlFront/@activity.Activity_Logo.Replace("Content","contentcdn")" class="img-responsive center-block" />
                }

                @if (!string.IsNullOrEmpty(activity.Activity_Introduction))
                {
                    <p>@activity.Activity_Introduction</p>
                }
            </div>
        </div>
    </div>
    <div class="fotoactivity" style="border-bottom:8px solid #e03d58;">
        @if (activity.Activity_Gallery != null && activity.Activity_Gallery.Count > 0)
        {
            <section class="banners-slider" style="position:relative;">
                <div class="sectionNivoSlider">
                    <div id="slider" class="nivoSlider theme-default" style="margin-bottom: 0px;">
                        @foreach (ActivityGallery gallery in activity.Activity_Gallery)
                        {
                            <a href="#">
                                @*<img class="img-responsive" src="@(GlobalSettings.UrlBackOffice + "/" + gallery.ActivityGallery_Image)" alt="@activity.Activity_Title" draggable="false" />*@
                                <img class="img-responsive" src="@(GlobalSettings.UrlFront + "/" + gallery.ActivityGallery_Image.Replace("Content","contentcdn"))" alt="@activity.Activity_Title" draggable="false" />
                            </a>
                        }
                    </div>
                </div>
            </section>
        }

    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @if (!string.IsNullOrEmpty(activity.Activity_Description))
                {
                    <p>@activity.Activity_Description</p>
                }
            </div>
        </div>


        @{
            int activityIndex = activitiesList.FindIndex(a => a.Activity_Id.Equals(activity.Activity_Id));
            Activities activityPreview = activitiesList[(activityIndex == 0 ? activitiesList.Count : activityIndex) - 1];
            Activities activityNext = activitiesList[activityIndex == (activitiesList.Count - 1) ? 0 : (activityIndex + 1)];

            if (activityPreview != null)
            {
                <div class="navActivitys">
                    <a href="/ilparco/@activityPreview.Activity_Url">
                        <i class="fa fa-angle-left" aria-hidden="true"></i> Anteriori actividade<br />
                        <span>@activityPreview.Activity_Title</span>
                    </a>
                </div>
            }

            if (activityNext != null)
            {
                <div class="navActivitys">
                    <a href="/ilparco/@activityNext.Activity_Url">
                        Sigoenti actividade <i class="fa fa-angle-right" aria-hidden="true"></i><br />
                        <span>@activityNext.Activity_Title</span>
                    </a>
                </div>
            }
        }
    </div>
    <a href="/ilparco" class="btn-bluezoom">SCOPRI IL PARCO</a>
</div>

