﻿@using System.Globalization;
@using System.Text.RegularExpressions;
@using Core
@{
    DateTime Datenow = Impostazioni.ConvertiDataDateFormatTwo(Impostazioni.DataOggi());
    int days = 0;

    List<ParkOperational> ParkOperationals = ViewBag.Parkoperationals;
    List<ParkCalendar> ParkCalendars = ViewBag.ParkCalendars;
    int StartYear = ViewBag.StartYear;
    int StartMonth = ViewBag.StartMonth;
    int CurMonth = Datenow.Month;

    List<ParkSchedules> schedulesList = ViewBag.schedulesList;

    //schedulesList.Add(new ParkSchedules { ParkSchedule_Description = "Parco accessibile solo partecipanti Animal Explorer", ParkSchedule_Color = "#CB0538", ParkSchedule_Status = true });
    List<ActivitySchedule> schedules = ViewBag.schedules;
    List<string> Years = ViewBag.Years;
    List<Activities> activities = ViewBag.activities;
}


<section class="calendariEventi">
    @*section calendari*@
    <div class="secCalendari">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> CALENDARIO</h2>
                </div>
            </div>

            <div id="Calendar" class="hidden-sm hidden-xs">
                <div id="Intestazione" class="Months">
                    <span class="Name"></span>
                    @for (int i = 1; i <= 31; i++)
                    {
                        <span>@i</span>
                    }
                </div>

                <center>
                    @foreach (string year in Years)
                    {
                        string anno = Datenow.AddYears(-1).Year.ToString();
                        if (year != anno)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="calendariYear">@year</h4>
                                </div>

                            </div>
                            var queryMonths =
                            from month in ParkCalendars
                            where month.ParkCalendar_Date.Year.ToString().Equals(year)
                            group month by month.ParkCalendar_Date.Month into g
                            orderby g.Key
                            select g;

                            List<string> Months = new List<string>();
                            foreach (var month in queryMonths)
                            {
                                if (month != null)
                                {
                                    Months.Add(month.Key.ToString());
                                }
                            }

                            int StartM = 1;
                            int Year = Convert.ToInt32(year);
                            if (Year == StartYear && ParkCalendars[0].ParkCalendar_Date.Month == StartMonth)
                            {
                                StartM = StartMonth;
                            }

                            int Nmonths = 12;

                            if (StartM == 1) { Nmonths = Months.Count; }

                            for (int i = StartM; i <= Nmonths; i++)
                            {
                                <div class="Months">
                                    <span class="Name">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</span>
                                    @{
                                        days = DateTime.DaysInMonth(Convert.ToInt32(year), i);
                                    }

                                    @for (int day = 1; day <= days; day++)
                                    {
                                        string DateString = $"{i}-{day}-{year}";
                                        DateTime date = DateTime.ParseExact(DateString, new string[] { "M.d.yyyy", "M-d-yyyy", "MM/dd/yyyy" }, CultureInfo.CurrentCulture, DateTimeStyles.None);
                                        DayOfWeek dayofweek = date.DayOfWeek;
                                        string _d = date.ToShortDateString();
                                        ParkCalendar parkC = ParkCalendars.SingleOrDefault(PC => PC.ParkCalendar_DateFormat.Equals(date.ToShortDateString()) && PC.ParkCalendar_Status == true);
                                        string span = "<span>";
                                        if (parkC != null)
                                        {
                                            string color = "";
                                            if (parkC.ParkCalendar_ParkCalendarSchedule != null)
                                            {
                                                color = ParkSchedules.Instance().GetParkSchedule(parkC.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_IdParkSchedule).ParkSchedule_Color;
                                            }

                                            span = "<span class='datAc' data-id=" + parkC.ParkCalendar_Id + " data-date=" + parkC.ParkCalendar_DateFormat + " style=\"background: " + color + "\">";
                                        }
                                        if (dayofweek == DayOfWeek.Saturday || dayofweek == DayOfWeek.Sunday)
                                        {
                                            span += CultureInfo.CurrentCulture.DateTimeFormat.GetShortestDayName(date.DayOfWeek).ToUpper();
                                        }
                                        span += "</span>";

                                        @Html.Raw(span);
                                    }
                                </div>
                            }

                        }

                    }
                </center>

            </div>

            @*mobile calendari*@
            <div class="contentCalendarMobile hidden-md hidden-lg">
                <div class="siema CalendarMobile">
                    @foreach (string year in Years)
                    {
                        string anno = Datenow.AddYears(-1).Year.ToString();
                        if (year != anno)
                        {

                            for (int i = 1; i <= 12; i++)
                            {
                                <div class="Meses">
                                    <div class="tituloMeses">
                                        <span class="Name"><i class="fa fa-calendar" aria-hidden="true"></i> @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i) @year</span>
                                    </div>
                                    <table>
                                        <tbody style="color: white;">
                                            <tr>

                                                @foreach (string dayname in CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedDayNames)
                                                {
                                                    <th>@dayname</th>
                                                }
                                            </tr>

                                            @{
                                                days = DateTime.DaysInMonth(Convert.ToInt32(year), i);

                                                int iterator = 0;
                                            }

                                            @for (int day = 1; day <= days;)
                                            {
                                                string DateString = $"{i}-{day}-{year}";
                                                DateTime date = DateTime.ParseExact(DateString, new string[] { "M.d.yyyy", "M-d-yyyy", "MM/dd/yyyy" }, CultureInfo.CurrentCulture, DateTimeStyles.None);
                                                DayOfWeek? dayofweek = null;
                                                if (day == 1)
                                                {
                                                    dayofweek = date.DayOfWeek;
                                                }
                                                string trStart = "<tr>";
                                                string trEnd = "</tr>";

                                                if (iterator > 6)
                                                {
                                                    @Html.Raw(trStart);
                                                    iterator = 0;
                                                }
                                                if (dayofweek != null)
                                                {
                                                    if ((int)dayofweek.Value == iterator)
                                                    {

                                                        string color = "";
                                                        ParkCalendar parkC = ParkCalendars.SingleOrDefault(PC => PC.ParkCalendar_DateFormat.Equals(date.ToShortDateString()) && PC.ParkCalendar_Status == true);
                                                        if (parkC != null)
                                                        {
                                                            if (parkC.ParkCalendar_ParkCalendarSchedule != null)
                                                            {
                                                                color = ParkSchedules.Instance().GetParkSchedule(parkC.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_IdParkSchedule).ParkSchedule_Color;
                                                            }
                                                        }
                                                        @Html.Raw("<td style=\"background: " + color + "\">" + day + "</td>");
                                                        day++;
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<td>  </td>");
                                                    }
                                                }
                                                else
                                                {
                                                    string color = "";
                                                    ParkCalendar parkC = ParkCalendars.SingleOrDefault(PC => PC.ParkCalendar_DateFormat.Equals(date.ToShortDateString()) && PC.ParkCalendar_Status == true);
                                                    if (parkC != null)
                                                    {
                                                        if (parkC.ParkCalendar_ParkCalendarSchedule != null)
                                                        {
                                                            color = ParkSchedules.Instance().GetParkSchedule(parkC.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_IdParkSchedule).ParkSchedule_Color;
                                                        }
                                                    }
                                                    @Html.Raw("<td style=\"background: " + color + "\">" + day + "</td>");
                                                    day++;
                                                }
                                                if (iterator > 6)
                                                {
                                                    @Html.Raw(trEnd);
                                                    iterator = 0;
                                                }
                                                iterator++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    }
                </div>
                <button class="prevCalendar navcontrolCalendar"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button class="nextCalendar navcontrolCalendar"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>


            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="listSchedulesCalendar">
                        @foreach (Core.ParkSchedules s in schedulesList.FindAll(s => s.ParkSchedule_Status == true))
                        {
                            if (s.ParkSchedule_TimeStart == default(TimeSpan))
                            {
                                <span><i class="fa fa-circle" style="color:@s.ParkSchedule_Color"></i><span>@s.ParkSchedule_Description</span></span>
                            }
                            else
                            {
                                //show description only if made of words
                                string Des = s.ParkSchedule_Description;
                                if (!Regex.IsMatch(Des, ".*?[a-zA-Z].*?")) { Des = ""; }
                                <span><i class="fa fa-circle" style="color:@s.ParkSchedule_Color"></i> <span>@s.ParkSchedule_TimeStartString - @s.ParkSchedule_TimeEndString</span>&nbsp;@Des</span>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row filtroActivities">
                <div class="col-sm-12">
                    <div id="showDate" style="display:none;">
                        <h3>DISPONIBILE IL <span id="dispoDate"></span></h3>
                        <h4>ATTIVITÀ</h4>
                    </div>
                    <div class="listado-actividades">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{

    <script>

        var ActivitiesList = @Html.Raw(Json.Encode(activities));
        var SchedulesActivities = @Html.Raw(Json.Encode(schedules));


        var CurMonth = Number(@CurMonth - 1);

        month = Number(@StartMonth -1);

        if(CurMonth > month){
            month = CurMonth;
        }



        const mySiema = new Siema({
            startIndex: month,
        });

        const prev = document.querySelector('.prevCalendar');
        const next = document.querySelector('.nextCalendar');

        prev.addEventListener('click', () => mySiema.prev());
        next.addEventListener('click', () => mySiema.next());



        $(document).ready(function ()
        {

            $('.Months').on('click span',function (event)
            {
                $('.actividad').remove();
                $("#showDate").show();
                $('html, body').animate({
                    scrollTop: $(".listSchedulesCalendar").offset().top
                }, 1000)


                var $target = $(event.target),
                    itemId = $target.data('id');
                    itemDate = $target.data('date');


                    $("#dispoDate").text(itemDate);
                   console.log(itemId);

                   if(itemId){
                       var idSchedules = Array();
                       $.each(ActivitiesList, function(i, obj){
                           if(obj.Activity_Status != false){
                               var activityCalendar = obj.ActivitiesCalendar.find(a => a.ActivitiesCalendarSchedule_idParkCalendar == itemId);
                               if(activityCalendar != null && activityCalendar.ActivitiesCalendarSchedule_idSchedule != ""){


                                   if(activityCalendar.ActivitiesCalendarSchedule_idParkCalendar == itemId && activityCalendar.ActivitiesCalendarSchedule_idSchedule != null){

                                       var schedule = activityCalendar.ActivitiesCalendarSchedule_idSchedule.split(',');
                                       schedule.forEach(function(item){
                                           idSchedules.push(item);
                                       });

                                       idSchedules = idSchedules.unique();


                                       var scheduleFinal = SchedulesActivities.filter(function (item, index) {

                                           return idSchedules.includes(item.Id + "");

                                       })

                                       //order schedules:
                                       scheduleFinal = scheduleFinal.map(i => i.ScheduleTimeFormat);
                                       scheduleFinal = scheduleFinal.sort();
                                       var str = "<span>";
                                       scheduleFinal.forEach(OrderSchedules);

                                       function OrderSchedules(item) {
                                           str = str + item + " ";
                                       }

                                       scheduleFinal = str + "</span>";



                                       var urlsite = "@GlobalSettings.UrlSitio";
                                       var urlIparco = "/ilparco/" + this.Activity_Url;
                                       var item = '<div class="actividad" id="">';
                                       item += ' <h3>'+ this.Activity_Title +'</h3>';
                                       item += '<a href="'+ urlIparco +'" class="thumb">';
                                       item += '<img src="'+ urlsite + this.Activity_Thumbnail.replace("Content","/contentcdn") +'" class="img-responsive" />';
                                       item += '<span>Scopri di più</span>';
                                       item += '</a>';
                                       //item += ' <p>'+ scheduleFinal +'</p>';
                                       item += '</div>';

                                       setTimeout(function(){
                                           $(".listado-actividades").append(item).show("slide", {direction: "down"},"1000");
                                       }, 500);
                                   }
                                   idSchedules = Array();
                               }
                           }


                       });


                }

                return false
                //var triggerType = $(this).attr("id");
                //$(".actividad").hide("fast");
                //$('.' + triggerType).show('fast');
                //return false;
            });
        })

        Array.prototype.unique = function() {
            return this.filter(function (value, index, self) {
                return self.indexOf(value) === index;
            });
        }
    </script>
}
