﻿
@{
    ViewBag.Title = "centri";
}
<section class="banners-slider" style="position:relative;">
    <div class="sectionNivoSlider">
        <div style="position: relative;">
            <div id="slider" class="nivoSlider theme-default" style="margin-bottom: 0px;">
                <a xs="False">
                    <img src="~/Content/images/centriEstivi/bgcentri.jpg" border="0" />
                </a>
                <a xs="True">
                    <img src="~/Content/images/centriEstivi/bgcentri_xs.jpg" border="0" />
                </a>
                <!--<a name="ImgPromo" class="hide" href="" target="" xs="">
                     <img src="~/Content/src/slider-home.jpg" border="0" />
                 </a> -->
            </div>
        </div>
    </div>
</section>
<section class="centriEstivi">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>CENTRO ESTIVO 2017</h1>
                <h3>Se siete amanti degli animali, della Natura e dello stare assieme all'aria aperta non potete perdervi il Centro Estivo di Zoomarine!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p>Ogni settimana il centro estivo verrà caratterizzato da un tema differente: conosceremo gli animali del Parco e chi si occupa quotidianamente della loro cura, scopriremo i segreti della Natura che ci circonda, ci occuperemo del nostro rigoglioso orto, delle nostre testuggini e moltissimo altro! I bambini saranno divisi per fascia d'età: Junior fino a 11 anni e Young, dai 12 anni in sú!</p>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="~/Content/images/centriEstivi/image1.jpg" class="img-responsive center-block hidden-xs"/>
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/images/centriEstivi/image2.jpg" class="img-responsive center-block hidden-xs" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="centriIcon1">
                    <img src="~/Content/images/centriEstivi/icon1.png" class="img-responsive center-block"/>
                </div>
                <a class="btn-red btnCentri">SCARICA QUI IL MODULO</a>
                <a class="btn-blue btnCentri">REGLAMENTO</a>
            </div>
        </div>
    </div>
    <div class="comprende">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>COMPRENDE:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 hidden-xs">
                    <img src="~/Content/images/centriEstivi/icon2.png" class="img-responsive center-block"/>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>Laboratori Creativi & Didattici</li>
                        <li>Giochi di squadra</li>
                        <li>Diventa Paleontologo <span>alla scopert del fossile di un vero T-Rex</span></li>
                        <li>Coltiva e Mangia <span>I'orto botanico</span></li>
                        <li>Il giardino delle spezie <span>sapori e profumi della nostra terra</span></li>
                        <li>Caccia al tesoro <span>alla ricerca dei segreti della natura</span></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>Mille fiori, mille mieli <span>viaggio alla scoperta del dolce nettare</span></li>
                        <li>Da baco a farfalla <span>la metamorfosi</span></li>
                        <li>Diventa addestratore <span>tutti i segreti per comunicare con gli animali</span></li>
                        <li>Divertimento bestiale <span>inventa e costruisci giochi per gli animali</span></li>
                        <li>Diventa un vero surfista sul nostro flow ridier.</li>
                    </ul>
                </div>
                <div class="col-sm-2 hidden-xs">
                    <img src="~/Content/images/centriEstivi/icon3.png" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="contentCentri">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <p>Pranzo e merenda pomeridiana: Zoomarine rivolge particolare attenzione all'alimentazione dei bambini proponendo ogni giorno un menù vario ed equilibrato preparato al momento dallo Chef del ristorante Taverna la Famiglia.</p>
                    <a>Info: booking@zoomarine.it </a>
                    <a>telefona allo 06.91534</a>
                </div>
                <div class="col-sm-5">
                    <img src="~/Content/images/centriEstivi/imagen.jpg" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</section>
