﻿@model Core.HomeModel

@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")
<section class="centriEstivi">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>CENTRO ESTIVO 2019</h1>
                <h3>Se siete amanti degli animali, della Natura e dello stare assieme all'aria aperta non potete perdervi il Centro Estivo di Zoomarine!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p>Ogni settimana il centro estivo verrà caratterizzato da un tema differente: conosceremo gli animali del Parco e chi si occupa quotidianamente della loro cura, scopriremo i segreti della Natura che ci circonda, ci occuperemo del nostro rigoglioso orto, delle nostre testuggini e moltissimo altro! I bambini saranno divisi per fascia d'età: Junior fino a 11 anni e Young, dai 12 anni in sú!</p>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="~/Content/images/centriEstivi/image1.jpg" class="img-responsive center-block hidden-xs"/>
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/images/centriEstivi/image2.jpg" class="img-responsive center-block hidden-xs" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="centriIcon1">
                    <img src="~/Content/images/centriEstivi/icon1.png" class="img-responsive center-block"/>
                </div>
                <a href="~/Content/scuole/Modulo-di-prenotazione-centro-estivo_ZM.pdf" class="btn-red btnCentri">SCARICA QUI IL MODULO</a>
                <a href="~/Content/scuole/Regolamento-Centro-Estivo-ZM.pdf" class="btn-blue btnCentri">REGOLAMENTO</a>
            </div>
        </div>
    </div>
    <div class="comprende">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>ATTIVITA’ PREVISTE:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 hidden-xs">
                    <img src="~/Content/images/centriEstivi/icon2.png" class="img-responsive center-block"/>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>Visione di tutti gli spettacoli e dimostrazioni disponibili nel Parco</li>
                        <li>Incontri ravvicinati con gli animali del Parco e possibilità di imparare i concetti base dell’addestramento</li>
                        <li>Attrazioni e Piscine</li>
                        <li>Cinema 4D ed Era dei Dinosauri</li>

                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                      
                        <li>Avventura nella Foresta e interazione con Conuri del sole e Conigli</li>
                        <li>Attività didattiche interattive e creative tematizzate in linea con le finalità educative del Parco</li>
                        <li>Giochi di squadra</li>
                        <li>ZooEnglish: attività didattiche in lingua inglese finalizzate all’apprendimento di piccoli concetti di base sugli animali ospitati nel Parco.</li>
                    </ul>
                </div>
                <div class="col-sm-2 hidden-xs">
                    <img src="~/Content/images/centriEstivi/icon3.png" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="contentCentri">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <p>Pranzo e merenda pomeridiana: Zoomarine rivolge particolare attenzione all’alimentazione dei bambini proponendo ogni giorno un menù vario ed equilibrato preparato al momento dallo Chef del ristorante Taverna la Famiglia.</p>
                   <p><strong>TARIFFE SETTIMANALI A BAMBINO PASTO INCLUSO	€ 180</strong> <br />(dal Lunedì al Venerdì)</p>
                    <p><strong>SECONDA SETTIMANA A BAMBINO PASTO INCLUSO	€ 160</strong></p>
                    <p><strong>TARIFFA 4 SETTIMANE CONSECUTIVE PASTO INCLUSO	€ 560</strong></p>
                    <p><strong>TARIFFA GIORNALIERA					€ 45 </strong></p>
                     <a>Per info e prenotazioni contattare il call center Zoomarine al numero 0691534 o scrivi a: booking@zoomarine.it </a>
                    <p><a href="https://www.zoomarine.it/convenzioni/">https://www.zoomarine.it/convenzioni/</a> EVENTI AZIENDALI SECTION is ok!</p>
                </div>
                <div class="col-sm-5">
                    <img src="~/Content/images/centriEstivi/imagen.jpg" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</section>
