﻿<style>
    .bluesection {
        background-color: #013751;
        width: 100%;
        height: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
     .sectionfooter {
        background-color: #f9f9f9;
        width: 100%;
        margin-top: 20px;
    }
     .sectionfooter .row p:before{

        content: "•";  Insert content that looks like bullets 
        padding-right: 8px;
        color: #013751;  Or a color you prefer 

     }
    .sectionfooter .row h2{
        text-align: start;
        color: #013751;
    }
     .sectionfooter .row h4
     {
        text-align: left;
        color: #013751;
     }
      .sectionfooter .row p{
  
        color: #013751;
    }
    .row p{
        margin-top: 15px;
    }
    .sectionfooter .col-lg-3 h2, .sectionfooter .col-lg-3 h4{
        font-weight: bold;
    }

</style>
<section class="banners-slider" style="position:relative;">
    <div class="sectionNivoSlider">
        <div style="position: relative;">
            <div id="slider" class="nivoSlider theme-default" style="margin-bottom: 0px;">
                <a xs="False">
                    
                    <img src="~/Content/images/chiSiamo/AcquaJoss-it_1366_325.jpg" border="0" />
                </a>
                <a xs="True">
                    <img src="~/Content/images/chiSiamo/Mobile_AcquaJoss_360_310_xs.jpg" border="0" />
                </a>
                <!--<a name="ImgPromo" class="hide" href="" target="" xs="">
                     <img src="~/Content/src/slider-home.jpg" border="0" />
                 </a> -->
            </div>
        </div>
    </div>
</section>
<section class="chiSiamo">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    IL PARCO ACQUATICO <br />
                    DELL'EMILIA ROMAGNA
                </h2>
            </div>

        </div>
    </div>
    <div class="bluesection"></div>
    @*desktop*@
    <div class="hidden-xs">
        <div class="container">
            <div class="row">
                <h3>
                    Con i suoi 40.000 metri quadrati di divertimento in sicurezza, che ospitano grandi scivoli mozzafiato, una magnifica piscina a onde di 4.000 metri quadrati, colline scivolose, una laguna VIP con idromassaggio, un river lungo oltre 400 metri e uno strepitoso acquascivolo, Acquajoss è tra i Parchi più amati dell’Emilia-Romagna, offrendo relax, divertimento ed emozioni, senza dover percorrere chilometri e chilometri per raggiungere la riviera. 
                    Il Parco, inoltre, è a misura di bambino, con piscina e servizi dedicati ai più piccoli, per il divertimento di tutta la famiglia ma anche per teen-ager e giovani adulti.
                </h3>
                <h3>
                    Acquajoss, Zoomarine e Aquafelix sono proprietà di Dolphin Company, azienda leader mondiale del divertimento educativo presente con 28 Parchi in 10 Paesi (Messico, Stati Uniti, Italia, Argentina, Anguilla, Tortola, Grand Cayman, Giamaica, St. Kitts e Repubblica Domenicana).
                </h3>
            </div>

        </div>
    </div>

    @*mobile*@
    <div id="chitextContent" class="visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mobileDesp">                 
                    <h3>
                        Con i suoi 40.000 metri quadrati di divertimento in sicurezza, che ospitano grandi scivoli mozzafiato, una magnifica piscina a onde di 4.000 metri quadrati, colline scivolose, una laguna VIP con idromassaggio, un river lungo oltre 400 metri e uno strepitoso acquascivolo, Acquajoss è tra i Parchi più amati dell’Emilia-Romagna, offrendo relax, divertimento ed emozioni, senza dover percorrere chilometri e chilometri per raggiungere la riviera. 
                        Il Parco, inoltre, è a misura di bambino, con piscina e servizi dedicati ai più piccoli, per il divertimento di tutta la famiglia ma anche per teen-ager e giovani adulti.
                    </h3>
                    <h3>
                        Acquajoss, Zoomarine e Aquafelix sono proprietà di Dolphin Company, azienda leader mondiale del divertimento educativo presente con 28 Parchi in 10 Paesi (Messico, Stati Uniti, Italia, Argentina, Anguilla, Tortola, Grand Cayman, Giamaica, St. Kitts e Repubblica Domenicana).
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div style="text-align: center;">
        <img src="/Content/images/chiSiamo/logoRomagna.jpg" class="img-thumbnail">
    </div>

    <div class="sectionfooter">
        <div class="container">
            <div class="row" style="display: none;">
                <div class="col-lg-3">
                    <h2>2 KM DI SCIVOLI</h2>
                    <h4>dai più dolci ai più adrenalinici!!</h4>
                </div>
                <div class="col-lg-6">
                    <p>Tra questi il Black Mamba, il “terribile” scivolo che ti farà provare emozioni che ti toglieranno il fiato e Il King Cobra lo scivolo novità 2020!</p>
                    <p>4000 mq di specchi d’acqua: che si estendono dalla grande piscina ad onde Tsunami, passando per Komba (per i più piccoli), al fiume lento Colorado River nella zona Messico.</p>
                    <p>16000 mq di solarium</p>
                </div>
                <div class="col-lg-3">
                    <p>4 punti ristoro</p>
                    <p>1500 piante autoctone ad alto fusto</p>
                    <p>1500 ombrelloni</p>
                    <p>2500 lettini</p>
                    <p>2000 posti auto in ampi parcheggi</p>
                    <p>Una capacità di 4300 visitatori al giorno</p>
                </div>
            </div>
        </div>
    </div>

</section>

