﻿

@*<section class="banners-slider" style="position:relative;">
    <div class="sectionNivoSlider">
        <div style="position: relative;">
            <div id="slider" class="nivoSlider theme-default" style="margin-bottom: 0px;">
                <a xs="False">
                    <img src="~/Content/images/home/bgtransportation.jpg" border="0" />
                </a>
                <a xs="True">
                    <img src="~/Content/images/home/bgtransportation_xs.jpg" border="0" />
                </a>
                <a name="ImgPromo" class="hide" href="" target="" xs="">
                     <img src="~/Content/src/slider-home.jpg" border="0" />
                 </a> 
            </div>
        </div>
    </div>
</section>*@
<section class="arrivare">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><i class="fa fa-map-marker" aria-hidden="true"></i> COME  ARRIVARE</h1>
            </div>
            @*desktop*@
            <div class="col-sm-12 hidden-xs">
                <div class="content-arriveri">
                    <div class="item-arriveri">
                        <div class="imgnavetta"></div>
                        <h2>IN NAVETTA</h2>
                        <h3>PERTENZA DA ROMA:</h3>
                        <p>Partenza da Roma: ore 9.30 Stazione di Roma Termini, Via Giolitti 48</p>
                        <h3>DA ZOOMARINE: <span>(di fronte all'entrata del Parco)</span></h3>
                        <p>ore 17:00 nei giorni di chiusura 17:00</p>
                        <p>ore 18:00 nei giorni di chiusura Parco ore 18:00 e 19:00</p>
                        <p>*La tariffa di Andata e Ritorno e' 15.00 ‎€ (tariffa unica).</p>
                        <p>Per maggiori informazioni contattare ilñ call center Zoomarine</p>
                    </div>
                    <div class="item-arriveri">
                        <div class="imgauto"></div>
                        <h2>IN AUTO</h2>
                        <h3>PARTENZA DA ROMA:</h3>
                        <p>Grande Raccordo Anulare, uscita 26 Pantina (SS148) in direzione Latina. Proseguire per 10 km fino all' uscita Pomezia-Torvaianica.</p>
                        <p>Seguire la strada provinciale 101/a in direzione Torvaianica e quindi le indicazioni per il Parco.</p>
                        <h3>DA SUD:</h3>
                        <p>Pontina (SS 148) uscita Pomezia - Torvaianica. Seguire la stada provinciale 101/a in direzione Torvaianica e quindi le indicazioni per il Parco.</p>
                    </div>
                    <div class="item-arriveri">
                        <div class="imgbus"></div>
                        <h2>IN AUTOBUS</h2>
                        <h3>PERTENZA DA ROMA:</h3>
                        <p>Da Roma (Laurentina) o dau principali comuni del Lazio é possibile prendere gli autobus del Cotral direzuine Pomezia - Torvaianca, fermata Piazza Italiana.</p>
                        <a target="_blank" href="http://www.cotralspa.it">Per informazioni www.cotralspa.it</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*mobile*@

        <div id="accordion" class="panel-group visible-xs" target="panelBodyOne">
            <div class="panel">
               
                <div class="panel-heading">
                    <div class="imgnavetta"></div>
                    <h4 class="panel-title">
                        <a href="#panelBodyOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">IN NAVETTA</a>
                    </h4>
                </div>
                <div id="panelBodyOne" class="panel-collapse collapse in">
                    <div class="panel-body content-arriveri">
                        <h3>PERTENZA DA ROMA:</h3>
                        <p>Partenza da Roma: ore 9.30 Stazione Termini di Roma, Via Giolitti 48</p>
                        <h3>DA ZOOMARINE: <span>(di fronte all'entrata del Parco)</span></h3>
                        <p>ore 17:00 nei giorni di chiusura 17:00</p>
                        <p>ore 18:00 nei giorni di chiusura Parco ore 18:00 e 19:00</p>
                        <p>*La tariffa di Andata e Ritorno e' 15.00 ‎€ (tariffa unica).</p>
                        <p>Per maggiori informazioni contattare ilñ call center Zoomarine</p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <div class="imgauto"></div>
                    <h4 class="panel-title">
                        <a href="#panelBodyTwo" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">IN AUTO</a>
                    </h4>
                </div>
                <div id="panelBodyTwo" class="panel-collapse collapse">
                    <div class="panel-body content-arriveri">
                        <h3>PARTENZA DA ROMA:</h3>
                        <p>Grande Raccordo Anulare, uscita 26 Pantina (SS148) in direzione Latina. Proseguire per 10 km fino all' uscita Pomezia-Torvaianica.</p>
                        <p>Seguire la strada provinciale 101/a in direzione Torvaianica e quindi le indicazioni per il Parco.</p>
                        <h3>DA SUD:</h3>
                        <p>Pontina (SS 148) uscita Pomezia - Torvaianica. Seguire la stada provinciale 101/a in direzione Torvaianica e quindi le indicazioni per il Parco.</p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <div class="imgbus"></div>
                    <h4 class="panel-title">
                        <a href="#panelBodyThree" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">IN AUTOBUS</a>
                    </h4>
                </div>
                <div id="panelBodyThree" class="panel-collapse collapse">
                    <div class="panel-body content-arriveri">
                        <h3>PERTENZA DA ROMA:</h3>
                        <p>Da Roma (Laurentina) o dau principali comuni del Lazio é possibile prendere gli autobus del Cotral direzuine Pomezia - Torvaianca, fermata Piazza Italiana.</p>
                        <a target="_blank" href="http://www.cotralspa.it">Per informazioni www.cotralspa.it</a>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container">
            <div class="row">
                <div class="col-sm-12 textocome">
                    <p>Il servizio navetta é disponibile nei week-end e gg festivi di Aprile, Maggio, Settembre ed Ottobre e tutti i giorni di apertura dei Parco dei mesi: Giugno, Luglio ed Agosto.</p>
                    <p>Il bigliett della navetta é acqustabile presso il punto di raccolta previsto per la partenza da Via giolitti 48, stazione Termini di Roma, presso i visitor center di City-Sightseeing, direttamente a bordo della navetta.</p>
                </div>
            </div>
        </div>

    <div class="fullwidth-map">
        <div id="mapa" class="map-holder">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1491.0609819045694!2d12.45966189130942!3d41.6314950972442!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x33af6ebf968be635!2sZoomarine!5e0!3m2!1ses!2smx!4v1516225918068" width="100%" height="480" allowfullscreen></iframe>

            <div>
                <a id="btn-start" href="#"></a>
                <a id="btn-stop" href="#"></a>
            </div>
        </div>
    </div>
</section>

