﻿@model Core.HomeModel

@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")
<section class="compleanni">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <h1>ZOOMARINE PARTY</h1>
                <h2>“STRESS FREE”</h2>
                <p>A Zoomarine puoi solo divertirti, a tutto il resto pensiamo noi!</p>
                <h2>Festeggia il tuo compleanno a Zoomarine!</h2>
                <p class="complePurple">Un party speciale tra delfini , foche e leoni marini, uccelli tropicali e tanto, tanto altro! Solo Zoomarine ti regala un momento unico per conoscere da vicino il tuo animale preferito.
                    <br />da € 449
                </p>
                <h2>  SERVIZI AGGIUNTIVI:</h2>
                <ul>
                  
                    <li>- pista di pattinaggio in   esclusiva!!</li>
                    <li>- Fotografo dedicato</li>
                    <li>- Mascotte</li>
                    <li>- Catering personalizzabile</li>
                    <li>- Torta</li>
                </ul>
                <p>L’offerta include: l’ingresso al Parco per 15 persone, buffet pomeridiano con sala riservata, un nostro accompagnatore e un incontro ravvicinato con uno dei nostri amici animali!</p>
                <div class="compleContacti">
                    <p>Prenota subito al numero 0691534 o scrivi a<br /> email: <a>booking@zoomarine.it</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                @*<a href="~/Content/images/cumpleanni/PrenotazioneCompleannoZoomarine2018.pdf" target="_blank" class="btn-blue">MODULO PRENOTAZIONE</a>*@
                <img src="~/Content/images/cumpleanni/pastel.png" class="img-responsive center-block"/>
            </div>
        </div>
    </div>
</section>

