﻿@{
    ViewBag.Title = "Acquisto completato";
    string ReservationId = ViewBag.ReservationId;

    string LogUser = ViewBag.TipoOperatore.ToString();
}
<section class="confirmationThanks">
    <div class="bg-confirmation">
        <h1> ACQUISTO COMPLETATO <i class="fa fa-check-circle-o" aria-hidden="true"></i></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>complimenti</h2>
                <p id="nominativo"></p>
                <p>il tuo acquisto è stato completato, ti abbiamo inviato una mail con tutti i tuoi acquisti</p>

                @if (LogUser != "4")
                {
                    if (ViewBag.TicketsEmitted > 0)
                    {
                        <p>per scaricare e stampare i tuoi biglietti.</p>
                        <a id="downloadBiglietti" class="btn-green" href="/Home/DownloadFile">clicca qui</a>
                        <p>Se non hai la possibilità di stamparli a casa, li potrai stampare al Parco il giorno della tua visita, al prezzo di <span>€ 1 (cad.)</span>.</p>
                        <p>Oppure, senza stamparli, mostrali direttamente dal tuo smartphone all'ingresso del parco.</p>
                    }
                }

                <p>Ti aspettiamo ad AcquaJoss!<p>
                <h3>ARRIVEDERCI E GRAZIE</h3>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    <script src="~/Scripts/ShopVariables.js"></script>
    <script src="~/Scripts/ShoppingCart.js"></script>

    <script type="text/javascript">
        //delete all

        var Production = '@Core.GlobalSettings.EnProduccion';

        $(document).ready(function () {

            if (Production == 'True') {
                fbq('track', 'Purchase',
               {
                   value: '@Html.Raw((ViewBag.TotalReservacion))',
                   currency: 'EUR',
                   contents: [ @Html.Raw((ViewBag.jsoncodigo))] ,

                   items_type: 'product'
                });
            }



            var ReservationId = '@ReservationId';


            LogUser = '@ViewBag.TipoOperatore';
            FunzioniOperatore();


            var Name = getCookie("Name");
            var Surname = getCookie("Surname");
            var Nom = Name + " " + Surname;
            $("#nominativo").text(Nom);
            console.log(getCookie());
            //if (codice == '') {
            //    window.location.href = '/Home/Index';
            //}

            //then delete all:
            DeleteAllCookies();
        })


        $("#downloadBiglietti").click(function () {
            setTimeout(function () { alert("Download completato"); }, 2000);
        })
    </script>
}


