﻿@using Core;
@{
    string mail = "acquajoss@gmail.com";

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml");
 }
<script type="text/javascript">
      var onloadCallback = function() {
          grecaptcha.render('g-recaptcha', {
              'sitekey': '6LcCosYZAAAAAPMQo5-CKe2KxtKc6iMGBtQ_TZ2B'
        });
      };
</script>

<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer type="text/javascript"></script>

<section class="contatti">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><i class="fa fa-envelope" aria-hidden="true"></i> Contatti:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <img src="~/Content/images/home/contatti.png" class="img-responsive"/>
                <h3>HAI BISOGNO DI AIUTO? </h3>
                <a class="faqscontacti btn-bluezoom" href="@Url.Action("domandeFrequenti", "Home")" target="_blank"> DOMANDE FREQUENTI</a>
                @*<p class="telContatti"><a class="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i> 393.8043248</a> - <span>Ci trovi anche su <b>Whatsapp</b></span></p>*@
                <div class="infoMail">
                    <h3>INFO E PRENOTAZIONI:</h3>
                    <p>-054585320 dalle 9:00 alle 17:30 dal Lunedi' alla Domenica, mail: @mail</p>
                    <h3>-PER PRENOTARE GITE , AGENZIE VIAGGI, TOUR OPERATOR E CONVENZIONI CON AZIENDE</h3>
                    <p>Call center 054585320 o @mail</p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6 pd-0">
                <div class="alert alert-success alert-dismissable exitomensaje" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Grazie Ti contatteremo il prima possibile!
                </div>
                <form id="FormContatti" method="post" action="/Home/SendRequest" autocomplete="@(GlobalSettings.EnProduccion ? "off" : "on")" >
                    <input type="hidden" name="FormContact_IdSite" value="1" />
                    <input type="hidden" name="FormContact_CountryCode" value="IT" />
                    <div class="form-group">
                        <label>NOME:</label>
                        <input type="text" class="form-control" name="FormContact_Name" data-error="Complete el campo" required/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>COGNOME:</label>
                        <input type="text" class="form-control" name="FormContact_LastName" data-error="Complete el campo" required/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>E-MAIL:</label>
                        <input type="email" class="form-control" name="FormContact_Email" required data-error="Bruh, that email address is invalid"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>DOMANDE:</label>
                        <textarea name="FormContact_Comments" required data-error="Complete el campo" class="form-control"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="checkboxes form-group">
                        <div style="color:#fff;font-size:12px; font-family:Muli;">
                            <input id="PrivacyCheck" name="FormContact_Privacy" type="checkbox" value="true" required data-error="Complete el campo" title="Privacy (obbligatorio)">
                            <span>Acconsento al trattamento dei miei dati personali ai sensi della legge 196/2003 Italiana</span>
                            <a style="text-decoration:underline;color:#fff;" href="~/Content/documents/Politica-sulla-Protezione-dei-Dati.pdf" target="_blank">Visualizza Policy</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div style="color:#fff;font-size:12px; font-family:Muli;">
                            <input id="PublicityCheck" name="FormContact_Marketing" type="checkbox" value="true">
                            <span>Accetto l'iscrizione alla mailing list per l'invio di materiale pubblicitario e promozionale</span>
                            <a style="text-decoration:underline;color:#fff;" href="~/Content/documents/Politica-sulla-protezione-dei-dati-personali.pdf" target="_blank"> Visualizza Policy</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="g-recaptcha" class="g-recaptcha" data-sitekey="6LcCosYZAAAAAPMQo5-CKe2KxtKc6iMGBtQ_TZ2B"></div>
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <input class="btn-orange send" type="submit" name="sendi" value="INVIA"/>
                    <div id="alert" style="display:none;margin-top:10px;"></div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $(document).ready(function ()
        {
            $("#FormContatti").on("submit", function (e)
            {
                e.preventDefault();
                var $form = $(this);
                
                var recaptcha = grecaptcha.getResponse();
                if (recaptcha != "") {
                    var data = $form.serializeJSON();
                    $.post(e.target.action, { data: data }, function (data) {console.log("entra", data)});
                    $(".validation-summary-valid ul li").text("").hide();
                    $form[0].reset();
                    $(".exitomensaje").show();
                    grecaptcha.reset();
                } else {
                    $(".validation-summary-valid ul li").text("Errore di convalida di Google reCaptcha").show();
                }
            });
        });
    </script>
    
    }