﻿@model Core.ConvenzioniModel
@*<section class="banners-slider" style="position:relative;">
    <div class="sectionNivoSlider">
        <div style="position: relative;">
            <div id="slider" class="nivoSlider theme-default" style="margin-bottom: 0px;">
                <a xs="False">
                    <img src="~/Content/images/convenzioni/banner_aziendali_desktop.jpg" border="0" />
                </a>
                <a xs="True">
                    <img src="~/Content/images/convenzioni/banner_aziendali_xs.jpg" border="0" />
                </a>
            </div>
        </div>
    </div>
</section>*@
<style>


</style>
@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")
<section class="convenzioni">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1 conText">
                <h1>@Model.Conven.Title_1</h1>
                @Html.Raw(Model.Conven.Description_1)
                <h2>@Model.Conven.Title_2</h2>
                @Html.Raw(Model.Conven.Description_2)
               <h2>@Model.Conven.Title_3</h2>
                @Html.Raw(Model.Conven.Description_3)
            </div>
            <div class="col-sm-4 conContatti">
                <h3>CONTATTACI:</h3>
                <span>@Model.Conven.Contattaci</span>
                <p>e-mail:</p>
                <a>@Model.Conven.Email</a>
                <a href="@Model.Conven.Url_button_1" target="_blank" style="background-color: @Model.Conven.Color_button_1; color:@Model.Conven.Color_Text_1; box-shadow: 0px 4px 0px 0px @Model.Conven.Color_button_1" class="btn-purple">SCARICA LA PREZENTAZIONE</a>
                <a href="@Model.Conven.Url_button_2" target="_blank" style="background-color: @Model.Conven.Color_button_2"class="btn-purple">PACCHETTI ZOOMARINE</a>
                <img src="~/Content/images/convenzioni/engranes.png" class="img-responsive center-block"/>
            </div>
        </div>
    </div>
</section>

