﻿@model Core.FaqsModel
@using Core;
<section class="infogenrali">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><cite class="fa fa-question-circle" aria-hidden="true"></cite>Domande Frequenti</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="accordion" class="panel-group">

        @if (Model.faqs != null)
        {

            List<Faqs> faqs = Model.faqs.FindAll(f => f.Faqs_Status.Equals(true)).OrderBy(f => f.Faqs_Order).ToList();
            foreach (Faqs f in faqs)
            {
                string idPanel = "panelBody" + f.Faqs_Order;
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#@idPanel" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">@f.Faqs_Question</a>
                        </h4>
                    </div>
                    <div id="@idPanel" class="panel-collapse collapse ">
                        <div class="panel-body">
                            @Html.Raw(f.Faqs_Content)
                        </div>
                    </div>
                </div>
            }
        }
        </div>
    </div>
</section>


