﻿@model Zoomarine.Models.HomeModel

@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")

@*<section class="banners-slider" style="position:relative;">
    <div class="sectionNivoSlider">
        <div style="position: relative;">
            <div id="slider" class="nivoSlider theme-default" style="margin-bottom: 0px;">
                <a xs="False">
                    <img src="~/Content/images/eduscienza/bgeduscienza.jpg" border="0" />
                </a>
                <a xs="True">
                    <img src="~/Content/images/eduscienza/bgeduscienza_xs.jpg" border="0" />
                </a>
            </div>
        </div>
    </div>
</section>*@
<section class="eduscienza">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title-eduscienza">
                <h1>RICERCA E CONSERVAZIONE</h1>
                <p>L'attenzione del nostro parco è soprattutto rivolta al benessere del nostro pianeta</p>
                <span>Seguisi sul nostro magazine per essere sempre aggiornato sui temi più attuali.</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row slideOneEdu">
                @for (int i = 1; i <= 6; i++)
                {
                    <div class="col-sm-4">
                        <div class="colorContent">
                            <img src="~/Content/images/eduscienza/imagen1.jpg" class="center-block img-responsive" />
                            <h3>IL CONTRIBUTO DI ZOOMARINE ALLA</h3>
                            <p>Zoomarine Italia contribuisce, con le sue attivià e iniziative (es, raccoltafondi, sponsorizzazioni), opere di specie animali a rischio di estinzione e/o minacciate dalle attività umane.</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="colorContent">
                            <img src="~/Content/images/eduscienza/imagen2.jpg" class="center-block img-responsive" />
                            <h3>DICHIARAZIONE CENTRO LE DRIVE FISHERIES</h3>
                            <p>L'EAAM - Associazione Europea Mammiferi Acquatici condanna la disumana uccisione e il prelievo di delfini tramite Drive Fishery come avviene nella baia di Taiji. A oggi nessuna struttura che fa parte dell'EAAM ospita delfini...</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="colorContent">
                            <img src="~/Content/images/eduscienza/imagen3.jpg" class="center-block img-responsive" />
                            <h3>RICERCA E CONSERVAZIONE</h3>
                            <p>Il Parco da anni collabora con Università, Enti e strutture nazionali e internazionali per favorire lo sviluppo di progetti di ricerca e di conservazione. Gli studi effettuati in ambiente controllato permettono di incrementare le conoscenze sulla</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                }
        </div>
    </div>
    <div class="container edu-items">
        <div class="row">
            <div class="col-sm-12">
                <h1>EDUSCIENZIA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 ">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/4.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>PESCE FRESCO: STAGIONALITÀ</h3>
                            <p>Ebbene si! Perché anche il pesce ha i suoi ritmi stagionali. In base alle fasi del ciclo vitale o delle migrazioni, infatti...</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/6.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>SUMMER DREAMS! ...L'INVERNO PASSA IN FRET</h3>
                            <p>Il calendario ci dice che l'estate è ormai lontana ma le temperature esterne ci danno tutt'altra notizia!....</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/14.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>ZOOMARINE A BUDAPEST PER LA CONFERENZA EAZA</h3>
                            <p>Uno degli appuntamenti più importanti e attesi dell’anno è la conferenza dell’EAZA, l’associazione europea zoo e acquari...</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <img src="~/Content/images/eduscienza/7.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <h3>OMBRE DAL FUTURO</h3>
                            <p>Una mostra per sensibilizzare il pubblico alla salvaguardia delle specie polari</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/8.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>C’ERA UNA VOLTA… A ZOOMARINE!</h3>
                            <p>“La favola sbagliata” è una delle attività didattiche offerte alle scuole dell’infanzia in visita al parco.</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/9.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>BASTA UN TOCCO DI MAGIA!</h3>
                            <p>Non vedrete bacchette, pozioni o tappeti volanti ma la magia vi catturerà e vi condurrà su sentieri inesplorati alla scoperta del fantastico mondo...</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/10.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>FEEDING PELLICANI: UN GRANDE SUCCESSO</h3>
                            <p>Grande successo nel primo week end di apertura della nuova stagione di Zoomarine per la sessione educativa di alimentazione dei Pellicani...</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/11.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>FORMAZIONE EDUCATORI 2014!</h3>
                            <p>Una giornata memorabile quella di venerdì scorso che ha visto gli educatori del Dipartimento Educazione e Scienza di Zoomarine impegn...</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/12.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>LE RAGIONI DELLA SPERANZA</h3>
                            <p>Viviamo in tempi difficili, dove tutto sembra essere quotato e avere un prezzo. Disastri ambientali, mala gestione delle risorse, corruzione...</p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/13.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>BENVENUTO NELLA SEZIONE EDUCAZIONE!</h3>
                            <p>Il Dipartimento Educazione e Scienza, composto da biologi specializzati anche nel campo dell’educazione in contesti non... </p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/5.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>EDUCATION IS FUN!</h3>
                            <p>Il segreto sta proprio qui, nel divertimento, nel coinvolgimento di ognuno prima nell’educazione e poi nell’azione. Non bisogna mai dimenticare... </p>
                            @*<a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

