﻿
<section class="vip">
    <div class="bg-vip">
        <h1>VIP A ZOOMARINE</h1>
        <div class="sliderVip">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <section class="galleryVip slider" data-sizes="50vw">
                            <div>
                                <img src="~/Content/images/vip/2.jpg" class="hidden-xs">
                                <img src="~/Content/images/vip/2_xs.jpg" class="visible-xs">
                                <p class="slide__caption">Fioretta Mari e Miss Cinema Roma 2009 Valentina Biagioli</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="boxVip CarouselVip slider">
            <div class="itemVip">
                <img src="~/Content/images/vip/2_xs.jpg" data-largeimg="/Content/images/vip/2.jpg" data-largemobile="/Content/images/vip/2_xs.jpg" class="img-responsive thumbsVip" />
                <span>Fioretta Mari e Miss Cinema Roma 2009 Valentina Biagioli</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/1_xs.jpg" data-largeimg="/Content/images/vip/1.jpg" data-largemobile="/Content/images/vip/1_xs.jpg" class="img-responsive thumbsVip"/>               
                <span>Valeria Graci</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/3_xs.jpg" data-largeimg="/Content/images/vip/3.jpg" data-largemobile="/Content/images/vip/3_xs.jpg" class="img-responsive thumbsVip" />
                <span>Antonio Giuliani (vero...), Thomas Millian, Renato Zero e Adriano Celentano (falsi...)</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/4_xs.jpg" data-largeimg="/Content/images/vip/4.jpg" data-largemobile="/Content/images/vip/4_xs.jpg" class="img-responsive thumbsVip" />
                <span>Daniele Stefani</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/5_xs.jpg" data-largeimg="/Content/images/vip/5.jpg" data-largemobile="/Content/images/vip/5_xs.jpg" class="img-responsive thumbsVip" />
                <span>Valeria Fabrizi, Enrica Bonaccorti e Gianna Orrú</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/6_xs.jpg" data-largeimg="/Content/images/vip/6.jpg" data-largemobile="/Content/images/vip/6_xs.jpg" class="img-responsive thumbsVip" />
                <span>Tiberio Timperi</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/7_xs.jpg" data-largeimg="/Content/images/vip/7.jpg" data-largemobile="/Content/images/vip/7_xs.jpg" class="img-responsive thumbsVip" />
                <span>Enrico Lo Verso</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/8_xs.jpg" data-largeimg="/Content/images/vip/8.jpg" data-largemobile="/Content/images/vip/8_xs.jpg" class="img-responsive thumbsVip" />
                <span>Sergio Arcuri</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/9_xs.jpg" data-largeimg="/Content/images/vip/9.jpg" data-largemobile="/Content/images/vip/9_xs.jpg" class="img-responsive thumbsVip" />
                <span>Raffaello Balzo</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/10_xs.jpg" data-largeimg="/Content/images/vip/10.jpg" data-largemobile="/Content/images/vip/10_xs.jpg" class="img-responsive thumbsVip" />
                <span>Pamela Camassa</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/11_xs.jpg" data-largeimg="/Content/images/vip/11.jpg" data-largemobile="/Content/images/vip/11_xs.jpg" class="img-responsive thumbsVip" />
                <span>Francesco Totti</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/12_xs.jpg" data-largeimg="/Content/images/vip/12.jpg" data-largemobile="/Content/images/vip/12_xs.jpg" class="img-responsive thumbsVip" />
                <span>Claudia Gerini</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/13_xs.jpg" data-largeimg="/Content/images/vip/13.jpg" data-largemobile="/Content/images/vip/13_xs.jpg" class="img-responsive thumbsVip" />
                <span>Gianmarco Tognazzi</span>
            </div>
            <div class="itemVip">
                <img src="~/Content/images/vip/14_xs.jpg" data-largeimg="/Content/images/vip/14.jpg" data-largemobile="/Content/images/vip/14_xs.jpg" class="img-responsive thumbsVip" />
                <span>Antonio Candreva</span>
            </div>
        </div>
    </div>

 

</section>

