﻿@model Core.EventsModel
@using Core;
@{
    DateTime date = DateTime.Now;
    List<Events> eventsList = Model.eventsList;

    if (eventsList != null)
    {
        eventsList = eventsList.Where(a => a.Event_Status == true && (a.Event_DateEnd < date)).OrderBy(a => a.Event_DateStart).ToList();
    }
}
@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")

<section class="Event">
    <div class="container">
        <h1>Eventi Passati</h1>
        <p>Eventi esclusivi e sorprendenti per rendere davvero uniche le tue giornate a zoomarine! Feste, specttacoli, intrattenimento e ospiti d'eccezione, tutto questo nel contest più suggestivo e stimolante.</p>
        <div id="listeventos">
            @foreach (Events events in eventsList)
            {
                var urlEvent = "/eventi/" + events.Event_Url;
                <div class="eventos eventosPass">
                    @*<img src="@GlobalSettings.UrlBackOffice/@events.Event_Thumbanil" class="img-responsive center-block" />*@
                    <img src="@GlobalSettings.UrlSitioAcquaJoss/@events.Event_Thumbanil.Replace("Content", "contentcdn")" class="img-responsive center-block" />
                    <h2>@events.Event_Title</h2>
                    <div class="dateEventi"><i class="fa fa-calendar" aria-hidden="true"></i>  @( events.Event_DateEndFormat == events.Event_DateStartFormat ? events.Event_DateStartFormat : "dal " + events.Event_DateStartFormat + " al " + events.Event_DateEndFormat) </div>
                    <div class="dateprice">
                        <span><i class="fa fa-clock-o" aria-hidden="true"></i> @events.Event_ScheduleStartFormat hrs a @events.Event_ScheduleEndFormat</span>
                    </div>
                    <p>
                        @events.Event_Introduction
                    </p>
                    <a href="@urlEvent" class="btn-green">Scopri di piú </a>
                </div>
            }
        </div>
        <div class="maseventos" style="display:none;">MORE EVENTI</div>
    </div>
</section>

@section Scripts{

    <script>
        $(function ()
        {
            var n = $(".eventosPass").length;
            console.log(n);
            if (n > 6) {
                $(".maseventos").show();
            }
            $(".eventosPass").slice(0, 6).addClass('display');
            $(".maseventos").on('click', function (e)
            {
                e.preventDefault();
                $(".eventosPass:hidden").slice(0, 3).addClass('display');
                if ($(".eventosPass:hidden").length == 0) {
                    $("#load").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });
        });

        //$('a[href=#top]').click(function ()
        //{
        //    $('body,html').animate({
        //        scrollTop: 0
        //    }, 600);
        //    return false;
        //});

        $(window).scroll(function ()
        {
            if ($(this).scrollTop() > 50) {
                $('.totop a').fadeIn();
            } else {
                $('.totop a').fadeOut();
            }
        });
    </script>
}
