﻿@model Core.EventsModel
@using Core;
@{ 
    DateTime date = DateTime.Now;
    Events eventis = Model.Event;
    if (eventis == null) {
        eventis = new Events();
    }

    string aa = eventis.Event_DateStart.Year.ToString();
    string mm = Impostazioni.Adatta(eventis.Event_DateStart.Month.ToString());
    string dd = Impostazioni.Adatta(eventis.Event_DateStart.Day.ToString());


    string UrlFinal = eventis.Event_UrlShop;
    if (eventis.Event_UrlShop.IndexOf("prezzidinamici") > 0)
    {
        UrlFinal = eventis.Event_UrlShop + "?Day=" + aa + mm + dd;
    }
}
<section class="evento-interna">
    <div class="bg-evento">
        <div class="container">
            <h1>@eventis.Event_Title</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="coverPage">
                    @*<img src="@GlobalSettings.UrlBackOffice/@eventis.Event_Image" class="img-responsive" alt="@eventis.Event_Title"/>*@
                    <img src="@GlobalSettings.UrlSitioAcquaJoss/@eventis.Event_Image.Replace("Content","contentcdn")" class="img-responsive" alt="@eventis.Event_Title" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="eventDate">
                    <p><i class="fa fa-calendar" aria-hidden="true"></i> @( eventis.Event_DateEndFormat == eventis.Event_DateStartFormat ? eventis.Event_DateStartFormat : "dal " + eventis.Event_DateStartFormat + " al " + eventis.Event_DateEndFormat)</p>
                    @if (eventis.Event_DateEnd > DateTime.Now)
                    {
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> A partire @eventis.Event_ScheduleStartFormat hrs a @eventis.Event_ScheduleEndFormat hrs</p>
                    }
                    
                </div>
                    @if (eventis.Event_DateEnd > date)
                    {
                        <span class="promoespecial">@eventis.Event_Description</span>
                        <a href="@UrlFinal" class="btn-green">PRENOTA ORA</a>
                    }                
            </div>
        </div>
        <div class="row contentEvent">
            <div class="col-md-3 hidden-sm hidden-xs">
               @if (Model.eventsList.FindAll( a => a.Event_Status == true && (a.Event_DateEnd >= date) && a.Event_Id != eventis.Event_Id).Count() >= 1)
               {
                    <div class="list-events">
                        <h4>ALTRI EVENTI</h4>
                        <ul>
                            @foreach (Events Event in Model.eventsList.Where(a => a.Event_Status == true && (a.Event_DateEnd >= date) && a.Event_Id != eventis.Event_Id).OrderBy(a => a.Event_DateStart).ToList())
                            {
                                var urlEvent = "/eventi/" + Event.Event_Url;
                                <li><a href="@urlEvent">@Event.Event_Title</a></li>
                            }
                        </ul>
                    </div>
               }

                <div class="list-events">
                    <h4>PASSATI</h4>
                    <ul>
                        @foreach (Events Event in Model.eventsList.Where(a => a.Event_Status == true && (a.Event_DateEnd < date) && a.Event_Id != eventis.Event_Id).OrderByDescending(a => a.Event_DateStart).ToList())
                        {
                            var urlEvent = "/eventi/" + Event.Event_Url;
                            <li class="passEvents"><a href="@urlEvent">@Event.Event_Title</a></li>
                        }
                        <li><a href="#" id="loadMore" style="display:none;">vedere di più</a></li>
                        @*<li class="totop">
                            <a href="#top">Back to top</a>
                        </li>*@
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <h2>INFORMAZIONI GENERALI</h2>
                @Html.Raw(eventis.Event_Promotion)
                @*faqs*@
                <div id="accordion" class="panel-group">
                    @foreach (EventsFaqs eventfaq in eventis.Event_Faqs.Where(p => p.EventsFaqs_Status == true).OrderBy(p => p.EventsFaqs_Order).ToList())
                    {
                        string idPanel = "panelBody" + eventfaq.EventsFaqs_Order;
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#@idPanel" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">@eventfaq.EventsFaqs_Identifier</a>
                                </h4>
                            </div>
                            <div id="@idPanel" class="panel-collapse collapse">
                                <div class="panel-body">
                                   @Html.Raw(eventfaq.EventsFaqs_Content)
                                </div>
                            </div>
                        </div>
                    }
                 
                </div>

                <div class="instgram-eventi" >
                    @foreach (EventsInstagrams instragram in eventis.Event_Instagrams)
                    {
                        <div class="items-instagrams">
                            <iframe src="https://instagram.com/p/@instragram.EventInstagram_Identifier/embed/captioned/" height="595"></iframe>
                        </div>
                    }


                    <script async defer src="//www.instagram.com/embed.js"></script>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{

<script>
    $(function ()
    {
        var n = $(".passEvents").length;
        if (n > 5) {
            $("#loadMore").show();
        }
        $(".passEvents").slice(0, 5).addClass('display');
        $("#loadMore").on('click', function (e)
        {
            e.preventDefault();
            $(".passEvents:hidden").slice(0, 5).addClass('display');
            if ($(".passEvents:hidden").length == 0) {
                $("#load").fadeOut('slow');
            }
            $('html,body').animate({
                scrollTop: $(this).offset().top
            }, 1500);
        });
    });

    //$('a[href=#top]').click(function ()
    //{
    //    $('body,html').animate({
    //        scrollTop: 0
    //    }, 600);
    //    return false;
    //});

    $(window).scroll(function ()
    {
        if ($(this).scrollTop() > 50) {
            $('.totop a').fadeIn();
        } else {
            $('.totop a').fadeOut();
        }
    });
</script>    
}
