﻿@model Core.EventsModel
@using Core;
@{
    DateTime date = DateTime.Now;
    List<Events> eventsList = Model.eventsList;

    if (eventsList != null)
    {
        eventsList = eventsList.Where(a => a.Event_Status == true && (a.Event_DateEnd >= date)).OrderBy( a => a.Event_DateStart).ToList();
    }
}
@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")

<section class="Event">
    <div class="container">
        <h1>Eventi</h1>
        <p>Eventi esclusivi e sorprendenti per rendere davvero uniche le tue giornate ad AcquaJoss! Feste, spettacoli, intrattenimento e ospiti d'eccezione, tutto questo in un'atmosfera suggestiva e stimolante.</p>
        <div id="listeventos">
            @foreach (Events events in eventsList)
            {
                var urlEvent = "/eventi/" + events.Event_Url;
                <div class="eventos">
                    @*<img src="@GlobalSettings.UrlBackOffice/@events.Event_Thumbanil" class="img-responsive center-block" />*@
                    <img src="@GlobalSettings.UrlSitioAcquaJoss/@events.Event_Thumbanil.Replace("Content", "contentcdn")" class="img-responsive center-block" />
                    <h2>@events.Event_Title</h2>
                        <div class="dateEventi"><i class="fa fa-calendar" aria-hidden="true"></i>  @( events.Event_DateEndFormat == events.Event_DateStartFormat ? events.Event_DateStartFormat : "dal " + events.Event_DateStartFormat + " al " + events.Event_DateEndFormat) </div>
                    <div class="dateprice">
                        <span><i class="fa fa-clock-o" aria-hidden="true"></i> @events.Event_ScheduleStartFormat hrs a @events.Event_ScheduleEndFormat</span>
                    </div>
                    <p>
                        @events.Event_Introduction
                    </p>
                    <a href="@urlEvent" class="btn-green">Scopri di piú </a>
                </div>
            }
            @*<div class="eventos">
                <img src="~/Content/images/calendariEventi/eventi1.jpg" class="img-responsive center-block" />
                <h2>ARTE DELL'INTAGLIO DI FRUTTA E VEGETALI</h2>
                <div class="dateEventi"><i class="fa fa-calendar" aria-hidden="true"></i> dal 01/09/2018 al 12/11/2018</div>
                <div class="dateprice">
                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> 18:00 hrs</span>
                </div>
                <p>
                    Mercoledì 12 settembre, Zoomarine ospita il temporay museum "Arte dell'intaglio di frutta e vegetali - La Gioconda è servita... nel piatto".<br><br>L'arte di creare, intagliare e decorare i piatti che diventano dei capolavori pronti per essere esposti, anche se realizzati a base di verdura e frutta. Gli Chef dell'Associazione Cuochi di Roma provenienti dalla Federazione Italiana Cuochi saranno presenti al Parco, a partire dalle ore 15.00, per un pomeriggio tutto dedicato al cibo.
                </p>
                <a href="@Url.Action("EventoInterna", "Home")" class="btn-green">Scopri di piú </a>
            </div>*@
        </div>
        <div class="maseventos hidden">MORE EVENTI</div>
    </div>
</section>

