﻿@using Core;
@model Core.ActivitiesModel
@{
    List<Categories> categoriesList = Model.categoriesList;
    List<Activities> activitiesList = Model.activitiesList;
    activitiesList = activitiesList.Where(x => x.Activity_Status == true).ToList();

    if (activitiesList != null)
    {
        activitiesList = activitiesList.FindAll(a => a.Activity_Status).OrderBy(a => a.Activity_Index).ToList();
    }
}
@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")


<section class="ILPARCO">
    <div class="mini_banner">
        <h2>
            Scopri tutte le attrazioni del parco! <br />
            Scivoli con gommoni, adrenalinici, piscina ad onde, zone relax, 
            il fiume lento <br />
            e tante altre attrazioni ti aspettano ad AcquaJoss!<br />
            Il parco acquatico nel cuore della Romagna.
        </h2>

    </div>
    <div class="container">
        <br />
        <!--<div class="row text_p">

        </div>-->
        <div class="container_events hidden-xs">
            @foreach (Activities activity in activitiesList)
            {
                var urlIparco = "/ilparco/" + activity.Activity_Url;
                <div class="col-lg-3 col-md-3 col-sm-3 main_event">
                    <div class="title_event col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @activity.Activity_Title
                    </div>
                    <a href="@urlIparco" class="thumb">
                        <div class="content_event">
                            <img class="img-responsive" src="@GlobalSettings.UrlFront/@activity.Activity_Thumbnail.Replace("Content", "contentcdn")" />
                            <div class="text_event">
                                <p>@activity.Activity_Introduction</p>
                            </div>

                        </div>
                    </a>
                </div>
            }
        </div>
        <div id="events_xs" class="container_events hidden-sm hidden-md hidden-lg">

            @foreach (Activities activity in activitiesList)
            {
                var urlIparco = "/ilparco/" + activity.Activity_Url;
                <div class="col-xs-12 main_event">
                    <div class="title_event col-xs-12">
                        <p>@activity.Activity_Title </p>
                    </div>
                    <a href="@urlIparco" class="thumb">
                        <div class="content_event">
                            <img class="img-responsive" src="@GlobalSettings.UrlFront/@activity.Activity_Thumbnail.Replace("Content", "contentcdn")" />
                            <div class="text_event">
                                <p>@activity.Activity_Introduction</p>
                            </div>

                        </div>
                        </a>
                </div>
            }

            <div id="pagination" class="col-xs-12">
                <ul class="pagination justify-content-center">
                    <li id="previous" class="page-chevron"><a class="page-link" href="#"><i class="glyphicon glyphicon-chevron-left"></i></a></li>

                </ul>
            </div>

        </div>

        

    </div>

</section>

@section scripts{
    
    <script type="text/javascript">

        var numberitems = $('#events_xs .main_event').length;
        var limitpage = 4;
        var totalpages = Math.ceil(numberitems / limitpage);
        $("#events_xs .main_event:gt(" + (limitpage - 1) + ")").hide();
        $(".pagination").append(" <li class='page-item active'><a class='page-link' href='javascript:void(0)'>" + 1 + "</a></li>");

        for(var i = 2; i <= totalpages; i++)
        {
            $(".pagination").append(" <li class='page-item'><a class='page-link' href='javascript:void(0)'>" + i + "</a></li>");
        }

        $(".pagination").append("<li id='next-page' class='page-chevron'><a class='page-link' href='javascript:void(0)'><i class='glyphicon glyphicon-chevron-right'></i></a></li>");

        $(".pagination li.page-item").on("click", function () {
            if ($(this).hasClass("active"))
            {
                return false;
            }
            else {
                var currentpage = $(this).index();
                $(".pagination li").removeClass("active");
                $(this).addClass("active");
                $("#events_xs .main_event").hide();

                var gTotal = limitpage * currentpage;

                for (var i = gTotal - limitpage; i < gTotal; i++) {
                    $("#events_xs .main_event:eq(" + i + ")").show();
                }

            }


        });

        $("#next-page").on("click", function () {
            var currentpage = $(".pagination li.active").index();
            if (currentpage === totalpages) {
                return false;
            }
            else {
                currentpage++;
                $(".pagination li").removeClass("active");
                $("#events_xs .main_event").hide();

                var gTotal = limitpage * currentpage;

                for (var i = gTotal - limitpage; i < gTotal; i++) {
                    $("#events_xs .main_event:eq(" + i + ")").show();
                }
                $(".pagination li.page-item:eq(" + (currentpage - 1) + ")").addClass("active");
            }
        })


        $("#previous").on("click", function () {
            var currentpage = $(".pagination li.active").index();
            if (currentpage === 1) {
                return false;
            }
            else {
                currentpage--;
                $(".pagination li").removeClass("active");
                $("#events_xs .main_event").hide();

                var gTotal = limitpage * currentpage;

                for (var i = gTotal - limitpage; i < gTotal; i++) {
                    $("#events_xs .main_event:eq(" + i + ")").show();
                }
                $(".pagination li.page-item:eq(" + (currentpage - 1) + ")").addClass("active");
            }
        })

</script>
    
    }
