﻿@model Core.HomeModel
@using Core;
@{
    var St = Core.Impostazioni.SiteSettings;

    string rec = DateTime.Now.ToString();


    Int32 conteo2 = 0;
    DateTime date = DateTime.Now;
    List<Activities> activitiesList = Model.ListActivities;
    List<Promotions> promotionsList = Model.ListPromotions;



    if (promotionsList != null)
    {
        promotionsList = promotionsList.Where(a => (a.PromotionDeal_Status == true)).ToList();
        //promotionsList = promotionsList.Where(a => (a.PromotionDeal_Pack != true)).ToList();
        promotionsList = promotionsList.Where(a => (a.PromotionDeal_DateStart <= date && a.PromotionDeal_DateEnd >= date)).OrderBy(p => p.PromotionDeal_Order).ToList();
    }
}
@using System.Globalization;
@Html.Partial("~/Views/Shared/_SliderPartial.cshtml")
<div class="container home_main">
    <div class="Info_1">
        <h2>@Model.AqHome.Home_Title</h2>

    </div>
    <section class="promos" style="display: none;">
        <div class="bookonline_div row">
            @foreach (Promotions promotion in promotionsList)
            {
                String url = promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType == ImagenType.PROMOTIONTHUMBNAIL).PromotionImage_Url.Replace("Content", Core.GlobalSettings.CDN);
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img class="img-responsive" src="@url" />
                </div>
                conteo2++;
                if (conteo2 == 3)
                {
                    break;
                }
            }
        </div>
    </section>
    <div class="Info_2">
        <h2>@Model.AqHome.Home_Title2</h2>
        <h3>@Html.Raw(Model.AqHome.Home_Description)</h3>
    </div>


    @*MOBILE CONTENT*@
    <section class="contentMobileHome visible-xs">

        <div class="col-md-12" style="text-align: center;">
            @if (!string.IsNullOrEmpty(ViewBag.ParkColor))
            {
                <label>Oggi il parco è:&nbsp;</label><label style="color: @ViewBag.ParkColor ;">@ViewBag.ParkOpen&nbsp;&nbsp;</label>
            }

            @if (St.Tickets == true)
            {
                <a href="@Url.Action("PrezziDinamici", "Acquisto")" class="btn-blue" style="margin: 5px;">BIGLIETTI GIORNALIERI&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            }

            @if (St.Subscriptions == true)
            {
                <a href="@Url.Action("Abbonamenti", "Acquisto")" class="btn-blue" style="margin: 5px;">ABBONAMENTI&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            }

            @if (St.Groups == true)
            {
                <a href="@Url.Action("Gruppi", "Acquisto")" class="btn-blue" style="margin: 5px;">CENTRI ESTIVI&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            }

            @if (St.FamPacks == true)
            {
                <a href="@Url.Action("Promozioni", "Home")" class="btn-blue" style="margin: 5px;">PACCHETTI FAMIGLIA&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            }

            @if (St.Promotions == true)
            {
                <a href="@Url.Action("Promozioni", "Home")" class="btn-blue" style="margin: 5px;">PROMOZIONI&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            }

            @if (St.Hotels == true)
            {
                <a style="margin-top: 10px;" href="@Url.Action("Hotel", "Acquisto")" class="btn-blue">Parco + Hotel&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            }
        </div>

    </section>
    @*END MOBILE CONTENT*@

    <section id="slider_image">


        @if (Model.ListActivities != null)
        {

            if (activitiesList != null)
            {
                activitiesList = activitiesList.OrderBy(a => a.Activity_Index).ToList();
            }

            <section class="carouselPrograms">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>@Model.AqHome.Home_Carousel_Title</h3>
                            <section class="center slider" id="sliPro">
                                @foreach (Activities activity in activitiesList.FindAll(a => !string.IsNullOrEmpty(a.Activity_Logo) && !string.IsNullOrEmpty(a.Activity_Thumbnail)))
                                {
                                    <a href="/ilparco/@activity.Activity_Url">
                                        @*<img src="@(Core.GlobalSettings.UrlBackOffice + "/" + activity.Activity_Thumbnail)" class="img-responsive"/>*@
                                        <img src="/@activity.Activity_Thumbnail.Replace("Content","contentcdn")" class="img-responsive" />
                                        <div class="centerlogos">
                                            @*<img src="@(Core.GlobalSettings.UrlBackOffice + "/" + activity.Activity_Logo)" class="img-responsive" style="" />*@
                                            <img src="@GlobalSettings.UrlFront/@activity.Activity_Logo.Replace("Content","contentcdn")" class="img-responsive" />
                                        </div>
                                    </a>
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        }


    </section>



    <section id="map">
        <h2 id="title_map">@Model.AqHome.Home_Address_Title</h2>
        <h3 id="Address">@Model.AqHome.Home_Address</h3>
        <a href="http://www.google.com/maps/place/Acquajoss/44.444499,11.7693003,11.25z/data=!4m5!3m4!1s0x477e1995c8e0c919:0x3559cc3f42b69aea!8m2!3d44.5044002!4d11.8193009" target="_blank">
            <img class="img-responsive" src="/Content/images/Map/maps_acquajoss.jpg" />
        </a>
    </section>
</div>


<!--cookie banner -->

<div class="modal fade" tabindex="-1" data-backdrop="false" id="bannercookie" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Tramite il sito sono installati cookie di terze parti anche profilanti, clicca su OK o nella pagina per accettare i cookie.
                Per maggiori informazioni o disattivazione consulta l'
                <a onMouseOver="this.style.color='#F00'" onMouseOut="this.style.color='#EEE'" id="cookiepage" href="informativa-cookie" style="color: #EEE;">informativa sui cookie.</a>
                &nbsp;
                <button id="BtnCookie" type="button" style="display:inline;" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Calendars.js?rec='@rec'"></script>
    <script src="~/Scripts/ShopVariables.js?rec='@rec'"></script>
    <script type="text/javascript">

    var IdOperator = "";

    $(document).ready(function () {
        BannerCookie();

        DataOggi = '@ViewBag.DataOggi';
        @*ListaData = @Html.Raw(Json.Encode(ViewBag.cal.ListaData));
        ListaTimeEntrance = @Html.Raw(Json.Encode(ViewBag.cal.ListaTimeEntrance));*@

        LogUser = '@ViewBag.TipoOperatore';
        IdOperator = '@ViewBag.IdOperatore';

        FunzioniOperatore(LogUser);


        ///////////////////////////////////
        //CreaCalendario();






    });


    //$("#Hotall").click(function(){
    //    var URL = "/AreaRiservata/Hotel?UserId=" + IdOperator;

    //    window.location.href(URL);
    //    return;
    //})


    $("#BtnCookie").click(function(){
        setCookie("infocookie","ok");
    })

    function BannerCookie()
    {
        var info = getCookie("infocookie");

        if (info == "")
        {
            $("#bannercookie").modal('show');
        }

    }




    </script>
}