﻿<img src="~/Content/images/scuole/banner_scuole.jpg" alt="" class="img-responsive hidden-xs" style="width:100%;" />
<img src="~/Content/images/scuole/banner_scuole_XS.jpg" alt="" class="img-responsive visible-xs" style="width:100%;" />
<section class="scuole-int">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>SCUOLA DELL'INFANZIA</h1>
                <h2>SCOPRI LA NATURA CON I SENSI!</h2>
                <p>Grazie al giardino zoologico presente nel Parco, gli odori della natura, i suoni e i colori degli animali, i bambini si sfideranno in appassionanti gare che stimoleranno tutti i loro sensi.</p>
                <h2>PERCHE' SCEGLIERE LA GITA ZOOMARINE</h2>
                <ul>
                    <li>1. Ottimo rapporto qualita' / perzzo</li>
                    <li>2. Il parco e' sicuro e alla portada di ogni bambino</li>
                    <li>3. E' una gita divertente e formativa dove le emozioni insegnano!</li>
                    <li>4. Studenti in 1° piano</li>
                </ul>
                <p><strong>Per la difesa della biodiversità e la formazione scientifica e culturale, nasce il TRUST ONLUS ZOOMARINE.</strong></p>
                <span>• • • Con la tua gita al Parco finanzi le attività del Trust! • • •</span>
                <img src="~/Content/images/scuole/imagen.png" class="img-responsive"/>
            </div>
            <div class="col-sm-5">
                <div class="priceScuoleInt priceBlue">
                    <p>PER GITE MARZO E APRILE</p>
                    <div class="circlescuole">
                        12 €
                    </div>
                </div>
                <div class="priceScuoleInt priceYellow">
                    <p>PER GITE MAGGIO E GIUGNO</p>
                    <div class="circlescuole">
                        14 €
                    </div>
                </div>
                <div class="priceScuoleInt priceGreen">
                    <p>ATTIVITA DIDATTICA</p>
                    <div class="circlescuole">
                        3 €
                    </div>
                </div>
                @*<div class="priceScuoleInt priceRed">
                    <p>INGRESSO E PRANZO AL PARCO + HOTEL IN MEZZA PENSIONE</p>
                    <div class="circlescuole">
                        70 €
                    </div>
                </div>*@
                <p class=""> Hai bisogno anche del bus? Contattaci allo 0691534</p>
                <div class="materialiScuole">
                    <h4>materiali 2019</h4>
                    <a href="~/Content/scuole/scuole-zoomarine-2019.pdf" target="_blank" class="btn-blue">GUIDA DOCENTI INFANZIA</a>
                    <a href="~/Content/scuole/guida-didattica-2019.pdf" target="_blank" class="quadernored">QUADERNO DIDATTICO PER LA CLASSE</a>
                    <h4>INFO E PRENOTAZIONI</h4>
                    <p>Contattaci per info o scrivi un email di richiesta informazioni</p>
                    <p>L'ufficio scuola di Zoomarine ti ricontatterà per darti assistenza senza impegno!</p>
                    <a class="phoneScuole"><i class="fa fa-phone" aria-hidden="true"></i> 06 91534</a>
                    <a href="mailto:scuole@zoomarine.it" class="correoScuole"><i class="fa fa-envelope" aria-hidden="true"></i> scuole@zoomarine.it</a>
                </div>
            </div>
        </div>
    </div>
</section>

