﻿<section class="inbfocookie">
    <div class="container">
        <h1>INFORMATIVA COOKIE</h1>
        <p>La Società Kima Srl con sede legale a LARGO MATTEOTTI 1, 00073, Castel Gandolfo (RM), nella sua qualità di Titolare del trattamento, ai sensi degli artt. 13 e 122 del D.Lgs. 196 / 2003(“codice privacy”), nonché in base a quanto previsto dal Provvedimento generale del Garante privacy dell’8 maggio 2014, fornisce agli utenti del sito www.acquajoss.it alcune informazioni relative ai cookie utilizzati.</p>
        <h2>Cosa sono i cookie</h2>
        <p>Un “cookie” è un piccolo file di testo creato sul computer dell’utente al momento in cui questo accede ad un determinato sito, con lo scopo di immagazzinare e trasportare informazioni.I cookie sono inviati da un server web(che è il computer sul quale è in esecuzione il sito web visitato) al browser dell’utente(Internet Explorer, Mozilla Firefox, Google Chrome, ecc.) e memorizzati sul computer di quest’ultimo; vengono, quindi, re - inviati al sito web al momento delle visite successive.</p>
        <p>Nel corso della navigazione l’utente potrebbe ricevere sul suo terminale anche cookie di siti diversi(c.d.cookies di “terze parti”), impostati direttamente da gestori di detti siti web e utilizzati per le finalità e secondo le modalità da questi definiti.</p>
        <h2>Tipologie di cookie utilizzate dal presente sito</h2>
        <p>Il Sito utilizza cookie di prime parti solo per garantire e agevolare la navigazione e fruizione del sito web e per raccogliere informazioni, in forma aggregata, sulle visite al sito.Vengono utilizzati inoltre cookie di terze parti per finalità profilanti, come meglio indicato nel paragrafo dell’informativa denominato “cookie di terze part”.</p>
        <h2>Cookie del Titolare</h2>
        <p>Il sito installa direttamente solo cookie tecnici propri, rispetto ai quali, ai sensi dell’art. 122 del codice privacy e del Provvedimento del Garante dell’8 maggio 2014, non è richiesto alcun consenso da parte dell’interessato.</p>
        <p>Più precisamente il sito utilizza:</p>
        <p class="bulletLista"><i class="fa fa-circle" aria-hidden="true"></i> Cookie tecnici strettamente necessari per consentire la navigazione da parte dell’utente, di seguito indicati nel dettaglio</p>
        <div class="row">
            <div class="col-sm-6">
                <span>Nome cookie</span>
                <ul>
                    <li>ASP.NET_SessionId</li>
                    <li>.ASPXAUTH</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <span>Scadenza</span>
                <ul>
                    <li>Al termine della sessione di navigazione</li>
                    <li>Al termine della sessione di navigazione</li>
                </ul>
            </div>
        </div>
        <p>In assenza di tali cookie, il sito web non potrebbe funzionare correttamente.</p>
        <p class="bulletLista">
            <i class="fa fa-circle" aria-hidden="true"></i> Cookie tecnici che agevolano la navigazione dell’utente,
            evitando che l’informativa breve sui cookie contenuta nel banner ricompaia nel caso di collegamenti al sito effettuati entro il termine di scadenza di 7 giorni.
            Si attivano cliccando “ok” sul banner o attraverso la selezione di un elemento contenuto nella pagina sottostante il banner stesso.
        </p>

        <p>Eliminando tale cookie non verrà salvata la presa visione del banner per accessi effettuati entro il termine indicato.</p>
        <h2>Cookie di terze parti</h2>
        <p>Attraverso il sito www.acquajoss.it sono installati alcuni cookie di terze parti, anche profilanti, che si attivano cliccando “ok” sul banner o attraverso la selezione di un elemento contenuto nella pagina sottostante il banner stesso.</p>
        <p>Si riportano nel dettaglio i singoli cookie di terze parti, nonché i link attraverso i quali l’utente può ricevere maggiori informazioni e richiedere la disattivazione dei cookie.</p>
        <h3>Google</h3>
        <p>Sul sito vengono utilizzati alcuni servizi offerti da Google Inc. (di seguito anche “Google”) che comportano l’installazione di cookie, anche profilanti.Si indica espressamente quali cookie sono utilizzati per detta finalità anche dal Titolare del sito.</p>
        <h4>Google Analytics</h4>
        <p>Si tratta di un servizio di analisi web, che comporta l’installazione di cookie di Google, utilizzato dal Titolare al solo fine di svolgere analisi statistiche in forma aggregata sulle visite al sito.</p>
        <p>I Dati generati da Google Analytics sono conservati da Google così come indicato nella Informativa reperibile al seguente link <br /> <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage.</a></p>
        <p>Per consultare l’informativa privacy di Google Inc.relativi al servizio Google Analytics, si rinvia al seguente sito web: .</p>
        <p>Si precisa che Google ha reso disponibile il componente aggiuntivo del browser per la disattivazione di Google Analytics al seguente link <a href="https://tools.google.com/dlpage/gaoptout?hl=it" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=it.</a></p>
        <h4>Google Maps</h4>
        <p>Si tratta di un servizio utilizzato che consente di includere mappe interattive all'interno delle pagine web e agevolare in tal modo l’utente. Tale servizio comporta l’installazione di cookie da parte di Google. Per consultare l’informativa privacy della società Google Inc. e disattivazione si rinvia al seguente link: <a href="http://www.google.com/intl/it/policies/privacy/" target="_blank">http://www.google.com/intl/it/policies/privacy/.</a></p>
        <h4>Google (YouTube)</h4>
        <p>Nel sito sono inseriti alcuni video di Youtube, con conseguente installazione di cookie di Google.Per consultare l’informativa privacy della società Google Inc. e disattivazione si rinvia al seguente link: <a href="http://www.google.com/intl/it/policies/privacy/" target="_blank">http://www.google.com/intl/it/policies/privacy/.</a></p>
        <h4>Google (ADWords)</h4>
        <p>Si tratta di un servizio che comporta l’installazione di cookie utilizzati per proporre annunci maggiormente attinenti agli interessi dell’utente. Tali cookie di terze parti sono utilizzati dal titolare del sito per attività di remarketing. Per consultare l’informativa privacy della società Google Inc.e disattivazione si rinvia ai seguenti link: <a href="http://www.google.com/intl/it_it/policies/technologies/ads/" target="_blank">http://www.google.com/intl/it_it/policies/technologies/ads/,</a> <a href="https://www.google.it/ads/preferences" target="_blank">https://www.google.it/ads/preferences</a>  e <a href="https://www.google.it/settings/ads/onweb" target="_blank">https://www.google.it/settings/ads/onweb.</a></p>
        <h3>Facebook</h3>
        <p>Sul sito vengono utilizzati alcuni servizi offerti Facebook Inc. (di seguito anche “Facebook”) che comportano l’installazione di cookie, anche profilanti.Si indica espressamente quali cookie sono utilizzati per detta finalità anche dal Titolare del sito.</p>
        <h4>Pulsanti Social</h4>
        <p>Nell’area del sito cui ha accesso l’utente in seguito all’acquisto, è presente il pulsante “Like” di Facebook e il pulsante di tale Social che consente la condizione del contenuto su tale piattaforma.Tali pulsanti comportano l’installazione di cookie, anche profilanti, da parte di Facebook Inc.Nessuna informazione viene invece condivisa dal sito in cui i pulsanti sono incorporato.Per maggiori informazioni, anche sulla disattivazione di tali cookie, si consiglia di consultare il seguente link <a href="https://www.facebook.com/help/cookies" target="_blank">https://www.facebook.com/help/cookies</a></p>
        <h4>Facebook remarketing</h4>
        <p>Si tratta di un servizio che comporta l’installazione di cookie utilizzati per proporre annunci maggiormente attinenti agli interessi dell’utente. Tali cookie di terze parti sono utilizzati dal titolare del sito per attività di remarketing. Per maggiori informazioni, anche sulla disattivazione di tali cookie, si consiglia di consultare il seguente link <a href="https://www.facebook.com/help/cookies" target="_blank">https://www.facebook.com/help/cookies</a></p>
        <h2>Modalità del trattamento</h2>
        <p>Il trattamento viene effettuato con strumenti automatizzati dal Titolare.Non viene effettuata alcuna diffusione o comunicazione.</p>
        <h2>Conferimento dei dati</h2>
        <p>Fatta eccezione per i cookie tecnici strettamente necessari alla normale navigazione, il conferimento dei dati è rimesso alla volontà dell’interessato che decida di navigare sul sito dopo aver preso visione dell’informativa breve contenuta nell’apposito banner.</p>
        <p>L’interessato può quindi evitare l’installazione dei cookie mantenendo il banner nonché attraverso le apposite funzioni disponibili sul proprio browser.</p>
        <h2>Disabilitazione dei cookie</h2>
        <p>Fermo restando quanto sopra indicato in ordine ai cookie strettamente necessari alla navigazione, l’utente può eliminare gli altri cookie attraverso la funzionalità a tal fine messa a disposizione dal Titolare tramite la presente informativa oppure direttamente tramite il proprio browser.</p>
        <p>Ciascun browser presenta procedure diverse per la gestione delle impostazioni. L’utente può ottenere istruzioni specifiche attraverso i link sottostanti.</p>
        <ul class="exploradores">
            <li><i class="fa fa-circle" aria-hidden="true"></i> Google Chrome</li>
            <li><i class="fa fa-circle" aria-hidden="true"></i> Apple Safari</li>
            <li><i class="fa fa-circle" aria-hidden="true"></i> Mozilla Firefox</li>
            <li><i class="fa fa-circle" aria-hidden="true"></i> Microsoft Windows Explorer</li>
        </ul>
        <p>La disattivazione dei cookie di terze parti è inoltre possibile attraverso le modalità rese disponibili direttamente dalla società terza titolare per detto trattamento, come indicato ai link riportati nel paragrafo “cookie di terze parti”.</p>
        <p>Per avere informazioni sui cookie archiviati sul proprio terminale e disattivarli singolarmente si rinvia al seguente link: <a href="http://www.youronlinechoices.com/it/le-tue-scelte" target="_blank">http://www.youronlinechoices.com/it/le-tue-scelte</a></p>
        <p>L’interessato potrà far valere in ogni momento, rivolgendosi al titolare del trattamento tramite l’invio di una mail all’indirizzo info@acquajoss.it i diritti di cui all’art. 7 del D.Lgs. 30 giugno 2003 n. 196, che di seguito si riporta testualmente.</p>
        <h3>Art. 7 D.Lgs. 196/2003</h3>
        <ul>
            <li>1. L’interessato ha diritto di ottenere la conferma dell’esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.</li>
            <li>2. L’interessato ha diritto di ottenere l’indicazione:</li>
            <li>
                <ul>
                    <li>a) dell’origine dei dati personali;</li>
                    <li>b) delle finalità e modalità del trattamento;</li>
                    <li>c) della logica applicata in caso di trattamento effettuato con l’ausilio di strumenti elettronici;</li>
                    <li>d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell’articolo 5, comma 2;</li>
                    <li>e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.</li>
                </ul>
            </li>
            <li>3. L’interessato ha diritto di ottenere:</li>
            <li>
                <ul>
                    <li>a) l’aggiornamento, la rettificazione ovvero, quando vi ha interesse, l’integrazione dei dati;</li>
                    <li>b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;</li>
                    <li>c) l’attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.</li>
                </ul>
            </li>
            <li>4. L’interessato ha diritto di opporsi, in tutto o in parte:</li>
            <li>
                <ul>
                    <li>a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorché pertinenti allo scopo della raccolta;</li>
                    <li>b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.</li>
                </ul>
            </li>
        </ul>
    </div>

</section>
