﻿
@*<section class="banners-slider" style="position:relative;">
    <div class="sectionNivoSlider">
        <div style="position: relative;">
            <div id="slider" class="nivoSlider theme-default" style="margin-bottom: 0px;">
                <a xs="False">
                    <citemg src="~/Content/images/home/bginformazioni.jpg" border="0" />
                </a>
                <a xs="True">
                    <citemg src="~/Content/images/home/bginformazioni_xs.jpg" border="0" />
                </a>
                <a name="ImgPromo" class="hide" href="" target="" xs="">
                     <citemg src="~/Content/src/slider-home.jpg" border="0" />
                 </a> 
            </div>
        </div>
    </div>
</section>*@
<section class="infogenrali">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><cite class="fa fa-question-circle" aria-hidden="true"></cite> Informazioni Generali</h1>
            </div>
        </div>
    </div>
    <div class="container contentInfo">
       <div class="row">
           <div class="col-sm-6">
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-ticket" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Come acquistare i biglietti</h2>
                       <p>Comprando i biglietti online, risparmi sempre e salti la fila in cassa. Puoi pagare con carta di credito, al telefono o con bonifico.In alternativa acquista il tuo biglietto alla cassa del Parco.</p>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-cutlery" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Mangiare</h2>
                       <p>Dentro Zoomarine troverete:</p>
                       <ul>
                           <li>1 Ristorante Self Service (chiusura ore 15:00)</li>
                           <li>11 punti ristoro/snack bar con ogni varietà di cibo per adulti e bambini.</li>
                       </ul>
                       <p>Sei celiaco? Nel Ristorante Self Service e nei punti ristoro del Parco potrai trovare gustose pietanze senza glutine.</p>
                       <p><strong>Nel parco è vietato introdurre cibi e bevande.</strong></p>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-gift" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Negozi</h2>
                       <p>Nel parco ci sono negozi tematici, con prodotti e i gadget esclusivi Zoomarine.</p>
                       <p>È possibile acquistare anche attrezzatura per piscina (costumi, ciabatte, teli etc..).</p>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-camera" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Programmi e foto con animali</h2>
                       <p>Vuoi conoscere da vicino e interagire con i nostri amici animali?</p>
                       <p>Acquista online il programma Passione Animali, scegliendo il tuo animale preferito o la tua foto in esclusiva I programmi si tengono al termine di ogni spettacolo e non includono il biglietto di accesso al Parco. I bambini fino a 10 anni devono essere accompagnati da un adulto pagante il programma Passione Animali</p>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-bus" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Navetta</h2>
                       <p>Il servizio navetta è disponibile nei week-end e gg festivi di Marzo, Aprile, Maggio, Settembre ed Ottobre e tutti i giorni di apertura del Parco dei mesi: Giugno, Luglio, Agosto.</p>
                       <p>Il biglietto della navetta è acquistabile presso il punto di raccolta previsto per la partenza da Via Giolitti 48, stazione Termini di Roma, presso i visitor center di City-Sightseeing direttamente a bordo della navetta o sul nostro sito.</p>
                       <p><strong>PARTENZA DA ROMA:</strong></p> 
                       <p>ore 9.30  Stazione Termini di Roma, Via Giolitti 48</p>
                       <p><strong>DA ZOOMARINE : (di fronte all’entrata del Parco)</strong></p>
                       <p>ore 17:00 nei giorni di chiusura 17.00</p>
                       <p>ore 18:00 nei giorni di chiusura Parco ore 18:00 e 19:00</p>
                       <p><strong> * La tariffa di Andata e Ritorno e' € 15,00 (tariffa unica) </strong></p>
                       <p><strong>Non è possibile acquistare la sola tratta di ritorno.</strong></p>
                       <p><strong>Per maggiori informazioni contattare il call center Zoomarine.</strong></p>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-product-hunt" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Parcheggio</h2>
                       <p>All'ingresso di Zoomarine troverete il parcheggio per auto, camper e moto.</p>
                       <p>Tariffe: €5 per auto, camper e motocicli.</p>
                       <p>Gratuito per disabili con tesserino in vista.</p>
                       <p>Apertura ore 8.30. Parcheggio non custodito.</p>                      
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-child" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Bambini, neonati</h2>
                       <p>Il parco è dotato di servizi nursery.</p>
                   </div>
               </div>
           </div>
           <div class="col-sm-6">
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-home" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Dimostrazioni e Attrazioni</h2>
                       <p>Il parco ospita dimostrazioni di: <strong>delfini, leoni marini e foche, pinguini, pappagalli, tuffatori acrobatici e tanto altro.</strong></p>
                       <p>Ogni dimostrazione dura ca.30’ e viene ripetuto sia la mattina che il pomeriggio.</p>
                       <p>Consulta gli orari e la mappa interattiva sul sito.</p>
                       <p>Il parco include <a href="@Url.Action("Ilparco", "Home")" target="_blank">montagne russe</a> per adulti e bambini, <a href="@Url.Action("Ilparco", "Home")" target="_blank">giostre</a> acquatiche e non,  un <a href="@Url.Action("Ilparco", "Home")" target="_blank">Cinema 4D</a> e l’Era dei Dinosauri.</p>
                       <p>All'interno del parco sono presenti un <a href="@Url.Action("Ilparco", "Home")" target="_blank">acquapark</a>, con piscine da 5.000 posti ed una <a href="@Url.Action("Ilparco", "Home")" target="_blank">spiaggia tropicale</a> di sabbia.</p>
                       <p>Il <a href="@Url.Action("Ilparco", "Home")" target="_blank">complesso di piscine e acquapark</a> nella Stagione 2017 sarà aperto dal 16 Maggio al 25 Settembre. Contiene una spiaggia in tek con lettini e ombrelloni, scivoli e giochi per bambini. È’ provvista inoltre di spogliatoi senza porte, bagni, snack bar e servizi vari, tutti inclusi nel biglietto Zoomarine.</p>
                       <p>Ombrelloni e lettini sono gratis sino ad esaurimento</p>
                       <p>Giostre, Piscine e attrazioni chiudono 30' prima della chiusura del parco.</p>
                       <p>Alcune attrazioni sono soggette a limitazioni. Consultate il regolamento.</p>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-cog" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Altri servizi nel parco</h2>
                       <p>Il parco è dotato di:</p>
                       <ul>
                           <li>Locker e armadietti € 5 per tutto il giorno presso il Welcome Shop e presso piscine e acquapark. Obbligatoria la cauzione di €10</li>
                           <li>Punto di primo soccorso (ubicato all'ingresso e presso le piscine).</li>
                           <li>Dog House</li>
                       </ul>
                       <p>Il parco è privo di barriere architettoniche. In ogni area sono presenti toilette per disabili. </p>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-info-circle" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Informazioni turistiche (dormire, divertimento)</h2>
                       <p>Torvajanica è una delle località turistiche più famose e frequentate della costa laziale.Piccolo centro di circa 15.000 abitanti, Torvajanica è una frazione del comune di Pomezia, in provincia di Roma. Le origini dell’abitato sono molto antiche, come testimoniato dal recente ritrovamento dei resti di una villa di epoca romana. Il nome deriva dalla Torre del Vajanico, una costruzione cinquecentesca eretta per difendersi dagli attacchi dei Saraceni.</p>
                       <p>Le spiagge di Torvajanica, frequentatissime durante la stagione estiva, sono uno dei luoghi più affascinanti della zona: le dune sabbiose, la macchia mediterranea e il mare limpido sono solamente alcune delle attrazioni da non perdere. Negli splendidi fondali marini di Torvajanica si possono ammirare anche alcuni relitti di navi, tra cui il Banffshire, un piroscafo mercantile inglese affondato nel 1917.</p>
                        <h3><a href="~/Content/images/home/pomeziaspirale.pdf" target="_blank">SCARICA LA GUIDA "SCOPRI POMEZIA" E PORTALA CON TE!!! </a></h3>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-user-secret" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Regolamento del parco</h2>
                       <a href="~/Content/images/home/Regolamento%20Generale%20del%20Parco_2019.pdf" target="_blank">Regolamento Completo 2019</a>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-1">
                       <i class="fa fa-phone" aria-hidden="true"></i>
                   </div>
                   <div class="col-sm-10">
                       <h2>Contatti</h2>
                       <p>Per informazioni sul parco: 06 91534 o <a href="mailto:info@zoomarine.it"></a>info@zoomarine.it.</p>
                       <p>SCUOLE: per prenotare gite scolastiche scrivere a <a href="mailto:scuole@zoomarine.it"></a>scuole@zoomarine.it.</p>
                       <p>GRUPPI: per prenotare gruppi e viaggi organizzati scrivere </p>
                       <p>a <a href="mailto:booking@zoomarine.it"></a>booking@zoomarine.it.</p>
                       <p>AGENZIE: per agenzie, tour operator e aziende scrivere a <a href="mailto:agenzia@zoomarine.it">agenzia@zoomarine.it</a></p>
                       <p>PER ACCORDI COMMERCIALI: scrivere a commerciale@zoomarine.it </p>
                   </div>
               </div>
           </div>
       </div>
    </div>
</section>

