﻿<section class="lavora">
    <div class="container">
        <h1><i class="fa fa-briefcase" aria-hidden="true"></i> LAVORA CON NOI</h1>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="noteLavora" style="border:1px solid #013751;padding:20px;">
                    <p>
                        <strong>Per candidarsi occorre inviare CV</strong> (con foto e dicitura: "Autorizzo il trattamento dei miei dati ai sensi della legge in vigore") a
                        <a style="font-weight: 700;" href="mailto:acquajosscv@gmail.com">acquajosscv@gmail.com</a>
                        indicando nell'oggetto settore e profilo per il quale ci si candida.
                    </p>
                </div>

                <div class="perfil">
                    <h3>Profilo: Addetti al Bar</h3>
                    <p>
                        Requisiti richiesti: esperienza pregressa nel ruolo, propensione ai rapporti interpersonali e al problem solving. E’ richiesta disponibilità a lavorare nei weekend e nei festivi. 
                        Inoltre è richiesto il possesso dell’attestato HACCP. Sarà considerato requisito preferenziale l’essere iscritto al programma Garanzia Giovani.
                    </p>
                </div>
                <div class="perfil">
                    <h3>Profilo: Fotografi</h3>
                    <p>
                        Requisiti richiesti: ottime capacità relazionali; attitudine a un lavoro di comunicazione e commerciale; orientamento al cliente; orientamento, conoscenza tecniche di fotografia; buona conoscenza della lingua inglese; diploma di scuola media superiore. Completano il profilo propensione ai rapporti interpersonali, problemsolving, precisione e autonomia. 
                        E’ richiesta disponibilità a lavorare nei weekend e nei festivi. Sarà considerato requisito preferenziale l’essere iscritto al programma Garanzia Giovani
                    </p>
                </div>
                <div class="perfil">
                    <h3>Profilo: Bagnini</h3>
                    <p>
                        Requisiti richiesti: preferibile esperienza nel ruolo, brevetto aggiornato per normative covidper acque interne, propensione ai rapporti interpersonali e al problemsolving. Completano il profilo responsabilità, puntualità e dinamicità. E’ richiesta disponibilità a lavorare nei weekend e nei festivi. 
                        Sarà considerato requisito preferenziale: l’essere iscritto al programma Garanzia Giovani; in possesso del certificato di primo soccorso; certificato di BLSD.
                    </p>
                </div>
                <div class="perfil">
                    <h3>Profilo: Manutenzione e pulizie</h3>
                    <p>
                        Requisiti richiesti pregressa esperienza nel trattamento acque, sfalcio, giardinaggio, idraulica, pulizia, piccole manutenzioni. Completano il profilo responsabilità, puntualità, ottime doti relazionali e comunicative, capacità organizzativa e di problemsolving. 
                        E’ richiesta disponibilità a lavorare nei weekend e nei festivi. Sarà considerato requisito preferenziale l’essere iscritto al programma Garanzia Giovani.
                    </p>
                </div>
                <div class="perfil">
                    <h3>Profilo: Biglietteria e casse</h3>
                    <p>
                        Requisiti richiesti: previa esperienza nella gestione di casse, utilizzo di pos, precisione nella contabilità. Completano il profilo responsabilità, puntualità, ottime doti relazionali e comunicative, capacità organizzativa e di problemsolving. 
                        E’ richiesta disponibilità a lavorare nei weekend e nei festivi. Sarà considerato requisito preferenziale l’essere iscritto al programma Garanzia Giovani.
                    </p>
                </div>
                                      
            </div>
        </div>
    </div>
</section>

