﻿@model Core.NewsModel
@using Core;
@using System.Globalization;
@{
        DateTime date = DateTime.Now;
        List<News> newsList = Model.newsList;

        if (newsList != null) {
            newsList = newsList.Where(a => a.News_Status == true).OrderByDescending(a => a.News_CreationDate).ToList();
        }

        var queyYears = from year in Model.newsList group year by year.News_CreationDate.Year into g orderby g.Key select g;
        List<string> Years = new List<string>();
        foreach (var year in queyYears)
        {
            if (year != null)
            {
                Years.Add(year.Key.ToString());
            }
        }

        List<string> MonthNames = DateTimeFormatInfo.CurrentInfo.MonthNames.Where(m => !string.IsNullOrWhiteSpace(m)).ToList();
        List<string> MonthShortNames = DateTimeFormatInfo.CurrentInfo.AbbreviatedMonthNames.Where(m => !string.IsNullOrWhiteSpace(m)).ToList();
    }
<section class="eduscienza">
    <div class="container edu-items">
        <div class="row">
            <div class="col-sm-12">
                <h1>News</h1>
                <center id="buttons-years" class="controls mtb_30 row">
                    @*<label id="btn-year-2017" class="btn control" data-filter=".year-2017" style="background-color: #0c6c01;">2017</label>*@
                    @foreach (string year in Years)
                     {
                        <label id="btn-year-@year" class="btn control @(year.Equals(date.Year.ToString()) ? "active" : string.Empty)" data-filter=".year-@year" style="background-color: #d51f3b;">@year</label>
                    }
                </center>
            </div>
        </div>
        <div class="row" id="listnews">
            @foreach (News news in newsList)
            {
                var urlNews = "/news/" + news.News_Url;
                <div class="col-sm-6 news mix year-@news.News_CreationDate.Year month-@news.News_CreationDate.ToString("MMMM") status-@news.News_Status.ToString().ToLower()">
                    <div class="boxNew">
                            <div class="col-sm-3">
                                <img src="@GlobalSettings.UrlSitio/@news.News_Thumbanil.Replace("Content", "contentcdn")" class="img-responsive" />
                            </div>
                            <div class="col-sm-9">
                                <h3>@news.News_Title</h3>
                                <p>@news.News_Introduction</p>
                                <a href="@urlNews">Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                    </div>
                </div>

            }
            @*<div class="col-sm-6 ">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/4.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>PESCE FRESCO: STAGIONALITÀ</h3>
                            <p>Ebbene si! Perché anche il pesce ha i suoi ritmi stagionali. In base alle fasi del ciclo vitale o delle migrazioni, infatti...</p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/6.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>SUMMER DREAMS! ...L'INVERNO PASSA IN FRET</h3>
                            <p>Il calendario ci dice che l'estate è ormai lontana ma le temperature esterne ci danno tutt'altra notizia!....</p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/14.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>ZOOMARINE A BUDAPEST PER LA CONFERENZA EAZA</h3>
                            <p>Uno degli appuntamenti più importanti e attesi dell’anno è la conferenza dell’EAZA, l’associazione europea zoo e acquari...</p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <img src="~/Content/images/eduscienza/7.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <h3>OMBRE DAL FUTURO</h3>
                            <p>Una mostra per sensibilizzare il pubblico alla salvaguardia delle specie polari</p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/8.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>C’ERA UNA VOLTA… A ZOOMARINE!</h3>
                            <p>“La favola sbagliata” è una delle attività didattiche offerte alle scuole dell’infanzia in visita al parco.</p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/9.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>BASTA UN TOCCO DI MAGIA!</h3>
                            <p>Non vedrete bacchette, pozioni o tappeti volanti ma la magia vi catturerà e vi condurrà su sentieri inesplorati alla scoperta del fantastico mondo...</p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/10.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>FEEDING PELLICANI: UN GRANDE SUCCESSO</h3>
                            <p>Grande successo nel primo week end di apertura della nuova stagione di Zoomarine per la sessione educativa di alimentazione dei Pellicani...</p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/11.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>FORMAZIONE EDUCATORI 2014!</h3>
                            <p>Una giornata memorabile quella di venerdì scorso che ha visto gli educatori del Dipartimento Educazione e Scienza di Zoomarine impegn...</p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/12.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>LE RAGIONI DELLA SPERANZA</h3>
                            <p>Viviamo in tempi difficili, dove tutto sembra essere quotato e avere un prezzo. Disastri ambientali, mala gestione delle risorse, corruzione...</p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/13.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>BENVENUTO NELLA SEZIONE EDUCAZIONE!</h3>
                            <p>Il Dipartimento Educazione e Scienza, composto da biologi specializzati anche nel campo dell’educazione in contesti non... </p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="boxNew">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/images/eduscienza/5.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-9">
                            <h3>EDUCATION IS FUN!</h3>
                            <p>Il segreto sta proprio qui, nel divertimento, nel coinvolgimento di ognuno prima nell’educazione e poi nell’azione. Non bisogna mai dimenticare... </p>
                            <a>Scopri di più <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>
@section Scripts { 
    <script type="text/javascript">
        var currentMix = null;


        $(document).ready(function (){
            currentMix = $("#buttons-states label.active, #buttons-years label.active, #buttons-months label.active").map((index, element) => $(element).data("filter")).toArray().join("");

            $("#listnews").find("div.news").not(currentMix).fadeOut();

            $("#buttons-years .btn, #buttons-months .btn, #buttons-states .btn").on("click", function (e)
            {
                var $this = $(this);
                var container = ($this.closest("center").length ? $this.closest("center") : $this.closest("div"));
                container.find("label").removeClass("active");
                $this.addClass("active");
                var value = $this.data("filter");

                var filterState = ($this.closest("div.controls").attr("id") == "buttons-states" ? value : $("#buttons-states .btn.active").data("filter"));
                var filterYear = ($this.closest("div.controls").attr("id") == "buttons-years" ? value : $("#buttons-years .btn.active").data("filter"));
                var filterMonth = ($this.closest("div.controls").attr("id") == "buttons-months" ? value : $("#buttons-months .btn.active").data("filter"));

                currentMix = $("#buttons-states label.active, #buttons-years label.active, #buttons-months label.active").map((index, element) => $(element).data("filter")).toArray().join("");

                console.log(currentMix)

                $("#listnews").find("div.news").show().not(currentMix).fadeOut();
            });

        });

       
    </script>

}

