﻿@model Zoomarine.Models.NewsModel
@using Core;
@{ 
    DateTime date = DateTime.Now;
    News news = Model.News;
    if (news == null)
    {
        news = new News();
    }
}
<section class="InternaNews">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>@news.News_Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="@GlobalSettings.UrlSitio/@news.News_Image.Replace("Content","contentcdn")" class="img-responsive center-block"/>
                <div class="contentNews">
                    @Html.Raw(news.News_Description)
                </div>
            </div>
        </div>
    </div>
</section>

