﻿@model Zoomarine.Models.PromotionsModel
@using Core;
@{
    ViewBag.Title = "Shopping Cart";

    //int NpromoFam = ViewBag.PromFamily.Count;
    //int NpromoEventi = ViewBag.PromEventi.Count;
    DateTime date = DateTime.Now;
    List<Promotions> promotionsList = Model.Promotions;
    if (promotionsList != null)
    {
        promotionsList = promotionsList.Where(a => a.PromotionDeal_Status == true && (a.PromotionDeal_DateStart <= date && a.PromotionDeal_Pack == true && a.PromotionDeal_DateEnd >= date)).OrderBy(p => p.PromotionDeal_Order).ToList();
    }
}

<section class="famiglia">
  <div class="container">
      <h1>PACHETTO DI FAMIGLIA</h1>
      <p>Lorem ipsum dolor sit amet, consectur adipiscing elit, sed do eiusummod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venian</p>
      <div class="row">
@foreach (Promotions promotion in promotionsList)
{
    <div class="col-sm-4">
        <div class="item-pachetto">
            <h3>@promotion.PromotionDeal_Title</h3>
            <div class="paPromo">
                @if (promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType == ImagenType.PROMOTIONTHUMBNAIL) != null)
                {
                    //String url = Sites.Instance().GetSite(1).Site_Url + promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType == ImagenType.PROMOTIONTHUMBNAIL).PromotionImage_Url;
                    String url = GlobalSettings.UrlSitio + promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType == ImagenType.PROMOTIONTHUMBNAIL).PromotionImage_Url.Replace("Content", "contentcdn");
                    <img src="@url" class="img-responsive center-block" onerror="this.src = 'http://via.placeholder.com/262x196';" />
                }
                else
                {
                    <img src="http://via.placeholder.com/262x197" />
                }
                @*<img src="~/Content/images/promotions/pachetto_1.jpg" class="img-responsive center-block" />*@
                @*<p> <small>Biglietto da</small> <span>82€</span></p>*@
            </div>
            <div class="contentPa">
                <p>@promotion.PromotionDeal_ShortDescription</p>
                <a href="@promotion.PromotionDeal_Link" class="btn-green">ACQUISTA</a>
            </div>
        </div>
    </div>
}
      </div>
  </div>
</section>

