﻿@model Core.PartnersModel
@using Core;
<section class="partner">
    <div class="container">
        <h1>I NOSTRI PARTNER</h1>
        @if (Model.partners != null)
        {
            foreach (PartnersTypes pt in Model.partnersTypes.FindAll(p => p.ParnertType_Status.Equals(true)).OrderBy(pt => pt.PartnerType_Index).ToList())
            {
                List<Partners> partners = Model.partners.FindAll(p => p.Partner_IdType.Equals(pt.PartnerType_Id) && p.Partner_Status && p.Partner_ValidDate).OrderBy(p => p.Partner_Index).ToList();
                <div class="clasificacion">
                    <p>@pt.PartnerType_Name.ToUpper()</p>
                </div>
                <div class="boxpartner">
                    @foreach (Partners p in partners)
                    {
                        <a href="@p.Partner_Link" target="_blank" class="item-partner">
                            @*<img id="@p.Partner_Id" src="@(GlobalSettings.UrlBackOffice + "/" + p.Partner_Image)" />*@
                            <img id="@p.Partner_Id" src="@(GlobalSettings.UrlSitioAqua + "/" + p.Partner_Image.Replace("Content", "contentcdn"))" />
                        </a>
                    }
                </div>
            }
        }
        <p class="notePartner">Vuoi diventare nostro Partner? Contattaci all’indirizzo e-mail <a href="mailto:marketing@AcquaJoss.it">marketing@AcquaJoss.it</a></p>
    </div>
</section>
