﻿@model Core.PromotionsModel
@using Core;
@{


    //int NpromoFam = ViewBag.PromFamily.Count;
    //int NpromoEventi = ViewBag.PromEventi.Count;
    DateTime date = DateTime.Now;
    List<Promotions> promotionsList = Model.Promotions;
    if (promotionsList != null) {
        promotionsList = promotionsList.Where(a => (a.PromotionDeal_Status == true)).ToList();
        //promotionsList = promotionsList.Where(a => (a.PromotionDeal_Pack != true)).ToList();
        promotionsList = promotionsList.Where(a => (a.PromotionDeal_DateStart <= date && a.PromotionDeal_DateEnd >= date)).OrderBy(p => p.PromotionDeal_Order).ToList();
    }



        }
<section class="promozioni">
    <div class="container">
        <h1>PACCHETTI FAMIGLIA E PROMOZIONI</h1>
        <h2></h2>
        <p></p>
        <div class="list-promotions">
            @foreach (Promotions promotion in promotionsList)
        {
                <div class="item-promozioni">
                    <h3>@promotion.PromotionDeal_Title</h3>
                    <div class="tagPromo">
                        @if (promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType == ImagenType.PROMOTIONTHUMBNAIL) != null)
                        {
                            //String url = Sites.Instance().GetSite(1).Site_Url + promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType == ImagenType.PROMOTIONTHUMBNAIL).PromotionImage_Url;
                            String url = GlobalSettings.UrlFront + promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType == ImagenType.PROMOTIONTHUMBNAIL).PromotionImage_Url.Replace("Content", Core.GlobalSettings.CDN);
                            <img src="@url" class="img-responsive center-block"  />
                        }
                        else
                        {
                            <img src="http://via.placeholder.com/262x197" />
                        }
                        @*<p> <small>36€</small> <span>12€</span></p>*@
                    </div>
                    <div class="contentPromo">
                        <a href="@promotion.PromotionDeal_Link" class="btn-green">PRENOTA ORA</a>
                        <p>@promotion.PromotionDeal_ShortDescription</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {

    <script type="text/javascript">

        //family pack promotion
        @*var Prom = "";
        Prom += '<div class="col-sm-4 col-md-3" id="Prom_">';
        Prom += '<div class="item-promozioni">';
        Prom += '<h3 id="PromoTitle_"></h3>';
        Prom += '<div class="tagPromo">';
        Prom += '<img id="ImgPromo_" src="" class="img-responsive center-block" style="height: 196px;">';
        Prom += '<div class="plecaPromo" id="PromoDes_"></div>';
        Prom += '<p><span id="PromoPrice_"></span></p>';
        Prom += '</div>';
        Prom += '<div class="contentPromo">';
        Prom += '<a id="PromoLink_" href="" class="btn-green"></a>';
        Prom += '<p id="PromoNote_"></p>';
        Prom += '</div>';
        Prom += '</div>';
        Prom += '</div>';

        var Id;
        var Title;
        var Description;
        var Note;
        var Image;
        var BasePrice;
        var Price;
        var Link;

        //promotion event
        var PromEvent = "";
        PromEvent  += '<div class="col-sm-4 col-md-3">';
        PromEvent  += '<div class="item-promozioni">';
        PromEvent  += '<h3 id="PromoTitleEv_"></h3>';
        PromEvent  += '<div class="tagPromo">';
        PromEvent  += '<img id="ImgPromoEv_" src="" class="img-responsive center-block" style="height: 196px;" />';
        PromEvent  += '<p><span  id="PromoPriceEv_"></span></p>';
        PromEvent  += '</div>';
        PromEvent  += '<div class="contentPromo">';
        PromEvent  += '<a id="PromoLinkEv_" href="" class="btn-green"></a>';
        PromEvent  += '<p id="PromoNoteEv_"></p>';
        PromEvent  += '</div>';
        PromEvent  += '</div>';
        PromEvent  += '</div>';


        $(document).ready(function () {


            @*var NpromoFam = '@NpromoFam';*@
            @*var NpromoFam = '';

            for (var i=0; i < NpromoFam; i++)
            {
                //fill the promotion
                var htm = Prom;
                htm = htm.replace("Prom_", "Prom_" + i);
                htm = htm.replace("PromoTitle_", "PromoTitle_" + i);
                htm = htm.replace("ImgPromo_", "ImgPromo_" + i);
                htm = htm.replace("PromoDes_", "PromoDes_" + i);
                htm = htm.replace("PromoPrice_", "PromoPrice_" + i);
                htm = htm.replace("PromoNote_", "PromoNote_" + i);
                htm = htm.replace("PromoLink_", "PromoLink_" + i);

                LoadPromoFromModel(@Html.Raw(Json.Encode(ViewBag.PromFamily)), i);

                $("#promotions").append(htm);

                $("#PromoTitle_" + i).text(Title);
                $("#PromoDes_" + i).html(Description);
                $("#PromoNote_" + i).html(Note);
                $("#PromoPrice_" + i).text(Price +"€");
                $("#ImgPromo_" + i).attr('src',Image);
                $("#PromoLink_" + i).attr("href", "/acquisto/Biglietto?choice=" + Id);
                $("#PromoLink_" + i).text("PRENOTA ORA");
            }*@

            //promotion events
            //var NpromoEventi = '';
            @*var NpromoEventi = '@NpromoEventi';*@
            @*for (var i=0; i < NpromoEventi; i++)
            {
                //fill the promotion
                var htm = PromEvent;
                htm = htm.replace("PromEv_", "PromEv_" + i);
                htm = htm.replace("PromoTitleEv_", "PromoTitleEv_" + i);
                htm = htm.replace("ImgPromoEv_", "ImgPromoEv_" + i);
                htm = htm.replace("PromoDesEv_", "PromoDesEv_" + i);
                htm = htm.replace("PromoPriceEv_", "PromoPriceEv_" + i);
                htm = htm.replace("PromoNoteEv_", "PromoNoteEv_" + i);
                htm = htm.replace("PromoLinkEv_", "PromoLinkEv_" + i);

                LoadPromoFromModel(@Html.Raw(Json.Encode(ViewBag.PromEventi)), i);

                $("#promotions").append(htm);

                $("#PromoTitleEv_" + i).text(Title);
                $("#PromoDesEv_" + i).html(Description);
                $("#PromoNoteEv_" + i).text(Note);
                $("#PromoPriceEv_" + i).text(Price +"€");
                $("#ImgPromoEv_" + i).attr('src', Image);
                $("#PromoLinkEv_" + i).attr("href", Link);
                $("#PromoLinkEv_" + i).text("ACQUISTA");
            }


        });*@


        @*function LoadPromoFromModel(DataModel , i) {
            Id = DataModel[i].Id;
            Title = DataModel[i].Title;
            Description = DataModel[i].Description;
            Note = DataModel[i].Note;
            Image = DataModel[i].Image;
            Price = DataModel[i].Price;
            Link =  DataModel[i].AdditionalInfo;
        }*@

    </script>
}


