﻿<img src="~/Content/images/scuole/banner_scuole.jpg" alt="" class="img-responsive hidden-xs" style="width:100%;" />
<img src="~/Content/images/scuole/banner_scuole_XS.jpg" alt="" class="img-responsive visible-xs" style="width:100%;" />
<section class="scuole-int">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>SCUOLA SECONDARIA DI II GRADO</h1>
                <h2>Solo a Zoomarine le emozioni insegnano!</h2>
                <p>NON PERDERE L'OPPORTUNITA' DI PRENOTARE ANCHE UNA LEZIONE VIRTUALE IN INGLESE O IN ITALIANO PER INTERAGINE CON I NOSTRI AMICI ANIMALI IN DIRETTA VIA SKYPE DALLA TUA CLASSE! POCA SPESA, GRANDE RESA!</p>
                <p>Aggiungi solo <strong>€ 3</strong> e potrai partecipare ad una delle nostre nuove attività didattiche:</p>
                <h2>ADDESTRATORE PER UN GIORNO:</h2>
                <p>Un'esperienza fantastica che permette a tutti gli studenti di conoscere da vicino alcuni dei nostri animali tra cui delfini, foche e leoni marini, uccelli tropicali, pinguini e tartarughe giganti. Alla scoperta dell'addestramento per tutelare gli animali e comprendere meglio tutte le loro necessità.</p>
                <h2>ADDESTRATORE PER UN GIORNO:</h2>
                <p>Un'esperienza fantastica che permette a tutti gli studenti di conoscere da vicino alcuni dei nostri animali tra cui delfini, foche e leoni marini, uccelli tropicali, pinguini e tartarughe giganti. Alla scoperta dell'addestramento per tutelare gli animali e comprendere meglio tutte le loro necessità.</p>
                <h2>AMBASCIATORE DELLA TERRA:</h2>
                <p>Zoomarine, come promotore di una visione di ottimismo e di speranza per il futuro della Terra, si impegna ad educare le nuove generazioni per combattere l'avvelenamento della natura. "Rifiuti, vi riduco!!!" E' il nostro motto.</p>
                <h2>DIVENTA AMICO DI ZAMPA</h2>
                <p>In molti hanno in casa un cane, Zoomarine insegna a grandi e piccini come prendersi cura dei nostri amici di zampa per stimolare nello studente una responsabilità consapevole nella gestione di questi cari compagni di vita.</p>
                <h2>LE CREATURE SCOMPARSE: DINOSAURI E DRAGHI</h2>
                <p>Due percorsi tra la storia e la mitologia al fine di stimolare gli studenti ad una migliore conoscenza delle origini e del mistero che caratterizza questi animali. I percorsi sono interattivi!!</p>
                <h2>REPORTER PER UN GIORNO</h2>
                <p>Gli studenti avranno la possibilità di trasmettere quello che hanno visto durante l'esperienza al Parco tramite la realizzazione di piccoli video, rassegne fotografiche e brevi articoli.</p>
                <img src="~/Content/images/scuole/imagen.png" class="img-responsive" />
            </div>
            <div class="col-sm-5">
                <div class="priceScuoleInt priceBlue">
                    <p>PER GITE MARZO E APRILE</p>
                    <div class="circlescuole">
                        15 €
                    </div>
                </div>
                <div class="priceScuoleInt priceYellow">
                    <p>PER GITE MAGGIO E GIUGNO</p>
                    <div class="circlescuole">
                        16 €
                    </div>
                </div>
                <div class="priceScuoleInt priceGreen">
                    <p>PER GITE DA SETTEMBRE A NOVEMBRE</p>
                    <div class="circlescuole">
                        14 €
                    </div>
                </div>
                <div class="priceScuoleInt priceRed">
                    <p>INGRESSO E PRANZO AL PARCO + HOTEL IN MEZZA PENSIONE</p>
                    <div class="circlescuole">
                        70 €
                    </div>
                </div>
                <p class=""> Hai bisogno anche del bus? Contattaci allo 0691534</p>
                <div class="materialiScuole">
                    <h4>materiali 2019</h4>
                    <a href="~/Content/scuole/scuole-zoomarine-2019.pdf" target="_blank" class="btn-blue">GUIDA DOCENTI SECONDARIA II GRADO</a>
                    <a href="~/Content/scuole/guida-didattica-2019.pdf" target="_blank" class="quadernored">QUADERNO DIDATTICO PER LA CLASSE</a>
                    <h4>INFO E PRENOTAZIONI</h4>
                    <p>Contattaci per info o scrivi un email di richiesta informazioni</p>
                    <p>L'ufficio scuola di Zoomarine ti ricontatterà per darti assistenza senza impegno!</p>
                    <a class="phoneScuole"><i class="fa fa-phone" aria-hidden="true"></i> 06 91534</a>
                    <a href="mailto:scuole@zoomarine.it" class="correoScuole"><i class="fa fa-envelope" aria-hidden="true"></i> scuole@zoomarine.it</a>
                </div>
            </div>
        </div>
    </div>
</section>







