﻿
<section class="Servizi">

    <div class="Principal_Tittle">
        <h2>
            Servizi
        </h2>
    </div>
    <div class="container">
        <div class="Servizi_containers">
            @*<div class="Servizi_item ">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="image_servizi">
                            <img class="center-imgservizi img-responsive" src="~/Content/images/Servizi/Cassetta_portavalori_299_292.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-7 ">
                        <div class="content_servizi servizi_blue">
                            <p>CASSETTA PORTAVALORI: noleggio presso il Bar € 1,50 + 10€ di cauzione e documento ( per riporre gli oggetti più cari)</p>

                        </div>
                    </div>
                </div>
            </div>*@

            <div class="Servizi_item ">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="image_servizi">
                            <img class="center-imgservizi img-responsive" src="~/Content/images/Servizi/Armadiettireali.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-7 ">
                        <div class="content_servizi servizi_blue">
                            <p>ARMADIETTI: costo € 3,00 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Servizi_item ">
                <div class="row">
                    <div class="col-sm-5 ">
                        <div class="image_servizi">
                            <img class="center-imgservizi img-responsive" src="~/Content/images/Servizi/food_drink299_292.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="content_servizi servizi_violet">
                            <p>RISTORAZIONE: disponibili primi, secondi, panini, piadine, gelati e bevande</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Servizi_item ">
                <div class="row">
                    <div class="col-sm-5 ">
                        <div class="image_servizi">
                            <img class="center-imgservizi img-responsive" src="~/Content/images/Servizi/bazar299_292.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="content_servizi servizi_violet">
                            <p>BAZAR: costumi, ciabatte, prodotti per il mare, giochi</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Servizi_item ">
                <div class="row">
                    <div class="col-sm-5 ">
                        <div class="image_servizi">
                            <img class="center-imgservizi img-responsive" src="~/Content/images/Servizi/spogliatoireali.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="content_servizi servizi_aquamarine">
                            <p>SPOGLIATOI: divisi per uomini e donne</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Servizi_item ">
                <div class="row">
                    <div class="col-sm-5 ">
                        <div class="image_servizi">
                            <img class="center-imgservizi img-responsive" src="~/Content/images/Servizi/doccereali.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="content_servizi servizi_aquamarine">
                            <p>DOCCE: divise per uomini e donne</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Servizi_item ">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="image_servizi">
                            <img class="center-imgservizi img-responsive" src="~/Content/images/Servizi/noleggireale.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-7 ">
                        <div class="content_servizi servizi_orange">
                            <p>NOLEGGIO GAZEBO usufruibili fino ad esaurimento con l'acquisto di n. 2 lettini € 3 dal lunedi al venerdi, nel weekend con l'acquisto di 4 lettini</p>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
  
                
                @*<div class="col-lg-5 container_servizi">
                    <div class="col-lg-6 img_servizi">
                        <img src="~/Content/images/Servizi/servizi_1.jpg" />
                    </div>
                    <div class="col-lg-6 text_servizi">
                        Presso l' INFORMATIO puoi affittare gli armadietti dove riporre i tuoi oggetti personali e ricevere tutte le informazioni sui servizi AcquaJoss. Nell'area d'ingresso sono inoltre disponibili SPOLIATIO e DOCCIATIO.
                      
                    </div>
                    <div class="lane_servizi lane_color_blue"></div>
                
                </div>
                <div class="col-lg-5 container_servizi">
                    <div class="col-lg-6 img_servizi">
                        <img src="~/Content/images/Servizi/servizi_2.jpg" />
                    </div>
                    <div class="col-lg-6 text_servizi">
                        Nelle diverse aree del Parco puoi trovare i GOLOSARIUM, punti di ristoro dove gustare bibite, gelati e panini per spezzare la fame tra un'attrazione e l'altra.
                    </div>
                </div>*@
            
    </div>
        
</section>
