﻿@{
    string title = TempData["Title"] != null ? TempData["Title"].ToString() : (Request.Params["Title"] != null ? Request.Params["Title"].ToString() : string.Empty);
    string msn = TempData["Msn"] != null ? TempData["Msn"].ToString() : (Request.Params["Msn"] != null ? Request.Params["Msn"].ToString() : string.Empty);
    if (!string.IsNullOrEmpty(msn))
    {
        <div class="alert alert-success alert-dismissible" role="alert" style="margin:auto;text-align:center;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@title</strong> <span>@msn</span>
        </div>

        TempData["Title"] = null;
        TempData["Msn"] = null;
    }
}