﻿@*<form id="inscrivi"  class="inscrivi" user_repeated="L'utente è già stato registrato" user_registered="L'utente si è registrato correttamente" user_error="Si è verificato un errore imprevisto durante la registrazione dell'utente" user_reactivated="L'utente è stato riattivato correttamente">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <label>NEWSLETTER</label>
            <input type="text" name="Newsletter_FullName" id="NameNews"  required placeholder="NOME:"/>
            <input type="email" name="Newsletter_Email" id="EmailNews"  required placeholder="EMAIL:"/>
        </div>
        <div class="col-md-4 col-sm-4">
            <input type="submit" value="ISCRIVITI" class="sendInscivi btn-green" />
        </div>
        <div class="checkboxes form-group col-sm-12">
            <div style="color:#fff;font-size:12px;">
                <input id="PrivacyCheck" name="Newsletter_Privacy" type="checkbox" value="true" title="Privacy (obbligatorio)" required>
                <span>Acconsento al trattamento dei miei dati personali ai sensi della legge 196/2003 Italiana</span>
                <a style="text-decoration:underline;color:#fff;" href="~/Content/documents/Politica-sulla-Protezione-dei-Dati.pdf" target="_blank">Visualizza Policy</a>
            </div>
            <div style="color:#fff;font-size:12px;">
                <input id="PublicityCheck" name="Newsletter_Marketing" type="checkbox" value="true">
                <span>Accetto l'iscrizione alla mailing list per l'invio di materiale pubblicitario e promozionale</span>
                <a style="text-decoration:underline;color:#fff;" href="~/Content/documents/Politica-sulla-protezione-dei-dati-personali.pdf" target="_blank"> Visualizza Policy</a>
            </div>
        </div>
    </div>
    <div id="alert" style="display:none;margin-top:10px;"></div>
</form>*@