﻿@{ 
    string section = ViewBag.Section != null ? ViewBag.Section.ToString() : string.Empty;
    Core.SiteSettings St = Core.Impostazioni.SiteSettings;
    bool StOpen = Core.Repository.StOpen();

    string Fakeday = Core.Impostazioni.FakeDayNow;
    if (Fakeday != null) { Fakeday = "data finta: " + Fakeday; }

    string SkipTicket = Core.Impostazioni.SkipTicket;
    if (SkipTicket != null) { SkipTicket = "SkipTicket : " + SkipTicket; }
 }
<!DOCTYPE html>

<style>
    .btnPrk {
        margin-top: 11px;
        background-color: #00b730;
        border-radius: 5px;
        height: 28px;
        width: 162px;
    }
</style>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" href="~/favicon.ico" type="image/x-icon" />
    <title>@WebUtility.HtmlDecode(ViewBag.Title)</title>
    <meta name="keywords" content="@WebUtility.HtmlDecode(ViewBag.Keywords)" />
    <meta name="description" content="@WebUtility.HtmlDecode(ViewBag.Description)" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @if (Core.GlobalSettings.EnProduccion == true)
    {
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '254218972337210');
            fbq('track', 'PageView');
        </script>

        <noscript>
            <img height="1" width="1" src="https://www.facebook.com/tr?id=254218972337210&ev=PageView&noscript=1" />
        </noscript>
        <!-- End Facebook Pixel Code -->


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23670300-1"></script>

    }


        @if (ViewBag.Tag != null && ViewBag.Tag.ToString().Equals("tagConfirma"))
        {




        }

        <meta name="google-site-verification" content="7kSSaPnw87CDauKV0hkdx5Yio9KeNKIBwFiy6ORcBoA" />
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5579WTG');
        </script>
        <!-- End Google Tag Manager -->
    </head>


<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5579WTG"
                height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <nav class="navbar navbar-sticky navbar-default navbar-mobile bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand logo-fix" href="/"><img src="~/Content/images/logos/AcquaJoss_157x64.png" class="logo img-responsive" alt="Inizio"></a>
                </div>
                <!-- End Header Navigation -->
                <div class="topHeader">
                    <div class="telHeader hidden-sm hidden-xs">
                        @if (section.Equals("contactti"))
                        {

                        }
                        else
                        {
                            <!-- <a href="https://api.whatsapp.com/send?phone=+3938043248&text=Hi, I contacted you Through your website Zoomarine.it." class="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i> 393.8043248</a>-->
                        }


                        @if (Core.GlobalSettings.EnProduccion == false)
                        {
                            <label style="color: green; font-size: 16px;">TEST&nbsp;@Fakeday&nbsp;@SkipTicket</label>
                        }

                        @if (!string.IsNullOrEmpty(ViewBag.ParkColor))
                        {
                            <label>Oggi il parco è:&nbsp;</label><label style="padding-right: 25px; color: @ViewBag.ParkColor ;">@ViewBag.ParkOpen&nbsp;&nbsp;</label>
                        }

                        @*<a href="@Url.Action("domandeFrequenti", "Home")"><i class="fa fa-question" aria-hidden="true"></i> DOMANDE FREQUENTI</a>*@
                        @*<a href="~/Content/documents/Mappa-zoomarine2019.pdf" data-fancybox><i class="fa fa-map" aria-hidden="true"></i> Mappa</a>*@

                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    @if (section.Equals("contactti"))
                    {

                    }
                    else
                    {
                        <!-- <a href="https://api.whatsapp.com/send?phone=+3938043248&text=Hi, I contacted you Through your website Zoomarine.it." class="whatsappMobile visible-xs visible-sm"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>-->
                    }


                    <ul class="nav navbar-nav navbar-right navbar_main" data-in="fadeInDown" data-out="fadeOutUp">
                        <li>
                            <a href="@Url.Action("ChiSiamo", "Home")"><i class="fa fa-users  hidden-md hidden-lg" aria-hidden="true"></i>CHI SIAMO</a>
                        </li>
                        <li style="cursor:pointer;">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tags  hidden-md hidden-lg" aria-hidden="true"></i>IL PARCO</a>
                            <ul class="dropdown-menu submenu" style="width:180px;">
                                <li><a href="@Url.Action("Ilparco", "Home")"><i class="fa fa-ticket  hidden-md hidden-lg" aria-hidden="true"></i>Le Attrazioni</a></li>
                                <li><a href="~/Content/documents/Mappa-Acquajoss.jpg" data-fancybox><i class="fa fa-plane hidden-md hidden-lg" aria-hidden="true"></i> Mappa</a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("calendari", "Home")"><i class="fa fa-graduation-cap hidden-md hidden-lg" aria-hidden="true"></i>CALENDARIO</a></li>

                        <li style="cursor:pointer;">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tags hidden-md hidden-lg" aria-hidden="true"></i>INFO</a>
                            <ul class="dropdown-menu submenu">
                                <li><a href="@Url.Action("servizi", "Home")"><i class="fa fa-graduation-cap hidden-md hidden-lg" aria-hidden="true"></i>SERVIZI</a></li>
                                <li><a href="@Url.Action("domandeFrequenti", "Home")"><i class="fa fa-graduation-cap hidden-md hidden-lg" aria-hidden="true"></i>FAQ</a></li>
                                <li><a href="@Url.Action("contatti", "Home")"><i class="fa fa-graduation-cap hidden-md hidden-lg" aria-hidden="true"></i>CONTATTI</a></li>
                                <li><a href="@Url.Action("newsletter", "Home")"><i class="fa fa-graduation-cap hidden-md hidden-lg" aria-hidden="true"></i>NEWSLETTER</a></li>
                            </ul>
                        </li>

                        @*<li><a href="@Url.Action("eventi", "Home")"><i class="fa fa-tags hidden-md hidden-lg" aria-hidden="true"></i>EVENTI</a></li>*@



                        @if (StOpen == true)
                        {
                            <li style="cursor:pointer;" class="btnPrk hidden-sm hidden-xs">
                                <a class="dropdown-toggle" data-toggle="dropdown" style="color: white; margin-top: -11px; margin-left: 10px;">
                                    <i class="fa fa-tags hidden-md hidden-lg" aria-hidden="true"></i>PREZZI E BIGLIETTI
                                </a>

                                <ul class="dropdown-menu submenu" style="width:250px;">
                                    @if (St.Tickets == true)
                                    {
                                        <li><a id="Biglietto" href="@Url.Action("PrezziDinamici", "Acquisto")">Biglietti Giornalieri</a></li>
                                    }

                                    @if (St.Subscriptions == true)
                                    {
                                        <li><a id="buysubscription" href="@Url.Action("Abbonamenti", "Acquisto")">Abbonamenti</a></li>
                                    }

                                    @if (St.Groups == true)
                                    {
                                        <li><a href="@Url.Action("Gruppi", "Acquisto")">Centri Estivi</a></li>
                                    }


                                    @if (St.FamPacks == true)
                                    {
                                        <li><a href="@Url.Action("Promozioni", "Home")">Pacchetti Famiglia</a></li>
                                    }

                                    @if (St.Promotions == true)
                                    {
                                        <li><a href="@Url.Action("Promozioni", "Home")">Promozioni</a></li>
                                    }

                                    @if (St.Hotels == true)
                                    {
                                        <li><a id="buyhotel" href="@Url.Action("Hotel", "Acquisto")">Parco + Hotel</a></li>
                                    }

                                    @if (St.Discounts == true)
                                    {
                                        <li><a href="/Acquisto/Biglietto?scelta=discount">Codici sconto</a></li>
                                    }

                                </ul>
                            </li>
                        }


                    </ul>



                    <ul class="nav navbar-nav navbar-right navbar_main hidden-md hidden-lg">
                        <li><a href="@Url.Action("domandeFrequenti", "Home")"><i class="fa fa-question  hidden-md hidden-lg" aria-hidden="true"></i>Domande frequenti</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </header>

    @RenderBody()
    <div class="container PartialInscriviMobile visible-xs">
        <div class="row">
            <div class="col-xs-12">
                @*@Html.Partial("_FormInscrivi")*@
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2 foot-logo">
                    <a class="" href="/"><img src="~/Content/images/logos/logo_footer-acquajoss.png" class="img-responsive center-block" alt=""></a>
                    <span class="hidden-sm hidden-xs">© 2020 Kima Srl <br /> PIVA 01454140391</span>
                </div>
                <div class="col-md-10">
                    <ul class="menuFooter">
                        <!--<li><a href="@Url.Action("Partner", "Home")">PARTNER</a></li>-->
                        <li><a href="~/Content/documents/policy.pdf" target="_blank">PRIVACY</a></li>
                        <li><a href="@Url.Action("InformativaCookie", "Home")">COOKIE</a></li>
                        <li><a href="@Url.Action("lavora", "Home")">LAVORA CON NOI</a></li>

                        <li>
                            <div class="Account">
                                <div class="dropdown dropdownCount">
                                    <button class="btn-red" type="button" data-toggle="dropdown">
                                        AREA RISERVATA<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li id="acqop" style="display: none;"><a href="@Url.Action("AcquistoOp", "AreaRiservata")">Acquisto ass. telefonica</a></li>
                                        <li id="acqsv" style="display: none;"><a href="@Url.Action("AcquistoSv", "AreaRiservata")">Acquisto svincolato</a></li>


                                        <li id="acqag" style="display: none;"><a href="http://www.zoomarinetravel.it">Acquisto come agenzia</a></li>
                                        <li id="logout" style="display: none;"><a href="@Url.Action("Logout", "AreaRiservata")">Logout</a></li>
                                        <li id="Hotall" style="display: none;"><a href="@Url.Action("Hotel", "AreaRiservata")">Hotel Allotment</a></li>
                                        <li id="Sales" style="display: none;"><a href="@Url.Action("Sales", "AreaRiservata")">Hotel Vendite</a></li>
                                        <li id="login"><a href="@Url.Action("Login", "AreaRiservata")">Login</a></li>
                                        <li id="register"><a href="#">Register</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>


                    <div class="row">
                        <div class="col-sm-12 redesFooter">
                            <div class="row">
                                <div class="col-md-1 col-md-offset-1">
                                    <p>SEGUICI:</p>
                                </div>
                                <div class="col-md-10">
                                    <div class="social">

                                        <a href="https://instagram.com/acquajoss?igshid=1d2hedfqnm1ky" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="https://www.facebook.com/acquajoss_official" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                       
                                        @*<a href="https://www.youtube.com/channel/UCpc7sKOCKcupMZHdUWS9PLA?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        <a href="https://www.tripadvisor.it/Profile/Aquafelix" target="_blank" class="hidden-xs"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>*@

                                    </div>
                                </div>
                            </div>
                            <span class="hidden-md hidden-lg copy-zoom">© 2020 KIMA SRL <br /> P.IVA  01454140391</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="ajaxBusy" style="display:none;">
        <div class="loading">
            <img class="animated infinite pulse" src="~/Content/images/logos/AcquaJoss_157x64.png">
            <ul class="">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
