﻿
<section id="formPartial" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 tabReservations">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#biglietto">BIGLIETTO</a></li>
                    <li><a data-toggle="tab" href="#parcoHotel">PARCO + HOTEL</a></li>
                </ul>
                <div class="tab-content">
                    <div id="biglietto" class="tab-pane fade in active">
                        <div class="row">
                            <form class="ReservBiglietto">
                                <div class="col-sm-3 form-group-sm">
                                    <label>Data</label>
                                    <div class="input-group">
                                        <input id="Reserva_Llegada" name="Reserva_Llegada" type="text" class="form-control datetimepicker" value="" data-validation="date" data-validation-format="" placeholder="" />
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 form-group-sm">
                                    <label>Adulti</label>
                                    <select name="Adult" id="Adult" class="form-control input-sm">
                                        <option></option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 form-group-sm">
                                    <label>Bambini</label>
                                    <select name="Bambinos" id="Bambinos" class="form-control input-sm">
                                        <option></option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <center class="field-button">
                                        <button id="sendForm" type="submit" class="btn-green">RICERCA ORA!</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="parcoHotel" class="tab-pane fade">
                        <div class="row">
                            <form class="ReservBiglietto">
                                <div class="col-sm-3 form-group-sm">
                                    <label>Data</label>
                                    <div class="input-group">
                                        <input id="Reserva_Llegada" name="Reserva_Llegada" type="text" class="form-control datetimepicker" value="" data-validation="date" data-validation-format="" placeholder="" />
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 form-group-sm">
                                    <label>Adulti</label>
                                    <select name="Adult" id="Adult" class="form-control input-sm">
                                        <option></option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 form-group-sm">
                                    <label>Bambini</label>
                                    <select name="Bambinos" id="Bambinos" class="form-control input-sm">
                                        <option></option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <center class="field-button">
                                        <button id="sendForm" type="submit" class="btn-green">RICERCA ORA!</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


