﻿@{ 
    string Class = "banners-slider";
    if (ViewBag.SliderClass != null)
    {
        Class = ViewBag.SliderClass;
    }
    DateTime date = DateTime.Now;
}
@using Core;
<section class="@Class">
    <div class="sectionNivoSlider">
        <div style="position: relative;">
            <div id="slider" class="nivoSlider theme-default" style="margin-bottom: 0px;">
                @{
                    if (Model.ListSliders != null)
                    {
                        foreach (Sliders Slider in Model.ListSliders)
                        {
                            var srcDesktop = GlobalSettings.UrlFront + "/" + Slider.Slider_Image.Replace("Content", GlobalSettings.CDN);
                            var srcMobile = GlobalSettings.UrlFront + "/" + Slider.Slider_Image_Mobile.Replace("Content", GlobalSettings.CDN);
                            bool isHomeDesktop = Slider.Slider_Image_Type.ImageType_Identifier == ImagenType.BANNERHOME;
                            <a id="slider-@Slider.Slider_Id" name="@Slider.Slider_Alt" class="hide" href="@Slider.Slider_Link" data-order="@Slider.Slider_Order" xs="False">
                                <img src="@srcDesktop" onerror="this.src = 'http://via.placeholder.com/1400x325';" border="0" style="width: 100%;" />
                            </a>
                            <a id="slider-@Slider.Slider_Id-xs" name="@Slider.Slider_Alt" class="hide" href="@Slider.Slider_Link" data-order="@Slider.Slider_Order" xs="True">
                                <img src="@srcMobile" onerror="this.src = 'http://via.placeholder.com/360x310';" border="0" style="width: 100%;" />
                            </a>         
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>