﻿@{
    Layout = null;
}

<!DOCTYPE html>
<section id="Banner" class="BannerHome">
    <div class="sectionNivoSlider">
        <div style="position: relative;">
            <div id="slider" class="nivoSlider theme-default" style="margin-bottom: 0px;">
          <!--     <a name="ImgPromo" class="hide" href="" target="" xs="False">
                    <img src="~/Content/images/home/bannersslider_home1.jpg" border="0" style="width: 100%;" />
                </a>
                <a name="ImgPromo" class="hide" href="" target="" xs="True">
                    <img src="~/Content/images/home/bannersslider_home1_xs.jpg" border="0" style="width: 100%;" />
                </a>
                <a name="ImgPromo" class="hide" href="" target="" xs="False">
                    <img src="~/Content/images/home/bannersslider_home2.jpg" border="0" style="width: 100%;" />
                </a>
                <a name="ImgPromo" class="hide" href="" target="" xs="True">
                    <img src="~/Content/images/home/bannersslider_home2_xs.jpg" border="0" style="width: 100%;" />
                </a>-->
            </div>
        </div>
    </div>
</section>

