﻿@{
    Layout = null;

    string BuyerLogo = ViewBag.BuyerLogo;
}

    <div id="Buyer" class="btn-sm" ondragstart="return false;" ondrop="return false;">
        <div class="col-md-12" id="phtitle" style="display:none;">
            <h4 style="margin-left:-14px; color: #013751;">Fattura obbligatoria per il parco più hotel</h4>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>Nome*</label>
                <input type='text' id="Bnome" maxlength="30" onkeydown="return Letters(event)" class="form-control round form-group-sm" placeholder="nome" />
            </div>
            <div class="col-md-3">
                <label>Cognome*</label>
                <input type='text' id="Bcognome" maxlength="30" onkeydown="return Letters(event)" class="form-control round form-group-sm" placeholder="cognome" />
            </div>

            <div class="col-md-3">
                <label>Email*</label>
                <input type='text' id="Bemail" maxlength="50" onkeydown="return EmailCharacters(event)" class="form-control round form-group-sm" placeholder="email" onCopy="return false" />
            </div>
            <div class="col-md-3">
                <label>Conferma Email*</label>
                <input type='text' id="Bconfmail" maxlength="50" onkeydown="return EmailCharacters(event)" class="form-control round form-group-sm" placeholder="email" onPaste="return false" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>Telefono*</label>
                <input type='text' id="Btelefono" onkeydown="return Numbers(event)" maxlength="20" class="form-control round form-group-sm" placeholder="Telefono" />
            </div>
            <div class="col-md-2">
                <label>Cap*</label>
                <input type='text' id="Bcap" onkeydown="return Numbers(event)" maxlength="5" class="form-control round form-group-sm" placeholder="cap" />
            </div>
            <div class="col-md-5"></div>

            <div class="col-md-2" style="text-align: right; margin-top: 26px;">
                <span id="spanfatt" style="display:block;"><input type="checkbox" id="RicFatt" value="">&nbsp;Richiedi fattura</span>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
            </div>
        </div>
        <!--invoice -->
		<br>
        <div class="row" id="DatiFattura" style="display: none;">

            <div class="col-md-3">
                <label id="Fcodfisc">Codice Fiscale*</label>
                <input type='text' id="Bcodfisc" style="text-transform: uppercase" onkeydown="return LettersAndNumbers(event)" maxlength="16" class="form-control round form-group-sm text-uppercase" placeholder="Codice Fiscale" />
            </div>
            <div class="col-md-4">
                <label>Indirizzo*</label>
                <input type='text' id="Bindirizzo" class="form-control round form-group-sm" maxlength="50" placeholder="Indirizzo" />
            </div>

            <div class="col-md-4" id="divragsoc">
                <label id="Fragsoc">Ragione Sociale*</label>
                <input type='text' id="Bragsoc" class="form-control round form-group-sm" maxlength="50" placeholder="Ragione Sociale" />
            </div>

            <div class="col-md-2" id="diviva">
                <label id="Fpiva">P. Iva</label>
                <input type='text' id="Bpiva" onkeydown="return Numbers(event)" maxlength="11" class="form-control round form-group-sm" placeholder="Partita Iva" />
            </div>

            <div class="col-md-5" id="tappo" style="display:none; height: 69px;">&nbsp;</div>

            <div class="col-md-2">
                <label>Citta*</label>
                <input type='text' id="Bcitta" style="text-transform: uppercase" onkeydown="return Letters(event)" maxlength="20" class="form-control round form-group-sm" placeholder="Città" />
            </div>

            <div class="col-md-1">
                <label>Provincia*</label>
                <input type='text' id="Bprovincia" style="text-transform: uppercase" onkeydown="return Letters(event)" maxlength="2" class="form-control round form-group-sm" placeholder="" />
            </div>

            <div class="col-md-2">
                <label>Codice Univoco</label>
                <input type='text' id="Bcoduni" onkeydown="return LettersAndNumbers(event)" maxlength="7" class="form-control round form-group-sm text-uppercase" placeholder="Codice Univoco" />
            </div>

            <div class="col-md-3">
                <label>PEC</label>
                <input type='text' id="Bpec" maxlength="50" class="form-control round form-group-sm" placeholder="Pec" onCopy="return false" />
            </div>

            <div class="col-md-3" style="font-size:12px; text-align:left;">
                <br />
                <input type="radio" name="oppriv" value="Y"><label>Privato</label>
                <br>
                <input type="radio" name="oppriv" value=""><label>Azienda</label>
                <br>
            </div>

        </div>
        <h5 style="margin: 2px;">I campi con * sono obbligatori</h5>
        <hr style="margin: 0;"/>
        <div class="row" style="margin-left:unset;">
            <div class="col-md-9" style="font-size:12px;">               
                <input id="oppers" type="checkbox" value="true" title="Privacy (obbligatorio)" required>
                <span>* Acconsento al trattamento dei miei dati personali ai sensi della legge 196/2003 Italiana</span>
                <a style="text-decoration:underline;" href="~/Content/documents/Politica-sulla-Protezione-dei-Dati.pdf" target="_blank">Visualizza Policy</a>
                <br />
                <input id="opmail" type="checkbox" value="true">
                <span>Accetto l'iscrizione alla mailing list per l'invio di materiale pubblicitario e promozionale</span>
                <a style="text-decoration:underline;" href="~/Content/documents/Politica-sulla-protezione-dei-dati-personali.pdf" target="_blank"> Visualizza Policy</a>
                <h6>&nbsp;Il biglietto online è una promozione non rimborsabile ne cumulabile con altre promozioni. La data non può essere variata per alcun motivo.</h6>

            </div>

            <div class="col-md-3">
                <img id="buyerlogo" src="/Content/images/logos/AcquaJoss_157x64.png" class="logo img-responsive" alt="Logo">
                @*<img id="buyerlogo" src="/Content/images/logos/logo-zoomarinetravel.png" class="logo img-responsive" alt="Zm travel">*@
            </div>

            <div class="col-md-12">
                <!--error messages-->
                <div class="warning col-md-5">
                    <div id="alert_placeholder"></div>
                </div>
            </div>
        </div>
    </div>


