﻿<script type="text/javascript">
      var onloadCallback = function() {
          grecaptcha.render('g-recaptcha', {
              'sitekey': '6Lf-vaMUAAAAAKorFPJk8x4YVyRoopz6stJSNYHo'
        });
      };
</script>
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer type="text/javascript"></script>


<form id="inscrivi" class="inscrivi" user_repeated="L'utente è già stato registrato" user_registered="L'utente si è registrato correttamente" user_error="Si è verificato un errore imprevisto durante la registrazione dell'utente" user_reactivated="L'utente è stato riattivato correttamente">
    <div id="newsletter" class="row">
        <h3>ISCRIVITI ALLA NOSTRA NEWSLETTER E RICEVI<br />PROMOZIONI SPECIALI E DIVERTENTI TUTTO L'ANNO</h3>
        <div class="submit_input row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                <input type="email" name="Newsletter_Email" id="EmailNews" class="form-control input_newsletter" required placeholder="E-Mail" />
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs">
                <div id="button_submit">
                    <input type="submit" value="ISCRIVITI" class="button_subscribe_newletter" />
                </div>
            </div>
        </div>

        <div class="col-md-12 small_message">
            <input id="PrivacyCheck" name="Newsletter_Privacy" type="checkbox" value="true" title="Privacy (obbligatorio)" required>
            Acconsento al trattamento dei miei dati personali ai sensi della legge 196/2003 Italiana <a href="#">Visualizza Policy</a>
            <div class="form-group captcha_news">
                <div id="g-recaptcha" class="g-recaptcha" data-sitekey="6Lf-vaMUAAAAAKorFPJk8x4YVyRoopz6stJSNYHo"></div>
            </div>

        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <div id="button_submit">
                <input type="submit" value="ISCRIVITI" class="button_subscribe_newletter" />
            </div>
        </div>
    </div>
    <div id="alert" style="display:none;margin-top:10px;"></div>
</form>
